<% content_for :you_are_here do -%>
  You are here: <a href="/">Home</a><%= link_to "Quizzes", post_lecture_notes_path, :class => "abLink-detail" %><%= link_to "Interesting lecture_notes", "#", :class => "abLink-detail" %>
<% end -%>

<% content_for :post_button do -%>
  <%= render :partial => 'shared/post_button', :locals => {:new_post_path => @new_post_path} %>
<% end -%>

<% content_for :menu_sub do -%>
  <%= render :partial => "submenu" %>
<% end -%>

<!--Content-->
<div class="contMainL">
  <div class="col451 QAs">
    <div class="col451in">
      <div class="AsDTop">
        <h1 class="titleH1">Interesting Quizzes</h1>
        <div class="AsDsearch">
          <%= render :partial => "shared/search_indetail", :locals => {:url_search => search_post_lecture_notes_path} %>
        </div>
      </div>
      <div class="col451Cont">
      	<%= display_flash_messages_with_raw %>
        <!--List Items-->
        <% @posts.each do |post| %>
          <div id="post_<%= post.id %>"><%= render :partial => "item", :locals => {:post => post, :title => post.title, :description => post.description, :controller_name => controller.controller_name} %></div>
        <% end %>
        <!--List Items-->

        <!--Pagination-->
        <div class="assPage">
          <span class="numPage"><%= page_entries_info @posts %></span>
          <%= will_paginate @posts %>
        </div>
        <!--Pagination-->
        <div class="goTop"><a href="javascript:;" onclick="goToByScroll('top_page')">Top</a></div>
      </div>
    </div>
  </div>

</div>

<div class="contMainC">
  <!--Browser Due Date-->
  <%= render :partial => "due_date" %>
  <!--Browser Due Date-->

  <!--Browser Interesting lecture_note-->
  <%= render :partial => "interesting_lecture_notes"%>
  <!--Browser Interesting lecture_note-->
</div>

<div class="contMainR">
  <!--Browser by Subject-->
  <%= render :partial => "shared/browser_by_subject" %>
  <!--Browser by Subject-->

  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->

  <!--Request lecture_note-->
  <%= render :partial => "form_request_lecture_note" %>
  <!--Request lecture_note-->

  <!--Recent Request lecture_notes-->
  <%= render :partial => "recent_request_lecture_notes" %>
  <!--Recent Request lecture_notes-->
</div>
<!--Content-->
