<table>
  <tr>
    <th>Post category</th>
    <th>Title</th>
    <th>Description</th>
    <th>Department</th>
    <th>Email</th>
    <th>Telephone</th>
  </tr>

<% for post_education in @post_educations %>
  <tr>
    <td><%=h post_education.post.post_category.name %> <%= ratings_for post, :static %></td>
    <td><%=h post_education.post.title %></td>
    <td><%=h post_education.post.description %></td>
    <td><%=h post_education.post.department.name %></td>
    <td><%=h post_education.post.email %></td>
    <td><%=h post_education.post.telephone %></td>
    <td><%= link_to 'Show', post_education %></td>
    <td><%= link_to 'Edit', edit_post_education_path(post_education) %></td>
    <td><%= link_to 'Destroy', post_education, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
<%= will_paginate @post_educations, :class => "digg_pagination" %>