<div class="asslinkdownSt">
    <div class="making wall_page_<%= @page %>">
        <a title="Match making for <%= wall.user_post.name %>" class="thickbox" href="/user_walls/match_making_box?user_id_post=<%= wall.user_id_post.to_s %>?&height=350&width=510" id="myaclick">Match making</a>
    </div>
    <div class="like wall_page_<%= @page %>">
        <a title="I like you" class="thickbox" href="/user_walls/passion_box?&height=288&width=500&subject=I+like+you&user_id=<%= wall.user_post.id.to_s %>&user_id_post=<%= current_user.id.to_s %>" id="myaclick">I like you</a>
    </div>
    <div class="love wall_page_<%= @page %>">
        <a title="I love you" class="thickbox" href="/user_walls/passion_box?&height=288&width=500&subject=I+love+you&user_id=<%= wall.user_post.id.to_s %>&user_id_post=<%= current_user.id.to_s %>" id="myaclick">I love you</a>
    </div>
    <div class="hate wall_page_<%= @page %>">
        <a title="I hate you" class="thickbox" href="/user_walls/passion_box?&height=288&width=500&subject=I+hate+you&user_id=<%= wall.user_post.id.to_s %>&user_id_post=<%= current_user.id.to_s %>" id="myaclick">I hate you</a>
    </div>
</div>
