<div style="min-height:80px">
  <% if image %>
    <div class="AfterImg">
      <div class="imgDiv" id="example1">
        <%= image %>
      </div>
    </div>
  <% end %>
  <div class="AfterTitle">
    <%= link_to title, link, :target => "_blank" %>
  </div>
  <% if sub_content %>
    <div class="AfterDes">
      <%= sub_content %>
    </div>
  <% end %>
  <div id="show_jplayer_<%= wall_id %>">
  </div>
</div>
<%= javascript_include_tag 'jquery.fancybox-1.3.4.pack' %>
<%= stylesheet_link_tag 'jquery.fancybox-1.3.4' %>
<script type="text/javascript">
  $(document).ready(function() {
  $("#example1 a").fancybox();
  });
</script>