<div class="AfterItem" id="wall_<%= wall.id %>">
  <% if wall.user_post == current_user %>
    <div class="del_wall" style="float: right; display: none; cursor: pointer;" onclick="DeleteWall('<%= wall.id %>')">
      <img id="dell_wall_img" src="/images/icon-ing.gif" />
    </div>
  <% else %>
		<% if @user == current_user %>
		  <div class="del_wall" style="float: right; display: none; cursor: pointer;">
		    <img id="block_wall_img" src="/images/flistA.gif" />
		    <%= render :partial => "user_walls/action_dell_wall", :locals => {:wall => wall} %>
		  </div>
		<% end %>
  <% end %>
  <div class="assPic">
    <%= show_image_user_post(wall.user_post) %>
  </div>
  <div class="AfterInfo">
    <% if wall.user_post != current_user %>
      <%= render :partial => "user_walls/action", :locals => {:wall => wall}%>
    <% end %>
    <div class="AfterCl">
      <%= show_user_post(wall.user_post) %><%= raw(" posted on #{show_user_post(wall.user)}'s Lounge") if wall.user != wall.user_post %> <%= raw(wall.content) %>
    </div>
		<% if wall.wall_parent %>
			<div class="postItem">
		  	<div class="studentImg"><%= show_image_user_post(wall.user_post) %></div><%= show_user_post(wall.user_post) %> originally shared this post:<br/><%= raw(wall.wall_parent.content) %>
			</div>
    <!--Attach--><%= show_attach(wall.wall_parent) if wall.wall_parent.has_attach %><!--Attach-->
		<% end %>
    <div class="assInfB wall_parent">
      <div class="time">
        <%= distance_of_time_in_words_to_now(wall.created_at, false) + " ago." %>
      </div>
			
			<%= show_rating_action(wall) %>
			<div class="com">
          <a href="javascript:;" onclick="showCommentForm('<%= wall.class.name %>', '<%= wall.id %>');">Comments (<span id="wall_<%= wall.class.name %>_<%= wall.id %>_comments"><%= wall.comments.size %></span>)</a>
      </div>
			<%= link_to "Share", "/user_walls/share_lounge?height=350&width=500&wall_id=#{wall.id.to_s}", :class => "thickbox", :title => "Share Lounge" %>
    </div>
    <!--Comments-->
      <div id="wall_list_comment_<%= wall.class.name %>_<%= wall.id %>">
        <% if wall.comments.size > 0 %>
          <% if wall.comments.size > 2 %>
            <div class="proList" style="width:440px">
              <div class="writeCom">
                <%= link_to "View all comments", {:controller => "user_walls", :action => "view_all_comments", :wall_id => wall, :post_id => wall.id, :class_name => wall.class.name}, :remote => true %>
              </div>
            </div>
          <% end %>
          <% wall.comments.find(:all, :limit => 2, :order => "created_at DESC").reverse.each do |cm| %>
            <%= render :partial => "user_walls/wall_comment_item", :locals => {:wall => wall, :obj => wall, :comment => cm} %>
          <% end %>
          <%= render :partial => "user_walls/wall_comment", :locals => {:wall => wall, :obj => wall} %>
        <% end %>
        <%= render :partial => "user_walls/wall_comment_form", :locals => {:wall => wall, :obj => wall} %>
      </div>
    <!--Comments-->
  </div>
</div>
<script>
  $(document).ready(function(){
    $("#detele_wall_<%= wall.id %>").click(function(){
      $('#wall_<%= wall.id %>').append('<%= show_ajax_loader("loader_id_wall","display: block; position: absolute; float: right; height: 19px; margin-top: 0px; margin-left: 540px;") %>');
    });
  });  
  $(document).ready(function(){
    $(".AfterItem").hover(function(){
      $(".del_wall", this).show();
    }, function(){
      $(".del_wall", this).hide();
    })
  });
    
  $(document).ready(function(){
    $(".AfterItem").hover(function(){
      $(".asslinkdownSt", this).show();
    }, function(){
      $(".asslinkdownSt", this).hide();
    })
  });
  
  $(document).ready(function(){
    $(".del_wall").hover(function(){
      $(".ass_down", this).show();
    }, function(){
      $(".ass_down", this).hide();
    })
  });
    
  $(document).ready(function(){
    vtip()
  });

	$().ready(function() {
    $('#wall_<%= wall.id %> .AfterDes').jTruncate({
    });
});
</script>
