<div class="AfterItem" id="wall_<%= wall.id %>">
  <% if wall.user_post == current_user or wall.user == current_user %>
    <div class="del_wall" style="float: right; display: none; cursor: pointer;" onclick="DeleteWall('<%= wall.id %>')">
      <img id="dell_wall_img" src="/images/icon-ing.gif" />
    </div>
  <% else %>
    <% if @user == current_user %>
      <div class="del_wall" style="float: right; display: none; cursor: pointer;">
        <img id="block_wall_img" src="/images/flistA.gif" />
        <%= render :partial => "user_walls/action_dell_wall", :locals => {:wall => wall} %>
      </div>
    <% end %>
  <% end %>
  <div class="assPic">
    <%= show_image_user_post(wall.user_post) %>
    <% if wall.user_post != current_user %>
      <%= render :partial => "user_walls/action", :locals => {:wall => wall}%>
    <% end %>
  </div>
  <div class="AfterInfo">
    <div class="AfterCl">
      <%= show_user_post(wall.user_post) %><%= raw(" posted on #{show_user_post(wall.user)}'s Lounge") if wall.user != wall.user_post %> <%= raw(wall.content) %>
    </div>
    <!--Attach--><%= show_attach(wall) if wall.has_attach %><!--Attach-->
    <div class="assInfB wall_page_<%= @page %>">
      <div class="time">
        <%= distance_of_time_in_words_to_now(wall.created_at, false) + " ago." %>
      </div>

      <% if wall.user_wall_post
        obj =	get_object_by_class_name_and_id(wall.user_wall_post.post_type, wall.user_wall_post.post_id)
        if obj
          if !["PhotoAlbum", "Photo", "MusicAlbum", "Music", "Video", "Story","Learntool","Ufo"].include?(obj.class.name)
            obj = obj.post
          end
        else
          obj = wall
        end
      else
        obj = wall
      end %>

      <%= show_rating_action(wall) %>

      <%  if !["Learntool","Ufo"].include?(obj.class.name)  %>
        <div class="com">
          <a href="javascript:;" onclick="showCommentForm('<%= obj.class.name %>', '<%= obj.id %>');">Comments (<span id="wall_<%= obj.class.name %>_<%= obj.id %>_comments"><%= obj.comments.size %></span>)</a>
        </div>
      <% elsif "Learntool" == obj.class.name %>
        <div id="ltool_rev" style="margin-left:-31px;margin-right:5px;" class="vtip" title="Write A Review">
          <%= link_to "Write a Review", "#{url_for(:controller => "learn_tools", :action => "write_review_form")}?tool_id=#{obj.id.to_s}&height=325&width=550", :class => "thickbox", :title => "" %>
        </div>
      <% end %>
      <%= link_to "Share", "/user_walls/share_lounge?height=350&width=500&wall_id=#{wall.id.to_s}", :class => "thickbox", :title => "Share Lounge" %>
    </div>
    <!--Comments-->
    

    <%  if !["Learntool","Ufo"].include?(obj.class.name)  %>
      <div id="wall_list_comment_<%= obj.class.name %>_<%= obj.id %>">
        <% if obj.comments.size > 0 %>
          <% if obj.comments.size > 2 %>
            <div class="proList" style="width:440px">
              <div class="writeCom">
                <%= link_to "View all comments", {:controller => "user_walls", :action => "view_all_comments", :wall_id => wall, :post_id => obj.id, :class_name => obj.class.name}, :remote => true %>
              </div>
            </div>
          <% end %>
          <% obj.comments.find(:all, :limit => 2, :order => "created_at DESC").reverse.each do |cm| %>
            <%= render :partial => "user_walls/wall_comment_item", :locals => {:wall => wall, :obj => obj, :comment => cm} %>
          <% end %>
          <%= render :partial => "user_walls/wall_comment", :locals => {:wall => wall, :obj => obj} %>
        <% end %>
        <%= render :partial => "user_walls/wall_comment_form", :locals => {:wall => wall, :obj => obj} %>
      </div>
    <% end %>



    <!--Comments-->
  </div>
</div>
<script>
  $(document).ready(function(){
    $("#detele_wall_<%= wall.id %>").click(function(){
      $('#wall_<%= wall.id %>').append('<%= show_ajax_loader("loader_id_wall","display: block; position: absolute; float: right; height: 19px; margin-top: 0px; margin-left: 540px;") %>');
    });
  });  
  $(document).ready(function(){
    $(".AfterItem").hover(function(){
      $(".del_wall", this).show();
    }, function(){
      $(".del_wall", this).hide();
    })
  });
    
  $(document).ready(function(){
    $(".assPic").hover(function(){
      $(".asslinkdownSt", this).show();
    }, function(){
      $(".asslinkdownSt", this).hide();
    })
  });
  
  $(document).ready(function(){
    $(".del_wall").hover(function(){
      $(".ass_down", this).show();
    }, function(){
      $(".ass_down", this).hide();
    })
  });
    
  $(document).ready(function(){
    vtip()
  });

  $().ready(function() {
    $('#wall_<%= wall.id %> .AfterDes').jTruncate({
    });
  });
</script>
