<%= form_tag :url => {:controller => "user_walls", :action => "create_wall"}, :remote => true, :update => "user_wall", :html => {:id => "wall_form"} do %>
  <%= hidden_field_tag "user_wall_id", @user.id %>
  <div class="proMind">
    <div class="proMindT">
      <div class="proques"><%= text_field_tag "your_mind", "What’s on your mind?", :onfocus => "this.value = '';", :onblur => "this.value = this.value || this.defaultValue;" %></div>
    </div>
    <div class="proAtt">
      <div class="proAttItem" id="wrap_content_attach">
        <div class="wrapItem">
          <div class="suggesC"><a href="javascript:;" onclick="closeAttach();"><img src="/images/suggesC.png"/></a></div>
          <div class="wrapCont" id="attach">
          </div>
        </div>
      </div>
      <div class="proAttL" id="attach_icon">
        <span>Attach:</span>
        <span class="att1"><%= link_to "", {:controller => "user_walls", :action => "link_image"}, :update => "attach", :complete => "openAttach()", :remote => true %></span>
        <span class="att2"><%= link_to "", {:controller => "user_walls", :action => "link_video"}, :update => "attach", :complete => "openAttach()", :remote => true %></span>
        <span class="att3"><%= link_to "", {:controller => "user_walls", :action => "link_music"}, :update => "attach", :complete => "openAttach()", :remote => true %></span>
        <span class="att4"><%= link_to "", {:controller => "user_walls", :action => "link_link"}, :update => "attach", :complete => "openAttach()", :remote => true %></span>
      </div>
      <div class="proAttR"><%= submit_tag 'Share', :class => "button" %></div>
    </div>
  </div>
  <div class="footWall"></div>
<% end %>
<script type="text/javascript">
  function closeAttach(){
    $('#wrap_content_attach').hide();
    $('#attach_icon').show();
  }
  function openAttach(){
    $('#wrap_content_attach').show();
    $('#attach_icon').hide();
  }
</script>
