<% if @wall.user_wall_post and @wall.user_wall_post.post_type == "Video" %>
  $("#wall_attach_<%= @wall.id %>").hide("slow");
  $("#show_jplayer_<%= @wall.id %>").html('<div id="player_<%= @wall.id %>" style="display:block;width:450px;height:310px"></div>');

  flowplayer("player_<%= @wall.id %>",
  {src: "/swfs/flowplayer.commercial-3.2.7.swf", wmode:"opaque"},
  {	
  key : '#$de9093c019ae644a1da',
  clip : {
  autoPlay: true,
  autoBuffering: true
  },
  plugins: {
        controls: {
          fullscreen: false
        }
      },
  logo: {
  url: '/images/logo.png',
  fullscreenOnly: false,
  opacity: 0,
  top: '83%',
  left: '20%'
  },
  // gradually show on mouseover
  onMouseOver: function() {
  this.getPlugin("logo").fadeTo(0.5, 1000);
  },

  // gradually hide on mouseout
  onMouseOut: function() {
  this.getPlugin("logo").fadeTo(0, 1000);
  },
  playlist: [
  {url: '<%= @link %>'}

  ]   
  });
<% else %>
  $("#wall_attach_<%= @wall.id %>").hide("slow");
  $("#show_jplayer_<%= @wall.id %>").html("<%= escape_javascript( render :partial => "user_walls/youtube_embed" ) %>");
<% end %>