$("#wall_attach_music_<%= @wall.id %>").hide("slow");
$("#show_jplayer_<%= @wall.id %>").html('<div id="playlists_<%= @wall.id %>"><% @musics.each_index do |i| %><div id="playlists_<%= @wall.id %>_<%= i %>"><div href="<%= "/gadgets_proxy/link?url=#{@musics[i][:link]}" %>" style="width: 400px;" class="item"><div><div class="fr duration"><%= @musics[i][:duration] %></div><div class="btn play"></div><div class="title" style="height:15px"><b><%= @musics[i][:title] %></b></div></div><div id="player_border" class="player inactive"></div></div></div><% end %></div>');
$("#playlists_<%= @wall.id %>").playlist(
{
playerurl: "/swfs/drplayer.swf"
}
);
