<% content_for :search do -%>
  <%= render :partial => 'shared/search_posts', :locals => {:search_name => @search_name, :type_name => @type_name, :new_post_path => @new_post_path, :search_post_path => "/posts"} %>
<% end -%>

<% content_for :select_your_school do -%>
  <%= select_your_school("user", "shared/select_school", {"target" => "bottomLeft", "tip" => "topLeft"}) %>
<% end -%>

<% content_for :sidebar do -%>
  <%= render :partial => "shared/ads" %>
<% end -%>
<!--Content-->
<div id="il_c"><!-- il_c -->
  <div class="inner-box"><!-- inner box Assignments of the day -->
    <%= render :partial => "posts/list_assignment", :locals => {:assignments => @assignments} %>
  </div>
  <div class="inner-box"><!-- inner box Assignments of the day -->
    <%= render :partial => "posts/list_job", :locals => {:jobs => @jobs} %>
  </div>
</div>
<div id="ir_c"><!-- ir_c -->
  <div class="inner-box"><!-- inner box Assignments of the day -->
    <%= render :partial => "posts/list_book", :locals => {:books => @books} %>
  </div>
  <div class="inner-box"><!-- inner box Assignments of the day -->
    <%= render :partial => "posts/list_project", :locals => {:projects => @projects} %>
  </div>
</div>
<!--Content-->