<% for message in @messages %>
  <div class="inboxItem">
    <div class="fromT">
      <div class="fromTinput"><%= check_box_tag "msg[]", message.id, false, {:class => "cb-element"} %></div>
      <div class="fromTtxt"><%= message.sender.full_name %></div>
    </div>
    <div class="subjectT"><% if message.read? %>
        <%= link_to h(message.subject), user_message_path(@user, message) %>
      <% else %>
        <%= link_to "#{h(message.subject)} (unread)", user_message_path(@user, message) %>
      <% end %></div>
    <div class="dateT"><%=h message.created_at.to_s(:long) %></div>
  </div>
<% end %>