<div class="inboxTitle">Sent</div>
<% form_tag message_action_user_messages_path(@user), :name => "msg_form" do %>
  <%= hidden_field_tag "act" %>
  <div class="inboxTop">
    <div class="inboxDelete"><%= link_to_function "Delete", "MsgAction('delete')" %></div>
  </div>
  <div class="inboxTop2">
    <div class="fromT">
      <div class="fromTinput"><input type="checkbox" name="msg_all" id="msg_all"/></div>
      <div class="fromTtxt">To</div>
    </div>
    <div class="subjectT">Subject</div>
    <div class="dateT">Date</div>
  </div>
  <%= render :partial => "list_item" %>
  <div class="assPage">
    <span class="numPage"><%= page_entries_info @messages %></span>
    <%= will_paginate @messages %>
  </div>
<% end %>
