<div class="inboxTitle">Trash</div>
<%= form_for :message, :url => message_action_user_messages_path(current_user), :html => {:name => "msg_form", :id => "msg_form"} do %>
  <%= hidden_field_tag "act" %>
  <div class="inboxTop">
  </div>
  <div class="inboxTop2">
    <div class="fromT">
      <div class="fromTinput"><%= check_box_tag "msg_all", "", false, {:class => "checkAll"} %></div>
      <div class="fromTtxt">From</div>
    </div>
    <div class="subjectT">Subject</div>
    <div class="dateT">Date</div>
  </div>
  <% for message in @messages %>
  <div class="inboxItem">
    <div class="fromT">
      <div class="fromTinput"><%= check_box_tag "msg[]", message.id, false, {:class => "cb-element"} %></div>
      <div class="fromTtxt"><%= message.sender.full_name %></div>
    </div>
    <div class="subjectT" style="width:330px;word-wrap: break-word;overflow: hidden"><% if message.read? %>
        <%= link_to h(message.subject), user_message_path(current_user, message) %>
      <% else %>
        <%= link_to "#{h(message.subject)} (unread)", user_message_path(current_user, message) %>
      <% end %></div>
    <div class="dateT"><%=h message.created_at.to_s(:long) %></div>
  </div>
<% end %>
  <div class="assPage">
    <span class="numPage" style="margin-left: 0;"><%= page_entries_info @messages %></span>
    <%= will_paginate @messages %>
  </div>
<% end %>
