<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => 'submenu' %>
<% end -%>

<div class="contDetL">
  <div class="contDetLin">
    <div class="inboxLeft">
      <%= display_flash_messages_with_raw %>
      <% if params[:mailbox] == "sent" %>
        <%= render :partial => "sent" %>
      <% elsif params[:mailbox] == "trash" %>
        <%= render :partial => "trash" %>
      <% else %>
        <%= render :partial => "inbox" %>
      <% end %>
    </div>
  </div>
</div>

<div class="contMainR">
  <!--Menu-->
  <%= render :partial => "menu_right" %>
  <!--Menu-->

  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->
</div>

<!--Alert-->
<div id="dialog-message" title="Alert" style="display:none;">
  <p>
    There is no email selected.
  </p>
</div>
<div id="dialog-delete-message" title="Confirm delete" style="display:none;">
  <p>
    Are you sure?
  </p>
</div>
<!--Alert-->

<script type="text/javascript">
  $( function() {
    $( '.checkAll' ).live( 'change', function() {
      $( '.cb-element' ).attr( 'checked', $( this ).is( ':checked' ) ? 'checked' : '' );
      $( this ).next().text( $( this ).is( ':checked' ) ? 'Uncheck All' : 'Check All' );
    });
    $( '.invertSelection' ).live( 'click', function() {
      $( '.cb-element' ).each( function() {
        $( this ).attr( 'checked', $( this ).is( ':checked' ) ? '' : 'checked' );
      }).trigger( 'change' );

    });
    $( '.cb-element' ).live( 'change', function() {
      $( '.cb-element' ).length == $( '.cb-element:checked' ).length ? $( '.checkAll' ).attr( 'checked', 'checked' ).next().text( 'Uncheck All' ) : $( '.checkAll' ).attr( 'checked', '' ).next().text( 'Check All' );

    });
  });

  function MsgAction(act){
    if ($('.cb-element:checked').length == 0){
      $("#dialog-message").dialog({
        modal: true,
        buttons: {
          Ok: function() {
            $(this).dialog('close');
          }
        }
      });

    }else{
      $("#dialog-delete-message").dialog({
        modal: true,
        buttons: {
          Ok: function() {
            $('#act').val(act);
            $('#msg_form').submit();
          },
          Cancel: function() {
            $(this).dialog('close');
          }
        }
      });
    }
  }

</script>
