<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => 'shared/sl_submenu_setting' %>
<% end -%>

<div class="contDetL">
  <div class="contDetLin">
    <div class="inboxLeft">
      <% if params[:mailbox] == "sent" %>
        <%= render :partial => "sent" %>
      <% else %>
        <%= render :partial => "inbox" %>
      <% end %>
    </div>
  </div>
</div>

<div class="contMainR">
  <!--Menu-->
  <%= render :partial => "menu_right" %>
  <!--Menu-->

  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->
</div>

<script type="text/javascript">
  function MsgAction(act){
    $('#action').val(act);
    $('#msg_form').submit();
  }

</script>