<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => 'shared/sl_submenu_setting' %>
<% end -%>

<div class="contDetL">
  <div class="contDetLin">
    <div class="inboxLeft inboxDetails">
      <div class="inboxTitle"><%= link_to "Inbox", user_messages_path(@user) %><span>Message Details</span></div>
      <div class="inboxTop">
        <div class="inbDelete"><a href="#">Delete</a></div>
        <div class="inbReply"><%= link_to "Reply", new_user_message_path(@user, :reply_to => @message) %></div>
        <div class="inbForward"><%= link_to "Forward", new_user_message_path(@user, :forward_to => @message) %></div>
      </div>
      <div class="inboxDeT">
        <div class="mTitle"><a href="#"> </a><%= @message.subject %></div>
        <div class="inboxInfo">
          <div class="inboxInItem">
            <div class="inboxIn1">From:</div>
            <div class="inboxIn2"><%= @message.sender == @user ? link_to("You", user_path(@user)) : link_to(h(@message.sender.full_name), {:controller => "profile", :action => "show_profile", :id => @message.sender.id}) %></div>
          </div>
          <div class="inboxInItem">
            <div class="inboxIn1">To:</div>
            <div class="inboxIn2"><%= @message.recipient == @user ? link_to("You", user_path(@user)) : link_to(h(@message.recipient.full_name), {:controller => "profile", :action => "show_profile", :id => @message.recipient.id}) %></div>
          </div>
        </div>
      </div>
      <div class="inboxCont"><%=h @message.body %></div>
    </div>
  </div>
</div>

<div class="contMainR">
  <!--Menu-->
  <%= render :partial => "menu_right" %>
  <!--Menu-->

  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->
</div>