<div class="col195 proPic">
  <div class="col195in">
    <div class="demo">
      <div class="proImg"><%= link_to raw("<div>#{image_tag(@user.avatar.url(:medium), {:id => "avatar"})}</div>"), user_path(@user) %></div>
      <div class="proItem"><a href="javascript:;" id="upload_avatar">Change photo</a></div>
      <div class="proItem"><%= link_to "Stories (#{@user.stories.size})", user_stories_path(@user) %></div>
      <div class="proItem"><%= link_to "Photos (#{@user.photos.size})", user_photos_path(@user) %></div>
      <div class="proItem"><%= link_to "Musics (#{@user.musics.size})", user_musics_path(@user) %></div>
      <div class="proItem"><%= link_to "Videos (#{@user.videos.size})", user_videos_path(@user) %></div>
      <div class="proItem"><%= link_to "My Profile", show_profile_user_profiles_path(@user) %></div>
      <div class="proBtm" id="about_yourself">
        <%= @user.user_information.about_yourself if @user.user_information%>
      </div>
    </div>
  </div>
</div>

<!--Alert-->
<div id="error_type" title="Error" style="display:none;">
  <p>Only images are allowed</p>
</div>

<!--Alert-->
<script type="text/javascript">

  var avatar_update = "<%= update_avatar_user_path(@user) %>";
  var about_yourself_update = "<%= update_about_yourself_user_profiles_path(@user) %>";
	var user_id = <%= @user.id %>;
  $(document).ready(function(){
    var button = $('#upload_avatar'), interval;

    new AjaxUpload(button, {
      action: avatar_update,
      name: 'user[avatar]',
      onSubmit : function(file, ext){
        // Allow only images. You should add security check on the server-side.
        if (ext && /^(jpg|png|jpeg|gif)$/.test(ext.toLowerCase())){
          // change button text, when user selects file
          button.text('Uploading');

          // If you want to allow uploading only 1 file at time,
          // you can disable upload button
          this.disable();

          // Uploding -> Uploading. -> Uploading...
          interval = window.setInterval(function(){
            var text = button.text();
            if (text.length < 13){
              button.text(text + '.');
            } else {
              button.text('Uploading');
            }
          }, 200);
        } else {
          // extension is not allowed
          $("#error_type").dialog({
            modal: true,
            buttons: {
              Ok: function() {
                $(this).dialog('close');
              }
            }
          });
          // cancel upload
          return false;
        }
      },
      onComplete: function(file, response){
        button.text('Change photo');

        window.clearInterval(interval);

        // enable upload button
        this.enable();

        // update avatar
        $("#avatar").attr("src", response);
				$('.avatar_' + user_id).attr("src", response);
      }
    });
  });
  
  // Write about yourself
  $(document).ready(function() {
    $('#about_yourself').editable(about_yourself_update, {
      name: 'about_yourself',
      height: 20,
      indicator: 'Saving...',
      placeholder: 'Write something about yourself',
      tooltip: 'Click to edit...'
    });
  });

</script>