<div class="proInfG">
  <div class="proInfGL">Work</div>
  <div class="proInfGR"><%= show_work_infor() %></div>
</div>
<div class="proInfGItem">
  <div class="proInfLR">
    <div class="proInfLabel">Employer:</div>
    <div class="proInfCont"><%= @user.user_employment.current_employer %></div>
  </div>
  <div class="proInfLR">
    <div class="proInfLabel">Position:</div>
    <div class="proInfCont"><%= @user.user_employment.position_current %></div>
  </div>
  <div class="proInfLR">
    <div class="proInfLabel">Time Period:</div>
    <div class="proInfCont"><%= @user.user_employment.time_period %></div>
  </div>
  <div class="proInfLR proLocation">
    <div class="proInfLabel">Location:</div>
    <div class="proInfCont"><%= @user.user_employment.location %></div>
  </div>
</div>
