<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => 'submenu' %>
<% end -%>

<div class="contMainC">
  <%= render :partial => "proc" %>
  <%= render :partial => "infor" %>
  <%= render :partial => "friends" %>
<%#= render :partial => "links" %>
</div>

<div class="contMainL">
  <div class="col571 proCen">
    <div class="col571in">
      <div class="proCenCont">
        <% @favorites.each do |f| %>
          <div class="favorite_item" style="float:left; width:100%">
            <div class="del_wall" style="float: right; display: none; cursor: pointer;" onclick="DeleteFavorite('<%= f.id %>')">
              <img id="block_wall_img" src="/images/icon-ing.gif" />
            </div>
            <div style="float:left; width:95%">
              <%= item_favorite(f) %>
            </div>
          </div>
        <% end %>
        <div class="proFavPage">
          <div class="proFavPageR">
            <!--Pagination-->
            <div class="assPage">
              <%= will_paginate @favorites %>
            </div>
            <!--Pagination-->
          </div>
        </div>
        <div class="goTop"><a href="javascript:;" onclick="goToByScroll('top_page')">Top</a></div>
      </div>
    </div>
  </div>
</div>
<div class="contMainR">
  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->
</div>

<!--Alert-->
<div id="delete_favorite_alert" title="Confirm detele" style="display:none;">
  Are you sure?
</div>
<!--Alert-->

<script>
	function DeleteFavorite(id){
		$("#delete_favorite_alert").dialog({
  modal: true,
  buttons: {
  Ok: function() {
  document.location.href = "<%= delete_prof_user_profiles_path(current_user) %>?prf_id=" + id
  },
  Cancel: function() {
  $(this).dialog('close');
  }
  }
  });

	}
  $(document).ready(function(){
  $('.assContT').css('width','400px');
  });
	$(document).ready(function(){
  $(".favorite_item").hover(function(){
  $(".del_wall", this).show();
  }, function(){
  $(".del_wall", this).hide();
  })
  });
</script>
<script>
  $(window).ready(function(){
    $('.AfterClCom').imagesLoaded( function(){
			$('.AfterClCom').imagefit();
		});
                $('.assDes').imagesLoaded( function(){
			$('.assDes').imagefit();
		});
  });
</script>
