<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => 'submenu' %>
<% end -%>

<div class="contMainC">
  <%= render :partial => "proc" %>
  <%= render :partial => "infor" %>
  <%= render :partial => "friends" %>
<%#= render :partial => "links" %>
</div>

<div class="contMainL">
  <div class="col451 proCen">
    <div class="col451in">
      <div class="proCenCont">
        <div class="proInfTop"><a href="#">Edit Information</a></div>
        <div class="proFavPage">
          <div class="proFavPageR">
            <!--Pagination-->
            <div class="assPage">
              <%= will_paginate @favorites %>
            </div>
            <!--Pagination-->
          </div>
        </div>
        <% @favorites.each do |f| %>
          <%= item_favorite(f) %>
        <% end %>
        <div class="goTop"><a href="javascript:;" onclick="goToByScroll('top_page')">Top</a></div>
      </div>
    </div>
  </div>
</div>
<div class="contMainR">
  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->
</div>