<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => 'submenu' %>
<% end -%>

<div class="contMainC">
  <%= render :partial => "proc" %>
  <%= render :partial => "infor" %>
  <%= render :partial => "friends" %>
<%#= render :partial => "links" %>
</div>

<div class="contMainL">
  <div class="col571 proCen">
    <div class="col571in">
      <div class="proCenCont">
        <div class="proInfTop"></div>
        <div class="proFavPageT"></div>
        <% @favorites.each do |f| %>
          <div id="each_item_<%= f.id %>">
            <div id="del_btn_<%= f.id %>" style="padding-left: 538px; position: absolute; padding-top: 8px; display: none;">
              <%= link_to( content_tag(:span, image_tag("/images/icon-ing.gif", :alt => '', :style => '')), {:controller => "profiles", :action => "delete_prof", :prf_id => f.id  }, :remote => false, :method => :get, :confirm => 'Are you sure you want to delete it?') %>
            </div>
            <%= item_favorite(f) %>
          </div>
          <script type="text/javascript">
            $(document).ready(function(){
              $("#each_item_<%= f.id %>").hover(function(){
                $("#del_btn_<%= f.id %>").show();
              }, function(){
                $("#del_btn_<%= f.id %>").hide();
              });

            })
          </script>
        <% end %>
        <div class="proFavPage">
          <div class="proFavPageR">
            <!--Pagination-->
            <div class="assPage">
              <%= will_paginate @favorites %>
            </div>
            <!--Pagination-->
          </div>
        </div>
        <div class="goTop"><a href="javascript:;" onclick="goToByScroll('top_page')">Top</a></div>
      </div>
    </div>
  </div>
</div>
<div class="contMainR">
  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->
</div>
<script>
  $(document).ready(function(){
    $('.assContT').css('width','400px');
  });
</script>