<% content_for :search do -%>
  <%= render :partial => 'shared/search_profiles', :locals => {:search_name => @search_name} %>
<% end -%>

<% content_for :sidebar do -%>
  <%= render :partial => "shared/ads_vertical" %>
<% end -%>

<div id="user_front_content"><!--user_front_content-->

  <div id="user-main-profile">
    <div id="user-profile-avatar">
      <%= image_tag @user.avatar.url(:medium), :width => 55, :height => 55 %>
      <% if current_user %>
        <ul id="profile-mn">
          <% if !current_user.user_invites_in.find_by_user_id(@user.id) %>
            <li><span id="invite_user_id_<%= @user.id %>" rel_invite="<%= @user.id %>" >Invite friend</span></li>
          <% end %>
          <li><span rel_email="<%= @user.id %>" full_name="<%= @user.full_name %>" to="<%= @user.login %>">Send a message</span></li>
        </ul>
      <% end %>
    </div>
    <div id="user-profile-info">
      <div id="usrprf-title">
        <a href="#" class="usrname"><%= @user.full_name %></a>
      </div>
      <fieldset>
        <legend>Basic information</legend>
        <ul>
          <li><label for="name">Gender</label><span><%= getGender(@user.user_information.sex) %></span></li>
          <li><label for="name">Relationship</label><span><%= (@user.user_information.relationship_status || "N/A") %></span></li>
          <li><label for="name">Interest</label><span><%= (@user.user_information.interest || "N/A") %></span></li>
          <li><label for="name">School</label><span><%= @user.school.name %></span></li>
        </ul>
      </fieldset>
    </div><!-- #user-profile-info -->

    <div id="recently-activities">
      <fieldset>
        <legend>Recently activities</legend>
        <ul>
          <% for activity in @activities %>
            <li><%= link_to activity.user.login, {:controller => "profile", :action => "show_profile", :id => activity.user_id} %> <%= action_to_text(activity) %> <br />- <span class="last_update_status"><span class="status-time"><%= distance_of_time_in_words_to_now(activity.created_at, false) + " ago." %></span></li>
          <% end %>
        </ul>
      </fieldset>
    </div><!-- #recently-activities -->

    <div id="user-friends">
      <fieldset>
        <legend>Friends</legend>
        <ul class="list-user-friends">
          <% for user_friend in @user.user_friends.find(:all, :limit => 10) %>
            <li>
              <%= image_tag user_friend.avatar.url(:medium) %>
              <span><%= link_to user_friend.full_name, {:action => "show_profile", :id => user_friend.id} %></span>
            </li>
          <% end %>
        </ul>
        <% if @user.user_friends.size > 10 then %>
          <span>
            (<a href="#" >More...</a>)
          </span>
        <% end %>
      </fieldset>

    </div><!-- #recently-activities -->

    <div id="user-favorites">
      <fieldset>
        <legend>Favorites</legend>
        <ul>
          <% for favorite in @user.favorites %>
            <li><%= show_post_with_title(favorite.post) %></li>
          <% end %>
        </ul>
        <% if @user.favorites.size > 10 %>
          <span>
            (<a href="#" >More...</a>)
          </span>
        <% end %>
      </fieldset>
    </div><!-- #recently-activities -->

  </div><!-- #user-main-profile -->

</div>	<!--user_front_content-->
<% if current_user %>
  <script language="javascript">
    var user_id = "<%= current_user.id %>";
    document.observe('dom:loaded', function() {
      $$('span[rel_invite]').each(function(element) {
        show_invite_path = '/profile/show_invite?id=' + element.readAttribute("rel_invite");
        new Tip(element, {
          ajax: {
            url: show_invite_path,
            options: {
              asynchronous:true,
              evalScripts:true,
              method: 'get'
            }
          },
          fixed: true,
          viewport: true,
          width: 'auto',
          title: 'Send invite message',
          showOn: 'click',
          hideOthers: true,
          hideOn: { element: 'closeButton', event: 'click'},
          hook: { target: 'bottomLeft', tip: 'topLeft' },
          offset: {x:-10, y:5} });
      });
    });
    document.observe('dom:loaded', function() {
      $$('span[rel_email]').each(function(element) {
        show_email_path = "/messages/show_email";
        id = element.readAttribute("rel_email");
        to = element.readAttribute("to");
        full_name = element.readAttribute("full_name");
        new Tip(element, {
          ajax: {
            url: show_email_path,
            options: {
              method: 'get',
              parameters:{user_id:user_id,id:id, to:to, full_name:full_name}
            }
          },
          fixed: true,
          viewport: true,
          width: 'auto',
          title: 'Send Email to ' + full_name,
          showOn: 'click',
          hideOn: { element: 'closeButton', event: 'click'},
          hook: { target: 'bottomLeft', tip: 'topLeft' },
          offset: {x:0, y:2} });
        element.observe('prototip:shown', function() {
          $('send_message_alert_'+id).hide();
          $('send_message_wraper_'+id).show();
        });
        element.observe('prototip:hidden', function() {
          $('message_subject_'+id).value = "";
          $('message_body_'+id).value = "";
        });
      });
    });
    function sendInviteMessage(id){
      user_id = $("user_id_friend_" + id).value;
      message = $("message_" + id).value;
      new Ajax.Request('/invite/send_invite_message',
      {asynchronous:true,
        evalScripts:true,
        method:'get',
        on500:function(request){alert('Sorry, there was an error.'.l); return false},
        parameters:{user_id_friend:user_id, invite_message:message},
        onSuccess:function(){
          $("invite_user_id_" + user_id).update("You sended an invite message.");
          $("send_invite_message").hide();
          $("send_invite_message_alert").show();
        }}
    );
    }
    function sendEmail(id, to){
      send_email_path = "/messages/send_message";
      subject = $("message_subject_"+id).value;
      body = $("message_body_"+id).value;
      new Ajax.Request(send_email_path,
      {asynchronous:true,
        evalScripts:true,
        method:'get',
        on500:function(request){alert('Sorry, there was an error.'.l); return false},
        parameters:{user_id:user_id, message_to:to, message_subject:subject, message_body:body},
        onSuccess:function(){
          $('send_message_alert_'+id).show();
          $('send_message_wraper_'+id).hide();
        }}
    );
    }
  </script>
<% end %>