              <div class="helpItem"  style="border-bottom: 1px solid #DBDBDB;" id='frm_<%= fr.id.to_s %>'>




                <% if logged_in? && (fr.user == current_user ) %>
                  <div id="fr_handler" class="del_post_com" style="float: right; cursor: pointer; display: none;" onclick="DeleteForumItem('<%= fr.id.to_s %>');">
                    <a href='javascript:;' class='vtip' title='Delete this question'><img style="border: 0px;" src="/images/icon-ing.gif"/></a>
                  </div>


                  <div id="fr_handler" class="del_post_com" style="border: 0px; float: right; cursor: pointer; display: none; margin-right: 6px;">

                    <%= link_to(content_tag(:span, image_tag("/images/flistREdit.png", :alt => '', :style => 'border: 0px;')), "#{view_fr_forums_path(current_user)}?height=370&width=700&forum_id=#{fr.id.to_s}", :class => "thickbox", :title => "Edit Question") %>

                  </div>
                <% end %>












                <div style="float: left;" class="assPic">
                  <%= show_image_user_post(fr.user) %>
                </div>


                <div class="helpT" style="margin-left:62px;">
                  <%= show_user_post(fr.user) %>
                </div>
                <div class="forumTit" style='font-weight: bold;margin-left:62px;'>
                  <a href="javascript:;" style='color: #6F6F63' onmouseover="this.style.color = '#6F6F63'; this.style.cursor='default'"><%= fr.title %></a>
                </div>
                <div class="helpD"  style="margin-left:62px; height: 100%;"><%= content %></div>

                <div class="comH" style="margin-left: 62px;margin-top: 2px;"><a id="answ_<%= fr.id.to_s %>" href="javascript:;">Answers (<%= fr.comments.length %>)</a></div>
                <div class="slidingDivH1" style="display:none;" id="forum_list_comment_<%= fr.id %>">
                  <% if fr.comments.length > 2 %>
                    <div class="proList" style="margin-left: 62px; width: 545px;">
                      <div class="writeCom">
                        <% if logged_in? %>
                          <%= link_to "View all", {:controller => "forums", :action => "view_all_comments", :forum_id => fr.id}, :remote => true %>
                        <% else %>
                          <a id="view_all_<%= fr.id.to_s %>" href="javascript:;">View all</a>
                        <% end %>
                      </div>
                    </div>
                  <% end %><!-- end if -->
                  <% count = 0 %>
                  <% fr.comments.each do |cmt| %>
                    <div id="cmt_id_<%= cmt.id %>" class="proList" style="margin-left: 62px; width: 545px;">
                      <% if logged_in? && (cmt.user == current_user || fr.user == current_user ) %>
                        <div onclick="DeleteForumComment(<%= fr.id %>, <%= cmt.id %>);" style="float: right; cursor: pointer; display: none;" class="del_post_com">
                          <a href='javascript:;' class='vtip' title='Delete this response'><img src="/images/icon-ing.gif" style="border: 0px;"/></a>
                        </div>
                      <% end %>
                      <div class="proListPic"><%= show_image_user_post(cmt.user) %></div>
                      <div class="proListR" style="width: 490px;">
                        <div class="AfterClCom">
                          <%= show_user_post(cmt.user) %>  <%= cmt.comment %>
                        </div>
                        <div class="proListCont">
                          <%= distance_of_time_in_words_to_now(cmt.created_at, false) + " ago." %>
                        </div>
                      </div>
                    </div>
                    <% count = count + 1 %>
                    <% if count > 1 %>
                      <% break %>
                    <% end %><!-- end if count -->
                  <% end %><!-- end fr.comments.each -->
                  <% if logged_in? %>
                    <div class="proListH1" style="margin-left: 62px; width: 545px;">
                      <form id="cmt_form_<%= fr.id.to_s %>" method="post" action="/forums/savecmt">
                        <div class="proListPic"><%= show_image_user_post(current_user) %></div>
                        <div class="proListR" style="width: 490px;">
                          <div class="writeCom">
                            <%= text_area_tag "comment", "", :id => "commnt_"+fr.id.to_s, :class => "{validate:{required:true}}" %>
                          </div>
                        </div>
                        <div class="proAttR">
                          <input id="save_<%= fr.id.to_s %>" type="button" value="Send" name="send" class="buttonCom"/>
                        </div>
                      </form>
                    </div>
                  <% else %>
                    <div style="margin-left: 62px;width: 545px;" class="proList">
                      <div class="writeCom">
                        <%=  link_to_require_login("Write something...") %>
                      </div>
                    </div>
                  <% end %>
                </div>

                <div class="helpDis" style="margin-left: 160px; margin-top: -15px; position: absolute;">
                  <a href="javascript:;" style='color: #6F6F63' onmouseover="this.style.color = '#6F6F63'; this.style.cursor='default'">
                    <%= distance_of_time_in_words_to_now(fr.created_at, false) + " ago." %>
                  </a>
                </div>
              </div>
