
<% content_for :you_are_here do -%>
  You are here: <a href="/">Help Information</a>
<% end -%>

<div class="mainSignUpS">
  <div class="AsDContImg"><a href="/"><div><img src="/images/pic11.png"></img></div></a></div>
  <div class="txtsignup topHelp">
    <div class="AftBe">
      <div class="txtsignup1">AfterClassroom</div>
    </div>
    <div class="sponsorS">
      <div class="sponsorLink">
        <div class="menuRL">
          <div class="menuRItem <%= "menuRselect" if controller.action_name == "help" %>"><a href="/statics/help"><span class="span1"><span class="span2">Community Help Forum</span></span></a></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Content-->
<div class="contMainLH">
  <div class="col654 QAs">
    <div class="col654in">
      <div class="col654Cont">
        <div class="helpL">
          <div class="helpLin">
            <div class="helpTitle">Community Help Forum</div>
            <div class="AsDsearchH">
              <%= render :partial => "search_help" %>
            </div>
            <div class="helpCom"><a href="#">Community Help Forum</a></div>
            <div class="helpPost"><a></a></div>

            <div id="headerDivImg"><span class="postAQues"></span><a id="imageDivLink" onclick="javascript:toggle5('contentDivImg', 'imageDivLink');"><img src="/images/helpPostSh08.png"></a></div>
            <div id="contentDivImg" style="display: none;">



              <form action="<%= addfr_user_forums_path(current_user) %>">
                <div class="postHelp">
                  <div class="reqLa"><label>Title</label></div>
                  <div class="reqTi"><input type="text" name="txt_help" size="22"></input></div>
                  <div class="reqLa"><label>Content</label></div>
                  <div style="margin: 3px 0pt;" class="reqEn"><textarea name="help_content"></textarea></div>
                  <div style="margin-top: 5px;" class="submit"><input id="add_new_fr" type="submit" value="Submit" name="commit" class="buttonCom"></input></div>
                </div>
              </form>



            </div>

          </div>
        </div>
        <div class="helpCR">
          <div class="helpTitle"><a href="#">Community Help Forum</a></div>




<% if @controller.action_name() == "index" %> 
          <%= will_paginate @forums %>
<% end %>




          <% @forums.each do |fr| %>
            <div class="helpItem">
              <div class="helpT"><a href="#"><%= fr.title %></a></div>
              <div class="helpD">Donec vel ipsum massa. Integer nunc orci, pellentesque et mollis a, fringilla ac elit. Integer elementum nibh ac quam egestas bibendum.</div>
              <div class="helpDis"><a href="#">20956 discussions</a></div>
              <div class="comH"><a id="answ_<%= fr.id.to_s %>" href="javascript:;">Answers (<%= fr.comments.length %>)</a></div>

              <div class="slidingDivH1" style="display:none;" id="forum_list_comment_<%= fr.id %>">













                <% if fr.comments.length > 2 %>

                  <div class="proList" style="margin-left: 45px;">
                    <div class="writeCom">
                      <%= link_to "View all", {:controller => "forums", :action => "view_all_comments", :forum_id => fr.id}, :remote => true %>

                    </div>
                  </div>
                <% end %><!-- end if -->


                <% count = 0 %>
                <% fr.comments.each do |cmt| %>

                  <div id="" class="proList" style="margin-left: 45px;">
                    <div onclick="DeleteForumComment(<%= fr.id %>, <%= cmt.id %>);" style="float: right; cursor: pointer; display: none;" class="del_post_com">
                      <img src="/images/icon-ing.gif">
                    </div>

                    <div class="proListPic"><%= show_image_user_post(cmt.user) %></div>





                    <div class="proListR">
                      <div class="AfterClCom">
                        <a href="/users/1/show_lounge">James</a><%= cmt.comment %>
                      </div>
                      <div class="proListCont">
                        <%= distance_of_time_in_words_to_now(cmt.created_at, false) + " ago." %>
                      </div>
                    </div>

                  </div>
                  <% count = count + 1 %>
                  <% if count > 1 %>
                    <% break %>
                  <% end %><!-- end if count -->
                <% end %><!-- end fr.comments.each -->








                <div class="proListH1">
                  <form>
                    <div class="proListPic"><a href="/users/2"><div><img title="John" src="/system/avatars/2/thumb/jhedrick.jpg?1303782033" class="vtip"></img></div></a></div>
                    <div class="proListR">
                      <div class="writeCom"><textarea name="comment" id="comment_<%= fr.id.to_s %>"></textarea></div>
                    </div>
                    <div class="proAttR"><input id="save_<%= fr.id.to_s %>" type="button" value="Send" name="send" class="buttonCom"></input></div>
                  </form>
                </div>
              </div>

            </div>

          <% end %>

















          <div class="allDis" id="browse_all"><%= link_to raw("Browse all discussions"), browse_user_forums_path(current_user) %></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contMainRH">
  <div class="popu">
    <div class="popuTop">
      <div class="popuTitle">Popular Discussions</div>
      <div class="popuAll"><a href="#">See all</a></div>
    </div>
    <div class="popuDes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat, erat sit amet mattis suscipit, enim libero laoreet dolor, non varius metus enim sed lectus...</div>
    <div class="popuRe"><a href="#">39 replies</a></div>
    <div class="popuDes">Proin sit amet neque felis, eu aliquam sapien. Sed eget justo quis erat pharetra dapibus. Nam consectetur augue et arcu suscipit tristique !</div>
    <div class="popuRe"><a href="#">56 replies</a></div>
    <div class="popuDes">Nunc massa lorem, scelerisque in posuere at, adipiscing in ante. Integer lobortis, sem eu iaculis rutrum, lectus augue viverra leo, vitae luctus libero enim eu nibh..</div>
    <div class="popuRe"><a href="#">25 replies</a></div>
  </div>
</div>


<!--Comments-->

<!--Comments-->
<div visible="false" id="wait_dialog" style="display:none;">Please wait...</div>

<script type="text/javascript">

  function ShowWaitDialog(){
    $('#wait_dialog').show();
    $("#wait_dialog").dialog({
      modal: true
    });
    $('.ui-dialog-titlebar').hide();
  }
  function HideWaitDialog(){
    $('.ui-dialog-titlebar-close').click();/*Close waiting dialog*/
  }
  function AddCommentWithAjax(content,forum_id){
    ShowWaitDialog();

    var savePath = '<%= savecmt_user_forums_path(current_user) %>';

    $.ajax({
      type: 'GET',
      url: savePath,
      data: {
        content: content,
        forum_id: forum_id
      },
      success: function(data) {
        HideWaitDialog();
      },
      error: function(er){
        HideWaitDialog();
        alert('Failed to communicate with server: '+er);
      }
    });
  }

  $(document).ready(function() {
    ShowHideDelIcon();

    $("a[id*='answ_']").click(function(){
      $(this).parent().next().toggle();
    });

    $("input[id*='save_']").click(function(){

      var strContent = $(this).parents().find('form').eq(0).find('textarea').attr('value');
      if (strContent == '')
        alert('invalid');
      else{
        forum_id = $(this).attr('id').split('_')[1];
        AddCommentWithAjax(strContent,forum_id);
        /* reset the comment textarea to empty value */
        $(this).parents().find('form').eq(0).find('textarea').attr('value','');
      }
    });



    $('#add_new_fr').click(function(){
      $(this).parents().find('form').eq(0).submit();
    });



  });

  function toggle5(showHideDiv, switchImgTag) {
    var ele = document.getElementById(showHideDiv);
    var imageEle = document.getElementById(switchImgTag);
    if(ele.style.display == "block") {
      ele.style.display = "none";
      imageEle.innerHTML = '<img src="/images/helpPostSh08.png">';

    }
    else {
      ele.style.display = "block";
      imageEle.innerHTML = '<img src="/images/helpPostSh09.png">';

    }
  }
  function ShowHideDelIcon(){
    $(".proList").hover(function(){
      $(".del_post_com", this).show();
    }, function(){
      $(".del_post_com", this).hide();
    });
  }

  function DeleteForumComment(forum_id, comment_id){
    var delPath = '<%= delcmt_user_forums_path(current_user) %>';

    $("#delete_comment_alert").dialog({
      modal: true,
      buttons: {
        Ok: function() {
          $(this).dialog('close');
          $.ajax({
            url: delPath,
            type: 'GET',
            dataType: 'html',
            data: 'comment_id=' + comment_id + '&forum_id=' + forum_id,
            success: function(html){
              alert('success delete comment');
              /*
              $('#post_' + post_id + '_comment_' + comment_id).toggle("slow");
                          $('#post_' + post_id + '_comments').html(html);
               */
            }
          });
        },
        Cancel: function() {
          alert('Failed to connect to server');
          $(this).dialog('close');
        }
      }
    });
  }


</script>


