<% content_for :you_are_here do -%>
  You are here: <a href="javascript:;">Help Information</a>
<% end -%>
<div class="mainSignUpS">
  <div class="AsDContImg"><a href="/"><div><img src="/images/pic11.png"></img></div></a></div>
  <div class="txtsignup topHelp">
    <div class="AftBe">
      <div class="txtsignup1">AfterClassroom</div>
    </div>
    <div class="sponsorS">
      <div class="sponsorLink">
        <div class="menuRL">
          <div class="menuRItem menuRselect">
            <a href="/forums">
              <span class="span1">
                <span class="span2">Community Help Forum</span>
              </span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Content-->

<div class="contMainLH">
  <div class="col654 QAs">
    <div class="col654in">
      <div class="col654Cont">

        <div class="helpCR" style="width: 632px;">
          <%= display_flash_messages_with_raw %>
          <div class="helpTitle" style="height: 25px;">
            <a href="javascript:;" style="color: #6F6F63;" onmouseover="this.style.color = '#6F6F63'; this.style.cursor='default'">Community Help Forum <%= "- Popular discussions" if controller.action_name == "see_all_top_fr" %></a>


            <div style="margin-top: -2px; ; color: rgb(110, 110, 110); background: url('/images/bgSearchF.png') no-repeat scroll left top transparent;  float: right;  height: 24px;  padding-right: 0;  width: 194px;">
              <%= form_tag url_for(:controller => "forums", :action => "search"), {:id => "info_search", :method => "GET"} do %>
                <div class="textS"><%= text_field_tag "search_content", "#{@str_search}" , :style => "height: 12px" %></div>
                <div style="margin-top: -18px; margin-right: 3px; float: right;" >
                  <a href="javascript:;" onclick="searchForum();"><img src="/images/iconSF.png" style="border: 0px;"/></a>
                </div>
              <% end %>
            </div>



          </div>
          <% if controller.action_name == "search" %>
            <% @forums.each_hit_with_result do |hit,fr| %>

              <% if (hit.highlight(:content)) %>
                <% txt_content = raw(hit.highlight(:content).format { |fragment| content_tag(:em, fragment) } ) %>

                <% txt_content =  raw("<div style='' id='res_handler_#{fr.id}'>")+txt_content+raw('</div><br/>')+raw("<div style='display:none;'>")+fr.content+raw("</div>") %>

              <% else %>
                <% txt_content = raw(fr.content) %>

                <% txt_content =  raw("<div style='' id=''>")+txt_content+raw('</div><br/>')+raw("<div style='display:none;'>")+fr.content+raw("</div>") %>

              <% end %>


              <%= render :partial => "item", :locals => {:fr => fr, :content => txt_content } %>
            <% end %>
          <% else %>
            <% @forums.each do |fr| %>
              <%= render :partial => "item", :locals => {:fr => fr, :content => fr.content} %>
            <% end %>
          <% end %>




          <% if controller.action_name == "index" %>
            <div class="assPage" style="padding-left:0">
              <span class="numPage"><%= page_entries_info @forums %></span>
              <%= will_paginate @forums %>
            </div>
          <% elsif controller.action_name == "see_all_top_fr" %>
            <div class="assPage" style="padding-left:0">
              <span class="numPage"><%= page_entries_info @forums %></span>
              <%= will_paginate(@forums, :params => { :controller => "forums", :action => "see_all_top_fr" }) %>
            </div>
          <% elsif controller.action_name == "search" %>
            <div class="assPage" style="padding-left:0">
              <span class="numPage"><%= page_entries_info @forums.results %></span>
              <%= will_paginate(@forums.results, :params => { :controller => "forums", :action => "search" }) %>
            </div>
          <% end %>
          <div class="goTop" style="padding:0"><a href="javascript:;" onclick="goToByScroll('top_page')">Top</a></div>
        </div>
      </div>
    </div>
  </div>
</div>







<div class="contMainRHQ">
  <div style="margin-left: 6px; margin-right: 8px; margin-top: 10px; cursor: pointer;">
    <a id="imageDivLink" onclick="javascript:ToggleForm('form_new_fr', 'imageDivLink');">
      <img src="/images/helpPostSh08.png"/>
    </a>
  </div>
  <div class="popu">
    <div id="form_new_fr" style="display: none;">
      <div id="contentDivImg">

        <%= form_tag addfr_forums_path, :id => "new_fr_formQ" do -%>
          <div class="postHelp">
            <div class="reqLa"><label>Title *</label></div>


            <div class="reqTi">
              <% if session["open_form"] == "open" %>
                <% str_title = session["new_fr_title"] %>
                <% str_cnt = session["new_fr_cnt"] %>
                <% session.delete(:new_fr_title) %>
                <% session.delete(:new_fr_cnt) %>
              <% else %>
                <% str_title = "" %>
              <% end %>
              <input value="<%= str_title %>" type="text" id="txt_help" class="{validate:{required:true}}" name="txt_help" size="22" style="width:280px"/>
            </div>


            <div class="reqLa"><label>Description *</label></div>


            <div style="margin: 3px 0pt;" class="reqEn">
              <%= text_area_tag "help_content", str_cnt, :id => "help_content", :style => "width:280px", :class => "{validate:{required:true}}" %>
            </div>

            <%= show_simple_captcha(:label => "CAPTCHA Code *") %>

            <% if logged_in? %>
              <div style="margin-top: 5px;" class="submit">
                <input id="add_new_fr" type="submit" value="Submit" name="commit" class="buttonCom" onclick="submitQ();"/>
              </div>
            <% else %>
              <%= link_to_require_login(raw("<div style='margin-top: 5px;' class='submit'><input id='add_new_fr' type='submit' value='Submit' name='commit' class='buttonCom'/></div>")) %>
            <% end %>

          </div>
        <% end -%>

      </div>
    </div>



  </div>
</div>

<div class="contMainRH">
  <div class="popu">
    <div class="popuTop">
      <div class="popuTitle">Popular Discussions</div>
      <div class="popuAll">
        <a href="<%= see_all_top_fr_forums_path %>">See all</a>
      </div>
    </div>
    <% @top_frs.each do |fr| %>
      <div class="popuDes"><b><%= fr.title %></b>  <%= truncate_html(fr.content, :length => 100, :omission => '...') %> </div>
      <div class="popuRe">
        <a href="javascript:;" style='color: #6F6F63' onmouseover="this.style.color = '#6F6F63'; this.style.cursor='default'"><%= fr.comments.length %> replies</a>
      </div>
    <% end %>
  </div>
</div>

<div visible="false" id="wait_dialog" style="display:none;">Please wait...</div>

<script type="text/javascript">
  
  function searchForum(){
    $('#info_search').submit();
  }
  
  function submitQ(){
    var result = $("#new_fr_formQ").validate({
      meta: "validate"
    });
    if (result) {
      $("#new_fr_formQ").submit();
    }
  }


  function ShowWaitDialog(){
    $('#wait_dialog').show();
    $("#wait_dialog").dialog({
      modal: true
    });
    $('.ui-dialog-titlebar').hide();
  }
  function HideWaitDialog(){
    $('.ui-dialog-titlebar-close').click();/*Close waiting dialog*/
  }
  function AddCommentWithAjax(content,forum_id){
    ShowWaitDialog();


<% if current_user == nil %>
      var savePath = '#';
<% else %>
      var savePath = '<%= savecmt_forums_path %>';
<% end %>

    $.post( savePath, { forum_id: forum_id, content: content },
    function( data ) {
      HideWaitDialog();
    }
  );

  }


  $(document).ready(function() {
    
    /*perform toggle for view detail after display search result */
    $("div[id*='res_handler_']").click(function(){
      $(this).next().next().toggle('slow');
      //$(this).toggle();
      $(this).remove();
    });
    $("div[id*='res_handler_']").hover(function(){
      $(this).css('cursor','pointer');
      $(this).css('color','#DD0000');
    }, function(){
      $(this).css('cursor','default');
      $(this).css('color','#6F6F63');
    });





    ShowHideDelIcon();

    /*re-open the form in the case captcha of ADDNEW INVALID*/
    if ('<%= session["open_form"] %>'=='open'){
      ToggleForm('form_new_fr', 'imageDivLink');
    }

    /*open-close the answer form for each forum-item*/
    $("a[id*='answ_']").click(function(){
      $(this).parent().next().toggle();
    });

    $("input[id*='save_']").click(function(){

      var strContent = $(this).parents().find('form').eq(0).find('textarea').attr('value');

      if (strContent == '')
        alert('Please write something ... ');
      else{
        forum_id = $(this).attr('id').split('_')[1];
        AddCommentWithAjax(strContent,forum_id);
        /* reset the comment textarea to empty value */
        $(this).parents().find('form').eq(0).find('textarea').attr('value','');
      }


    });


    /*BEGIN the code to handle ajax call before user-login for View All function to walk around rubyCAS issue*/
    $("a[id*='view_all_']").click(function(){
      forum_id = $(this).attr('id').split('_')[2];


      $.ajax({
        url: '<%= view_all_no_loggin_forums_path %>',
        type: 'GET',
        dataType: 'html',
        data: 'forum_id='+forum_id,
        success: function(html){
          alert('val == '+html);
        },
        error: function(er){
          callagain(forum_id);
        }
      });
    });
    /*END the code to handle ajax call before user-login for View All function to walk around rubyCAS issue*/

  });
  /* this function callagain for fixing the bug related to call ajax being rediected by RubyCAS */
  function callagain(forum_id){
    $.ajax({
      url: '<%= view_all_no_loggin_forums_path %>',
      type: 'GET',
      dataType: 'html',
      data: 'forum_id='+forum_id,
      success: function(str_data){
        $("#forum_list_comment_"+forum_id).html(str_data);
      },
      error: function(er){
        alert('Failed to communicate with server: '+er);
      }
    })
  }

  function ToggleForm(showHideDiv, switchImgTag) {
    var ele = document.getElementById(showHideDiv);
    var imageEle = document.getElementById(switchImgTag);
    if(ele.style.display == "block") {
      ele.style.display = "none";
      imageEle.innerHTML = '<img src="/images/helpPostSh08.png">';
    }
    else {
      ele.style.display = "block";
      imageEle.innerHTML = '<img src="/images/helpPostSh09.png">';

    }
  }
  function ShowHideDelIcon(){
    /*Show hide delete X icon for each comment*/

    $(".proList").hover(function(){
      $(".del_post_com", this).show();
    }, function(){
      $(".del_post_com", this).hide();
    });

    /*Show hide delete X icon for each forum post*/
    $(".helpItem").hover(function(){
      $("#fr_handler", this).show();
    }, function(){
      $("#fr_handler", this).hide();
    });


  }

  function DeleteForumItem(forum_id){
    var delPath = '<%= delfrm_forums_path(current_user) %>';

    $("#delete_comment_alert").dialog({
      modal: true,
      buttons: {
        Ok: function() {
          $(this).dialog('close');
          $('#frm_'+forum_id).toggle();
          $.ajax({
            url: delPath,
            type: 'GET',
            dataType: 'html',
            data: '&forum_id=' + forum_id,
            success: function(html){
              //Do nothing
            },
            error: function(er){
              alert('Failed to communicate with server: '+er);
            }
          });
        },
        Cancel: function() {
          $(this).dialog('close');
        }
      }
    });





  }

  function DeleteForumComment(forum_id, comment_id){
<% if current_user == nil %>
      var delPath = '#';
<% else %>
      var delPath = '<%= delcmt_forums_path(current_user) %>';
<% end %>


    $("#delete_comment_alert").dialog({
      modal: true,
      buttons: {
        Ok: function() {
          $(this).dialog('close');

          $.ajax({
            url: delPath,
            type: 'GET',
            dataType: 'html',
            data: 'comment_id=' + comment_id + '&forum_id=' + forum_id,
            success: function(html){
              $('#cmt_id_'+comment_id).toggle();
              $('#answ_'+forum_id).html('Answer ('+html+')');
            },
            error: function(er){
              alert('Failed to communicate with server: '+er);
            }
          });
        },
        Cancel: function() {
          $(this).dialog('close');
        }
      }
    });
  }

</script>
<style>
  .contMainRHQ{
    float: left;
    background: url("/images/top300.png") no-repeat scroll 0 0 white;
    float: right;
    margin-bottom: 8px;
    overflow: hidden;
    width: 300px;
  }
  .contMainRHQ .popuTopQ{
    border-bottom: 1px solid #DBDBDB;
    overflow: hidden;
    padding-bottom: 4px;
    padding-top: 2px;
    width: 280px;
  }
  .popuTitleQ{
    float: left;
    font-size: 12px;
    font-weight: bold;
  }
  .helpD em{
    color: #F6A828;
    font-weight: bold;
  }
</style>
