<% content_for :you_are_here do -%>
  You are here: <a href="/">Help Information</a>
<% end -%>
<div class="mainSignUpS">
  <div class="AsDContImg"><a href="/"><div><img src="/images/pic11.png"></img></div></a></div>
  <div class="txtsignup topHelp">
    <div class="AftBe">
      <div class="txtsignup1">AfterClassroom</div>
    </div>
    <div class="sponsorS">
      <div class="sponsorLink">
        <div class="menuRL">
          <div class="menuRItem menuRselect">
            <a href="/forums">
              <span class="span1">
                <span class="span2">Community Help Forum</span>
              </span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Content-->
<div class="contMainLH">
  <div class="col654 QAs">
    <div class="col654in">
      <div class="col654Cont">
        <div class="helpL">
          <div class="helpLin">
            <div class="AsDsearchH">
              <%= render :partial => "search_help" %>
            </div>
            <div class="helpPost"><a></a></div>
            <div id="headerDivImg">
              <span class="postAQues"></span>
              <% if logged_in? %>
                <a id="imageDivLink" onclick="javascript:toggle5('contentDivImg', 'imageDivLink');">
                  <img src="/images/helpPostSh08.png"/>
                </a>
              <% else %>
                <%=  link_to_require_login("Post A Question...") %>
              <% end %>
            </div>
            <div id="contentDivImg" style="display: none;">
              <% if logged_in? %>
                <form id="new_fr_form" action="<%= addfr_forums_path %>">
                  <div class="postHelp">
                    <div class="reqLa"><label>Title</label></div>
                    <div class="reqTi"><input type="text" id="txt_help" name="txt_help" size="22"></input></div>
                    <div class="reqLa"><label>Content</label></div>
                    <div style="margin: 3px 0pt;" class="reqEn"><textarea id="help_content" name="help_content"></textarea></div>
                    <div style="margin-top: 5px;" class="submit"><input id="add_new_fr" type="submit" value="Submit" name="commit" class="buttonCom"></input></div>
                  </div>
                </form>
              <% end %>
            </div>
          </div>
        </div>
        <div class="helpCR">
          <div class="helpTitle"><a href="#">Community Help Forum <%= "-Popular discussions" if controller.action_name == "see_all_top_fr" %></a></div>
          <% @forums.each do |fr| %>
            <div class="helpItem">
              <div class="helpT"><a href="#"><%= fr.title %></a></div>
              <div class="helpD"><%= fr.content %></div>
              <div class="helpDis"><a href="javascript:;">
                  <%= distance_of_time_in_words_to_now(fr.created_at, false) + " ago." %>
                </a></div>
              <div class="comH" style="margin-left: 115px;"><a id="answ_<%= fr.id.to_s %>" href="javascript:;">Answers (<%= fr.comments.length %>)</a></div>
              <div class="slidingDivH1" style="display:none;" id="forum_list_comment_<%= fr.id %>">
                <% if fr.comments.length > 2 %>
                  <div class="proList" style="margin-left: 45px;">
                    <div class="writeCom">
                      <% if logged_in? %>
                        <%= link_to "View all", {:controller => "forums", :action => "view_all_comments", :forum_id => fr.id}, :remote => true %>
                      <% else %>
                        <a id="view_all_<%= fr.id.to_s %>" href="javascript:;">View all</a>
                      <% end %>
                    </div>
                  </div>
                <% end %><!-- end if -->
                <% count = 0 %>
                <% fr.comments.each do |cmt| %>
                  <div id="cmt_id_<%= cmt.id %>" class="proList" style="margin-left: 45px;">
                    <% if logged_in? && cmt.user == current_user %>
                      <div onclick="DeleteForumComment(<%= fr.id %>, <%= cmt.id %>);" style="float: right; cursor: pointer; display: none;" class="del_post_com">
                        <img src="/images/icon-ing.gif"/>
                      </div>
                    <% end %>
                    <div class="proListPic"><%= show_image_user_post(cmt.user) %></div>
                    <div class="proListR">
                      <div class="AfterClCom">
                        <a href="<%= "#{show_lounge_user_path(cmt.user)}" %>"><%= cmt.user.name %></a>  <%= cmt.comment %>
                      </div>
                      <div class="proListCont">
                        <%= distance_of_time_in_words_to_now(cmt.created_at, false) + " ago." %>
                      </div>
                    </div>
                  </div>
                  <% count = count + 1 %>
                  <% if count > 1 %>
                    <% break %>
                  <% end %><!-- end if count -->
                <% end %><!-- end fr.comments.each -->
                <% if logged_in? %>
                  <div class="proListH1">
                    <form>
                      <div class="proListPic"><%= show_image_user_post(current_user) %></div>
                      <div class="proListR">
                        <div class="writeCom"><textarea name="comment" id="comment_<%= fr.id.to_s %>"></textarea></div>
                      </div>
                      <div class="proAttR"><input id="save_<%= fr.id.to_s %>" type="button" value="Send" name="send" class="buttonCom"></input></div>
                    </form>
                  </div>
                <% else %>
                  <div style="margin-left: 45px;" class="proList">
                    <div class="writeCom">
                      <%=  link_to_require_login("Write something...") %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
          <% if controller.action_name == "index" %>
            <%= will_paginate @forums %>
          <% elsif controller.action_name == "see_all_top_fr" %>
            <%= will_paginate(@forums, :params => { :controller => "forums", :action => "see_all_top_fr" }) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contMainRH">
  <div class="popu">
    <div class="popuTop">
      <div class="popuTitle">Popular Discussions</div>
      <div class="popuAll">
        <a href="<%= see_all_top_fr_forums_path %>">See all</a>
      </div>
    </div>
    <% @top_frs.each do |fr| %>
      <div class="popuDes"><b><%= fr.title %></b>  <%= fr.content %></div>
      <div class="popuRe"><a href="javascript:;"><%= fr.comments.length %> replies</a></div>
    <% end %>
  </div>
</div>

<div visible="false" id="wait_dialog" style="display:none;">Please wait...</div>

<script type="text/javascript">

  function ShowWaitDialog(){
    $('#wait_dialog').show();
    $("#wait_dialog").dialog({
      modal: true
    });
    $('.ui-dialog-titlebar').hide();
  }
  function HideWaitDialog(){
    $('.ui-dialog-titlebar-close').click();/*Close waiting dialog*/
  }
  function AddCommentWithAjax(content,forum_id){
    ShowWaitDialog();


<% if current_user == nil %>
      var savePath = '#';
<% else %>
      var savePath = '<%= savecmt_forums_path %>';
<% end %>


    $.ajax({
      type: 'GET',
      url: savePath,
      data: {
        content: content,
        forum_id: forum_id
      },
      success: function(data) {
        HideWaitDialog();
      },
      error: function(er){
        HideWaitDialog();
        alert('Failed to communicate with server: '+er);
      }
    });
  }

  $(document).ready(function() {
    ShowHideDelIcon();

    $("a[id*='answ_']").click(function(){
      $(this).parent().next().toggle();
    });

    $("input[id*='save_']").click(function(){

      var strContent = $(this).parents().find('form').eq(0).find('textarea').attr('value');
      if (strContent == '')
        alert('invalid');
      else{
        forum_id = $(this).attr('id').split('_')[1];
        AddCommentWithAjax(strContent,forum_id);
        /* reset the comment textarea to empty value */
        $(this).parents().find('form').eq(0).find('textarea').attr('value','');
      }
    });



    $('#add_new_fr').click(function(){
      $("#new_fr_form").validate({ rules:
          { txt_help :
            {
            required : true,
            minlength: 10
          },
          help_content: {
            required : true,
            minlength: 50
          }
        }
      });
      //(this).parents().find('form').eq(0).submit();
    });


    /*BEGIN the code to handle ajax call before user-login for View All function to walk around rubyCAS issue*/
    $("a[id*='view_all_']").click(function(){
      forum_id = $(this).attr('id').split('_')[2];


      $.ajax({
        url: '<%= view_all_no_loggin_forums_path %>',
        type: 'GET',
        dataType: 'html',
        data: 'forum_id='+forum_id,
        success: function(html){
          alert('val == '+html);
        },
        error: function(er){
          callagain(forum_id);
          //alert('Failed to communicate with server: '+er);
        }
      });
    });
    /*END the code to handle ajax call before user-login for View All function to walk around rubyCAS issue*/

  });
  /* this function callagain for fixing the bug related to call ajax being rediected by RubyCAS */
  function callagain(forum_id){
    $.ajax({
      url: '<%= view_all_no_loggin_forums_path %>',
      type: 'GET',
      dataType: 'html',
      data: 'forum_id='+forum_id,
      success: function(str_data){
        $("#forum_list_comment_"+forum_id).html(str_data);
      },
      error: function(er){
        alert('Failed to communicate with server: '+er);
      }
    })
  }

  function toggle5(showHideDiv, switchImgTag) {
    var ele = document.getElementById(showHideDiv);
    var imageEle = document.getElementById(switchImgTag);
    if(ele.style.display == "block") {
      ele.style.display = "none";
      imageEle.innerHTML = '<img src="/images/helpPostSh08.png">';

    }
    else {
      ele.style.display = "block";
      imageEle.innerHTML = '<img src="/images/helpPostSh09.png">';

    }
  }
  function ShowHideDelIcon(){
    $(".proList").hover(function(){
      $(".del_post_com", this).show();
    }, function(){
      $(".del_post_com", this).hide();
    });
  }

  function DeleteForumComment(forum_id, comment_id){
<% if current_user == nil %>
      var delPath = '#';
<% else %>
      var delPath = '<%= delcmt_forums_path(current_user) %>';
<% end %>


    $("#delete_comment_alert").dialog({
      modal: true,
      buttons: {
        Ok: function() {
          $(this).dialog('close');

          $.ajax({
            url: delPath,
            type: 'GET',
            dataType: 'html',
            data: 'comment_id=' + comment_id + '&forum_id=' + forum_id,
            success: function(html){
              $('#cmt_id_'+comment_id).toggle();
              $('#answ_'+forum_id).html('Answer ('+html+')');
            },
            error: function(er){
              alert('Failed to communicate with server: '+er);
            }
          });
        },
        Cancel: function() {
          $(this).dialog('close');
        }
      }
    });
  }


</script>

