<% @fr.comments.each do |cmt| %>
    <div id="cmt_id_<%= cmt.id %>" class="proList" style="margin-left: 62px; width: 545px;">
  <% if logged_in? %>
      <div onclick="DeleteForumComment(<%= @fr.id %>, <%= cmt.id %>);" style="float: right; cursor: pointer; display: none;" class="del_post_com">
        <img src="/images/icon-ing.gif"/>
      </div>
    <% end %>
    <div class="proListPic"><%= show_image_user_post(cmt.user) %></div>

    <div class="proListR" style="width: 490px;">
      <div class="AfterClCom">
        <a href="<%= "#{show_lounge_user_path(cmt.user)}" %>"><%= cmt.user.name %></a> <%= cmt.comment %>
      </div>
      <div class="proListCont">
        <%= distance_of_time_in_words_to_now(cmt.created_at, false) + " ago." %>
      </div>
    </div>

  </div>

<% end %>
<div style="margin-left: 62px; width: 545px;" class="proList">
  <div class="writeCom">
    <%=  link_to_require_login("Write something...") %>
  </div>
</div>

<script type="text/javascript">
  /* call vtip(); again to ensure tooltip display OK for link_to_require_login */
  vtip();

  function showForumCmtForm<%= @fr.id %>(){
    $('#current_cmt_<%= @fr.id %>').toggle(); /* show comment box */
    $('#fr_comment_<%= @fr.id %>').toggle(); /* hide link to box */
  }
  $(document).ready(function() {
    ShowHideDelIcon();


    $('#save_<%= @fr.id.to_s %>').click(function(){
      var strContent = $(this).parents().find('form').eq(0).find('textarea').attr('value');
      if (strContent == '')
        alert('invalid');
      else{
        forum_id = $(this).attr('id').split('_')[1];
        AddCommentWithAjax(strContent,forum_id);

        $('#current_cmt_<%= @fr.id %>').toggle(); /* hide comment box*/
        $('#fr_comment_<%= @fr.id %>').toggle(); /* show link comment box */

        /* reset the comment textarea to empty value */
        $(this).parents().find('form').eq(0).find('textarea').attr('value','');
      }
    });
  });


</script>
