<div class="flistItem">
    <div class="assPic">
        <%= show_image_user_post(fan) %>
    </div>
    <div class="flistInf">
        <div class="flistN">
            <%= show_user_post(fan) %>
        </div>
        <div class="flistS">
            <span>at</span>
            <%= fan.school.name %>
        </div>
    </div>
    <div style="float:right">
        <% if fan != current_user %>
        <span class="support85" id="friend_status_<%= friend.id %>"><%= show_invite_friend(fan) %></span>
        <% end %>
    </div>
</div>
