<div class="col195 proPic">
  <div class="col195in">
    <div class="demo">
      <div class="proImg"><%= raw("<div>#{image_tag(@user.avatar.url(:medium), {:id => "avatar"})}</div>") %></div>
      <div class="proItem"><%= link_to "#{@user.full_name}'s Stories (#{@user.stories.size})", user_stories_path(@user) %></div>
      <div class="proItem"><%= link_to "#{@user.full_name}'s Photos (#{@user.photos.size})", user_photos_path(@user) %></div>
      <div class="proItem"><%= link_to "#{@user.full_name}'s Musics (#{@user.musics.size})", user_musics_path(@user) %></div>
      <div class="proItem"><%= link_to "#{@user.full_name}'s Videos (#{@user.videos.size})", user_videos_path(@user) %></div>
      <div class="proItem">About myself</div>
      <div class="proBtm">
        <%= @user.user_information.about_yourself if @user.user_information%>
      </div>
    </div>
  </div>
</div>
