<div class="topLearning">
  <div class="menuRL">
    <div class="menuRItem <%= "menuRselect" if action_name == "show_lounge" %>"><a href="<%= "#{show_lounge_user_path(@user)}" %>"><span class="span1"><span class="span2"><%= @user.full_name %>'s Lounge</span></span></a></div>
    <div class="menuRItem <%= "menuRselect" if action_name == "show" %>"><a href="<%= "#{user_path(@user)}" %>"><span class="span1"><span class="span2"><%= @user.full_name %>'s Info</span></span></a></div>
		<% if action_name == "show_stories" || action_name == "show_story_detail" %>
			<div class="menuRItem menuRselect"><a href="<%= "#{show_stories_user_path(@user)}" %>"><span class="span1"><span class="span2"><%= @user.full_name %>'s Stories</span></span></a></div>
		<% end %>
		<% if action_name == "show_photos" || action_name == "show_photos_with_list" || action_name == "show_photo_album" %>
			<div class="menuRItem menuRselect"><a href="<%= "#{show_photos_user_path(@user)}" %>"><span class="span1"><span class="span2"><%= @user.full_name %>'s Photos</span></span></a></div>
		<% end %>
		<% if action_name == "show_musics" || action_name == "show_music_album" %>
			<div class="menuRItem menuRselect"><a href="<%= "#{show_musics_user_path(@user)}" %>"><span class="span1"><span class="span2"><%= @user.full_name %>'s Musics</span></span></a></div>
		<% end %>
		<% if action_name == "show_videos" || action_name == "show_detail_video" %>
			<div class="menuRItem menuRselect"><a href="<%= "#{show_videos_user_path(@user)}" %>"><span class="span1"><span class="span2"><%= @user.full_name %>'s Videos</span></span></a></div>
		<% end %>
		<% if action_name == "show_friends" %>
			<div class="menuRItem menuRselect"><a href="<%= "#{show_friends_user_path(@user)}" %>"><span class="span1"><span class="span2"><%= @user.full_name %>'s Friends</span></span></a></div>
		<% end %>
		<% if action_name == "show_fans" %>
			<div class="menuRItem menuRselect"><a href="<%= "#{show_fans_user_path(@user)}" %>"><span class="span1"><span class="span2"><%= @user.full_name %>'s Fans</span></span></a></div>
		<% end %>
		<% if @user != current_user %>
		<div class="menuRItem" id="friend_status_<%= @user.id %>"><%= show_invite_friend_on_user_profile(@user)%></div>
		<% end %>
	</div>
</div>
