<div class="topLearning">
  <div class="menuRL">
    <div class="menuRItem <%= "menuRselect" if action_name == "show_lounge" %>"><a href="<%= "#{show_lounge_user_path(@user)}" %>"><span class="span1"><span class="span2"><%= @user.full_name %>'s Lounge</span></span></a></div>
    <div class="menuRItem <%= "menuRselect" if action_name == "show" %>"><a href="<%= "#{user_path(@user)}" %>"><span class="span1"><span class="span2"><%= @user.full_name %>'s Info</span></span></a></div>
		<div class="menuRItem"><%= show_invite_friend_on_user_profile(@user)%></div>
	</div>
</div>