<div class="col300 Request">
  <div class="col300in">
    <h1 class="col300Title">Requests Tests</h1>
    <div class="col300Cont">
      <% form_for :post_test, :url => {:action => "create"}, :html =>{:multipart => true, :id => "form_post"} do |f| %>
        <% fields_for :post do |p| %>
          <div class="reqTi"><%= p.text_field :title, :value => "Title...", :onblur => "this.value = this.value || this.defaultValue;", :onfocus => "this.value = '';" %></div>
          <div class="reqEn"><%= text_area_tag "post[description]", "Enter your request...", :onblur => "this.value = this.value || this.defaultValue;", :onfocus => "this.value = '';" %></div>
          <div class="reqSl">
            <div class="req40">
              <div class="reqLa"><label>Due date</label></div>
              <div class="reqTi"><%= f.text_field :due_date %></div>
            </div>
          </div>
          <div id="divinputfile">
            <%= p.file_field :attach, :onchange => "$('#fakefilepc').value = this.value;", :size => "39", :class => "filepc" %>
            <div id="fakeinputfile"><input name="fakefilepc" type="text" id="fakefilepc" /></div>
          </div>
          <div class="reqLa"><label>Tags</label></div>
          <div class="reqTi"><%= text_field_tag "tag" %></div>
          <div id="recaptcha_container">
            <div class="reqLa"><label>Enter the two words below</label></div>
            <div class="reqTi"><%= text_field_tag "recaptcha_response_field" %></div>
            <div id="recaptcha_image"></div>
          </div>
          <%= recaptcha_tags(:display => {:theme => "custom"}) %>
          <div class="regReload"><a class="regRlBt" href="javascript:Recaptcha.reload();">Get new words</a></div>
          <div class="submit"><%= show_submit_form() %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    $("#post_test_due_date").datepicker();
  });
</script>
