<div class="assItem">
    <div class="assItemL">
        <div class="assPic">
            <%= show_image_user_post(post.user) %>
        </div>
        <div class="assContT">
            <h2 class="titleH2"><%= link_to title, post_project_path(post.post_project) %></h2>
            <div class="assCate">
                <span>From:</span>
                <%= link_to post.school.name, :controller => "post_projects", :action => "index", :from_school => post.school %>
            </div>
            <div class="assDes">
                <div class="assImg">
                    <div>
                        <%= link_to image_post_thumb(controller_name, post), post.post_project %>
                    </div>
                </div>
                <%= truncate_words(description) %>
            </div>
        </div>
    </div>
    <div class="assItemB">
        <div class="assInfT">
            <div class="assInfT">
                <div class="assInfL">
                    <div>
                        <span>Posted by:</span>
                        <%= show_user_post(post.user) %>
                    </div>
                </div>
            </div>
            <div class="assInfB">
                <div>
                    <%= post.created_at.strftime("%I:%M %p %Z") %>
                </div>
                <div class="vie">
                    <%= "View (#{post.count_view})" %>
                </div>
                <div class="fav" id="item_favorite_<%= post.id %>">
                    <%= show_favorite("Post", post) %>
                </div>
                <div class="com">
                    <%= show_comment_button(post.id, post.comments.size) %>
                </div>
                <div class="morelink">
                    <%= link_to "More like this", :controller => "post_projects", :action => "index", :more_like_this_id => post %>
                </div>
            </div>
        </div>
    </div>
    <!--Comments-->
    <%= render :partial => "shared/post_comments/show_list_comments", :locals => {:post => post} %>
    <!--Comments-->
</div>
