<%= form_for([current_user, @share], :html => {:multipart => true, :id => "form_post"}) do |f| %>
  <%= hidden_field_tag "recipient" %>
  <div class="postItem">
    <div class="postTit">Share to*</div>
    <div class="postInp"><%= text_field_tag "share_to" %></div>
  </div>
  <div class="postTitt">Add File*</div>
  <div class="postItemA">
    <div id="divinputfile" style="margin-left:120px">
      <div class="postItemC">
        <%= file_field_tag "share[attach]", :id => "share_attach", :onchange => "$('#fakefilepc').val(this.value);", :size => "27", :style => "height:24px;width:282px;", :class => "{validate:{required:true}} filepc" %>
      </div>
      <div class="postUpfile">
        <div id="fakeinputfile"><input name="fakefilepc" type="text" id="fakefilepc" style="margin-top:-3px;"/></div>
      </div>
    </div>
  </div>
  <div class="postItem">
    <div class="postTit">Title*</div>
    <div class="postInp"><%= f.text_field :title, :class => '{validate:{required:true}}', :style => "width:360px;" %></div>
  </div>
  <div class="postItem">
    <div class="postTit">Description</div>
    <div class="postInput">
      <div class="postInp"><%= f.text_area :description %></div>
    </div>
  </div>
  <div class="submit"><a href="javascript:;" onclick="Share();">Share</a></div>
<% end %>
<!--Alert-->
<div id="dialog-message" title="Alert" style="display:none;">
    <p>
        Please enter at least one recipient.
    </p>
</div>
<!--Alert-->
<style>
	.postInp ul{
		width:358px;
	}
	#fakeinputfile #fakefilepc {
		margin-top:-1px;
	}
</style>

<script type="text/javascript">
  var path = "<%= list_friend_user_messages_path(current_user) %>";

  $("#share_to").autoSuggest(path, {asHtmlID: "share_to", selectedItemProp: "name", searchObjProps: "name", selectionLimit:0});
  function Share(){
		if ($('#as-values-share_to').val() == ""){
			$("#dialog-message").dialog({
                modal: true,
                buttons: {
                    Ok: function(){
                        $("#dialog-message").dialog('close');
                    }
                }
            });
		}else{
			$('#recipient').val($('#as-values-share_to').val());
    	$('#form_post').submit();
		}
  }
	$().ready(function() {
        $("#form_post").validate({
						meta: "validate"
        });
    });
</script>