<%= form_for([current_user, @share], :html => {:multipart => true, :id => "form_post"}) do |f| %>
  <%= hidden_field_tag "recipient" %>
  <%= display_flash_messages_with_raw %>
  <div class="postItem1" style="margin-top:10px">
    <div class="postTit" style="margin-left: 10px;float: left">Share to*</div>
    <div class="form_friends" style="margin-left:120px"><%= text_field_tag "share_to", "", :style => "width:360px;height:23px" %></div>
  </div>
  <div class="postTitt">Add File*</div>
  <div class="postItemA">
    <div id="divinputfile" style="margin-left:120px">
      <div class="postItemC">
        <%= file_field_tag "share[attach]", :id => "share_attach", :onchange => "$('#fakefilepc').val(this.value);", :size => "27", :style => "height:24px;width:282px;", :class => "{validate:{required:true}} filepc" %>
      </div>
      <div class="postUpfile">
        <div id="fakeinputfile"><input name="fakefilepc" type="text" id="fakefilepc" style="margin-top:-3px;"/></div>
      </div>
    </div>
  </div>
  <div class="postItem" id="only_img">
    <div class="postTit">&nbsp;</div>
    <div class="postInp">
      File size limit <%= number_to_human_size FILE_SIZE_SHARE %>.
    </div>
  </div>
  <div class="postItem">
    <div class="postTit">Title*</div>
    <div class="postInp"><%= f.text_field :title, :class => '{validate:{required:true}}', :style => "width:360px;" %></div>
  </div>
  <div class="postItem">
    <div class="postTit">Description</div>
    <div class="postInput">
      <div class="postInp"><%= f.text_area :description %></div>
    </div>
  </div>
  <div class="submit"><a href="javascript:;" onclick="Share();">Share</a></div>
<% end %>
<!--Alert-->
<div id="dialog-message" title="Alert" style="display:none;">
  <p>
    Please enter at least one recipient.
  </p>
</div>
<!--Alert-->
<style>
  .postInp ul{
    width:358px;
  }
  #fakeinputfile #fakefilepc {
    margin-top:-1px;
  }
</style>

<script type="text/javascript">
  var path = "<%= list_friend_user_messages_path(current_user) %>";

  $(function(){
    
    // Autocomplete initialization
    var tb = new $.TextboxList('#share_to', {
      unique: true,
      plugins: {
        autocomplete: {}
      }
    });
    tb.getContainer().addClass('textboxlist-loading');
    $.ajax({
      url: path,
      dataType: 'json',
      success: function(r){
        tb.plugins['autocomplete'].setValues(r);
        tb.getContainer().removeClass('textboxlist-loading');
      }
    });
        
  });
		
  function Share(){
    if ($('#as-values-share_to').val() == ""){
      $("#dialog-message").dialog({
        modal: true,
        buttons: {
          Ok: function(){
            $("#dialog-message").dialog('close');
          }
        }
      });
    }else{
      $('#recipient').val($('#as-values-share_to').val());
      $('#form_post').submit();
    }
  }
  $().ready(function() {
    $("#form_post").validate({
      meta: "validate"
    });
  });
</script>