<%= form_for([current_user, @share], :html => {:id => "form_post" }) do |f| %>
  <%= hidden_field_tag "recipient" %>
  <div class="postItem">
    <div class="postTit">Share File</div>
    <div class="postInppSH" style="line-height: 20px;">
      <span><%= @share.attach_file_name %></span>
      <div class="postInpSH">.....</div>
    </div>
  </div>
  <div class="postItem1">
    <div class="postTit" style="margin-left: 10px;float: left;line-height: 30px;">Share to*</div>
    <div class="form_friends" style="margin-left:120px"><%= text_field_tag "share_to" %></div>
  </div>
  <div class="postItem">
  </div>
  <div class="submit" style="margin-left:120px;"><a href="javascript:;" onclick="Share();">Share</a></div>
<% end %>
<!--Alert-->
<div id="dialog-message" title="Alert" style="display:none;">
  <p>
    Please enter at least one recipient.
  </p>
</div>
<!--Alert-->
<style>
  .postInp ul{
    width:358px;
  }
  #fakefilepc {
    margin-top:-1px;
  }
  .postInppSH {
    width       : 360px;
    white-space : nowrap;
    overflow    : hidden;
    position    : relative;
  }
  .postInpSH{
    display    : none;
    position   : absolute;
    top        : 0px;
    right      : 0px;
    z-index    : 2;
    background : #FFF;

  }
  .textboxlist-autocomplete-result div{
    background: url("/images/bgi-col300.png") no-repeat scroll 0 0 transparent;
    padding: 3px;
    height: 51px;
  }
</style>
<script type="text/javascript">
  var path = "<%= list_friend_user_messages_path(current_user) %>";

  $(function(){
    
    // Autocomplete initialization
    var tb = new $.TextboxList('#share_to', {
    //  max: 1,
      unique: true,
      plugins: {
        autocomplete: {
          onlyFromValues: true
        }
      }
    });
    tb.getContainer().addClass('textboxlist-loading');
    $.ajax({
      url: path,
      dataType: 'json',
      success: function(r){
        tb.plugins['autocomplete'].setValues(r);
        tb.getContainer().removeClass('textboxlist-loading');
      }
    });
        
  });
		
  function Share(){
    if ($('#as-values-share_to').val() == ""){
      $("#dialog-message").dialog({
        modal: true,
        buttons: {
          Ok: function(){
            $("#dialog-message").dialog('close');
          }
        }
      });
    }else{
      $('#recipient').val($('#as-values-share_to').val());
      $('#form_post').submit();
    }
  }
  $().ready(function() {
    $("#form_post").validate({
      meta: "validate"
    });
  });
  $('.postInppSH span').each(function(){
    var $this = $(this);
    if($this.width() > $this.parent().width()){
      $this.parent().find('.postInpSH').show();
    }
  });

  $(document).ready(function(){   
    $('#TB_window .textboxlist').css('width','362px');
    $('#TB_window .textboxlist-bits').css('width','352px');
    $('#TB_window .textboxlist-autocomplete').css('width','362px');
  });


</script>