<div class="col300 wantJob">
  <div class="col300in">
    <h1 class="col300Title">Want a job? Post here</h1>
    <div class="col300Cont">
      <% form_for :post_job, :url => {:action => "create"}, :html =>{:multipart => true, :id => "form_post"} do |f| %>
        <%
          job_type = JobType.find_by_label("i_m_looking_for_job")
        %>
        <%= hidden_field_tag("post_job[job_type_id]", job_type.id) if job_type %>
        <% fields_for :post do |p| %>
          <div class="reqTi"><%= p.text_field :title, :value => "Title...", :onblur => "this.value = this.value || this.defaultValue;", :onfocus => "this.value = '';" %></div>
          <div class="reqEn"><%= text_area_tag "post[description]", "Enter your request...", :onblur => "this.value = this.value || this.defaultValue;", :onfocus => "this.value = '';" %></div>
          <div class="reqSl">
            <div class="req40">
              <div class="reqLa"><label>Phone</label></div>
              <div class="reqTi"><%= f.text_field :phone %></div>
            </div>
            <div class="req60">
              <div class="reqLa"><label>Address</label></div>
              <div class="reqTi"><%= f.text_field :address %></div>
            </div>
          </div>
          <div id="divinputfile">
            <%= p.file_field :attach, :onchange => "$('#fakefilepc').value = this.value;", :size => "39", :class => "filepc" %>
            <div id="fakeinputfile"><input name="fakefilepc" type="text" id="fakefilepc" /></div>
          </div>
          <div class="reqLa"><label>Tags</label></div>
          <div class="reqTi"><%= text_field_tag "tag" %></div>
          <div id="recaptcha_container">
            <div class="reqLa"><label>Enter the two words below</label></div>
            <div class="reqTi"><%= text_field_tag "recaptcha_response_field" %></div>
            <div id="recaptcha_image"></div>
          </div>
          <%= recaptcha_tags(:display => {:theme => "custom"}) %>
          <div class="regReload"><a class="regRlBt" href="javascript:Recaptcha.reload();">Get new words</a></div>
          <div class="submit"><%= show_submit_form() %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<ul id="job_type_menu" class="mcdropdown_menu">
  <% JobType.find(:all).each do |j| %>
    <li rel_job_type="<%= j.id %>">
      <%= j.name %>
    </li>
  <% end %>
</ul>

<script type="text/javascript">
  $("#post_job_job_type_id").mcDropdown("#job_type_menu", {
    width: 250,
    valueAttr: "rel_job_type"
  });
</script>