<div class="AsDContBtm">
  <% if post.post_job.job_type.name != "I'm looking for job" %>
    <span class="btmApp"><%= show_apply_now() %></span>
  <% end %>

  <span class="btmCom"><a href="javascript:;" onclick="$('#form_comment').toggle('slow');"><span>Comment</span></a></span>
  <span class="btmMail"><%= show_email(post) %></span>
  <span class="btmShare"><%= addthis_bookmark_button { "<span>Share</span>" } %></span>
  <div  id="show_job_button">
    <span class="btmAddJob"><%= show_add_job(post) %></span>
    <span class="btmJobList"><%= show_my_job_list(post) %></span>

    <% if post.attach_file_name and post.post_job.job_type.label != "i_m_looking_for_job" %>
      <span class="btmDown"><a href="javascript:downloadFile('<%= post.attach.url %>')" class="downarrow"><span>Download</span></a></span>
    <% end %>
  </div
  <span></span>
  </div>
<script type="text/javascript">
  var upload_area = false;

  $(document).ready(function(){

  var uploadurl= "/post_jobs/apply_job?job_id=<%= post.post_job.id %>";

  $("#apply_now").css('cursor','pointer');

  $("#apply_now").click(function(){
  if (upload_area == false){
  upload_area = true;

  var str_place = $('.jobComMenu').html();
  var str_waiting = str_place + '<img src="/images/ajax-loader.gif" alt="Please wait..." />';
  $('.jobComMenu').html(str_waiting);

  $.ajax({
  url: uploadurl,
  type: "GET",
  dataType: "html",
  failure: function(msg){
  alert('ajax fail:'+msg);
  },
  success: function(msg){
  var str_content = str_place + '<div class="cover">'+msg+'</div>';

  $('.jobComMenu').html(str_content);
  }
  });
  }
  });
  });
</script>