<div class="AsDContBtm">
  <span class="btmApp"><a title="Apply now" class="thickbox" href="/post_jobs/apply_job?&height=288&width=500&subject=Apply&job_id=<%= post.post_job.id %>" id="myaclick">Apply now</a></span>
  <span class="btmCom"><a href="javascript:;" onclick="$('#form_comment').toggle('slow');"><span>Comment</span></a></span>
  <span class="btmMail"><%= show_email(post) %></span>
  <span class="btmShare"><%= addthis_bookmark_button { "<span>Share</span>" } %></span>
  <div  id="show_job_button">
    <span class="btmAddJob"><%= show_add_job(post) %></span>
    <span class="btmJobList"><%= show_my_job_list(post) %></span>
  </div>
</div>
