<div class="col300 inboxMess" style="background:#ffffff;border: 1px solid #DBDBDB">
  <div class="col300in" style="background:#ffffff">
    <div class="searchPInput">
      <div class="searchFri" style="height:27px;width:226px">
        <%
        if logged_in?
          path = find_people_user_friends_url(current_user) 
        else
          path = "/friends/find_people_without_login"
        end 
      %>
        <form id="action_people_search" name="search" action="<%= path %>" method="get">
          <div class="textS" style="background-image: none;">
            <input id="search_people_txt" type="text" name="search[query]" value="Search for friends" class="focus_text_field" style="height: 14px;margin-top: 3px;width: 222px;padding-top: 2px;"/>
          </div>
          <div class="btmS" style="float: right;padding-left: 0px;padding-top: 4px">
            <a id="btnFrie_submit" href="javascript:;" onclick="$('#action_people_search').submit();">
              <img src="/images/AsD-iconS.png" style="width:24px;float: right;margin-right: -22px;margin-top: -24px;"/>
            </a>
          </div>
        </form>
        <div class="people_search" style="margin-left:34px">
          <%= render :partial => "friends/people_search" %>
        </div>
      </div>
    </div>
    <div class="sugges" style="float:left;">
      Suggestions
    </div>
    <div id="suggestion_list" class="suggesList" style="float:left;width:100%;">
      <div class="suggesRow">
        <%
        if current_user
          @suggestions = current_user.suggestions
        else
          @suggestions = User.order("RAND()").limit(10)
        end
      %>
        <% @suggestions.each do |u| %>
          <div class="suggesItem" style="width:140px;">
            <div class="AsDContImg">
              <%= show_image_user_post(u) %>
            </div>
            <div class="suggesName" style="padding-top:0px">
              <%= show_user_post(u) %>
            </div>
            <div class="suggesAdd">
              <span id="friend_status_<%= u.id %>"><%= show_invite_friend(u) %></span>
            </div>

            <div class="yahoo_skype">
              <a href="ymsgr:sendim?<%= get_chat_id(u, "yahoo") %>">
                <img src="http://opi.yahoo.com/online?u=<%= get_chat_id(u, "yahoo") %>&m=g&t=0" style="border: 0 none;margin-top: 4px"/>
              </a>
              <script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
              <a href="skype:<%= get_chat_id(u, "skype") %>?chat">
                <img border="0" width="16" height="14" style="border: medium none;margin-top: 4px" src="http://mystatus.skype.com/smallicon/<%= get_chat_id(u, "skype") %>">
              </a>
            </div>

          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="friConnect" style="clear: both;padding: 5px 10px;">        
    <div class="friConnect11 <%= "friSelect" if action_name == "invite" %>" style="border-top: 1px solid #E4E4E4;padding: 6px 0 6px 24px;background: url(/images/iconF11.png) no-repeat scroll left 4px transparent;">
      <%= link_to("Invite Your Facebook Friends", "#", :id => "invite_fb_friends") %>
    </div>  
  </div>
  <div id="friends">
    <div id="fb-root"></div>

    <script src="https://connect.facebook.net/en_US/all.js"></script>

    <script>
      $(function(){
    
        $("a#invite_fb_friends").click(function() {
          FB.init({ 
            appId:'<%= Facebook::APP_ID.to_s %>', 
            cookie:false, 
            status:true
          });
      
          FB.ui({ method: 'apprequests', message: 'I found AfterClassroom as a great place for socialize and study after school, thus I would like to invite you to join.'});
        });
      });
    </script>
  </div>
</div>

<script>
  var path_people = "/friends/find_people_suggestion";
  $().ready(function(){
    $('#search_people_txt').autocomplete({
      source: function(request, response) {
        $('#btnFrie_submit').append('<%= show_ajax_loader("loader_id_fri","display: block; position: absolute; float: right; height: 19px; margin-top: -21.5px; margin-left: -20px;") %>');
        $.ajax({
          type: 'GET',
          url: path_people,
          data: {search_name: $('#search_people_txt').val()},
          success: function(data) {
            $('#search_people_list').html(data);
            $('#search_people_wrap').show();
            $('#loader_id_fri').remove();
          }
        });
      }
    });
  });
  $(document).ready(function(){
    $('#action_people_search').css({
      'position':'absolute',
      'width':'226px'
    });
    $('.suggesName a').css({
      'word-wrap': 'break-word', 
      'width': '70px',
      'float':'left',
      'overflow':'hidden',
      'height': '15px'
    });
    $('.suggesItem .AsDContImg div').css({
      'height': '52px'
    });
    $('.flistRclose').click(function(){
      $('.asslinkdownSt_UserL').hide();
    });
  });
</script>
