<div class="flistItem">
  <div class="assPic"><%= link_to "<div>#{image_tag(friend.avatar.url(:thumb))}</div>", {:controller => "profile", :action => "show_profile", :id => friend.id} %></div>
  <div class="flistInf">
    <div class="flistN"><%= link_to friend.full_name, {:controller => "profile", :action => "show_profile", :id => friend.id} %></div>
    <div class="flistS"><span>at</span><%= friend.school.name %></div>
  </div>
  <div class="flistR">
    <div class="flistRAdd">
      <a href="#">Add to List</a>
      <ul class="flistRAdd1">
        <li><input id="Family members" type="checkbox" <%= "friSelect" if action_name == "list" && @group == "family_members" %>"><%= link_to "Family members", list_user_friends_path(current_user, :group => "family_members") %></li>
        <li><input id="Friends from school" type="checkbox" <%= "friSelect" if action_name == "list" && @group == "friends_from_school" %>"><%= link_to "Friends from school", list_user_friends_path(current_user, :group => "friends_from_school") %></li>
        <li><input id="Friends from work" type="checkbox" <%= "friSelect" if action_name == "list" && @group == "friends_from_work" %>"><%= link_to "Friends from work", list_user_friends_path(current_user, :group => "friends_from_work") %></li>
        <li><input id="General Friends" type="checkbox" <%= "friSelect" if action_name == "list" && @group == "general_friends" %>"><%= link_to "General Friends", list_user_friends_path(current_user, :group => "general_friends") %></li>
      </ul>
    </div>
    <div class="flistRdelete"><a href="javascript:;" onclick="DeleteFriend('<%= friend.id %>');"> </a></div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $(".flistRAdd1").parent().append("<span></span>");
        $(".flistRAdd span").click(function() {
            $(this).parent().find(".flistRAdd1").slideDown('fast').show();
            $(this).parent().hover(function() {
            }, function(){
                $(this).parent().find(".flistRAdd1").slideUp('slow');
            });
        }).hover(function() {
            $(this).addClass("subhover");
        }, function(){
            $(this).removeClass("subhover")
        })
      $("li.mega").hoverIntent(megaConfig)
    });
    </script>
<style type="text/css">

  /* Child lists and links */
  .flistRAdd ul { display: none; border-top: 1px black solid; text-align: left; }
  .flistRAdd:hover ul {  }
  .flistRAdd ul li a { padding: 5px; height: 17px; }
  .flistRAdd ul li a:hover { background-color: #333; }
  .flistRAdd ul.flistRAdd1 {
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    background:#F6F6F6;
    border:1px solid #E3E3E3;
    display:none;
    float:left;
    /*left:0;*/
    list-style:none outside none;
    margin-top:-5px;
    padding:0;
    position:absolute;
    /*top:35px;*/
    width:170px;
  }
  .flistRAdd ul.flistRAdd1 li {
    border-bottom:1px solid #E3E3E3;
    border-top:1px solid #E3E3E3;
    clear:both;
    margin:0;
    padding:0;
    width:170px;
</style>

