<div class="flistItem">
  <div class="assPic"><%= show_image_user_post(user) %></div>
  <div class="flistInf" style="width: 195px">
    <div class="flistN"><%= link_to name, user_path(user) %></div>
    <div class="flistS"><span>at</span><%= user.school.name %></div>
    <div class="yahoo_skype">
      <a href="ymsgr:sendim?<%= get_chat_id(user, "yahoo") %>">
        <img src="/gadgets_proxy/link?url=http://opi.yahoo.com/online?u=<%= get_chat_id(user, "yahoo") %>&m=g&t=0" style="border: 0 none;margin-top: 4px"/>
      </a>
      <script type="text/javascript" src="/gadgets_proxy/link?url=http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
      <a href="skype:<%= get_chat_id(user, "skype") %>?chat">
        <img border="0" width="16" height="14" style="border: medium none;margin-top: 4px" src="/gadgets_proxy/link?url=http://mystatus.skype.com/smallicon/<%= get_chat_id(user, "skype") %>">
      </a>
    </div>
  </div>
</div>
