<% family = @user.friend_in_groups.find(:first, :conditions => ["friend_group_id = ? and user_id_friend = ?", 1, friend.id]) %>
<% if family != nil %>
<% family_checked = "checked" %>
<% else %>
<% family_checked = "" %>
<%end %>
<% school = @user.friend_in_groups.find(:first, :conditions => ["friend_group_id = ? and user_id_friend = ?", 2, friend.id]) %>
<% if school != nil %>
<% school_checked = "checked" %>
<% else %>
<% school_checked = "" %>
<%end %>
<% work = @user.friend_in_groups.find(:first, :conditions => ["friend_group_id = ? and user_id_friend = ?", 3, friend.id]) %>
<% if work != nil %>
<% work_checked = "checked" %>
<% else %>
<% work_checked = "" %>
<%end %>
<div class="flistItem">
    <div class="assPic">
        <%= show_image_user_post(friend) %>
    </div>
    <div class="flistInf">
        <div class="flistN">
            <%= show_user_post(friend) %>
        </div>
        <div class="flistS">
            <span>at</span>
            <%= friend.school.name %>
        </div>
    </div>
    <div class="flistR">
        <div class="flistRAdd">
            <a href="#"><span>Add to List</span></a>
            <ul>
                <li>
                    <input id="Family_members_<%= friend.id %>" type="checkbox"<%= family_checked %>/><%= link_to "Family members", add_to_group_user_friends_path(current_user, :group => "family_members", :friend_id => friend.id, :group_id => "1", :check_status => family_checked) %>
                </li>
                <li>
                    <input id="Friends_from_school_<%= friend.id %>" type="checkbox"<%= school_checked %>/><%= link_to "Friends from school", add_to_group_user_friends_path(current_user, :group => "friends_from_school", :friend_id => friend.id, :group_id => "2", :check_status => school_checked) %>
                </li>
                <li>
                    <input id="Friends_from_work_<%= friend.id %>" type="checkbox"<%= work_checked %>/><%= link_to "Friends from work", add_to_group_user_friends_path(current_user, :group => "friends_from_work", :friend_id => friend.id, :group_id => "3", :check_status => work_checked) %>
                </li>
            </ul>
        </div>
        <div class="flistRdelete">
            <a href="javascript:;" onclick="DeleteFriend('<%= friend.id %>');"></a>
        </div>
    </div>
</div>
<script type="text/javascript">
      $(document).ready(function(){
    
        /*BEGIN Hanle ajax call for Adding/Removing Family Member Group*/
        var strUrlFamily_<%= friend.id %> = $('#Family_members_<%= friend.id %>').next().attr('href');
        $('#Family_members_<%= friend.id %>').next().attr('href','javascript:;');
        $('#Family_members_<%= friend.id %>').next().click(function(){
          AddToWithAjax(strUrlFamily_<%= friend.id %>,'Family_members_<%= friend.id %>');
          strUrlFamily_<%= friend.id %> = UpdateURL(strUrlFamily_<%= friend.id %>);
        });
        $('#Family_members_<%= friend.id %>').click(function(){
          AddToWithAjax(strUrlFamily_<%= friend.id %>,null);
          strUrlFamily_<%= friend.id %> = UpdateURL(strUrlFamily_<%= friend.id %>);
        });
        /*END Hanle ajax call for Adding/Removing Family Member Group*/
    
        /*BEGIN Hanle ajax call for Adding/Removing Friend From School Group*/
        var strUrlFriend_<%= friend.id %> = $('#Friends_from_school_<%= friend.id %>').next().attr('href');
        var status = false;
        $('#Friends_from_school_<%= friend.id %>').next().attr('href','javascript:;');
        $('#Friends_from_school_<%= friend.id %>').next().click(function(){
          AddToWithAjax(strUrlFriend_<%= friend.id %>,'Friends_from_school_<%= friend.id %>');
          strUrlFriend_<%= friend.id %>=UpdateURL(strUrlFriend_<%= friend.id %>);
        });
        $('#Friends_from_school_<%= friend.id %>').click(function(){
          AddToWithAjax(strUrlFriend_<%= friend.id %>,null);
          strUrlFriend_<%= friend.id %>=UpdateURL(strUrlFriend_<%= friend.id %>);
        });
    
        /*END Hanle ajax call for Adding/Removing Friend From School Group*/
    
        /*BEGIN Hanle ajax call for Adding/Removing Friend From Work Group*/
        var strUrlWork_<%= friend.id %> = $('#Friends_from_work_<%= friend.id %>').next().attr('href');
        $('#Friends_from_work_<%= friend.id %>').next().attr('href','javascript:;');
        $('#Friends_from_work_<%= friend.id %>').next().click(function(){
          AddToWithAjax(strUrlWork_<%= friend.id %>,'Friends_from_work_<%= friend.id %>');
          strUrlWork_<%= friend.id %>=UpdateURL(strUrlWork_<%= friend.id %>);
        });
        $('#Friends_from_work_<%= friend.id %>').click(function(){
          AddToWithAjax(strUrlWork_<%= friend.id %>,null);
          strUrlWork_<%= friend.id %>=UpdateURL(strUrlWork_<%= friend.id %>);
        });
        /*END Hanle ajax call for Adding/Removing Friend From Work Group*/
      });
</script>
