<% content_for :menu_top_student_lounge do -%>
<%= render :partial => 'submenu' %>
<% end -%>
<div class="contMainC">
    <%= render :partial => "leftmenu" %>
</div>
<div class="contMainL">
    <div class="col451 Friend">
        <div class="col451in">
            <div class="col451Cont">
                <h2 class="titleH2">We'd like to help you find your friends</h2>
                <%= display_flash_messages_with_raw %>
                <div class="friCont">
                    Your friends on AfterClassroom are the same friends, acquaintances and family members that you communicate with in the real world. You can use any of the tools on this page to find more friends.
                </div>
                <%= render :partial => "mailbox_list" %>
                <div class="findPeo">
                    <div class="findTop">
                        <div class="findLeft">
                            Invite friends from email accounts
                        </div>
                    </div>
                    <div class="findDes">
                        Searching your email account is the fastest way to find your friends on AterClassroom
                    </div>
                    <%= render :partial => "mail_form" %>
                    <div class="findPass">
                        AfterClassroom will not store your password.<!--<a href="#">Learn more</a>-->
                    </div>
                </div>
                <div class="sugges">
                    Suggestions
                </div>
                <div class="suggesDes">
                    Add people you know as friends and become a fan of public profiles you like
                </div>
                <div class="suggesList">
                    <div class="suggesRow">
                        <% @user_suggestions.each do |u| %>
                        <% if current_user != u %>
                        <div class="suggesItem">
                            <div class="AsDContImg">
                                <%= show_image_user_post(u) %>
                            </div>
                            <div class="suggesName">
                                <%= show_user_post(u) %>
                            </div>
                            <div class="suggesAdd">
                                <span id="friend_status_<%= u.id %>"><%= show_invite_friend(u) %></span>
                            </div>
                        </div>
                        <% end %>
                        <% end %>
                    </div>
                </div>
                <div class="searchfind">
                    <div class="searchP">
                        <div class="searchPtitle">
                            Search for People
                        </div>
                        <div class="searchPInput">
                            <div class="search" style="height:27px;width: 193px">
                                <form id="action_people_search" name="search" action="<%= find_people_user_friends_path(current_user) %>" method="get">
                                    <div class="textS">
                                        <input type="text" name="search[query]" value="Enter your search keywords..." onblur="this.value = this.value || this.defaultValue;" onfocus="this.value = '';" style="height: 14px;margin-top: 3px;width: 167px;"/>
                                    </div>
                                    <div class="btmS">
                                        <a href="javascript:;" onclick="$('#action_people_search').submit();"><img src="/images/iconSF.png"/></a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contMainR">
    <!--Ads-->
    <%= render :partial => "ads/show_vertical_ads" %>
    <!--Ads-->
</div>
