<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => 'submenu' %>
<% end -%>

<div class="contMainC">
  <%= render :partial => "leftmenu" %>
</div>
<div class="contMainL">
  <div class="col451 FriendInvite">
    <div class="col451in">
      <div class="col451Cont">
        <h1 class="titleH1">Friend Requests</h1>
        <div id="friend_list">
          <% @invites.each do |i| %>
            <div class="flistItem" id="friend_request_<%= i.id %>">
              <div class="assPic"><%= show_image_user_post(i) %></div>
              <div class="flistInf">
                <div class="flistN"><%= show_user_post(i) %></div>
                <div class="flistS"><span>at</span><%= i.user.school.name %></div>
              </div>
              <div class="asslinkdown">
                <div class="support"><%= link_to "Accept", accept_user_friends_path(current_user, :invite_id => i.id), :remote => true %></div>
                <div class="support"><%= link_to "No Accept", de_accept_user_friends_path(current_user, :invite_id => i.id), :remote => true %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contMainR">
  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->
</div>
