<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => 'submenu' %>
<% end -%>

<div class="contMainC">
  <%= render :partial => "leftmenu" %>
</div>
<div class="contMainL">
  <div class="col451 FriendInvite">
    <div class="col451in">
      <div class="col451Cont">
        <h1 class="titleH1">Friend Requests</h1>
        <div id="friend_list">
          <% @invites.each do |i| %>
          <div class="flistItem" id="friend_request_<%= i.id %>">
              <div class="assPic"><%= link_to "<div>#{image_tag(i.user.avatar.url(:thumb))}</div>", {:controller => "profile", :action => "show_profile", :id => i.user.id} %></div>
              <div class="flistInf">
                <div class="flistN"><%= link_to i.user.full_name, {:controller => "profile", :action => "show_profile", :id => i.user.id} %></div>
                <div class="flistS"><span>at</span><%= i.user.school.name %></div>
              </div>
              <div class="asslinkdown">
                <div class="support"><%= link_to_remote "Accept", :url => accept_user_friends_path(current_user), :with => "invite_id=#{i.id}", :complete => "$('#friend_request_#{i.id}').remove" %></div>
                <div class="support"><%= link_to_remote "Deaccept", :url => de_accept_user_friends_path(current_user), :with => "invite_id=#{i.id}", :complete => "$('#friend_request_#{i.id}').remove" %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contMainR">
  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->
</div>
