<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => 'submenu' %>
<% end -%>

<div class="contMainC">
  <%= render :partial => "leftmenu" %>
</div>
<div class="contMainL">
  <div class="col451 FriendAll">
    <div class="col451in">
      <div class="col451Cont">
        <h1 class="titleH1">All connection</h1>
        <div id="friend_list">
          <%= display_flash_messages %>
          <% @friends.each do |f| %>
            <%= render :partial => "item", :locals => {:friend => f} %>
          <% end %>

          <!--Pagination-->
          <div class="assPage">
            <span class="numPage"><%= page_entries_info @friends %></span>
            <%= will_paginate @friends %>
          </div>
          <!--Pagination-->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contMainR">
  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->
</div>

<!--Alert-->
<div id="delete_alert" title="Alert" style="display:none;">
  <% form_tag delete_user_friends_path(current_user), {:id => "delete_form"} do %>
    <%= hidden_field_tag "user_id_friend", "" %>
    Are you sure?
  <% end %>
</div>
<!--Alert-->

<script type="text/javascript">
  function DeleteFriend(friend_id){
    $("#user_id_friend").val(friend_id);
    $("#delete_alert").dialog({
      modal: true,
      buttons: {
        Ok: function() {
          $("#delete_form").submit();
        },
        Cancel: function() {
          $(this).dialog('close');
        }
      }
    });
  }

</script>
