<div id="send_invite_message_alert" style="display:none">
  You sended invite message to <%= @full_name %>.
</div>
<div id="send_invite_message">
  <form name="form_send_invite">
      <ul>
        <li>
          <label>Message</label>
          <div class="user_ri">
            <textarea cols="25" rows="7" id="message_<%= @user_invite %>"></textarea>
          </div>
        </li>
      </ul>
      <!-- post  button -->
      <a href="javascript:sendInviteMessage(<%= @user_invite %>)" title="Send" class="btfr link_bt" style="margin: 4px 20px 0px 0px;">
        <span class="ltred_l"></span>
        <span class="ltred_c btf">Send invite message to <%= @full_name %></span>
        <span class="ltred_r"></span>
      </a>
      <!-- end post button -->
      <input type="hidden" id="user_id_friend_<%= @user_invite %>" value="<%= @user_invite %>" />
    </form>
</div>