<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => 'submenu' %>
<% end -%>

<div class="contMainC">
  <%= render :partial => "leftmenu" %>
</div>
<div class="contMainL">
  <div class="col451 FriendInvite">
    <div class="col451in">
      <div class="col451Cont">
        <h1 class="titleH1">Invite Friends to join AfterClassroom</h1>
        <%= display_flash_messages_with_raw %>
        <%= form_tag invite_by_list_email_user_friends_path(current_user), :id => "list_email" do %>
        <div class="fInvFrom">
          <div class="fInvTxt">From</div>
          <div class="fInvIn"><%= current_user.full_name %> <%= raw("&#60;#{current_user.email}&#62;") %></div>
        </div>
        <div class="fInvTo">
          <div class="fInvTxt">To<br/><span>(use commas to separate emails)</span></div>
          <div class="fInvIn"><%= text_area_tag "email_list", nil, :rows => 2, :cols => 20 %></div>
          <label for="email_list" generated="true" class="myerror" style="display: none;">Please recorrect: </label>
        </div>
        <div class="fInvMess">
          <div class="fInvTxt">Message<br/><span>(optional)</span></div>
          <div class="fInvIn"><%= text_area_tag "content", nil, :rows => 2, :cols => 20 %></div>
        </div>
        <div class="fInvites">Invites will be sent in English (US)<!--<a href="#">[change]</a>--></div>
        <div class="fInvBtm">
          <div class="fInvBtmInvite"><a href="javascript:;" id="submitInviteForm">Invite</a></div>
        </div>
        <div class="fInvites">AfterClassroom will send each person above an invite in your name asking them to join AfterClassroom.<!--<a href="#">See Example</a>--></div>
        <% end %>
        <div class="import"><a href="#">Import Email Addresses</a></div>
        <div class="importD">from almost any online email service to invite your friends.</div>
        <%= render :partial => "mailbox_list" %>
        <%= form_for :mail_account, @mail_account, :url => show_list_email_contacts_user_friends_path(current_user), :remote => true, :html => {:id => "form_account_email"} do |f| %>
          <div class="error" style="padding: 10px; display:none;"></div>
          <div class="findItem">
            <div class="findText">Your Email*</div>
            <div class="findIn"><%= f.text_field :login, :style => "width:150px", :class => '{validate:{required:true}}' %><span id="mail_type_span"><%= render :partial => "mail_type" %></span></div>
          </div>
          <div class="findItem">
            <div class="findText">Email Password*</div>
            <div class="findIn"><%= f.password_field :password, :style => "width:150px", :class => "{validate:{required:true}}" %></div>
          </div>
          <div class="findPass">AfterClassroom will not store your password.</div>
           <div class="fInvBtm">
          <div class="fInvBtmInvite" id="invite_button"><a href="javascript:;" onclick="$('#form_account_email').submit();">Invite</a></div>
        </div>
        <div class="fInvites">AfterClassroom will send each person above an invite in your name asking them to join AfterClassroom.<!--<a href="#">See Example</a>--></div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="contMainR">
  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->
</div>

<!--Alert-->
<div id="dialog-contact-list" title="Send invite" style="display:none;">
  <div class="fInvMess">
            <div class="fInvTxt">Message<br/><span>(optional)</span></div>
            <div class="fInvIn"><%= text_area_tag "content", nil, :rows => 1, :cols => 20 %></div>
          </div>
<div class="fInvMess">
            <div class="fInvTxt">Contacts</div>
          </div>
<div style="height:150px;overflow:auto;"><ul id="contacts_list"></ul></div>
</div>
<div id="dialog-error-message" title="Alert" style="display:none;">
  <p>
    Failure!
  </p>
</div>
<div id="dialog-alert-message" title="Alert" style="display:none;">
  <p>
    Username or password are incorrect!
  </p>
</div>
<!--Alert-->

<script type="text/javascript">
  $(document).ready(function(){
    $('#submitInviteForm').click(function(){
      submitFormInvite();
    });
  });

  function submitFormInvite(){
    
    if ($('#email_list').val() == "" ){
      $('label.myerror').html('Please enter email address');
      $('label.myerror').show();
      return;
    }
    
    var substr = $('#email_list').val().split(',');
    
    var wrongEmail = "";
    var count = 0;jQuery.parseJSON( json )
    for (i=0; i<substr.length; i++){
      if (validateEmail(substr[i]) == false){
        
        if (wrongEmail == ""){
          wrongEmail = substr[i];
        }
        else{
          wrongEmail = wrongEmail +',' + substr[i];
        }
          
      } else {
        count ++;
      }
    }
    if (count == substr.length){
      $('label.myerror').hide();
      $("#list_email").submit();
    } else {
      $('label.myerror').html('Please recorrect: '+wrongEmail);
      $('label.myerror').show();
    }
  }
  
function validateEmail($email) {
	var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
	if( !emailReg.test( $email ) ) {
		return false;
	} else {
		return true;
	}
}

function SendInvite(){
    var result = $("#form_account_email").validate({
        meta: "validate"
    });
    if (result) {
        $("#form_account_email").submit();
    }
}

  $(document).ready(function() {
    $("#form_account_email")
      .bind('ajax:beforeSend', function() {
				 $("#invite_button").prepend('<%= show_ajax_loader("ajax_load", "background: white;  position: absolute;  width: 18px; margin-left: -22px; margin-top: 4px;") %>');
			})
      .bind('ajax:success', function(evt, data, status, xhr) {
				var contacts = data;
				if(countProperties(contacts) > 0){
					$('#contacts_list').append('<li><input type="checkbox" value="" name="check_all" class="checkAll"> Check all </li>');
					for(var key in contacts){
						str = '<li><input class="cb-element" type="checkbox" value="' + contacts[key][1] + '" name="contacts[]">' + contacts[key][1];
						if((contacts[key][0] + "") != "null"){						
							str = str + '(' + contacts[key][0] + ')';
						}
						str = str + '</li>';
						$('#contacts_list').append(str);
					}
					$("#dialog-contact-list").dialog({
					width:'500px',
		      modal: true,
		      buttons: {
		        Send: function() {
		          $('#msg_form').submit();
		        },
		        Cancel: function() {
		          $(this).dialog('close');
		        }
		      }
		    });
						
				}else{
						$("#dialog-alert-message").dialog({
				    modal: true,
				    buttons: {
				      Ok: function() {
				        $(this).dialog('close');
				      }
				    }
				  });
				}
			})
      .bind('ajax:error', function(xhr, status, error) {
					$("#dialog-error-message").dialog({
		      modal: true,
		      buttons: {
		        Ok: function() {
		          $(this).dialog('close');
		        }
		      }
		    });
			})
      .bind('ajax:complete', function() {
			$("#ajax_load").remove();			
		});
  });
$( function() {
    $( '.checkAll' ).live( 'change', function() {
      $( '.cb-element' ).attr( 'checked', $( this ).is( ':checked' ) ? 'checked' : '' );
      $( this ).next().text( $( this ).is( ':checked' ) ? 'Uncheck All' : 'Check All' );
    });
    $( '.invertSelection' ).live( 'click', function() {
      $( '.cb-element' ).each( function() {
        $( this ).attr( 'checked', $( this ).is( ':checked' ) ? '' : 'checked' );
      }).trigger( 'change' );

    });
    $( '.cb-element' ).live( 'change', function() {
      $( '.cb-element' ).length == $( '.cb-element:checked' ).length ? $( '.checkAll' ).attr( 'checked', 'checked' ).next().text( 'Uncheck All' ) : $( '.checkAll' ).attr( 'checked', '' ).next().text( 'Check All' );

    });
  });
function countProperties(obj) {
  var prop;
  var propCount = 0;
  
  for (prop in obj) {
		if (obj.hasOwnProperty(prop)) propCount++;
  }
  return propCount;
}
</script>
