<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => 'submenu' %>
<% end -%>

<div class="contMainC">
  <%= render :partial => "leftmenu" %>
</div>
<div class="contMainL">
  <div class="col451 FriendBro">
    <div class="col451in">
      <div class="col451Cont">
        <div class="flist">
          <div class="flistCr"><a href="#"><%= @group.name %></a></div>
          <div class="Browse">
            <div>Browse by</div>
            <div>
              <form name="select_list" id="select_list" action="">
                <%= select_tag "group", options_for_select(FriendGroup.find(:all).collect {|f| [ f.name, f.label ]}, @group.label), :onchange => "$('#select_list').submit();" %>
              </form>
            </div>
          </div>
        </div>
        <div class="flistBt">Use the dropdown menu above to browse your friends by list.</div>
        <% @friend_in_groups.each do |f| %>
          <div class="flistItem">
            <div class="assPic"><%= link_to "<div>#{image_tag(f.avatar.url(:thumb))}</div>", {:controller => "profile", :action => "show_profile", :id => f.id} %></div>
            <div class="flistInf">
              <div class="flistN"><%= link_to f.full_name, {:controller => "profile", :action => "show_profile", :id => f.id} %></div>
              <div class="flistS"><span>at</span><%= f.school.name %></div>
            </div>
            <div class="flistR">
              <div class="flistREdit"><a href="#"> </a></div>
              <div class="flistRdelete"><a href="#"> </a></div>
            </div>
        </div>
        <% end %>
        
        <!--Pagination-->
          <div class="assPage">
            <span class="numPage"><%= page_entries_info @friend_in_groups %></span>
            <%= will_paginate @friend_in_groups %>
          </div>
          <!--Pagination-->
      </div>
    </div>
  </div>
</div>

<div class="contMainR">
  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->
</div>