<%= fields_for @post do |post| %>
  <%= display_flash_messages_with_raw %>
  <div class="postReq">*(asterisk) is required.</div>
  <div class="postItem">
    <div class="postTit">Your question*</div>
    <div class="postInp"><%= post.text_field :title, :class => '{validate:{required:true}}', :style => "width:360px;" %></div>
  </div>
  <div class="postItem">
    <div class="postTit">Content*</div>
    <div class="postInput">
      <div class="postInp">
				<%= post.text_area :description, :id => "kindeditor", :style => "height: 150px" %>
				<label for="kindeditor" id="kindeditor_error" class="error" style="display:none;">This field is required.</label>
			</div>
    </div>
  </div>
	<div class="postItem">
    <div class="postTit">Anonymous</div>
		<div class="postInput">
      <div class="postInp">
				<%= f.check_box :anonymous %>
			</div>
    </div>
  </div>
  <%= render :partial => "/shared/form_post/select_school" %>
  <%= render :partial => "/shared/form_post/select_department", :locals => {:post => post} %>
  <%= render :partial => "/shared/form_post/select_school_year", :locals => {:post => post} %>
  <%= render :partial => "/shared/form_post/email" %>
  <%= render :partial => "/shared/form_post/select_tag" %>
<% end %>
