<div class="col300 Request">
  <div class="col300in">
    <h1 class="col300Title">Got questions? Ask experts now</h1>
    <div class="col300Cont">
      <%= form_for :post_qa, :url => {:action => "create"}, :html =>{:multipart => true, :id => "form_post"} do |f| %>
        <%= fields_for :post do |p| %>
          <%= render :partial => "/shared/form_request_post/select_department", :locals => {:p => p} %>
          <%= render :partial => "/shared/form_request_post/select_school_year", :locals => {:p => p} %>
          <div class="reqLa"><label>Your question*</label></div>
          <div class="reqTi"><%= p.text_field :title %></div>
          <div class="reqLa"><label>Content*</label></div>
          <div class="reqEn"><%= text_area_tag "post[description]" %></div>
          <%= render :partial => "/shared/form_request_post/select_tag" %>
		  <%= show_simple_captcha(:label => "CAPTCHA Code *") %>
          <div class="submit"><%= show_submit_form() %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
