<div class="AsDContBtm">
  <span class="btmAns"><a href="javascript:;" onclick="$('#form_comment').toggle('slow');">Answer this question</a></span>
  <span class="btmPre"><%=  show_refer_to_experts(post) %></span>
  <span class="btmShare"><%= addthis_bookmark_button { "<span>Share</span>" } %></span>
  <span class="btmFav" id="item_favorite_<%=  post.id %>"><%= show_favorite_in_detail("Post", post) %></span>
  <span class="btmAbuse"><%= show_report_abuse(post) %></span>
</div>
