<% content_for :you_are_here do -%>
  You are here: <a href="/">Home</a><%= link_to "Q&A", post_qas_path, :class => "abLink-detail" %><%= link_to "New", "javascript:;", :class => "abLink-detail" %>
<% end -%>

<% content_for :post_button do -%>
  <%= render :partial => 'shared/post_button', :locals => {:new_post_path => @new_post_path} %>
<% end -%>

<% content_for :menu_sub do -%>
  <%= render :partial => "submenu" %>
<% end -%>

<!--Content-->
<div class="contDetL">
  <div class="contDetLin post">
    <div class="AsDTop">
      <h1 class="titleH1">Posting to the world!</h1>
    </div>
    <div class="postCont">
    	<%= display_flash_messages_with_raw %>
      <%= form_for(@post_qa, :html => {:multipart => true, :id => "form_post" }) do |f| %>
        <%= render :partial => "form", :locals => {:f => f} %>
		<div style="margin-left:120px">
		  	<%= show_simple_captcha(:label => "CAPTCHA Code *") %>
		</div>
        <div class="submit"><a href="javascript:;" onclick="submitt();"><%= submit_tag 'Submit' %></a></div>
      <% end %>
    </div>
  </div>
</div>

<div class="contMainR">
  <!--Browser by Subject-->
  <%= render :partial => "shared/browser_by_subject" %>
  <!--Browser by Subject-->

  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->

  <!--Recent Request Qas-->
  <%= render :partial => "recent_request_qas" %>
  <!--Recent Request Qas-->
</div>
<!--Content-->
<script>
  function submitt(){
    var result = $("#form_post").validate({
        meta: "validate"
    });
    if (result) {
        $("#form_post").submitt();
    }
}
</script>