<% content_for :you_are_here do -%>
  You are here: <a href="/">Home</a><%= link_to "Q.As", post_qas_path, :class => "abLink-detail" %><%= link_to "Detail", "#", :class => "abLink-detail" %>
<% end -%>

<% content_for :post_button do -%>
  <%= render :partial => 'shared/post_button', :locals => {:new_post_path => @new_post_path} %>
<% end -%>

<% content_for :menu_sub do -%>
  <%= render :partial => "submenu" %>
<% end -%>

<!--Content-->
<div class="contDetL">
  <div class="contDetLin QasDetail">
    <div class="AsDTop">
      <h1 class="titleH1">Q.As details</h1>
      <div class="AsDsearch">
        <%= render :partial => "shared/search_indetail", :locals => {:url_search => post_qas_path} %>
      </div>
    </div>
    <div class="AsDCont">
      <div class="AsDContL">
        <h2 class="titleH2"><%= @post.title %></h2>
        <div class="AsDContLin">in<span><%= link_to @post.post_category.name, post_qas_path %></span></div>
        <div class="AsDContLask">asked by<%= link_to @post.user.full_name, {:controller => "profile", :action => "show_profile", :id => @post.user.id} %>- <%= time_ago_in_words(@post.created_at, true) + " ago." %></div>
        <div class="AsDContLdes"><span>Description:</span>><%= @post.description %></div>
      </div>
      <%= render :partial => "shared/user_infor", :locals => {:user => @post.user, :post => @post} %>
      <%= render :partial => "post_actions", :locals => {:post => @post} %>
    </div>

    <div class="AsDcom" id="form_comment" style="display: none">
      <h1 class="titleH1">Leave your answer</h1>
      <% if logged_in? %>
        <div class="AsDcomImg"><%= link_to "<div>#{image_tag(current_user.avatar.url(:thumb))}</div>", {:controller => "profile", :action => "show_profile", :id => current_user.id} %></div>
        <div class="AsDcomIn">
          <form name="form_comment" id="form_comment" action="" method="get">
            <div class="AsDcomTxt"><textarea name="comment" id="comment"></textarea></div>
            <div class="submit"><a href="javascript:;" onclick="send_answer('<%= @post.id %>');" >Submit</a></div>
          </form>
        </div>
      <% else %>
        You must be <%= link_to "logged in", login_url %> to post an answer.
      <% end %>
    </div>
    <div class="AsDcomL">
      <% if @post.comments.size > 0 %>
        <div class="AsDcomLW">
          <span>View</span>
          <span><%= select_tag "show", options_for_select([["All Answers", "0"], ["Oldest to Newest", "1"], ["Newest to Oldest", "2"], ["Rated Highest to Lowest", "3"]]) %></span>
        </div>
        <div id="list_comments">
          <h1 class="titleH1"><a href="javascript:;">Answers (<%= @post.comments.size %>)</a></h1>
          <% @post.comments.each do |c| %>
            <%= render :partial => "item_answer", :locals => {:comnt => c} %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="goback" id="go_back"><%= show_go_back %></div>
    <div class="comPage">
      <span class="compre"><%= link_to "", post_qa_path(@prev) if @prev %> </span>
      <span class="comnext"><%= link_to "", post_qa_path(@next) if @next %></span>
    </div>
    <div class="AsDOr">
      <h1 class="titleH1">Related Requests Q.As in Q.As Category</h1>
      <% PostQa.related_posts(@school).each do |p| %>
        <div class="AsDOrItem"><%= link_to p.title, post_qa_path(p) %></div>
      <% end %>
    </div>
    <div class="goTop"><a href="javascript:;" onclick="goToByScroll('top_page')">Top</a></div>
  </div>
</div>

<div class="contMainR">
  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->

  <!--Request QAs-->
  <%= render :partial => "form_request_qa" %>
  <!--Request QAs-->

  <!--Recent Request QAs-->
  <%= render :partial => "recent_request_qas" %>
  <!--Recent Request QAs-->
</div>
<!--Content-->
<%= observe_field(:show,
  :url => { :action => :show_comment },
  :frequency => 0.5,
  :update => :list_comments,
  :with => "'show=' + value + '&post_id=#{@post.id}'")
%>

