<div class="postItem">
  <% fields_for :letter do |builder1| %>
    <div class="postTit"><%= builder1.label :category, "Cover letter" %><%= builder1.hidden_field :category, :value => "Cover letter" %></div>
    <div id="divinputfile" style="margin-top:-2px">
      <%= builder1.file_field :resume_cv, :size => "39", :class => "filepc", :style => "margin-left:-213px"    %>
      <div id="fakeinputfile" style="margin-top:0px"><input name="fakefilepc" type="text" id="fakefilepc" /></div>
    </div>
  <% end %>
</div>

<div class="postItem">
  <% fields_for :transcript do |builder2| %>
    <div class="postTit"><%= builder2.label :category, "Transcript" %><%= builder2.hidden_field :category, :value => "Transcript" %></div>
    <div id="divinputfile" style="margin-top:-2px">
      <%= builder2.file_field :resume_cv, :size => "39", :class => "filepc", :style => "margin-left:-213px"    %>
      <div id="fakeinputfile" style="margin-top:0px"><input name="fakefilepc" type="text" id="fakefilepc" /></div>
    </div>
  <% end %>
</div>

<div class="postItem">
  <% fields_for :resume do |builder3| %>
    <div class="postTit"><%= builder3.label :category, "Resume*" %><%= builder3.hidden_field :category, :value => "Resume" %></div>
    <div id="divinputfile" style="margin-top:-2px">
      <%= builder3.file_field :resume_cv, :size => "39", :class => "filepc", :style => "margin-left:-213px"    %>
      <div id="fakeinputfile" style="margin-top:0px"><input name="fakefilepc" type="text" id="fakefilepc" /></div>
    </div>
  <% end %>
</div>

<script language="javascript">
  $(document).ready(function(){
    $("#letter_resume_cv").change(function(){
      var coverletter = this.value;
      $("#letter_resume_cv").siblings().each(function(){

        $(this).html("<input name='fakefilepc' id='fakefilepc' type='text' value='"+coverletter+"'/>");
      });
    });
    
    $("#transcript_resume_cv").change(function(){
      var transcript = this.value;
      $("#transcript_resume_cv").siblings().each(function(){

        $(this).html("<input name='fakefilepc' id='fakefilepc' type='text' value='"+transcript+"'/>");
      });
    });
    $("#resume_resume_cv").change(function(){
      var resume = this.value;
      $("#resume_resume_cv").siblings().each(function(){

        $(this).html("<input name='fakefilepc' id='fakefilepc' type='text' value='"+resume+"'/>");
      });
    });
  });
</script>