<div class="postItemReCV" style="margin-top: -3px;">
    <%= fields_for :letter do |builder1| %>
    <div class="postTitt">
        <%= builder1.label :category, "Cover letter" %><%= builder1.hidden_field :category, :value => "Cover letter" %>
    </div>
    <div class="postItemA">
        <div id="divinputfile" style="margin-left:120px;">
            <div class="postItemC">
                <%= builder1.file_field :resume_cv, :onchange => "$('#fakefilepc0').val(this.value);", :size => "39", :class => "filepc", :style => "height:24px;width:282px;" %>
            </div>
            <div class="postUpfile">
                <div id="fakeinputfile">
                    <input name="fakefilepc" type="text" id="fakefilepc0" style="margin-top:-3px"/>
                </div>
            </div>
        </div>
    </div><% end %>
</div>
<div class="postItemReCV" style="margin-top: -3px;">
    <%= fields_for :transcript do |builder2| %>
    <div class="postTitt">
        <%= builder2.label :category, "Transcript" %><%= builder2.hidden_field :category, :value => "Transcript" %>
    </div>
    <div class="postItemA">
        <div id="divinputfile" style="margin-left:120px;">
            <div class="postItemC">
                <%= builder2.file_field :resume_cv, :onchange => "$('#fakefilepc1').val(this.value);", :size => "39", :class => "filepc", :style => "height:24px;width:282px;" %>
            </div>
            <div class="postUpfile">
                <div id="fakeinputfile">
                    <input name="fakefilepc" type="text" id="fakefilepc1" style="margin-top:-3px;"/>
                </div>
            </div>
        </div>
    </div><% end %>
</div>
<div class="postItemReCV" style="margin-top: -3px;">
    <%= fields_for :resume do |builder3| %>
    <div class="postTitt">
        <%= builder3.label :category, "Resume*" %><%= builder3.hidden_field :category, :value => "Resume" %>
    </div>
    <div class="postItemA">
        <div id="divinputfile" style="margin-left:120px;">
            <div class="postItemC">
                <%= builder3.file_field :resume_cv, :onchange => "$('#fakefilepc2').val(this.value);", :size => "39", :class => "filepc {validate:{required:true}}", :style => "height:24px;width:282px;" %>
            </div>
            <div class="postUpfile">
                <div id="fakeinputfile">
                    <input name="fakefilepc" type="text" id="fakefilepc2" style="margin-top:-3px;"/>
                </div>
            </div>
        </div>
    </div><% end %>
</div>