<% cache "select_department_post_#{@school}" do %>
  <div class="postItemDep">
    <div class="postTit">Program</div>
    <div class="postDep"><%= post.text_field :department_id, :id => "department" %></div>
  </div>
  <% depcate = DepartmentCategory.find(:all, :order => "department_categories.name ASC") %>

  <ul id="department_menu" class="mcdropdown_menu">
    <li rel_department="">
      Choose program
    </li>
    <% depcate.each do |dc| %>
      <li rel="category_id_<%= dc.id %>">
        <%= dc.name %>
        <% departments = dc.departments.order("name ASC") %>
        <ul>
          <% departments.each do |dp| %>
            <li rel_department="<%= dp.id %>">
              <%= dp.name %>
            </li>
          <% end %>
        </ul>
      </li>    
    <% end %>
  </ul>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#department").mcDropdown("#department_menu", {
        width: 275,
        valueAttr: "rel_department"    
      });
    });
    $(document).ready(function(){
      $('#department_menu,#year_menu').hover(function() {
        $(this).stop().show();
      }, function() {
        $(this).stop().hide();
      });
    });
    $(document).ready(function(){
      $('div.postItemDep').hover(function() {
      }, function() {
        $('#department_menu,#year_menu').stop().hide();
      });
    });
  </script>
<% end %>
