<div class="postItemDep">
  <div class="postTit">Program</div>
  <div class="postDep"><%= post.text_field :department_id, :id => "department" %></div>
</div>
<ul id="department_menu" class="mcdropdown_menu">
  <%
  departments = Department.of_school(@school)
%>
  <li rel_department="">
    Choose program
  </li>
  <%
  category_id = ""
%>
  <% departments.each do |dp| %>
    <% if category_id == "" %>
      <li rel="category_id_<%= dp.department_category.id %>">
        <%= dp.department_category.name %>
        <ul>
          <li rel_department="<%= dp.id %>"><%= dp.name %></li>
        <% elsif category_id == dp.department_category.id %>
          <li rel_department="<%= dp.id %>"><%= dp.name %></li>
        <% else %>
        </ul>
      </li>
      <li rel="category_id_<%= dp.department_category.id %>">
        <%= dp.department_category.name %>
        <ul>
          <li rel_department="<%= dp.id %>"><%= dp.name %></li>
        <% end %>
        <% category_id = dp.department_category.id %>
      <% end %>
    </ul>
  </li>
</ul>
<script type="text/javascript">
    $(document).ready(function(){
        $("#department_id").mcDropdown("#department_menu", {
            width: 275,
            valueAttr: "rel_department"
        });
    });
</script>
