<html>
  <body>
    <div id="detail_window">
       Hello <%= @user.name %>, <br/>


<a href="<%= user_url(@tag_creator) %>"><%= @tag_creator.name %></a> has tagged you to <a href="<%= user_video_url(@video.user, @video) %>"><%= @video.title %></a>.<br/>

     
      Yours sincerely, <br/>
      Afterclassroom Support Team.
      
    </div>  
  </body>
</html>
