<html>
  <body>
    <div id="detail_window">
       Hello <%= @video.user.name %>, <br/>

On your <a href="<%= user_video_url(@video.user, @video) %>"><%= @video.title %></a>, a tag of 

you has been added by <a href="<%= user_url(@creator) %>"><%= @creator.name %></a>. <br/>

      Yours sincerely, <br/>
      Afterclassroom Support Team.
      
    </div>  
  </body>
</html>
