<html>
  <body>
    <div id="detail_window">
       Hello <%= @tag_creator.name %>, <br/>


Please wait for <a href="<%= user_url(@video.user) %>"><%= @video.user.name %></a> to authorize your tag of <a href="<%= user_url(@user) %>"><%= @user.name %></a> at <a href="<%= user_video_url(@video.user, @video) %>"><%= @video.title %></a>.<br/>
       
      
      
      Yours sincerely, <br/>
      Afterclassroom Support Team.
      
    </div>  
  </body>
</html>
