<% content_for :header do -%>
	Education categories
<% end -%>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for education_category in @education_categories %>
  <tr>
    <td><%=h education_category.name %></td>
    <td><%= link_to 'Show', education_category %></td>
    <td><%= link_to 'Edit', edit_education_category_path(education_category) %></td>
    <td><%= link_to 'Destroy', education_category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New education_category', new_education_category_path %>
