<div class="col300 requestMyX">
  <div class="col300in">
    <h1 class="col300Title">Post to rate your professor/Teacher</h1>
    <div class="col300Cont">
			<% if !logged_in? %>
			<div class="reqLa"><label style="color:red">This option is only available to registered users</label></div>
			<% end %>
      <%= form_for :post_myx, :url => {:action => "create"}, :html =>{:multipart => true, :id => "form_post"} do |f| %>
        <%= fields_for :post do |p| %>
          <%= render :partial => "/shared/form_request_post/select_department", :locals => {:p => p} %>
          <%= render :partial => "/shared/form_request_post/select_school_year", :locals => {:p => p} %>
          <%= render :partial => "/shared/form_request_post/title", :locals => {:p => p} %>
          <%= render :partial => "/shared/form_request_post/description", :locals => {:p => p} %>
          <div class="reqLa"><label>Professor*</label></div>
          <div class="reqTi"><%= f.text_field :professor, :class => "{validate:{required:true}}" %></div>
					<div class="reqLa">
				            <label>
				                Post as anonymous <%= f.check_box :anonymous %> 
				            </label>
				        </div>
          <%= render :partial => "/shared/form_request_post/file", :locals => {:p => p, :only_img => true} %>
          <%= render :partial => "/shared/form_request_post/select_tag" %>
		  		<%= show_simple_captcha(:label => "CAPTCHA Code *") %>
          <div class="submit" style="margin-top: 5px;"><%= show_submit_form() %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<script>
    $(function() {
	$('#department_menu,#year_menu').hover(function() {
		$(this).stop().show();
	}, function() {
		$(this).stop().hide();
	});
    });
    $(function() {
	$('div.reqLa,div.col300Cont').hover(function() {
	}, function() {
		$('#department_menu,#year_menu').stop().hide();
	});
    });
</script>
