<div class="assItem">
  <div class="assItemL">
    <div class="assImg"><div><%= link_to image_tag("/images/icons/icon_defaut/icon_MyX_016.png"), post %></div></div>
    <div class="assContT">
      <h2 class="titleH2"><%= link_to title, post_myx_path(post) %></h2>
      <div class="assCate"><span>Neighborhood:</span><%= link_to post.school.name, :controller => "post_myxes", :action => "index", :from_school => post.school, :rating_status => post.post_myx.rating_status %></div>
    </div>
    <div class="assDes"><%= truncate_words(description) %></div>
  </div>
  <div class="asslinkdown">
    <div class="moreTutor"><%= post.school.address %></div>
    <div class="mySco"><a href="#">View score</a></div>
  </div>
  <div class="assItemB">
    <div class="assPic"><a href="#"><div><img src="pictures/pic2.png"/></div></a></div>
    <div class="assInfT">
      <div class="assInfT">
        <div class="assInfL">
          <div><span>Posted by:</span><%= link_to post.user.full_name, {:controller => "profile", :action => "show_profile", :id => post.user.id} %></div>
          <div><span>Comments:</span><%= "#{post.user.comments.size} Comment#{"s" if post.user.comments.size > 1}" %></div>
        </div>
        <div class="assInfR"><%= link_to "more", post_myx_path(post) %></div>
      </div>
      <div class="assInfB">
        <div id="rate_<%= post.id %>">
           <%
            check = PostMyx.find_rated_by(current_user).include?(post.post_myx) if logged_in?
            check ||= false
          %>
          <div class="qashdU">
            <%= show_rating(post.id, post.post_myx.total_good, controller.controller_name, check, 2) %>
          </div>
          <div class="cheap">
            <%= show_rating(post.id, "Bored(#{post.post_myx.total_bored})", controller.controller_name, check, 1) %>
          </div>
          <div class="qashdD">
            <%= show_rating(post.id, post.post_myx.total_bad, controller.controller_name, check, 0) %>
          </div>
        </div>
        <div class="vie"><%= "View (#{post.count_view})" %></div>
        <div class="fav" id="post_favorite_<%= post.id %>"><%= show_favorite(post) %></div>
      </div>
    </div>
  </div>
</div>