<%
post_myx = PostMyx.require_rating(@school).first
%>
<% if post_myx %>
  <div class="col195 QAsPoll">
    <div class="col195in">
      <h1 class="col195Title">Poll this MyX</h1>
      <div class="col195Cont">
        <div class="QAsPCont">
          <p><%= link_to post_myx.post.title, post_myx %></p>
          <p><%= truncate_words(post_myx.post.description) %></p>
        </div>
        <div id="require_rating_action">
          <div class="QAsDet"><input type="radio" name="rating" value="2" checked="checked"/>Good <strong rel="rate" style="display:none;">(<%= post_myx.total_good %>)</strong></div>
          <div class="QAsDet"><input type="radio" name="rating" value="1"/>Bored <strong rel="rate" style="display:none;">(<%= post_myx.total_bored %>)</strong></div>
          <div class="QAsDet"><input type="radio" name="rating" value="0"/>Bad <strong rel="rate" style="display:none;">(<%= post_myx.total_bad %>)</strong></div>
          <div class="submit"><%= show_submit_rating(post_myx.post.id, require_rate_post_myxes_path) %></div>
          <div class="PollView" id="view_results">[<a href="javascript:;" onclick="showResult();">View results</a>]</div>
        </div>
      </div>
    </div>
  </div>
<% end %>
