<%
type = params[:awareness_type_id]
type ||= 1
%>
<div class="col300 Parti">
    <div class="col300in">
        <h1 class="col300Title">Quick Post</h1>
        <div class="col300Cont">
            <%= form_for :post_awareness, :url => {:action => "create"}, :html =>{:multipart => true, :id => "form_post"} do |f| %>
                <div class="reqLa">
                    <label>
                        Type
                    </label>
                </div>
                <div class="reqTi">
                    <%= text_field_tag "post_awareness[awareness_type_id]", type %>
                </div>
            <%= fields_for :post do |p| %>
            <%= render :partial => "/shared/form_request_post/select_department", :locals => {:p => p} %>
            <%= render :partial => "/shared/form_request_post/select_school_year", :locals => {:p => p} %>
            <%= render :partial => "/shared/form_request_post/title", :locals => {:p => p} %>
            <%= render :partial => "/shared/form_request_post/description", :locals => {:p => p} %>
            <%= render :partial => "/shared/form_request_post/file", :locals => {:p => p} %>
            <%= render :partial => "/shared/form_request_post/select_tag" %>
			<%= show_simple_captcha(:label => "CAPTCHA Code *") %>
            <div class="submit" style="margin-top: 5px;">
                <%= show_submit_form() %>
            </div>
            <% end %>
            <% end %>
        </div>
    </div>
</div>

<ul id="awareness_type_menu" class="mcdropdown_menu">
  <% AwarenessType.find(:all).each do |t| %>
    <li rel_awareness_type="<%= t.id %>">
      <%= t.name %>
    </li>
  <% end %>
</ul>

<script type="text/javascript">
  $("#post_awareness_awareness_type_id").mcDropdown("#awareness_type_menu", {
    width: 275,
    valueAttr: "rel_awareness_type"
  });
</script>
