<div class="col300 Parti">
  <div class="col300in">
    <h1 class="col300Title">Emergency Alerts</h1>
    <div class="col300Cont">
      <% form_for :post_awareness, :url => {:action => "create"}, :html =>{:multipart => true, :id => "form_post"} do |f| %>
        <%
        awareness_type = AwarenessType.find_by_label("emergency_alerts")
      %>
        <%= hidden_field_tag("post_awareness[awareness_type_id]", awareness_type.id) if awareness_type %>
        <% fields_for :post do |p| %>
          <%= render :partial => "/shared/form_request_post/select_department", :locals => {:p => p} %>
          <%= render :partial => "/shared/form_request_post/select_school_year", :locals => {:p => p} %>
          <%= render :partial => "/shared/form_request_post/title", :locals => {:p => p} %>
          <%= render :partial => "/shared/form_request_post/description", :locals => {:p => p} %>
          <%= render :partial => "/shared/form_request_post/file", :locals => {:p => p} %>
          <%= render :partial => "/shared/form_request_post/select_tag" %>
          <div class="submit"><%= show_submit_form() %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
