<%= fields_for @post do |post| %>
  <div class="postReq">*(asterisk) is required.</div>
  <div class="postItemDep">
    <div class="postTit">Type</div>
    <div class="postDep"><%= f.text_field :awareness_type_id %></div>
  </div>
  <%= render :partial => "/shared/form_post/title", :locals => {:post => post} %>
  <%= render :partial => "/shared/form_post/description", :locals => {:post => post} %>
  <%= render :partial => "/shared/form_post/select_school" %>
  <%= render :partial => "/shared/form_post/select_department", :locals => {:post => post} %>
  <%= render :partial => "/shared/form_post/select_school_year", :locals => {:post => post} %>
  <%= render :partial => "/shared/form_post/email" %>
  <%= render :partial => "/shared/form_post/file", :locals => {:post => post} %>
  <%= render :partial => "/shared/form_post/select_tag" %>
<% end %>

<ul id="awareness_type_menu" class="mcdropdown_menu">
  <% AwarenessType.find(:all).each do |t| %>
    <li rel_awareness_type="<%= t.id %>">
      <%= t.name %>
    </li>
  <% end %>
</ul>

<script type="text/javascript">
  $("#post_awareness_awareness_type_id").mcDropdown("#awareness_type_menu", {
    width: 350,
    valueAttr: "rel_awareness_type"
  });
</script>
