<div class="assItem">
  <div class="assItemL">
    <div class="assImg"><div><%= link_to image_tag("noimg.png"), post %></div></div>
    <div class="assContT">
      <h2 class="titleH2"><%= link_to title, post_awareness_path(post) %></h2>
      <div class="assCate"><span>From:</span><%= link_to post.school.name, :controller => "post_awarenesses", :action => "index", :from_school => post.school %></div>
    </div>
    <div class="assDes"><%= truncate_words(description) %></div>
  </div>
  <!--info-link-box-->
  <div class="asslinkdown">
    <div class="support"><a href="#">support</a></div>
    <div class="support"><a href="#">not support</a></div>
    <div class="mySco"><a href="#">View results (4/15)</a></div>
  </div>
  <!--info-link-box-->
  <div class="assItemB">
    <div class="assPic"><%= link_to "<div>#{image_tag(post.user.avatar.url(:thumb))}</div>", {:controller => "profile", :action => "show_profile", :id => post.user.id} %></div>
    <div class="assInfT">
      <div class="assInfT">
        <div class="assInfL">
          <div><span>Posted by:</span><%= link_to post.user.full_name, {:controller => "profile", :action => "show_profile", :id => post.user.id} %></div>
          <div><span>Comments:</span><%= "#{post.user.comments.size} Comment#{"s" if post.user.comments.size > 1}" %></div>
        </div>
        <div class="assInfR"><%= link_to "more", post_awareness_path(post) %></div>
      </div>
      <div class="assInfB">
        <div class="qashdU"><a href="#">20</a></div>
        <div class="qashdD"><a href="#">4</a></div>
        <div class="vie"><%= "View (#{post.count_view})" %></div>
        <div class="com"><a href="#">Comments (10)</a></div>
        <div class="share"><a href="#">Share</a></div>
      </div>
    </div>
  </div>
</div>