<% content_for :you_are_here do -%>
  You are here: <a href="/">Home</a><%= link_to "Student Awareness", post_awarenesses_path, :class => "abLink-detail" %><%= link_to "Edit", "#", :class => "abLink-detail" %>
<% end -%>

<% content_for :post_button do -%>
  <%= render :partial => 'shared/post_button', :locals => {:new_post_path => @new_post_path} %>
<% end -%>

<% content_for :menu_sub do -%>
  <%= render :partial => "submenu" %>
<% end -%>

<!--Content-->
<div class="contDetL">
  <div class="contDetLin post">
    <div class="AsDTop">
      <h1 class="titleH1">Posting to the world!</h1>
    </div>
    <div class="postCont">
      <% form_for(@post_awareness, :html => {:multipart => true, :id => "form_post" }) do |f| %>
        <%= render :partial => "form", :locals => {:f => f} %>
        <div class="submit"><a href="javascript:;" onclick="submit();">Submit</a></div>
      <% end %>
    </div>
  </div>
</div>

<div class="contMainR">
  <!--Browser by Subject-->
  <%= render :partial => "shared/browser_by_subject", :locals => {:tags => @tags} %>
  <!--Browser by Subject-->

  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->

  <!--Recent Request Student Awarenesss-->
  <%= render :partial => "recent_request_awarenesses" %>
  <!--Recent Request Student Awarenesss-->
</div>
<!--Content-->