<% content_for :search do -%>
  <%= render :partial => 'shared/search_posts', :locals => {:search_name => @search_name, :type_name => "Student Awareness", :new_post_path => "/post_awarenesses/new"} %>
<% end -%>

<% content_for :select_your_school do -%>
  <%= select_your_school("user", "shared/select_school", {"target" => "bottomLeft", "tip" => "topLeft"}) %>
<% end -%>

<% content_for :sidebar do -%>
  <%= render :partial => "shared/ads_vertical" %>
<% end -%>
<!--Content-->

<!-- you favorite-->
<%= your_favorite_today() %>
<!-- you favorite-->

<div id="main-listing">
  <div id="top-sub-nav">
  </div>
  <div class="expandable-box"><!--expandable-box-->
    <% for post in @posts %>
      <div class="exp-box-wrap <%= cycle('lgrayb', 'lgrayc') %>"><!--exp-box-wrap-->
        <div class="exp-box1">
          <%= link_to post.title, post.post_awareness %>
        </div>
        <div class="exp-box2">
          <%= link_to post.user.full_name, {:controller => "profile", :action => "show_profile", :id => post.user.id} %>,
          <% if post.user.school.website %>
            <%= link_to post.user.school.name, post.user.school.website, :target => "_blank" %>
          <% else %>
            <%= post.user.school.name %>
          <% end %>
        </div>
        <div class="exp-box3">
          <%= post.created_at.strftime("%B %d, %Y") %>
        </div>
        <div class="info-link-box"><!--info-link-box-->
          <div class="details-link">
            <span rel="<%= post.id %>" style="cursor:pointer">View Detail</span>
          </div>
          <div class="download-rel-link">
            <% if post.allow_download && post.attach_file_name %>
              <a href="javascript:downloadFile('<%= post.attach.url %>')" class="downarrow">Download</a>
            <% else %>
              <span>Download</span>
            <% end %>
            | <a href="?more_like_this_id=<%= post.id %>" title="">More like this</a>
          </div>
        </div><!--end info-link-box-->
      </div>	<!--end exp-box-wrap-->
    <% end %>
  </div>	<!--end expandable-box-->
</div>

<%= will_paginate @posts, :class => "digg_pagination" %>

<script language="javascript">
  document.observe('dom:loaded', function() {
    $$('span[rel]').each(function(element) {
      show_detail_path = '/post_awarenesses/show_dialog?id=' + element.readAttribute("rel");
      new Tip(element, {
        ajax: {
          url: show_detail_path,
          options: {
            asynchronous:true,
            evalScripts:true,
            method: 'get'
          }
        },
        fixed: true,
        viewport: true,
        width: 'auto',
        title: 'Detail',
        showOn: 'click',
        hideOthers: true,
        hideOn: { element: 'closeButton', event: 'click'},
        hook: { target: 'bottomLeft', tip: 'topLeft' },
        offset: {x:-10, y:5} });
      element.observe('prototip:shown', function() {
        //
      });
      element.observe('prototip:hidden', function() {
        $('show_send_message_' + element.getAttribute("rel")).prototip.hide();
      });
    });
  });
<% if current_user %>
    var send_email_path = "/messages/send_message";
    var user_id = "<%= current_user.id %>";
    function sendEmail(post_id, to){
      subject = $("message_subject_"+post_id).value;
      body = $("message_body_"+post_id).value;
      new Ajax.Request(send_email_path,
      {asynchronous:true,
        evalScripts:true,
        method:'get',
        on500:function(request){alert('Sorry, there was an error.'.l); return false},
        parameters:{user_id:user_id, message_to:to, message_subject:subject, message_body:body},
        onSuccess:function(){
          $('send_message_alert_'+post_id).show();
          $('send_message_wraper_'+post_id).hide();
        }}
    );
    }
<% end %>
function downloadFile(path){
    document.location.href = path;
  }
</script>
<!--Content-->