<% content_for :you_are_here do -%>
  You are here: <a href="/">Home</a><%= link_to "Student Awareness", post_awarenesses_path, :class => "abLink-detail" %>
<% end -%>

<% content_for :post_button do -%>
  <%= render :partial => 'shared/post_button', :locals => {:new_post_path => @new_post_path} %>
<% end -%>

<% content_for :menu_sub do -%>
  <%= render :partial => "submenu" %>
<% end -%>

<!--Content-->
<div class="contMainL">
  <div class="col451 student">
    <div class="col451in">
      <div class="col451Cont">
        <div class="AsDTop">
          <h1 class="titleH1">Student Awareness</h1>
        </div>

        <!--List Items-->
        <% @posts.each do |post| %>
          <%= render :partial => "item", :locals => {:post => post, :title => post.title, :description => post.description}%>
        <% end %>
        <!--List Items-->

        <!--Pagination-->
        <div class="assPage">
          <span class="numPage"><%= page_entries_info @posts %></span>
          <%= will_paginate @posts %>
        </div>
        <!--Pagination-->
        <div class="goTop"><a href="javascript:;" onclick="goToByScroll('top_page')">Top</a></div>
      </div>
    </div>
  </div>

</div>
<div class="contMainC">
  <!--Browser Schedules-->
  <%= render :partial => "schedules" %>
  <!--Browser Schedules-->

  <!--Browser Deadline Bulletin-->
  <%= render :partial => "deadline_bulletin" %>
  <!--Browser Deadline Bulletin-->

  <!--Browser General Bulletin-->
  <%= render :partial => "general_bulletin" %>
  <!--Browser General Bulletin-->
</div>

<div class="contMainR">
  <!--Browser by Subject-->
  <%= render :partial => "shared/browser_by_subject", :locals => {:tags => @tags} %>
  <!--Browser by Subject-->

  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->

  <!--Recent Request Comments-->
  <%= render :partial => "recent_comments" %>
  <!--Recent Request Comments-->
  
</div>
<!--Content-->
