<% content_for :search do -%>
  <%= render :partial => 'shared/search_posts', :locals => {:search_name => @search_name, :type_name => "Student Awareness", :new_post_path => "/post_awarenesses/new", :search_post_path => "/post_awarenesses"} %>
<% end -%>

<% content_for :select_your_school do -%>
  <div id="target_select_school">
    <span>&nbsp;</span>
  </div>
<% end -%>

<% content_for :sidebar do -%>
  <div id="post_guide_r">
    <h3>About Posting</h3>
    <p>
      Upload would take any where from 1 to 5 minutes.
      It depends on your internet connections.
    </p>
  </div>
<% end -%>
<!--Content-->
<div id="posting-section"><!-- posting-section-->
  <h3 class="post_header">Posting to the world</h3>
  <% form_for(@post_awareness, :html => {:id => "form", :name => "form", :multipart => true }) do |f| %>
    <% fields_for @post_awareness.post do |post| %>
      <ul>
        <li>
          <%= render :partial => "posts/post_category", :locals => {:post_categories => @post_categories, :post_category_name => @post_category_name} %>
        </li>
        <li>
          <label>Awarenesses Issues/Type*</label>
          <div class="user_ri">
            <%= text_field_tag 'awareness_issue_name', '', :class => "required tb_arrow" %>
            <div id="select_awareness_issue_div" class="menu_select" style="display:none;">
              <ul>
                <% for awareness_issue in @awareness_issues %>
                  <li>
                    <%= check_box_tag("post_awareness[awareness_issue_ids][]",
                      awareness_issue.id,
                      @post_awareness.awareness_issues.include?(awareness_issue), :id => "post_awareness_awareness_issues_id_#{awareness_issue.id}", :title => "#{awareness_issue.name}", :onclick => "getAwarenessIssue()") %>
                    <label onClick="getAwarenessIssue()" for="post_awareness_awareness_issues_id_<%= awareness_issue.id %>"><%= awareness_issue.name %></label>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </li>
        <li><label>Organizer*</label>
          <div class="user_ri"><%= post.text_field :title, :class => "required", :style=>"width:450px" %>
        </div></li>
        <li><label>Campaign Start</label>
          <div class="user_ri"><%= calendar_field 'post_awareness', 'campaign_start',
              { :class => 'date',
              :field_title => 'From',
              :button_image => 'calendar.gif',
              :button_title => 'Show calendar' },
              { :firstDay => 1,
              :step => 1,
              :timeFormat => "12",
              :showsTime => true}
          %>
        </div></li>
        <li><label>Campaign End</label>
          <div class="user_ri"><%= calendar_field 'post_awareness', 'campaign_end',
              { :class => 'date',
              :field_title => 'From',
              :button_image => 'calendar.gif',
              :button_title => 'Show calendar' },
              { :firstDay => 1,
              :step => 1,
              :timeFormat => "12",
              :showsTime => true}
          %>
        </div></li>
        <%= select_your_school("post", "posts/select_school", {"target" => "bottomLeft", "tip" => "topLeft"}) %>
        <li><label>Description*</label>
          <div class="user_ri">
            <font color=#666666>(900 characters max.) <strong><span id="count_post_description" >900</span></strong> remaining</font>
        <%= post.text_area :description, :rows => 10, :cols => 70, :class => "required", :onkeypress => "return LimitThis('post_description')", :onkeyup => "return CountThis('post_description', 'count_post_description')", :onmouseover => "return CountThis('post_description', 'count_post_description')", :wrap => "physical", :maxLength => "900"%></div></li>
        <li><label>Email</label>
        <div class="user_ri"><%= post.text_field :email, :class => "validate-email" %></div></li>
        <li><label></label><%= radio_button "post", "use_this_email", true %> Use this email address.</li>
        <li><label></label><%= radio_button "post", "use_this_email", false, :checked => true %> Reply to (post category) - xxx@afterclassroom.com.</li>
        <li><label>Telephone</label>
        <div class="user_ri"><%= post.text_field :telephone %></div></li>
        <li prepare_post="yes"><label>Add/Edit File:</label>
        <div class="user_ri"><%= post.file_field :attach %></div></li>
        <%= render :partial => "posts/choose_options", :locals => {:f => post } %>
        <li>
          <div class="post_cbt">
            <!-- post  button -->
            <a href="javascript:submit()" title="Post" class="link_bt">
              <span class="ltred_l"></span>
              <span class="ltred_c btf">Post Awarenesses</span>
              <span class="ltred_r"></span>
            </a>
            <!-- end post button -->
          </div>
        </li>
        <li>
          <label><div class="user_ri">(* indicates required field)</div></label>
        </li>
      </ul>
      <div id="elements_store"></div>
    </div><!-- end posting-section-->
  <% end %>
<% end %>
<!--Content-->
<script type="text/javascript">
  var valid = new Validation('form', {immediate : true, onSubmit:false});
  function submit(){
    var result = valid.validate();
    if (result) {
      Tips.hideAll();
      $$('.prototip').each(function(element){
        $('elements_store').insert(element, { position: content });
      });
      $('form').submit();
    }
  }
  function getAwarenessIssue(){
    $('awareness_issue_name').value = get_check_value();
    if ($('advice-required-awareness_issue_name'))
      $('advice-required-awareness_issue_name').hide();
  }
  new Tip('awareness_issue_name', $('select_awareness_issue_div'), {
    width: 'auto',
    title: 'Select Job Type',
    showOn: 'click',
    hideOthers: true,
    hideOn: { element: 'closeButton', event: 'click'},
    hook: { target: 'bottomLeft', tip: 'topLeft' },
    offset: {x:0, y:0} });
  function get_check_value()
  {
    var f = $$('input[name="post_awareness[awareness_issue_ids][]"]');
    var s = '';
    for(var i=0; i<f.length; i++){
      if (f[i].checked)
        s += f[i].readAttribute("title") + ', ';
    }
    return s;
  }
</script>

<script language = "Javascript">
  function LimitThis(object_id) {
    if ($(object_id).value.length == $(object_id).readAttribute("maxLength")*1) return false;
  }

  function CountThis(object_id, visCnt) {
    if ($(object_id).value.length>$(object_id).readAttribute("maxLength")*1) $(object_id).value = $(object_id).value.substring(0,$(object_id).readAttribute("maxLength")*1);
    if ($(visCnt)) $(visCnt).update($(object_id).readAttribute("maxLength")-$(object_id).value.length);
  }
</script>
