<div id="detail_window" style="background: #f1f1f1;">
   <div class="dw_title">
    <%= @post.title %>
  </div>

  <div class="dw_location">
    <%= link_to @post.user.full_name, {:controller => "profile", :action => "show_profile", :id => @post.user.id} %>,
    <% if @post.user.school.website %>
      <%= link_to @post.user.school.name, @post.user.school.website, :target => "_blank" %>
    <% else %>
      <%= @post.user.school.name %>
    <% end %>
  </div>

  <div class="dw_datetime">
    <%= @post.created_at.strftime("%B %d, %Y") %>
  </div>
  <div class="detail-info"><!-- detail-info-->
    <ul>
      <li><label>Description:</label><%= @post.description %></li>
      <li><label>Posted by:</label><%= @post.user.full_name %></li>
      <% if current_user %>
          <li><span style="cursor:pointer" id="show_send_message_<%= @post.id %>">Click here</span> to send email to <%= @post.user.full_name %></li>
          <li>
            <span id="add_to_favorite"><%= link_to_remote "Add to favorite", :update => "list_favorites", :url => {:controller => "posts", :action => "add_to_favorite", :post_id => @post.id} %></span>
          </li>

          <script type="javascript">
            var show_email_path = "/messages/show_email";
            var post_id = "<%= @post.id %>";
            var to = "<%= @post.user.login %>";
            var full_name = "<%= @post.user.full_name %>";
            new Tip('show_send_message_' + post_id, {
              ajax: {
                url: show_email_path,
                options: {
                  method: 'get',
                  parameters:{user_id:user_id,id:post_id, to:to, full_name:full_name}
                }
              },
              fixed: true,
              viewport: true,
              width: 'auto',
              title: 'Send Email to <%= @post.user.full_name %>',
              showOn: 'click',
              hideOn: { element: 'closeButton', event: 'click'},
              hook: { target: 'bottomLeft', tip: 'topLeft' },
              offset: {x:0, y:2} });
            $('show_send_message_' + post_id).observe('prototip:shown', function() {
              $('send_message_alert_'+post_id).hide();
              $('send_message_wraper_'+post_id).show();
            });
            $('show_send_message_' + post_id).observe('prototip:hidden', function() {
              $('message_subject_'+post_id).value = "";
              $('message_body_'+post_id).value = "";
            });
          </script>
        <% end %>
    </ul>
  </div><!-- end detail-info-->
  <div class="info-link-box"><!--info-link-box-->
    <div class="download-link">
      <% if @post.allow_download && @post.attach_file_name %>
        <a href="javascript:downloadFile('<%= @post.attach.url %>')" class="downarrow">Download</a>
      <% else %>
        <span>Download</span>
      <% end %>
      | <a href="?more_like_this_id=<%= @post.id %>" title="">More like this</a>
    </div>
  </div><!--end info-link-box-->
</div>
