<div class="proList" id="post_comment_form_<%= post.id %>" style="display:none;">
  <% form_tag url_for(:controller => "posts", :action => "create_comment_on_list"), :remote => true, :id => "post_form_#{post.id}" do %>
    <%= hidden_field_tag "post_id", post.id %>

    <div class="proListPic"><%= show_image_user_post(current_user) %></div>
    <div class="proListR">
      <div class="writeCom">
        <%= text_area_tag "comment", nil, {:id => "comment_#{post.id}", :onblur => "hidePostCommentForm('#{post.id}')", :class => "required"} %>
      </div>
    </div>
    <div class="proAttR">
      <div id="containererreurtotal<%=  post.id.to_s %>" style="float: left; margin-right: 254px;"></div>
      <%= submit_tag 'Send', :class => "buttonCom", :style => "float: right;" %>


    </div>
  <% end %>
</div>
<script type="text/javascript">
  //hidePostCommentForm('#{post.id}')
  function sendThisForm<%= post.id.to_s %>(){
    alert('a '+'#post_form_<%=  post.id.to_s %>');
    $('#post_form_<%=  post.id.to_s %>').submit();
  }
  $(document).ready(function(){
    $('#post_form_<%=  post.id.to_s %>').validate({
      errorLabelContainer: "#containererreurtotal<%=  post.id.to_s %>"
    });
  });
</script>