<div class="proList" id="post_<%= post.id %>_comment_<%= comment.id %>">
    <% if post.user == current_user || comment.user == current_user %>
    <div class="del_post_com" style="float: right; display: none; cursor: pointer;" onclick="DeletePostComment('<%= post.id %>', '<%= comment.id %>');">
        <img src="/images/icon-ing.gif">
    </div><% end %>
    <div class="proListPic">
        <%= show_image_user_post(comment.user) %>
    </div>
    <div class="proListR">
        <div class="AfterClCom">
            <%= show_user_post(comment.user) %>- <%= comment.comment %>
        </div>
        <div class="proListCont">
            <%= distance_of_time_in_words_to_now(comment.created_at, false) + " ago." %>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $(".proList").hover(function(){
                $(".del_post_com", this).show();
            }, function(){
                $(".del_post_com", this).hide();
            });
        });
    </script>
</div>
