<html>
  <body>
    <div id="detail_window">
       Hello <%= @tag_creator.name %>, <br/>

Your invitation of <a href="<%= user_url(@user) %>"><%= @user.name %></a> 

at 

<a href="<%= play_list_user_musics_url(@music_album.user, :music_album_id => @music_album.id) %>"><%= @music_album.name %></a>

has been authorized.<br/>

     
      Yours sincerely, <br/>
      Afterclassroom Support Team.
      
    </div>  
  </body>
</html>
