<% content_for :you_are_here do -%>
  You are here: <a href="/">Home</a><%= link_to "Exams", post_exams_path, :class => "abLink-detail" %><%= link_to "Interesting Exams", "#", :class => "abLink-detail" %>
<% end -%>

<% content_for :post_button do -%>
  <%= render :partial => 'shared/post_button', :locals => {:new_post_path => @new_post_path} %>
<% end -%>
  
<% content_for :menu_sub do -%>
  <%= render :partial => "submenu" %>
<% end -%>

<!--Content-->
<div class="contMainL">
  <div class="col451 QAs">
    <div class="col451in">
      <div class="col451Cont">
        <div class="AsDTop">
          <h1 class="titleH1">Interesting Exams</h1>
          <div class="AsDsearch">
            <%= render :partial => "shared/search_indetail", :locals => {:url_search => search_post_exams_path} %>
          </div>
        </div>
		<%= display_flash_messages_with_raw %>
        <!--List Items-->
        <% @posts.each do |post| %>
          <div id="post_<%= post.id %>"><%= render :partial => "item", :locals => {:post => post, :title => post.title, :description => post.description, :controller_name => controller.controller_name} %></div>
        <% end %>
        <!--List Items-->

        <!--Pagination-->
        <div class="assPage">
          <span class="numPage"><%= page_entries_info @posts %></span>
          <%= will_paginate @posts %>
        </div>
        <!--Pagination-->
        <div class="goTop"><a href="javascript:;" onclick="goToByScroll('top_page')">Top</a></div>
      </div>
    </div>
  </div>

</div>

<div class="contMainC">
  <!--Browser Interesting Exam-->
  <%= render :partial => "interesting_exams"%>
  <!--Browser Interesting Exam-->
</div>

<div class="contMainR">
  <!--Browser by Subject-->
  <%= render :partial => "shared/browser_by_subject" %>
  <!--Browser by Subject-->

  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->

  <!--Request exam-->
  <div id="quick_post_homework">
  <%= render :partial => "form_request_exam" %>
  </div>
  <!--Request exam-->

  <!--Recent Request exams-->
  <%= render :partial => "recent_request_exams" %>
  <!--Recent Request exams-->
</div>
<!--Content-->
