<% content_for :you_are_here do -%>
  You are here: <a href="/">Home</a><%= link_to "Exams", post_exams_path, :class => "abLink-detail" %><%= link_to "Subject: '#{@tag.name}'", "#", :class => "abLink-detail" %>
<% end -%>

<% content_for :post_button do -%>
  <%= render :partial => 'shared/post_button', :locals => {:new_post_path => @new_post_path} %>
<% end -%>
  
<% content_for :menu_sub do -%>
  <%= render :partial => "submenu" %>
<% end -%>

<!--Content-->
<div class="contMainL">
  <div class="col451 QAs">
    <div class="col451in">
      <div class="AsDTop">
          <h1 class="titleH1">Exams</h1>
          <div class="AsDsearch">
            <%= render :partial => "shared/search_indetail", :locals => {:url_search => search_post_exams_path} %>
          </div>
        </div>
      <div class="col451Cont">
        <!--List Items-->
        <% @posts.each do |post| %>
          <%= render :partial => "item", :locals => {:post => post, :title => post.title, :description => post.description}%>
        <% end %>
        <!--List Items-->

        <!--Pagination-->
        <div class="assPage">
          <span class="numPage"><%= page_entries_info @posts %></span>
          <%= will_paginate @posts %>
        </div>
        <!--Pagination-->
        <div class="goTop"><a href="javascript:;" onclick="goToByScroll('top_page')">Top</a></div>
      </div>
    </div>
  </div>

</div>

<div class="contMainC">
  <!--Browser Due Date-->
  <%= render :partial => "due_date" %>
  <!--Browser Due Date-->

  <!--Browser Interesting Projest-->
  <%= render :partial => "post_projects/interesting_projects"%>
  <!--Browser Interesting Projest-->
</div>

<div class="contMainR">
  <!--Browser by Subject-->
  <%= render :partial => "shared/browser_by_subject", :locals => {:tags => @tags} %>
  <!--Browser by Subject-->

  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->

  <!--Request Exam-->
  <%= render :partial => "form_request_exam" %>
  <!--Request Exam-->

  <!--Recent Request Exams-->
  <%= render :partial => "recent_request_exams" %>
  <!--Recent Request Exams-->
</div>
<!--Content-->
