<% content_for :you_are_here do -%>
  You are here: <a href="javascript:;">Help Information</a>
<% end -%>
<% content_for :menu_sub do -%>
  <%= render :partial => "/statics/submenu" %>
<% end -%>
<!--Content-->
<div class="contMainLH">
  <div class="col654 QAs">
    <div class="col654in">
      <div class="col654Cont">
        <div style="width: 632px;" class="helpCR">
          <div class="helpTitle">
            <a style="color: #0A81C4; font-size: 12px; font-weight: bold; line-height: 29px;" href="javascript:;">Press Release</a>
          </div>
          <% if admin? %>
            <div style="padding-left: 0pt;" class="assPage">
              <div class="stoEx" id="story_form_new">
                <%= form_for @pr, :html => {:id => "form_edit"} do |f| %>
                  <%= hidden_field_tag "pr_id", "", :id => "pr_id", :value => @pr.id %>
                  <div style="overflow: hidden; padding: 7px 0pt; margin-left: 12px;" class="stoExItem">
                    <div style="display: inline; color: rgb(111, 111, 99); float: left; font-weight: bold; line-height: 21px; width: 75px;" class="stoExItemL">Title*</div>
                    <div class="stoExItemR" style="display: inline;">
                      <%= f.text_field :title, :class => '{validate:{required:true}}', :style => "border: 1px solid #CECECE;  padding-top: 6px;  text-indent: 2px;  width: 535px;" %>
                    </div>
                  </div>
                  <div class="stoExItem" style="overflow: hidden;">
                    <div class="stoExItemL" style="display: inline; color: rgb(111, 111, 99); float: left; font-weight: bold; line-height: 21px; width: 75px; margin-left: 13px;">Content</div>
                    <div class="stoExItemR" style="display: inline; float: right; width: 525px; margin-right: 19px;">
                      <%= f.text_area :content, :rows => 2, :style => "width:525px", :class => '{validate:{required:true}}' %>
                      
                    </div>
                  </div>
                  <div class="stoExBtm">
                    <div style="margin-left: 87px; margin-top: 10px;">
                      <a onclick="submitNewPress();" id="save_edit" href="javascript:;" style="padding-left: 1px; padding-top: 5px; color: #FFFFFF; display: block; height: 25px; width: 44px; text-align: center; text-decoration: none; background: url('/images/btm48.png') no-repeat scroll left top transparent;">Save</a>
                    </div>
                    <div style="margin-left: 142px; margin-top: -31px;">
                      <a href="/careers" style="padding-left: 1px; padding-top: 5px; color: #FFFFFF; display: block; height: 25px; width: 44px; text-align: center; text-decoration: none; background: url('/images/btm48.png') no-repeat scroll left top transparent;">Cancel</a>
                    </div>
                  </div>
                  <div class="stoError" style="padding: 10px;"></div>
                <% end %>
              </div>
            </div>
          <% end %>
          <div style="padding: 0pt;" class="goTop"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" >
  
  function submitNewPress(){
    var result = $("#form_edit").validate({
      meta: "validate"
    });
    if (result) {
      $("#form_edit").submit();
    }
  }  
  
  
  $(document).ready(function(){
    $('.wysiwyg').css('width','525px');
    $('#career_contentIFrame').css('width','525px');

    $('#save_edit').click(function(){
      $('#form_edit').submit();
    });


  });
  (function($)
  {
    $('#career_content').wysiwyg({
      controls: {
        createLink : { visible : true },

        insertImage : { visible : true },

        separator05 : { visible : false },

        separator06 : { visible : false },

        h1 : { visible : false },
        h2 : { visible : false },
        h3 : { visible : false },

        removeFormat : { visible : true }
      }
    });
  })(jQuery)

</script>
<style>
  .prButton{
    padding-left: 1px;
    padding-top: 5px;
    color: #FFFFFF;
    display: block;
    height: 25px;
    width: 87px;
    text-align: center;
    text-decoration: none;
    background: url('/images/btm87.png') no-repeat scroll left top transparent;
  }

</style>
