<div class="reqItem">
  <div class="reqLa"><label>Hello world</label></div>
  <div class="reqTi"><%= text_field_tag "upload_file", "", :style => "width:280px" %></div>
</div>

<% @post_job = PostJob.new(params[:post_job]) %>

<% 2.times { @post_job.job_files.build} %>


<% f.fields_for :job_files do |builder| %>


  <p>
    <%= builder.label :caption, "Job File Caption" %>
    <%= builder.text_field :caption %>
    <br/>
    Field of file:  <%= builder.file_field :resume_cv %> END<br/>

  </p>

<% end %>

<% fields_for :job_file1 do |builder1| %>
  <p>
    <%= builder1.label :caption, "Job File Caption" %>
    <%= builder1.text_field :caption, :readonly => "true", :value => "Resume" %>
    <br/>
    Field of file:  <%= builder1.file_field :resume_cv %> END<br/>

  </p>
<% end %>