<% cache "select_department_quick_post_#{@school}" do %>
	<%
	str_cond = case session[:your_school_type]
			when "HighSchool"
				"type_school = 'HighSchool'"
			when "University"
				"type_school <> 'HighSchool' or type_school is null"
			when "College"
				"type_school <> 'HighSchool' or type_school is null"
			else
				"1=1"
		end
%>
  <div class="reqLa">
    <label>
      Program
    </label>
  </div>
  <div class="reqTi">
    <%= p.text_field :department_id, :id => "department_id" %>
  </div>
  <% depcate = DepartmentCategory.find(:all, :conditions => str_cond, :order => "department_categories.name ASC") %>

  <ul id="department_menu" class="mcdropdown_menu">
    <li rel_department="">
      Choose program
    </li>
    <% depcate.each do |dc| %>
      <li rel="category_id_<%= dc.id %>">
        <%= dc.name %>
        <% departments = dc.departments.order("name ASC") %>
        <ul>
          <% departments.each do |dp| %>
            <li rel_department="<%= dp.id %>">
              <%= dp.name %>
            </li>
          <% end %>
        </ul>
      </li>    


    <% end %>
  </ul>



<% end %>
<script type="text/javascript">
  $(document).ready(function(){
    $("#department_id").mcDropdown("#department_menu", {
      width: 275,
      valueAttr: "rel_department"
    });
  });
</script>
