<div class="signinItem">
  <div class="signinTit">Country:</div>
  <div class="swap"><input type="text" name="country" id="country" value="<%= @country.id %>" /></div>
</div>
<div class="signinItem">
  <div class="signinTit">State:</div>
  <div class="swap"><input type="text" name="state" id="state" value="<%= @state.id %>" /></div>
</div>
<div class="signinItem">
  <div class="signinTit">City:</div>
  <div class="swap"><input type="text" name="city" id="city" value="<%= @city.id %>" /></div>
</div>
<div class="signinItem">
  <div class="signinTit">Your school:</div>
  <div class="swap"><input type="text" name="user[school_id]" id="school" value="<%= @school.id if @school %>" /></div>
</div>
<%= render :partial => "/users_select_school/list" %>