<div class="signinItem">
  <div class="signinTit">Country:</div>
  <div class="swap"><input type="text" name="country" id="country" value="<%= @country.id %>" /></div>
</div>
<div class="signinItem">
  <div class="signinTit">State:</div>
  <div class="swap"><input type="text" name="state" id="state" value="<%= @state.id %>" /></div>
</div>
<div class="signinItem">
  <div class="signinTit">City:</div>
  <div class="swap"><input type="text" name="city" id="city" value="<%= @city.id %>" /></div>
</div>
<div class="signinItem">
  <div class="signinTit">Type:</div>
  <div class="swap"><div style="width:75px;float:left;margin-left: -13px;" class="popupCoun"><%= radio_button_tag "school_type", "University", (@type_school == "University"), :onchange => "select_city();" %><span style="position: absolute;margin-top: -1px">University</span></div>
  <div style="width:75px;float:left;margin-left: 2px;" class="popupCoun"><%= radio_button_tag "school_type", "College", (@type_school == "College"), :onchange => "select_city();" %><span style="position: absolute;margin-top: -1px">College</span></div>
  <div style="width:80px;margin-left: -7px;" class="popupCoun"><%= radio_button_tag "school_type", "HighSchool", (@type_school == "HighSchool"), :onchange => "select_city();" %><span style="position: absolute;margin-top: -1px">Elementary & High School</span></div></div>
</div>
<div class="signinItem">
  <div class="signinTit">Your school:</div>
  <div class="swap"><input type="text" name="user[school_id]" id="school" value="<%= @school.id if @school %>" /></div>
</div>
<%= render :partial => "/users_select_school/list" %>
