<% content_for :sidebar do -%>
  <span class="dred_box">Login Recovery</span>
  <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:warning] %>
      <div id="warning"><%= flash[:warning] %></div>
    <% end %>

    <% if flash[:error] %>
      <div id="error"><%= flash[:error] %></div>
    <% end %>
  <div class="signup-form">
    <% unless @user.nil? %>
      <p>An email containing your <%= configatron.site_name %> account's login has been dispatched to you at <em><%= @user.email %></em>.</p>

      <div id="submitbutton">
        <p><%= link_to "Login now &raquo;", login_url %></p>
      </div>
    <% else %>
      Please enter the email address associated with your account.<br/>
      We will send you an email with your login shortly.
      <% form_tag user_forgot_login_url, :name => "form", :id => "form", :method => :put do %>
        <label>Your email address</label><%= text_field_tag :email %>
        <div class="bt-signin">
          <!-- button -->
          <a href="#" onclick="document.form.submit()" class="link_bt">
            <span class="ltred_l"></span>
            <span class="ltred_c btf">Send me my login &raquo;</span>
            <span class="ltred_r"></span>
          </a>
          <!-- endbutton -->
        </div>
      <% end %>
    <% end %>
  </div>
<% end -%>

<!--Content-->
<%= render :partial => "sessions/signin_introduction" %>
<!--Content-->
