<% content_for :search do -%>
  <%= render :partial => 'shared/search_inbox', :locals => {:search_name => @search_name, :type_name => "Friends", :action_path => "#{list_friends_user_path(current_user)}"} %>
<% end -%>

<% content_for :tabs_inbox do -%>
  <%= render :partial => 'shared/tabs_inbox' %>
<% end -%>

<div id="profile_wrapper"><!-- profile wrapper -->
  <div id="profile_update_zone">
    <% for friend in @friends %>
      <div id="user_<%= @user.id %>_friend_<%= friend.id %>">
        <%= image_tag friend.avatar.url(:thumb) %>
        <%= link_to friend.full_name, {:controller => "profile", :action => "show_profile", :id => friend.id} %> <%= link_to "Delete", {:action => "delete_friend", :user_id_friend => friend.id}, :confirm => "Are you sure?" %>
      </div>
    <% end -%>

    <%= will_paginate @friends, :class => "digg_pagination" %>
  </div>
</div><!-- profile wrapper -->