<% content_for :you_are_here do -%>
  You are here: <a href="/">Home</a><%= link_to "Sign Up", "", :class => "abLink-detail" %>
<% end -%>

<!--Content-->
<div class="contDetL">
  <div class="contDetLin">
    <div class="AsDTop">
      <h1 class="titleH1">Sign Up</h1>
    </div>
    <div class="signUpCont">
      <%= display_flash_messages %>
      <% form_for :user, :url => users_path, :html => {:id => "form_signup", :name => "form_signup"} do |f| -%>
        <div class="signNode">*(asterisk) is required.</div>
        <div class="signinItem">
          <div class="signinTit">First Name*:</div>
          <div class="signinInp"><%= text_field_tag :first_name, "",  :class => "required" %></div>
        </div>
        <div class="signinItem">
          <div class="signinTit">Last Name*:</div>
          <div class="signinInp"><%= text_field_tag :last_name, "", :class => "required" %></div>
        </div>
        <div class="signinItem">
          <div class="signinTit">Email*:</div>
          <div class="signinInp"><%= f.text_field :email, :class => "required email" %></div>
        </div>
        <div class="signinItem">
          <div class="signinTit">New Password*:</div>
          <div class="signinInp"><%= f.password_field :password, :class => "required password" %></div>
        </div>
        <div class="signinItem">
          <div class="signinTit">Your school*:</div>
          <div class="signinInp"><select name="Select1"><option>Select your school...</option></select></div>
        </div>
        <div class="signincCheck">
          <div><%= f.check_box :allow_search_by_email %></div>
          <div class="signincCheckTxt">Let others find my post on Afterclassroom if they have my email address.</div>
        </div>
        <div class="btmCreAc"><a href="javascript:;" onclick="submit();">Create my account</a></div>
        <div class="signincCheck">
          By clicking "Create my account", you agree to Afterclassroom <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.
        </div>
      <% end -%>
    </div
  </div>
</div>

<div class="contMainR">
  <%= render :partial => "welcome_back" %>
  <%= render :partial => "ads/show_vertical_ads" %>
</div>
<!--Content-->

<script type="text/javascript">
 function submit(){
    var result = $("#form_signup").validate();
    if (result) {
      $("#form_signup").submit();
    }
  }
</script>
