<% content_for :you_are_here do -%>
  You are here: <a href="/">Home</a><%= link_to "Sign Up", "javascript:;", :class => "abLink-detail" %>
<% end -%>

<!--Content-->
<div class="contDetL">
  <div class="contDetLin">
    <div class="AsDTop">
      <h1 class="titleH1">Sign Up</h1>
    </div>
    <div class="signUpCont">
      <%= display_flash_messages_with_raw %>
      <%= render :partial => "users/signup_form" %>
    </div>
  </div>
</div>

<div class="contMainR">
  <%= render :partial => "welcome_back" %>
  <%= render :partial => "ads/show_vertical_ads" %>
</div>
<!--Content-->

<script type="text/javascript">
  function submitt(){
    var result = $("#form_signup").validate({
			meta: "validate"
    });
    if (result) {
      $("#form_signup").submit();
    }
  }

  $(document).ready(load_menus);
  function update_form(type_select, id, type_school){
    $.ajax({
      url: '/users_select_school/update_form_signup',
      type: 'GET',
      cache: false,
      dataType: 'html',
      data: ({
        type : type_select,
        id : id,
				type_school: type_school
      }),
      success: function(data){
        $('#select_school').html(data);
        load_menus();
      }
    });
  }

  function select_country(){
    update_form("country", $('#country').val(), $('input:radio[name=school_type]:checked').val());
  }

  function select_state(){
    update_form("state", $('#state').val(), $('input:radio[name=school_type]:checked').val());
  }

  function select_city(){
    update_form("city", $('#city').val(), $('input:radio[name=school_type]:checked').val());
  }

  function load_menus (){
    $("#country").mcDropdown("#country_menu", {
      width: 230,
      valueAttr: "rel_country",
      select: select_country
    });
    $("#state").mcDropdown("#state_menu", {
      width: 230,
      valueAttr: "rel_state",
      select: select_state
    });
    $("#city").mcDropdown("#city_menu", {
      width: 230,
      valueAttr: "rel_city",
      select: select_city
    });
    $("#school").mcDropdown("#school_menu", {
      width: 230,
      valueAttr: "rel_school"
    });
  }
 
</script>
