<% content_for :you_are_here do -%>
You are here: <a href="/">Home</a>
<%= link_to "Password Recovery", "javascript:;", :class => "abLink-detail" %>
<% end -%>
<!--Content-->
<div class="contDetL">
    <div class="contDetLin">
        <div class="AsDTop">
            <h1 class="titleH1">Password Recovery</h1>
        </div>
        <div class="signUpCont">
            <%= display_flash_messages_with_raw %>
            <div class="welBackCont">
                <% unless @user.nil? || !@user.active? %>
                <p>
                    You have successfully reset your password. You will receive an email with your new password shortly.
                </p>
                <p>
                    <strong>Note: After you login, please change your password to a more secure and easier to remember password.</strong>
                </p>
                <div class="welBackLink">
                    <p>
                        <%= link_to "Login now", login_url %>
                    </p>
                </div>
                <% else %>
                <div class="welBackLink">
                    <p>
                        We're sorry, but we couldn't reset your password for you.
                    </p>
                    <p>
                        To obtain a new password, please contact <%= configatron.support_name %>at <%= secure_mail_to configatron.support_email %>.
                    </p>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<div class="contMainR">
    <%= render :partial => "welcome_back" %>
    <%= render :partial => "ads/show_vertical_ads" %>
</div>
<!--Content-->
