<div class="contMainL">
  <div class="col571 proCen">
    <div class="col571in">
      <div class="proCenCont">
        <div class="stoDet" style="padding:0px;">
          <div class="stoDetR">
            <div class="stoDetRT">
              <%= @story.title %>
            </div>
            <div class="stoDetRB">
              <%= link_to "#{@story.user.name}'s Story", show_stories_user_url(@story.user), :class => "stoDetRBN" %><%= link_to "#{@story.user.name}'s Profile", user_url(@story.user) %>
            </div>
          </div>
        </div>
				<div class="onThisBtm">
          <div class="stoPre"><%= link_to "", show_story_detail_user_path(current_user, :story_id => @prev) if @prev %></div>
          <div class="stoNext"><%= link_to "", show_story_detail_user_path(current_user, :story_id => @next) if @next %></div>
        </div>
        <div class="stoDcont" style="padding:0px">
          <%= raw(@story.content) %>
        </div>
        <%= render :partial => "stories/story_action" %>
        <%= show_post_comments(@story) %>
      </div>
    </div>
  </div>
</div>
<div class="contMainR">
  <!-- BEGIN list of tagged users for stories -->
  <%= render :partial => "stories/lets_read" %>
  <!-- END list of tagged users for stories -->
</div>
<script>
  $(document).ready(function() {
    $('#comment').css({width:'98.5%'});
  });
</script>
