<div class="contMainL">
    <div class="col571 proCen">
        <div class="col571in">
            <div class="proCenCont">
                <div class="stoDet phoD">
                    <div class="stoDetR">
                        <div class="stoDetRT">
                            <%= @music_album.name %>
                        </div>
                    </div>
                </div>
                <div class="showMusicVideo" id="playlist_list">
                    <% if @music_album.music_album_attach %>
                    <div class="photoImg">
                        <%= image_tag @music_album.music_album_attach.url(:thumb) %>
                    </div>
                    <% end %>
                    <%= render :partial => "musics/music_playlist" %>
                </div>
                <%= render :partial => "musics/music_album_action" %>
                <%= show_post_comments(@music_album) %>
            </div>
        </div>
    </div>
</div>
<div class="contMainR">
    <%= render :partial => "musics/lets_listen" %>
</div>
<script>
  $(document).ready(function() {
  $('#comment').css({width:'98.5%'});
});
</script>
