<% content_for :menu_top_student_lounge do -%>
<%= render :partial => 'users/show_public/submenu' %>
<% end -%>
<div class="contMainC">
    <%= render :partial => "users/show_public/proc" %>
    <%= render :partial => "users/show_public/infor" %>
    <%= render :partial => "users/show_public/friends" %>
    <%#= render :partial => "/users/show_public/links" %>
</div>
<div class="contMainL">
    <div class="col451 proCen">
        <div class="col451in">
            <div class="proCenCont">
                <% @friends.each do |f| %>
                <%= render :partial => "users/show_public/item_friend", :locals => {:friend => f} %>
                <% end %>
                <!--Pagination-->
                <div class="assPage">
                    <span class="numPage"><%= page_entries_info @friends %></span>
                    <%= will_paginate @friends %>
                </div>
                <!--Pagination-->
            </div>
        </div>
    </div>
</div>
<div class="contMainR">
    <!--Ads-->
    <%= render :partial => "ads/show_vertical_ads" %>
    <!--Ads-->
</div>
