<div class="contMainL" style="width: 580px">
  <div class="col571 proCen" style="background: none">
    <div class="col571in" style="background: none">
      <div class="proCenCont">
        <div class="stoDet phoD">
          <div class="stoDetR">
            <div class="stoDetRT">
              <%= @music_album.name %>
            </div>
          </div>
        </div>
        <div class="showMusicVideo" id="playlist_list">
          <% if @music_album.music_album_attach %>
            <div class="photoImg">
              <%= image_tag @music_album.music_album_attach.url(:thumb) %>
            </div>
          <% end %>
          <%= render :partial => "musics/music_playlist" %>
        </div>
				
        <%= render :partial => "musics/music_album_action" %>
        
        <%= show_post_comments(@music_album) %>
      </div>
    </div>
  </div>
</div>
<div class="contMainR" style="float: left;margin-top: 30px">
  <div id="on_this_music">
  <%= render :partial => "musics/lets_listen" %>
	</div>
</div>
<script>
  $(document).ready(function() {
    $('#comment').css({width:'98.5%'});
  });
  $(document).ready(function(){
    $('.qashdU').css({
      'float': 'left',
      'margin-left': '2px'
    });

    $('.qashdD').css({
      'float': 'left', 
      'margin-left': '14px'
    });
  });
</script>
