<div class="contMainL" style="width: 580px;margin-top: -24px">
  <div class="col571 proCen" style="background: none">
    <div class="col571in" style="background: none">
      <div class="proCenCont">
        <div class="stoDet phoD">
          <div class="stoDetR">
            <div class="stoDetRT">
              <%= @music_album.name %>
            </div>
          </div>
        </div>
        <div class="showMusicVideo" id="playlist_list">
          <% if @music_album.music_album_attach %>
            <div class="photoImg">
              <%= image_tag @music_album.music_album_attach.url(:thumb) %>
            </div>
          <% end %>
          <%= render :partial => "musics/music_playlist" %>
        </div>
        <% if logged_in? %>
          <%= render :partial => "musics/music_album_action_user" %>
          <%= show_post_comments_video(@music_album) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="contMainR" style="float: left;margin-top: 30px">
  <div id="on_this_music">
    <%= render :partial => "musics/lets_listen" %>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('div#TB_title').filter(':gt(0)').remove();
    $('div#TB_ajaxContent').filter(':gt(0)').remove();
    $('#comment').css({width:'98.5%'});
    $('div#TB_title').css({
      'height':'20px'
    });
    $('div#TB_window').css({
      'top':'320px'
    });
  });
  vtip();
</script>
