<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => 'users/show_public/submenu' %>
<% end -%>

<div class="contMainC">
  <%= render :partial => "users/show_public/proc" %>
  <%= render :partial => "users/show_public/infor" %>
  <%= render :partial => "users/show_public/friends" %>
  <%#= render :partial => "/users/show_public/links" %>
</div>

<div class="contMainL">
  <div class="col451 proCen" id="user_wall">
    <%= render :partial => "user_walls/wall_form_ajax" %>
    <div class="col451in">
      <div class="proCenCont">
        <% @walls.each do |w| %>
          <%= render :partial => "user_walls/wall_item", :locals => {:wall => w} %>
        <% end %>
        <%= render :partial => "user_walls/alert" %>
        <!--Pagination-->
        <div class="assPage">
          <span class="numPage"><%= page_entries_info @walls %></span>
          <%= will_paginate @walls %>
        </div>
        <!--Pagination-->
        <div class="goTop"><a href="javascript:;" onclick="goToByScroll('top_page')">Top</a></div>
      </div>
    </div>
  </div>
</div>
<div class="contMainR">
  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->
</div>
