<div id="page-heading"><h1>Edit State</h1></div>
<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
  <tr>
    <th rowspan="3" class="sized"><img src="/images/admin/shared/side_shadowleft.jpg" width="20" height="100" alt="" /></th>
    <th class="topleft"></th>
    <td id="tbl-border-top">&nbsp;</td>
    <th class="topright"></th>
    <th rowspan="3" class="sized"><img src="/images/admin/shared/side_shadowright.jpg" width="20" height="100" alt="" /></th>
  </tr>
  <tr>
    <td id="tbl-border-left"></td>
    <td>
      <!--  start content-table-inner -->
      <div id="content-table-inner">
        <table cellspacing="0" cellpadding="0" border="0" id="id-form">
          <% content_for :header do -%>
            <%= link_to 'States', states_path %>
          <% end -%>
          <%= form_for(@state, :html => {:id => "form"}) do |f| %>
            <tr>
              <th valign="top">Country*</th>
              <td><%= render :partial => "country", :locals => {:countries => @countries, :country_name => @state.country.name} %></td>
            </tr>
            <tr>
              <th valign="top">State name*</th>
              <td class="inp-form"><%= f.text_field :name, :class => '{validate:{required:true}}' %></td>

            </tr>
            <tr>
              <th valign="top">Alias*</th>
              <td class="inp-form"><%= f.text_field :alias, :class => '{validate:{required:true}}' %></td>
            </tr>
          <% end %>
          <tr>
            <th>&nbsp;</th>
            <td class="form-buttom"><a href="javascript:;" onclick="submit();">Update</a></td>
            <td class="form-show-back"><%= link_to 'Back', cities_path, :class => 'form-back' %></td>
            <td class="error-innerr"></td>
          </tr>
        </table>
      </div>
      <!--  end content-table-inner  -->
    </td>
    <td id="tbl-border-right"></td>
  </tr>
  <tr>
    <th class="sized bottomleft"></th>
    <td id="tbl-border-bottom">&nbsp;</td>
    <th class="sized bottomright"></th>
  </tr>
</table>
<!--  end content -->

<!--  end content-outer -->

<script type="text/javascript">
    function submit(){
        $("#form").submit();
    }
    $(document).ready(function(){
        $("#form").validate({

            meta: "validate"

        })
    });
</script>

