<div class="musicL">
  <div class="photoImg"><%= link_to display_image_video(video), user_video_url(current_user, video) %></div>
  <div class="mostMSR">
    <div class="mostMSA"><%= link_to "", user_videos_url(current_user, video), :class => "mostMSPlay" %></div>
  </div>
  <div class="musicB">
    <div style="margin-top: -6px;" class="musicS">State: <%= video.state %></div>
    <div class="musicN">
      <%= check_box_tag "video_id", video.id %>
      <span>
        <%= link_to truncate(video.title, :length => 30, :omission => '...'), user_videos_url(current_user, video), :style=>"width:75px" %>
      </span>
    </div>
  </div>
</div>