<div class="musicL">
  <div class="photoImg"><%= link_to raw("<div>#{image_tag video.video_attach.url(:thumb)}</div>"), user_video_url(current_user, video) %></div>
  <div class="mostMSR">
    <div class="mostMSA"><%= link_to "", user_videos_url(current_user, video), :class => "mostMSPlay" %></div>
  </div>
  <div class="musicB">
  	<div style="margin-top: -6px;" class="musicS">State: <%= video.state %></div>
    <div class="musicN"><%= check_box_tag "video_id", video.id %><%= link_to video.title, user_videos_url(current_user, video) %></div>
  </div>
</div>