<%= render :partial => "form_add_tag" %>

<% if  @video.user == current_user && @verify_users.size > 0 %>

  <%= render :partial => "form_decision" %>

<% end %><!-- end if -->



<div class="stoDbtm">
  <div class="AsDContBtm">
    <span class="btmComment"><a href="javascript:;" onclick="$('#form_comment').toggle('slow');">Comment</a></span>
    <span class="btmShare"><%= addthis_bookmark_button { raw("<span>Share</span>") } %></span>
    <span class="btmFav" id="item_favorite_<%= @video.id %>"><%= show_favorite_in_detail("Video", @video) %></span>
    <span class="btmComment"><a href="javascript:;" onclick="$('form#form_tag_user').toggle('slow');">Tag Friend</a></span>
    <span class="btmAbuse"><%= show_report_abuse(@video) %></span>
  </div>
</div>
<script type="text/javascript">
  var overallCount = 0;//this variable support for show/hide the button Accept/Refuse
  var path = "<%= list_friend_to_tag_user_path(current_user) %>?tagable_id=<%= @video.id %>&tagable_type=<%= @video.class.name %>";
  
  $(document).ready(function(){
    $('#accept_btn').click(function(){
      $('#decision_id').val('ACCEPT');
      $("form#form_tag_decision").submit();
    });
    $('#refuse_btn').click(function(){
      $('#decision_id').val('REFUSE');
      $("form#form_tag_decision").submit();
    });
  });

  $(function(){
    
    // Autocomplete initialization
    var tb = new $.TextboxList('#share_to', {
      unique: true,
      plugins: {
        autocomplete: {
          onlyFromValues: true
        }
      }
    });
    tb.getContainer().addClass('textboxlist-loading');
    $.ajax({
      url: path,
      dataType: 'json',
      success: function(r){
        tb.plugins['autocomplete'].setValues(r);
        tb.getContainer().removeClass('textboxlist-loading');
      }
    });
        
  });  
  $(document).ready(function(){
    $('.textboxlist').width(440);
    
    $('#send_btn').click(function(){
      $('form#form_tag_user').submit();
    });
    
  })
</script>