<script type="text/javascript" src="/javascripts/jquery.jcarousel.js"></script>

<!-- "Video For Everybody" http://camendesign.com/code/video_for_everybody -->
<video controls="controls" autoplay="autoplay" poster="" width="530" height="297" style="margin-left: -45px;">
  <source src="<%= get_video_path(@video.video_file.video_attach.url) %>" type="video/ogg" />
</video>
<hgroup>
  <div id="mycarousel" class="jcarousel-skin-tango" style="float: right">
    <ul id="list">
        <%
    videos = @video.user.videos_same_category(@video)
  %>
    <% videos.each do |v| %>
      <% if check_private_permission(current_user, @video.user, "my_videos") or check_view_permission(current_user, v) %>
        <li>
          <a href="<%= get_video_path(v.video_file.video_attach.url) %>" rel="<%= v.id %>">
            <%= truncate(v.title, :length=>12, :omission=>"...") %>
            <div class="jcarousel-skin-tango-img"><%= display_image_video(v) %></div>
            <span class="play_videoJ"></span>
          </a>
        </li>
      <% end %>
    <% end %>
    </ul>
  </div>
</hgroup>

<script>
  var obj = [];

  // listener function changes src
  function myNewSrc() {

    var myVideo = document.getElementsByTagName('video')[0];   
    mmyVideo.src = obj[(++i)%obj.length];
    myVideo.load();
    myVideo.play();

  }

  // function adds listener function to ended event
  function myAddListener(){
    var myVideo = document.getElementsByTagName('video')[0];  
    myVideo.addEventListener('ended', myNewSrc, false);
    
  }

  $(document).ready(function(){

    for(i in obj){
      var text = document.createTextNode(obj[i]);
      var list = document.getElementById('list');
      //var href = document.createElement('a');
      var bullet = document.createElement('li');
      var mycarousel = document.getElementById('mycarousel');
      //var all_links = mycarousel.getElementsByTagName('a');
      var path = "vids/" + text.nodeValue;
        
      bullet.innerHTML= "<a href='" + path + "' onclick='return false;'>" + text.nodeValue + "</a>";
      list.appendChild(bullet);
      mycarousel.appendChild(list);
      //all_links[i].addEventListener('click', playThis, false);
    
    }

    $('#list > li a').live('click', function(e){
      var t = e.target;
      var $this = $(this);
      var path = $this.attr('href');
      var myVideo = document.getElementsByTagName('video')[0];
        
      myVideo.src = path;
      myVideo.load();
      myVideo.play();

    });
    
  
  });
</script>


<a 
  href="<%= get_video_path(@video.video_file.video_attach.url) %>" 
  style="display:block;width:30px;height:30px;margin-left: 15px;" 
  id="player">
</a>

<!-- let rest of the page float normally -->
<br clear="all" />

<script>

  // get all links that are inside div#clips
  var links = document.getElementById("mycarousel").getElementsByTagName("a");

  // loop those links and alter their click behaviour
  for (var i = 0; i < links.length; i++) {
    links[i].onclick = function() {
		
      // play the clip specified in href- attribute with Flowplayer
      load_on_this_video(this.getAttribute("rel", 2), this.getAttribute("href", 2));
		
      // by returning false normal link behaviour is skipped
      return false;
    }
  }
  // Ride the carousel...
  jQuery(document).ready(function() {
    jQuery('#mycarousel').jcarousel();
    
  }); 

  function load_on_this_video(video_id, link){
    $.ajax({
      url: '/videos/get_on_this_video',
      dataType: 'script',
      data: {
        video_id: video_id
      },
      beforeSend: function() {
        $('#on_this_videos').val("");
        $('#action_video').val("");
      }
    });
  }

</script>
