<div id="add_tag">
  <%= render :partial => "videos/form_add_tag" %>
</div>

<div class="stoDbtm" style="width: 550px">
  <div class="AsDContBtm">
    <span class="btmComment"><a href="javascript:;" onclick="$('#form_comment').toggle('slow');">Comment</a></span>
    <span class="btmFav" id="item_favorite_<%= @video.id %>"><%= show_favorite_in_detail("Video", @video) %></span>
    <span class="btmComment"><a href="javascript:;" onclick="$('form#form_tag_user').toggle('slow');">Tag Friend</a></span>
    <span class="btmAbuse"><%= show_report_abuse(@video) %></span>
    <span id="rate_pos"><%= render :partial => "videos/rating_action", :locals => {:post => @video, :controller_name => "videos"}%></span>
  </div>
</div>
<% form_tag url_for(:controller => "videos", :action => "comment_inform"), :id => "form_cmt_inf", :method => :post, :remote => true do %>
  <%= hidden_field_tag "comment_content" %>
  <%= hidden_field_tag "video_id", @video.id %>
<% end %><!-- end form Note: this form is used to send notification to tagged-users when new comment is added -->
