<div class="slsTopLT">
    Your videos
</div>
<div class="slsTopLB friLeft">
    <div class="search" style="margin-top:-19px; margin-bottom:20px">
        <%= form_for :search_my_video, :url => my_p_user_videos_path(current_user), :html => {:id => "my_videos_search", :method => "GET", :onsubmit => "return false"} do %>
        <div class="textS">
            <%= text_field_tag "search[name]", @search_name %>
        </div>
        <div class="btmS">
            <a href="javascript:;" onclick="searchMyVideos();"><img src="/images/iconSF.png"/></a>
        </div><% end %>
    </div>
</div>
<div class="musicRow">
    <% @videos.each do |m_p| %>
    <%= render :partial => "item_my_video", :locals => {:video => m_p} %>
    <% end %>
</div>
<div class="slsTopR">
    <!--Pagination-->
    <div class="assPage my_videos">
        <span class="numPage"><%= page_entries_info @videos %></span>
        <%= will_paginate @videos %>
    </div>
    <!--Pagination-->
</div>
<script type="text/javascript">
    formatLinkForPaginationURLMyVideo();
</script>
