<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => '/shared/submenu' %>
<% end -%>
<div class="slStoryL">
  <div class="contDetL">
    <div class="contDetLin">
      <div class="inboxLeft">
        <div class="slsShare">
          <div class="slsShareL">
            Post your video
          </div>
        </div>
        <%= display_flash_messages_with_raw %>
        <div class="postCont">
          <%= form_for [current_user, @video], :html => {:id => "form", :name => "form", :multipart => true } do |f| %>
            <div class="postItem">
              <div class="postTit">
                Category*
              </div>
              <div class="postInp">
                <%= f.select :category, @categories %>
              </div>
            </div>
            <div class="postItem">
              <div class="postTit">
                Title*
              </div>
              <div class="postInp">
                <%= f.text_field :title, :style => "width:360px", :class => "{validate:{required:true}}" %>
              </div>
            </div>
            <div class="postTitt">
              Location*
            </div>
            <div class="postItemA">
              <div id="divinputfile" style="margin-left:120px">
                <div class="postItemC">
                  <%= file_field_tag "video[video_attach]", :id =>"video_video_attach", :onchange => "$('#fakefilepc').val(this.value);", :class => "filepc {validate:{required:true, accept:'264|3g2|3gp|3gp2|3gpp|3gpp2|3mm|3p2|60d|787|aaf|aep|aepx|aet|aetx|ajp|ale|amv|amx|anim|arf|asf|asx|avb|avd|avi|avp|avs|avs|axm|bdm|bdmv|bik|bin|bix|bmk|bnp|box|bs4|bsf|byu|camproj|camrec|clpi|cmmp|cmmtpl|cmproj|cmrec|cpi|cst|cvc|d2v|d3v|dat|dav|dce|dck|ddat|dif|dir|divx|dlx|dmb|dmsm|dmsm3d|dmss|dnc|dpa|dpg|dream|dsy|dv|dv-avi|dv4|dvdmedia|dvr|dvr-ms|dvx|dxr|dzm|dzp|dzt|edl|evo|eye|f4p|f4v|fbr|fbr|fbz|fcp|flc|flh|fli|flv|flx|gfp|gl|grasp|gts|gvi|gvp|h264|hdmov|hkm|ifo|imovieproj|imovieproject|iva|ivf|ivr|ivs|izz|izzy|jts|jtv|k3g|lrec|lsf|lsx|m15|m1pg|m1v|m21|m21|m2a|m2p|m2t|m2ts|m2v|m4e|m4u|m4v|m75|meta|mgv|mj2|mjp|mjpg|mkv|mmv|mnv|mod|modd|moff|moi|moov|mov|movie|mp21|mp21|mp2v|mp4|mp4v|mpe|mpeg|mpeg4|mpf|mpg|mpg2|mpgindex|mpl|mpls|mpsub|mpv|mpv2|mqv|msdvd|msh|mswmm|mts|mtv|mvb|mvc|mvd|mve|mvp|mvy|mxf|mys|ncor|nsv|nuv|nvc|ogm|ogv|ogx|osp|par|pds|pgi|piv|playlist|pmf|pns|ppj|prel|pro|prproj|prtl|psh|pssd|pva|pvr|pxv|qt|qtch|qtl|qtm|qtz|r3d|rcproject|rdb|rec|rm|rmd|rmp|rms|rmvb|roq|rp|rts|rts|rum|rv|sbk|sbt|scscm|scm|scn|screenflow|sec|seq|sfd|sfvidcap|smi|smil|smk|sml|smv|spl|sqz|srt|ssm|stl|str|stx|svi|swf|swi|swt|tda3mt|tdx|tivo|tix|tod|tp|tp0|tpd|tpr|trp|ts|tvs|vc1|vcpf|vcr|vcv|vdo|vdr|veg|vem|vf|vft|vfw|vfz|vgz|vid|viewlet|viv|vivo|vlab|vob|vp3|vp6|vp7|vpj|vro|vs4|vse|vsp|w32|wcp|webm|wlmp|wm|wmd|wmmp|wmv|wmx|wot|wp3|wpl|wtv|wvx|xfl|xvid|yuv|zm1|zm2|zm3|zmv'}}", :style => "height:24px;" %>
                </div>
                <div class="postUpfile">
                  <div id="fakeinputfile">
                    <input name="fakefilepc" type="text" id="fakefilepc" style="margin-top:-3px;"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="postItem">
              <div class="postTit">
                Description
              </div>
              <div class="postInp">
                <%= f.text_area :description %>
              </div>
            </div>
            <div class="postItem">
              <div class="postTit">
                Tag line
              </div>
              <div class="postInp">
                <%= text_field_tag 'tag_list', "", :style => "width:360px" %>
              </div>
            </div>
            <div class="stoExBtm">
              <div class="stoExCre" style="margin-left: 107px; margin-bottom: 15px; margin-top: -2px;">
                <a href="javascript:;" id="submitNew_video">Send</a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contMainR">
  <!--Most Viewed-->
  <%= render :partial => "most_viewed" %>
  <!--Most Viewed-->
  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->
</div>
<style>
  #fakeinputfile #fakefilepc {
    margin-top: -1px;
  }
</style>
<script type="text/javascript">
  $(document).ready(function(){
    $("#submitNew_video").click(function(){
      submitNewVideo();
    });
  });
  function submitNewVideo(){
    var result = $("#form").validate({
      meta: "validate"
    });
    if (result) {
      $("#form").submit();
    }
  }
</script>
