<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => '/shared/submenu' %>
<% end -%>
<div class="slStoryL">
  <div class="contDetL">
    <div class="contDetLin">
      <div class="inboxLeft">
        <div class="slsShare">
          <div class="slsShareL">
            <span>You are here:</span>
            <%= link_to "Videos", user_videos_url(current_user), :class => "slsShareLink" %>
            <a href="javascript:;" class="slsShareLinkL"><%= current_user == @video.user ? "Your videos" : "Friends shared videos" %></a>
          </div>
          <div class="slsShareR">
            <%= render :partial => "menu" %>
          </div>
        </div>
        <%= display_flash_messages_with_raw %>
        <%= render :partial => "expand_create_video_album" %>
        <div class="stoDet phoD">
          <div class="AsDcomImg">
            <%= show_image_user_post(@video.user) %>
          </div>
          <div class="stoDetR">
            <div class="stoDetRT">
              <%= @video.user.full_name %>: <%= @video.title %>
            </div>
          </div>
        </div>
        <div class="onThisBtm">
          <div class="stoPre">
            <%= link_to "", user_video_path(current_user, @prev) if @prev %>
          </div>
          <div class="stoNext">
            <%= link_to "", user_video_path(current_user, @next) if @next %>
          </div>
        </div>
        <div class="musicVideo">
          <% if @video.video_file %>
            <%= render :partial => "video_js" %>
          <% else %>
            <%= display_image_video(@video) %>
          <% end %>
        </div>
        <%= render :partial => "video_action" %>
        <%= show_post_comments(@video) %>
        <div class="goTop">
          <a href="javascript:;" onclick="goToByScroll('top_page')">Top</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contMainR">
  <!--Most Viewed-->
  <%= render :partial => "on_this_video" %>
  <!--Most Viewed-->
  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->
</div>
<script type="text/javascript" charset="utf-8">
    
  // Add VideoJS to all video tags on the page when the DOM is ready
  VideoJS.setupAllWhenReady();
</script>
