<div class="footer">
    <div class="footer1">
        <table cellspacing="0" cellpadding="0">
            <tr>
                <td class="account">
                    <h2 class="footTitle">Your Account</h2>
                    <div class="footItem">
                        <% if logged_in? %>
                        <%= link_to "Inbox", user_messages_path(current_user) %>
                        <% else %>
                        <a href="javascript:;" class="vtip" title="This function is available only to registered users.">Inbox</a>
                        <% end %>
                    </div>
                    <div class="footItem">
                        <% if logged_in? %>
                        <%= link_to "Profile", user_profiles_path(current_user) %>
                        <% else %>
                        <a href="javascript:;" class="vtip" title="This function is available only to registered users.">Profile</a>
                        <% end %>
                    </div>
                </td>
                <td class="help">
                    <h2 class="footTitle">Help & Information</h2>
                    <div class="footItem">
                        <a href="#">Help Resources</a>
                    </div>
                    <div class="footItem">
                        <a href="#">Community Help Forum</a>
                    </div>
                    <div class="footItem">
                        <a href="#">AfterClassroom Handbook</a>
                    </div>
                    <div class="footItem">
                        <a href="#">Advertising</a>
                    </div>
                </td>
                <td class="after">
                    <h2 class="footTitle">After Classroom</h2>
                    <div class="footItem">
                        <%= link_to 'Company Information', :controller => 'statics', :action => 'index' %>
                    </div>
                    <div class="footItem">
                        <%= link_to 'Terms of use', :controller => 'statics', :action => 'terms' %>
                    </div>
                    <div class="footItem">
                        <%= link_to 'Privacy Policy', :controller => 'statics', :action => 'privacy' %>
                    </div>
                </td>
            </tr>
        </table>
        <div class="flogo">
            <div class="flogoimg">
                <img alt="classroom" src="/images/logo.png" />
            </div>
            <div class="flogoinf">
                &copy; 2009 AfterClassroom. All rights reserved. Content created and posted by AfterClassroom users is dedicated to the public domain.
            </div>
        </div>
    </div>
</div>
