<div id="footpanel">
  <ul id="mainpanel">

    <li id="home">
      <a href="#" class="home">Home</a>
      <div class="subpanel">
        <h3><span> &ndash; </span>Home</h3>
        <ul>
          <li><%= link_to "Homeworks", post_assignments_path %></li>
          <li><%= link_to "Q.As", post_qas_path %></li>
          <li><%= link_to "Tutors", post_tutors_path %></li>
          <li><%= link_to "Books", post_books_path %></li>
          <li><%= link_to "Jobs", post_jobs_path %></li>
          <li><%= link_to "Foods", post_foods_path %></li>
          <li><%= link_to "Party", post_parties_path %></li>
          <li><%= link_to "MyX", post_myxes_path %></li>
          <li><%= link_to "Student Awareness", post_awarenesses_path %></li>
          <li><%= link_to "Housing", post_housings_path %></li>
          <li><%= link_to "TeamUp", post_teamups_path %></li>
        </ul>
      </div>
    </li>

    <li><a href="http://www.goodluck.vn" class="profile">View Profile <small>View Profile</small></a></li>
    <li><a href="http://www.goodluck.vn" class="editprofile">Edit Profile <small>Edit Profile</small></a></li>
    <li><a href="http://www.goodluck.vn" class="contacts">Contacts <small>Contacts</small></a></li>

    <li><a href="http://www.goodluck.vn" class="messages">Messages (10) <small>Messages</small></a></li>
    <li><a href="http://www.goodluck.vn" class="playlist">Play List <small>Play List</small></a></li>
    <li><a href="http://www.goodluck.vn" class="videos">Videos <small>Videos</small></a></li>

    <li id="alertpanel">
      <a href="#" class="alerts">Alerts</a>

      <div class="subpanel">
        <h3><span> &ndash; </span>Notifications</h3>
        <ul>
          <li class="view"><a href="#">View All</a></li>
          <li><a href="#" class="delete">X</a><p><a href="#">Antehabeo</a> abico quod duis odio tation luctus eu ad <a href="#">lobortis facilisis</a>.</p></li>

          <li><a href="#" class="delete">X</a><p><a href="#">Et voco </a> Duis vel quis at metuo obruo, turpis quadrum nostrud <a href="#">lobortis facilisis</a>.</p></li>
          <li><a href="#" class="delete">X</a><p><a href="#">Tego</a> nulla eum probo metuo nullus indoles os consequat commoveo os<a href="#">lobortis facilisis</a>.</p></li>
          <li><a href="#" class="delete">X</a><p><a href="#">Antehabeo</a> abico quod duis odio tation luctus eu ad <a href="#">lobortis facilisis</a>.</p></li>

          <li><a href="#" class="delete">X</a><p><a href="#">Nonummy</a> nulla eum probo metuo nullus indoles os consequat commoveo <a href="#">lobortis facilisis</a>.</p></li>
          <li><a href="#" class="delete">X</a><p><a href="#">Tego</a> minim autem aptent et jumentum metuo uxor nibh euismod si <a href="#">lobortis facilisis</a>.</p></li>
          <li><a href="#" class="delete">X</a><p><a href="#">Antehabeo</a> abico quod duis odio tation luctus eu ad <a href="#">lobortis facilisis</a>.</p></li>

        </ul>
      </div>
    </li>
    <li id="chatpanel">
      <a href="#" class="chat">Friends (<strong>18</strong>) </a>
      <div class="subpanel">
        <h3><span> &ndash; </span>Friends Online</h3>

        <ul>
          <li><span>Family Members</span></li>
          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>

          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>
          <li><span>Other Friends</span></li>
          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>

          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>

          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>

          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>

          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>

          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="icon/images.jpg" alt="" /> Your Friend</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>

<script type="text/javascript">
  $(document).ready(function(){

    //Adjust panel height
    $.fn.adjustPanel = function(){
      $(this).find("ul, .subpanel").css({ 'height' : 'auto'}); //Reset subpanel and ul height

      var windowHeight = $(window).height(); //Get the height of the browser viewport
      var panelsub = $(this).find(".subpanel").height(); //Get the height of subpanel
      var panelAdjust = windowHeight - 100; //Viewport height - 100px (Sets max height of subpanel)
      var ulAdjust =  panelAdjust - 25; //Calculate ul size after adjusting sub-panel (27px is the height of the base panel)

      if ( panelsub >= panelAdjust ) {	 //If subpanel is taller than max height...
        $(this).find(".subpanel").css({ 'height' : panelAdjust }); //Adjust subpanel to max height
        $(this).find("ul").css({ 'height' : ulAdjust}); //Adjust subpanel ul to new size
      }
      else if ( panelsub < panelAdjust ) { //If subpanel is smaller than max height...
        $(this).find("ul").css({ 'height' : 'auto'}); //Set subpanel ul to auto (default size)
      }
    };

    //Execute function on load
    $("#home").adjustPanel();
    $("#chatpanel").adjustPanel(); //Run the adjustPanel function on #chatpanel
    $("#alertpanel").adjustPanel(); //Run the adjustPanel function on #alertpanel

    //Each time the viewport is adjusted/resized, execute the function
    $(window).resize(function () {
      $("#home").adjustPanel();
      $("#chatpanel").adjustPanel();
      $("#alertpanel").adjustPanel();
    });

    //Click event on Chat Panel + Alert Panel
    $("#home a:first, #chatpanel a:first, #alertpanel a:first").click(function() { //If clicked on the first link of #chatpanel and #alertpanel...
      if($(this).next(".subpanel").is(':visible')){ //If subpanel is already active...
        $(this).next(".subpanel").hide(); //Hide active subpanel
        $("#footpanel li a").removeClass('active'); //Remove active class on the subpanel trigger
      }
      else { //if subpanel is not active...
        $(".subpanel").hide(); //Hide all subpanels
        $(this).next(".subpanel").toggle(); //Toggle the subpanel to make active
        $("#footpanel li a").removeClass('active'); //Remove active class on all subpanel trigger
        $(this).toggleClass('active'); //Toggle the active class on the subpanel trigger
      }
      return false; //Prevent browser jump to link anchor
    });

    //Click event outside of subpanel
    $(document).click(function() { //Click anywhere and...
      $(".subpanel").hide(); //hide subpanel
      $("#footpanel li a").removeClass('active'); //remove active class on subpanel trigger
    });
    $('.subpanel ul').click(function(e) {
      e.stopPropagation(); //Prevents the subpanel ul from closing on click
    });

    //Delete icons on Alert Panel
    $("#alertpanel li").hover(function() {
      $(this).find("a.delete").css({'visibility': 'visible'}); //Show delete icon on hover
    },function() {
      $(this).find("a.delete").css({'visibility': 'hidden'}); //Hide delete icon on hover out
    });
  });
</script>