<div id="toolbarbut"> <!-- hide button -->
  <span class="showbar"><a href="#">show bar</a></span>
</div>
<div id="toolbar"> <!-- toolbar container -->
  <div class="leftside"> <!-- all things in floating left side -->
    <ul id="social">
      <li><a class="assignments" href="#"></a>
        <div id="tipassignments" class="tip">
          <ul>
            <li><%= link_to "Assignments", post_assignments_path %></li>
            <li><%= link_to "| Post", new_post_assignment_path %></li>
          </ul>
        </div>
      </li>
      <li><a class="projects" href="#"></a>
        <div id="tipprojects" class="tip">
          <ul>
            <li><%= link_to "Projects", post_assignments_path %></li>
            <li><%= link_to "| Post", new_post_assignment_path %></li>
          </ul>
        </div>
      </li>
      <li><a class="past_tests" href="#"></a>
        <div id="tippast_tests" class="tip">
          <ul>
            <li><%= link_to "Past Tests", post_tests_path %></li>
            <li><%= link_to "| Post", new_post_test_path %></li>
          </ul>
        </div>
      </li>
      <li><a class="past_exams" href="#"></a>
        <div id="tippast_exams" class="tip">
          <ul>
            <li><%= link_to "Past Exams", post_exams_path %></li>
            <li><%= link_to "| Post", new_post_exam_path %></li>
          </ul>
        </div>
      </li>
      <li><a class="qas" href="#"></a>
        <div id="tipqas" class="tip">
          <ul>
            <li><%= link_to "Q.As", post_qas_path %></li>
            <li><%= link_to "| Post", new_post_qa_path %></li>
          </ul>
        </div>
      </li>

      <li><a class="tutors" href="#"></a>
        <div id="tiptutors" class="tip">
          <ul>
            <li><%= link_to "Tutors", post_tutors_path %></li>
            <li><%= link_to "| Post", new_post_tutor_path %></li>
          </ul>
        </div>
      </li>
      <li><a class="books" href="#"></a>
        <div id="tipbooks" class="tip">
          <ul>
            <li><%= link_to "Books", post_books_path %></li>
            <li><%= link_to "| Post", new_post_book_path %></li>
          </ul>
        </div>
      </li>
      <li><a class="jobs" href="#"></a>
        <div id="tipjobs" class="tip">
          <ul>
            <li><%= link_to "Jobs", post_jobs_path %></li>
            <li><%= link_to "| Post", new_post_job_path %></li>
          </ul>
        </div>
      </li>
      <li><a class="foods" href="#"></a>
        <div id="tipfoods" class="tip">
          <ul>
            <li><%= link_to "Foods", post_foods_path %></li>
            <li><%= link_to "| Post", new_post_food_path %></li>
          </ul>
        </div>
      </li>
      <li><a class="party" href="#"></a>
        <div id="tipparty" class="tip">
          <ul>
            <li><%= link_to "Party", post_parties_path %></li>
            <li><%= link_to "| Post", new_post_party_path %></li>
          </ul>
        </div>
      </li>
      <li><a class="myx" href="#"></a>
        <div id="tipmyx" class="tip">
          <ul>
            <li><%= link_to "MyX", post_myxes_path %></li>
            <li><%= link_to "| Post", new_post_myx_path %></li>
          </ul>
        </div>
      </li>
      <li><a class="student_awareness" href="#"></a>
        <div id="tipstudent_awareness" class="tip">
          <ul>
            <li><%= link_to "Student Awareness", post_awarenesses_path %></li>
            <li><%= link_to "| Post", new_post_awareness_path %></li>
          </ul>
        </div>
      </li>
      <li><a class="housing" href="#"></a>
        <div id="tiphousing" class="tip">
          <ul>
            <li><%= link_to "Housing", post_housings_path %></li>
            <li><%= link_to "| Post", new_post_housing_path %></li>
          </ul>
        </div>
      </li>
      <li><a class="teamUp" href="#"></a>
        <div id="tipteamUp" class="tip">
          <ul>
            <li><%= link_to "TeamUp", post_teamups_path %></li>
            <li><%= link_to "| Post", new_post_teamup_path %></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="rightside"> <!-- all things in floating left side -->
    <span class="downarr"> <!-- hide button -->
      <a href="#"></a>
    </span>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function(){

    //hide toolbar and make visible the 'show' button
    $("span.downarr a").click(function() {
      $("#toolbar").slideToggle("fast");
      $("#toolbarbut").fadeIn("slow");
    });

    //show toolbar and hide the 'show' button
    $("span.showbar a").click(function() {
      $("#toolbar").slideToggle("fast");
      $("#toolbarbut").fadeOut();
    });

    //show tooltip when the mouse is moved over a list element
    $("ul#social li").hover(function() {
      $(this).find("div").fadeIn("fast").show(); //add 'show()'' for IE
      $(this).mouseleave(function () { //hide tooltip when the mouse moves off of the element
        $(this).find("div").hide();
      });
    });

    //don't jump to #id link anchor

    $(".assignments, .projects, .past_tests, .past_exams, .rss, .qas, .tutors, .books, .jobs, .foods, .party, .myx, .student_awareness, .housing, .teamUp, span.downarr a, span.showbar a").click(function() {

      return false;
    });

    //show quick menu on click

    $("span.menu_title a").click(function() {
      if($(".quickmenu").is(':hidden')){ //if quick menu isn't visible
        $(".quickmenu").fadeIn("fast"); //show menu on click
      }
      else if ($(".quickmenu").is(':visible')) { //if quick menu is visible
        $(".quickmenu").fadeOut("fast"); //hide menu on click
      }
    });

    //hide menu on casual click on the page
    $(document).click(function() {
      $(".quickmenu").fadeOut("fast");
      $(".quickmenu").css({'vivibility': 'hidden'});
    });
    $('.quickmenu').click(function(event) {
      event.stopPropagation(); //use .stopPropagation() method to avoid the closing of quick menu panel clicking on its elements
    });

    $.fn.adjustPanel = function(){
      $(this).find("ul, .subpanel").css({ 'height' : 'auto'}); //Reset subpanel and ul height

      var windowHeight = $(window).height(); //Get the height of the browser viewport
      var panelsub = $(this).find(".subpanel").height(); //Get the height of subpanel
      var panelAdjust = windowHeight - 100; //Viewport height - 100px (Sets max height of subpanel)
      var ulAdjust =  panelAdjust - 25; //Calculate ul size after adjusting sub-panel (27px is the height of the base panel)

      if ( panelsub >= panelAdjust ) {	 //If subpanel is taller than max height...
        $(this).find(".subpanel").css({ 'height' : panelAdjust }); //Adjust subpanel to max height
        $(this).find("ul").css({ 'height' : ulAdjust}); //Adjust subpanel ul to new size
      }
      else if ( panelsub < panelAdjust ) { //If subpanel is smaller than max height...
        $(this).find("ul").css({ 'height' : 'auto'}); //Set subpanel ul to auto (default size)
      }
    };

    //Execute function on load

    $("#chatpanel").adjustPanel(); //Run the adjustPanel function on #chatpanel
    $("#alertpanel").adjustPanel(); //Run the adjustPanel function on #alertpanel

    //Each time the viewport is adjusted/resized, execute the function
    $(window).resize(function () {

      $("#chatpanel").adjustPanel();
      $("#alertpanel").adjustPanel();
    });

    //Click event on Chat Panel + Alert Panel
    $("#chatpanel a:first,").click(function() { //If clicked on the first link of #chatpanel and #alertpanel...
      if($(this).next(".subpanel").is(':visible')){ //If subpanel is already active...
        $(this).next(".subpanel").hide(); //Hide active subpanel
        $("#footpanel li a").removeClass('active'); //Remove active class on the subpanel trigger
      }
      else { //if subpanel is not active...
        $(".subpanel").hide(); //Hide all subpanels
        $(this).next(".subpanel").toggle(); //Toggle the subpanel to make active
        $(".rightside li a").removeClass('active'); //Remove active class on all subpanel trigger
        $(this).toggleClass('active'); //Toggle the active class on the subpanel trigger
      }
      return false; //Prevent browser jump to link anchor
    });

    //Click event outside of subpanel
    $(document).click(function() { //Click anywhere and...
      $(".subpanel").hide(); //hide subpanel
      $(".rightside li a").removeClass('active'); //remove active class on subpanel trigger
    });
    $('.subpanel ul').click(function(e) {
      e.stopPropagation(); //Prevents the subpanel ul from closing on click
    });

  });

</script>