<script type="text/javascript">

  $(document).ready(function(){

    //hide toolbar and make visible the 'show' button
    $("span.downarr a").click(function() {
      $("#toolbar").slideToggle("fast");
      $("#toolbarbut").fadeIn("slow");
    });

    //show toolbar and hide the 'show' button
    $("span.showbar a").click(function() {
      $("#toolbar").slideToggle("fast");
      $("#toolbarbut").fadeOut();
    });

    //show tooltip when the mouse is moved over a list element
    $("ul#social li").hover(function() {
      $(this).find("div").fadeIn("fast").show(); //add 'show()'' for IE
      $(this).mouseleave(function () { //hide tooltip when the mouse moves off of the element
        $(this).find("div").hide();
      });
    });

    //don't jump to #id link anchor
    $(".homeworks, .qas, .tutors, .books, .rss, .jobs, .menutit, span.downarr a, span.showbar a").click(function() {
      return false;
    });

    //show quick menu on click
    
    $("span.menu_title a").click(function() {
      if($(".quickmenu").is(':hidden')){ //if quick menu isn't visible
        $(".quickmenu").fadeIn("fast"); //show menu on click
      }
      else if ($(".quickmenu").is(':visible')) { //if quick menu is visible
        $(".quickmenu").fadeOut("fast"); //hide menu on click
      }
    });

    //hide menu on casual click on the page
    $(document).click(function() {
      $(".quickmenu").fadeOut("fast");
      $(".quickmenu").css({'vivibility': 'hidden'});
    });
    $('.quickmenu').click(function(event) {
      event.stopPropagation(); //use .stopPropagation() method to avoid the closing of quick menu panel clicking on its elements
    });

    $.fn.adjustPanel = function(){
		$(this).find("ul, .subpanel").css({ 'height' : 'auto'}); //Reset subpanel and ul height

		var windowHeight = $(window).height(); //Get the height of the browser viewport
		var panelsub = $(this).find(".subpanel").height(); //Get the height of subpanel
		var panelAdjust = windowHeight - 100; //Viewport height - 100px (Sets max height of subpanel)
		var ulAdjust =  panelAdjust - 25; //Calculate ul size after adjusting sub-panel (27px is the height of the base panel)

		if ( panelsub >= panelAdjust ) {	 //If subpanel is taller than max height...
			$(this).find(".subpanel").css({ 'height' : panelAdjust }); //Adjust subpanel to max height
			$(this).find("ul").css({ 'height' : ulAdjust}); //Adjust subpanel ul to new size
		}
		else if ( panelsub < panelAdjust ) { //If subpanel is smaller than max height...
			$(this).find("ul").css({ 'height' : 'auto'}); //Set subpanel ul to auto (default size)
		}
	};

	//Execute function on load
	
	$("#chatpanel").adjustPanel(); //Run the adjustPanel function on #chatpanel
	$("#alertpanel").adjustPanel(); //Run the adjustPanel function on #alertpanel

	//Each time the viewport is adjusted/resized, execute the function
	$(window).resize(function () {
		
		$("#chatpanel").adjustPanel();
		$("#alertpanel").adjustPanel();
	});

	//Click event on Chat Panel + Alert Panel
	$("#chatpanel a:first,").click(function() { //If clicked on the first link of #chatpanel and #alertpanel...
		if($(this).next(".subpanel").is(':visible')){ //If subpanel is already active...
			$(this).next(".subpanel").hide(); //Hide active subpanel
			$("#footpanel li a").removeClass('active'); //Remove active class on the subpanel trigger
		}
		else { //if subpanel is not active...
			$(".subpanel").hide(); //Hide all subpanels
			$(this).next(".subpanel").toggle(); //Toggle the subpanel to make active
			$(".rightside li a").removeClass('active'); //Remove active class on all subpanel trigger
			$(this).toggleClass('active'); //Toggle the active class on the subpanel trigger
		}
		return false; //Prevent browser jump to link anchor
	});

	//Click event outside of subpanel
	$(document).click(function() { //Click anywhere and...
		$(".subpanel").hide(); //hide subpanel
		$(".rightside li a").removeClass('active'); //remove active class on subpanel trigger
	});
	$('.subpanel ul').click(function(e) {
		e.stopPropagation(); //Prevents the subpanel ul from closing on click
	});

	


  });

</script>

<div id="toolbarbut"> <!-- hide button -->
  <span class="showbar"><a href="#">show bar</a></span>
</div>

<div id="toolbar"> <!-- toolbar container -->
<div class="left"> <!-- all things in floating left side -->

    <span class="menu_title">
      <a class="menutit" href="#">Student Lounge</a> <!-- quick menu title -->
    </span>
    <div class="quickmenu">
      <ul> <!-- quick menu list -->
        <li><%= link_to "Student Lounge", user_student_lounges_path(current_user) %></li>
        <li><%= link_to "Inbox", user_messages_path(current_user) %></li>
        <li><%= link_to "Friends", user_friends_path(current_user) %></li>
        <li><%= link_to "Profile", user_profiles_path(current_user) %></li>
        <li><%= link_to "Setting", user_settings_path(current_user) %></li>
      </ul>
    </div>
  </div>
  <div class="leftside"> <!-- all things in floating left side -->
    <ul id="social">
      <li><a class="homeworks" href="#"></a>
        <div id="tiphomeworks" class="tip">
          <ul>
            <li><a href="#">Homeworks</a></li>
            <li><a href="#">| Post</a></li>
          </ul>
        </div>
      </li>
      <li><a class="qas" href="#"></a>
        <div id="tipqas" class="tip">
          <ul>
            <li><a href="#">Q.As</a></li>
            <li><a href="#">| Post</a></li>
          </ul>
        </div>
      </li>
      <li><a class="tutors" href="#"></a>
        <div id="tiptutors" class="tip">
          <ul>
            <li><a href="#">Tutors</a></li>
            <li><a href="#">| Post</a></li>
          </ul>
        </div>
      </li>
      <li><a class="books" href="#"></a>
        <div id="tipbooks" class="tip">
          <ul>
            <li><a href="#">Books</a></li>
            <li><a href="#">| Post</a></li>
          </ul>
        </div>
      </li>
      <li><a class="jobs" href="#"></a>
        <div id="tipjobs" class="tip">
          <ul>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">| Post</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="rightside"> <!-- all things in floating left side -->
    <span class="downarr"> <!-- hide button -->
      <a href="#"></a>
    </span>

     <span class="menu_title2">
    
	<div class="studentImg1"><a href="#"><div><img src="/images/pictures/pic7.png"></div></a></div>
        <div class="studentInf1"><a href="#"><strong>John</strong></a></div>
		
    </span>
<span class="menu_title2">
      <div class="studentImg1"><a href="#"><div><img src="/images/pictures/pic7.png"></div></a></div>
        <div class="studentInf1"><a href="#"><strong>vietbeto</strong></a></div>
    </span>

    <span id="chatpanel">
      <a class="chat" href="#">(<strong>18</strong>) Chat width friends</a> <!-- quick menu title -->
    

  <div class="subpanel">
    <div class="search1">
      <div class="btmSa"><a href=""><img src="/images/icon-search.png"></a></div>
       
  </div>
    
      <ul> <!-- quick menu list -->
        <li><span>Friends online</span></li>
            	<li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
                <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
                <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
                <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
                <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
                <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
                <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
                <li><span>Friends ofline</span></li>
                <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
                <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>

                <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
                <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
                <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
                <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>

                
      </ul>
    </div>
  </span>
    </div>
  </div>

<style type="text/css">
  .studentInf1  {
float:right;
width:80px;
margin-top:5px;
}
    .menu_title2{
    background:none repeat scroll 0 0 #E4E4E4;
border-right:1px solid #A4A4A4;
margin-top:-2px;
margin-right:5px;
float:left;
  }
  .studentImg1 {
    float:left;
width:35px;
  }
    .studentImg1 a img{
  border:0 none;
height:18px;
margin-left:3px;
margin-top:3px;
  }
  .img_menu_title1  {
background:url("/images/pictures/pic7.png") no-repeat scroll left 3px transparent;
line-height:20px;
padding:0 0 5px 25px;
}
  .menu_title1{
    background:none repeat scroll 0 0 #E4E4E4;
border-right:1px solid #A4A4A4;
padding:5px;
margin-top:-2px;
float:left;
  }
      .menu_title1 a {
border:0 none;
  }
    .menu_title1 a img{
border:0 none;
position:absolute;
  }
  #chatpanel {
    background:none repeat scroll 0 0 #E4E4E4;
    border-right:1px solid #A4A4A4;
margin:5px;
padding:10px;
  }
.search1 {
float:left;
padding:10px;
}
.btmSa a img {
  border:0 none;
}
  
.rightside h3 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#526EA6 none repeat scroll 0 0;
color:#FFFFFF;
cursor:pointer;
font-size:1.1em;
padding:5px 10px;
}
.rightside h3 span {
float:right;
font-size:1.5em;
font-weight:normal;
line-height:0.6em;
}
.subpanel {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#fff none repeat scroll 0 0;
  border-top: 1px solid #a4a4a4;
    border-left: 1px solid #a4a4a4;
    border-right: 1px solid #a4a4a4;
    border-bottom: 1px solid #e4e4e4;
bottom:35px;
display:none;
right:46px;
overflow:hidden;
padding-bottom:2px;
position:absolute;
width:198px;
}

.subpanel ul {
padding-top: 20px;
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#e4e4e4 none repeat scroll 0 0;
margin:0;
overflow:auto;
padding:0;
width:100%;
}

.subpanel ul li {
    border-bottom: 1px solid #989898;
    padding: 5px 10px;
    margin: 0 15px 0 15px;
}

.subpanel ul li a {
    font-size: 13px;
    color: #989898;
    display: block;
}
.subpanel ul li a img {
border:0 none;
}
.subpanel ul li a:hover {
    color: #666;
}
</style>