<div class="footer">
  <div class="footer1">
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td class="account">
          <h2 class="footTitle">After Classroom</h2>
          <div class="footItem">
            <%= link_to 'Company Information', :controller => 'statics', :action => 'index' %>
          </div>
          <div class="footItem">
            <%= link_to "Press Release", :controller => 'press_infos', :action => 'index' %>
          </div>
          <div class="footItem">
            <%= link_to 'Terms of use', :controller => 'statics', :action => 'terms' %>
          </div>
          <div class="footItem">
            <%= link_to 'Privacy Policy', :controller => 'statics', :action => 'privacy' %>
          </div>
        </td>
        <td class="help">
          <h2 class="footTitle">Help & Information</h2>
          <div class="footItem">
            <%= link_to "Community Help Forum", :controller => 'forums', :action => 'index' %>
          </div>
        </td>
        <td class="help">
          <h2 class="footTitle">Developers</h2>
          <div class="footItem">
            <%= link_to "My App", :controller => 'oauth_clients', :action => 'index' %>
          </div>
          <div class="footItem">
            <%= link_to "Register App", :controller => 'oauth_clients', :action => 'new' %>
          </div>
        </td>
      </tr>
    </table>
    <div class="flogo">
      <div class="flogoimg">
        <img alt="classroom" src="/images/logo.png" />
      </div>
      <div class="flogoinf">
        &copy; 2009 AfterClassroom. All rights reserved. 
        <br>Content created and posted by AfterClassroom users is dedicated to the public domain.<br/>
        <span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=nHOMG7ZTPS6cdFGNUXUQBiPnsPSnPP8uvGLnPgeapChd8Dg4YVoN82Fw"></script></span>
      </div>
    </div>
  </div>
</div>
