<div id="toolbarbut"> <!-- hide button -->
  <span class="showbar"><a href="#">show bar</a></span>
</div>
<div id="toolbar"> <!-- toolbar container -->
  <div class="leftside"> <!-- all things in floating left side -->
    <ul id="social">

      <li><a class="chatt" href="#"></a>
        <div id="tipchatt" class="tip">
          <ul>
            <li><%= link_to "Chat", chat_user_student_lounges_path(current_user) %></li>
            <li><%= link_to "| Student lounge", new_user_story_path(current_user) %></li>
          </ul>
        </div>
      </li>
      <li><a class="share_story" href="#"></a>
        <div id="tipshare_story" class="tip">
          <ul>
            <li><%= link_to "Share a Story", user_stories_path(current_user) %></li>
            <li><%= link_to "| Post", new_user_story_path(current_user) %></li>
          </ul>
        </div>
      </li>
      <li><a class="photos" href="#"></a>
        <div id="tipphotos" class="tip">
          <ul>
            <li><%= link_to "Photos", user_photos_path(current_user) %></li>
            <li><%= link_to "| Post", new_user_photo_path(current_user) %></li>
          </ul>
        </div>
      </li>
      <li><a class="musics" href="#"></a>
        <div id="tipmusics" class="tip">
          <ul>
            <li><%= link_to "Musics", user_musics_path(current_user) %></li>
            <li><%= link_to "| Post", new_user_music_path(current_user) %></li>
          </ul>
        </div>
      </li>
      <li><a class="videos" href="#"></a>
        <div id="tipvideos" class="tip">
          <ul>
            <li><%= link_to "Videos", user_youtubes_path(current_user) %></li>
            <li><%= link_to "| Post", new_user_youtube_path(current_user) %></li>
          </ul>
        </div>
      </li>
      <li><a class="inbox" href="#"></a>
        <div id="tipinbox" class="tip">
          <ul>
            <li><%= link_to "Inbox", user_messages_path(current_user) %></li>
            <li><%= link_to "| Post", new_user_message_path(current_user) %></li>
          </ul>
        </div>
      </li>
      <li><a class="friends" href="#"></a>
        <div id="tipfriends" class="tip">
          <ul>
            <li><%= link_to "Friends", user_friends_path(current_user) %></li>
          </ul>
        </div>
      </li>
      <li><a class="profile" href="#"></a>
        <div id="tipprofile" class="tip">
          <ul>
            <li><%= link_to "Profile", user_profiles_path(current_user) %></li>
            <li><%= link_to "| Edit", show_profile_user_profiles_path(current_user) %></li>
          </ul>
        </div>
      </li>
      <li><a class="setting" href="#"></a>
        <div id="tipsetting" class="tip">
          <ul>
            <li><%= link_to "Setting", user_settings_path(current_user) %></li>
          </ul>
        </div>
      </li>
	  <!--
      <li><a class="phone_app" href="#"></a>
        <div id="tipphone_app" class="tip">
          <ul>
            <li><%= link_to "Phone Apps", "" %></li>
            <li><%= link_to "| Post", "" %></li>
          </ul>
        </div>
      </li>
      <li><a class="play_games" href="#"></a>
        <div id="tipplay_games" class="tip">
          <ul>
            <li><%= link_to "Play Games", "" %></li>
            <li><%= link_to "| Post", "" %></li>
          </ul>
        </div>
      </li>
	  -->
      <li><a class="shopping" href="#"></a>
        <div id="tipshopping" class="tip">
          <ul>
            <li><%= link_to "Shopping", "http://shopping.afterclassroom.com/users/login/#{current_user.salt}", :target => "_blank" %></li>
          </ul>
        </div>
      </li>
      <li><a class="share" href="#"></a>
        <div id="tipshare" class="tip">
          <ul>
            <li><%= link_to "My Share", user_shares_url(current_user) %></li>
            <li><%= link_to "| Share", new_user_share_url(current_user) %></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="rightside"> <!-- all things in floating left side -->
    <span class="downarr"> <!-- hide button -->
      <a href="#"></a>
    </span>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function(){

    //hide toolbar and make visible the 'show' button
    $("span.downarr a").click(function() {
      $("#toolbar").slideToggle("fast");
      $("#toolbarbut").fadeIn("slow");
    });

    //show toolbar and hide the 'show' button
    $("span.showbar a").click(function() {
      $("#toolbar").slideToggle("fast");
      $("#toolbarbut").fadeOut();
    });

    //show tooltip when the mouse is moved over a list element
    $("ul#social li").hover(function() {
      $(this).find("div").fadeIn("fast").show(); //add 'show()'' for IE
      $(this).mouseleave(function () { //hide tooltip when the mouse moves off of the element
        $(this).find("div").hide();
      });
    });

    //don't jump to #id link anchor

    $(".chatt, .share_story, .photos, .musics, .rss, .videos, .inbox, .friends, .profile, .setting, .phone_app, .play_games, .menutit, span.downarr a, span.showbar a").click(function() {

      return false;
    });

    //show quick menu on click
    $("span.menu_title a").click(function() {
      if($(".quickmenu").is(':hidden')){ //if quick menu isn't visible
        $(".quickmenu").fadeIn("fast"); //show menu on click
      }
      else if ($(".quickmenu").is(':visible')) { //if quick menu is visible
        $(".quickmenu").fadeOut("fast"); //hide menu on click
      }
    });

    //hide menu on casual click on the page
    $(document).click(function() {
      $(".quickmenu").fadeOut("fast");
      $(".quickmenu").css({'vivibility': 'hidden'});
    });
    $('.quickmenu').click(function(event) {
      event.stopPropagation(); //use .stopPropagation() method to avoid the closing of quick menu panel clicking on its elements
    });


  });

</script>
