<div id="footpanel">
  <ul id="mainpanel">

    <li id="home">
      <a href="#" class="home">Home</a>
      <div class="subpanel">
        <h3><span> &ndash; </span>Home</h3>
        <ul>
          <li><%= link_to "Homeworks", post_assignments_path %></li>
          <li><%= link_to "Q.As", post_qas_path %></li>
          <li><%= link_to "Tutors", post_tutors_path %></li>
          <li><%= link_to "Books", post_books_path %></li>
          <li><%= link_to "Jobs", post_jobs_path %></li>
          <li><%= link_to "Foods", post_foods_path %></li>
          <li><%= link_to "Party", post_parties_path %></li>
          <li><%= link_to "MyX", post_myxes_path %></li>
          <li><%= link_to "Student Awareness", post_awarenesses_path %></li>
          <li><%= link_to "Housing", post_housings_path %></li>
          <li><%= link_to "TeamUp", post_teamups_path %></li>
        </ul>
      </div>
    </li>

    <li><a href="http://www.goodluck.vn" class="profile">View Profile <small>View Profile</small></a></li>
    <li><a href="http://www.goodluck.vn" class="editprofile">Edit Profile <small>Edit Profile</small></a></li>
    <li><a href="http://www.goodluck.vn" class="contacts">Contacts <small>Contacts</small></a></li>

    <li><a href="http://www.goodluck.vn" class="messages">Messages (10) <small>Messages</small></a></li>
    <li><a href="http://www.goodluck.vn" class="playlist">Play List <small>Play List</small></a></li>
    <li><a href="http://www.goodluck.vn" class="videos">Videos <small>Videos</small></a></li>

    <li id="alertpanel">
      <a href="#" class="alerts">Alerts</a>

      <div class="subpanel">
        <h3><span> &ndash; </span>Notifications</h3>
        <ul>
          <li class="view"><a href="#">View All</a></li>
          <li><a href="#" class="delete">X</a><p><a href="#">Antehabeo</a> abico quod duis odio tation luctus eu ad <a href="#">lobortis facilisis</a>.</p></li>

          <li><a href="#" class="delete">X</a><p><a href="#">Et voco </a> Duis vel quis at metuo obruo, turpis quadrum nostrud <a href="#">lobortis facilisis</a>.</p></li>
          <li><a href="#" class="delete">X</a><p><a href="#">Tego</a> nulla eum probo metuo nullus indoles os consequat commoveo os<a href="#">lobortis facilisis</a>.</p></li>
          <li><a href="#" class="delete">X</a><p><a href="#">Antehabeo</a> abico quod duis odio tation luctus eu ad <a href="#">lobortis facilisis</a>.</p></li>

          <li><a href="#" class="delete">X</a><p><a href="#">Nonummy</a> nulla eum probo metuo nullus indoles os consequat commoveo <a href="#">lobortis facilisis</a>.</p></li>
          <li><a href="#" class="delete">X</a><p><a href="#">Tego</a> minim autem aptent et jumentum metuo uxor nibh euismod si <a href="#">lobortis facilisis</a>.</p></li>
          <li><a href="#" class="delete">X</a><p><a href="#">Antehabeo</a> abico quod duis odio tation luctus eu ad <a href="#">lobortis facilisis</a>.</p></li>

        </ul>
      </div>
    </li>
    <li id="chatpanel">
      <a href="#" class="chat">Friends (<strong>18</strong>) </a>
      <div class="subpanel">
        <h3><span> &ndash; </span>Friends Online</h3>

        <ul>
          <li><span>Family Members</span></li>
          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>

          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
          <li><span>Other Friends</span></li>
          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>

          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>

          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>

          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>

          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>

          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
          <li><a href="#"><img src="/images/icons/images.jpg" alt="" /> Your Friend</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $.fn.adjustPanel = function(){
            $(this).find("ul, .subpanel").css({ 'height' : 'auto'});
            var windowHeight = $(window).height();
            var panelsub = $(this).find(".subpanel").height();
            var panelAdjust = windowHeight - 100;
            var ulAdjust =  panelAdjust - 25;
            if ( panelsub >= panelAdjust ) {
                $(this).find(".subpanel").css({ 'height' : panelAdjust });
                $(this).find("ul").css({ 'height' : ulAdjust});
            }
            else if ( panelsub < panelAdjust ) {
                $(this).find("ul").css({ 'height' : 'auto'});
            }
        };
        $("#home").adjustPanel();
        $("#chatpanel").adjustPanel();
        $("#alertpanel").adjustPanel();
        $(window).resize(function () {
            $("#home").adjustPanel();
            $("#chatpanel").adjustPanel();
            $("#alertpanel").adjustPanel();
        });
        $("#home a:first, #chatpanel a:first, #alertpanel a:first").click(function() {
            if($(this).next(".subpanel").is(':visible')){
                $(this).next(".subpanel").hide();
                $("#footpanel li a").removeClass('active');
            }
            else {
                $(".subpanel").hide();
                $(this).next(".subpanel").toggle();
                $("#footpanel li a").removeClass('active');
                $(this).toggleClass('active');
            }
            return false;
        });
        $(document).click(function() {
            $(".subpanel").hide();
            $("#footpanel li a").removeClass('active');
        });
        $('.subpanel ul').click(function(e) {
            e.stopPropagation();
        });
        $("#alertpanel li").hover(function() {
            $(this).find("a.delete").css({'visibility': 'visible'});
        },function() {
            $(this).find("a.delete").css({'visibility': 'hidden'});
        });
    });
</script>