<div class="login">
  <div class="signin">
    <% if logged_in? %>
      <ul>
        <li class="signinSelect"><%= link_to "<span>Welcome #{current_user.full_name}</span>", user_profiles_path(current_user), :class => "signinFrist" %></li>
        <li><%= link_to "<span>Sign out</span>", logout_url, :method => :delete %></li>
        <li><a href="#"><span>Help</span></a></li>
        <li><a href="#"><span>Suggest improvement</span></a></li>
      </ul>
    <% else %>
      <ul>
        <li><a href="#" class="signinFrist"><span>Help</span></a></li>
        <li><%= link_to "<span>Sign in</span>", login_url %></li>
        <li><%= link_to "<span>Simple sign up</span>", signup_url %></li>
        <li><%= link_to "<span>Forget password</span>", user_forgot_password_url %></li>
      </ul>
    <% end %>
  </div>
  <% if !logged_in? %>
    <div class="log">
      <% form_tag session_path, :name => "form_login", :id => "form_login" do -%>
        <span class="log-user"><%= text_field_tag 'email', 'Email...', :class => 'userlogin-un', :onfocus => "this.value = '';", :onblur => "this.value = this.value || this.defaultValue;" %></span>
        <span class="log-pass"><%= password_field_tag 'password', 'Password...', :class => 'userlogin-pw', :onfocus => "this.value = '';", :onblur => "this.value = this.value || this.defaultValue;" %></span>
        <span class="log-btm"><a href="javascript:;" onclick="$('#form_login').submit();">Sign in</a></span>
      <% end -%>
    </div>
  <% end -%>
</div>
