<div class="menuMain">
  <ul>
    <%= tab_to "Student Lounge", [{:controller => user_student_lounges_path(current_user)}] %>
    <%= tab_to "Inbox", [{:controller => user_messages_path(current_user)}] %>
    <%= tab_to "Friends", [{:controller => user_friends_path(current_user)}] %>
    <%= tab_to "Profile", [{:controller => user_profiles_path(current_user)}] %>
    <%= tab_to "Setting", [{:controller => user_settings_path(current_user)}] %>
    <li class="menuSpace1">&nbsp;</li>
    <li class="menuSpace2">&nbsp;</li>
    <li class=""><a href="https://wheretolist.com"><span>Wheretolist</span></a></li>
    <li class="menuSpace2">&nbsp;</li>
    <%= tab_to "Learning Tools", [{:controller => user_learn_tools_path(current_user)}] %>
  </ul>
</div>
