<div class="menuMain">
  <ul>
    <%= tab_to "Homework", [{:controller => post_assignments_path}] %>
    <%= tab_to "Q&A", [{:controller => post_qas_path}] %>
    <%= tab_to "Tutors", [{:controller => post_tutors_path}] %>
    <%= tab_to "Books", [{:controller => post_books_path}] %>
    <%= tab_to "Jobs", [{:controller => post_jobs_path}] %>
    <%= tab_to "Food", [{:controller => post_foods_path}] %>
    <%= tab_to "Party", [{:controller =>post_parties_path}] %>
    <%= tab_to "MyX", [{:controller => post_myxes_path}] %>
    <%= tab_to "Student Awareness", [{:controller =>post_awarenesses_path}] %>
    <%= tab_to "Housing", [{:controller =>post_housings_path}] %>
    <%= tab_to "TeamUp", [{:controller =>post_teamups_path}] %>
  </ul>
</div>
