<div class="AsDcom" id="form_comment" style="display: none">
  <h1 class="titleH1">Leave your comments</h1>
  <% if logged_in? %>
    <div class="AsDcomImg"><%= link_to "<div>#{image_tag(current_user.avatar.url(:thumb))}</div>", {:controller => "profile", :action => "show_profile", :id => current_user.id} %></div>
    <div class="AsDcomIn">
      <form name="form_comment" id="form_comment" action="" method="get">
        <div class="AsDcomTxt"><textarea name="comment" id="comment"></textarea></div>
        <div class="submit"><a href="javascript:;" onclick="send_comment('<%= obj.id %>', '<%= obj.class.name %>');" >Submit</a></div>
      </form>
    </div>
  <% else %>
    You must be <%= link_to "logged in", login_url %> to post a comment.
  <% end %>
</div>
<div class="AsDcomL" id="list_comments">
  <% if obj.comments.size > 0 %>
    <h1 class="titleH1"><a href="javascript:;">Comments (<%= obj.comments.size %>)</a></h1>
    <% obj.comments.each do |c| %>
      <%= render :partial => "shared/item_comment", :locals => {:comnt => c} %>
    <% end %>
  <% end %>
</div>
