<form id="action_inbox_search" name="search" action="<%= action_path %>">
  <div id="search-form"><!-- search form -->
    <a href="<%= list_friends_user_url(@user) %>" title="Your title goes here" class="link_bt">

      <span class="ltblue_l"></span>
      <span class="ltblue_c btf">My Friends</span>
      <span class="ltblue_r"></span>
    </a>

    <input type="text" name="search[name]" value="<%= search_name || "Enter your search keywords..." %>" id="search-b" onblur="this.value = this.value || this.defaultValue;" onfocus="this.value = '';" style="float:left"/>
    <!-- search text box -->

    <!-- inbox  button -->
    <a href="/posts/new" title="inbox" class="btfr link_bt">

      <span class="ltred_l"></span>
      <span class="ltred_c btf">Post</span>
      <span class="ltred_r"></span>
    </a>
    <!-- end inbox button -->

    <!-- search button -->
    <a href="javascript:document.search.submit()" title="Search" class="btfr link_bt_g s-pos">
      <span class="ltgray_l"></span>
      <span class="ltgray_c btf">Search</span>

      <span class="ltgray_r"></span>
    </a>
    <!-- end search button -->
    <ul id="droplistsearch">
      <li><a href="#" title="Click to select" id="expand_list" onclick="javascript:showlayer('select_list')"><span id="inbox_type_select" class=""><%= type_name %></span></a>
        <ul id="select_list" class="submenu" style="display:none">
          <li>
            <a href="#" title="">
              <span onclick="getInboxType(this.innerHTML)">Home</span>
            </a>
          </li>
          <li>
            <a href="#" title="">
              <span onclick="getInboxType(this.innerHTML)">Friends</span>
            </a>
          </li>
          <li>
            <a href="#" title="">
              <span onclick="getInboxType(this.innerHTML)">Stories</span>
            </a>
          </li>
          <li>
            <a href="#" title="">
              <span onclick="getInboxType(this.innerHTML)">Photos</span>
            </a>
          </li>
          <li>
            <a href="#" title="">
              <span onclick="getInboxType(this.innerHTML)">Musics</span>
            </a>
          </li>
          <li>
            <a href="#" title="">
              <span onclick="getInboxType(this.innerHTML)">Videos</span>
            </a>
          </li>
          <li>
            <a href="#" title="">
              <span onclick="getInboxType(this.innerHTML)">Favorites</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div><!-- end search form -->
</form>

<script language="javascript">
  function getInboxType(inbox_type){
    action = "";
    switch(inbox_type)
    {
      case "Home":
        action = "<%= dashboard_user_path(current_user) %>";
        break;
      case "Friends":
        action = "<%= list_friends_user_path(current_user) %>";
        break;
      case "Stories":
        action = "<%= stories_path %>";
        break;
      case "Photos":
        action = "<%= photos_path %>";
        break;
      case "Musics":
        action = "<%= musics_path %>";
        break;
      case "Videos":
        action = "<%= videos_path %>";
        break;
      case "Favorites":
        action = "<%= my_favorite_user_path(current_user) %>";
        break;
      }
      $('action_inbox_search').action = action;
      $('inbox_type_select').update(inbox_type);
      showlayer('select_list');
    }
</script>