<a id="signup_pp" href="#"><span>Sign up pp</span></a>


<div id="dialog_signup_pp" style="margin-top: -25px;display: none;">
  <a id="signup_ppClose"></a>

  <div>
<!--Content-->
<div class="contDetL" style="background:none">
  <div class="contDetLin" style="background:none">
    <div class="AsDTop">
      <h1 class="titleH1">Sign Up</h1>
    </div>
    <div class="signUpCont">
      <%= display_flash_messages_with_raw %>
      <%= form_for :user, :url => users_path, :html => {:id => "form_signup", :name => "form_signup"} do |f| -%>
        <div class="signNode">*(asterisk) is required.</div>
        <div class="signinItem">
          <div class="signinTit">First Name*:</div>
          <div class="signinInp"><%= text_field_tag :first_name, session[:first_name],  :class => '{validate:{required:true}}' %></div>
        </div>
        <div class="signinItem">
          <div class="signinTit">Last Name*:</div>
          <div class="signinInp"><%= text_field_tag :last_name, session[:last_name], :class => '{validate:{required:true}}' %></div>
        </div>
        <div class="signinItem">
          <div class="signinTit">Email*:</div>
          <div class="signinInp"><%= f.text_field :email, :class => '{validate:{required:true, email:true}}' %></div>
        </div>
        <div class="signinItem">
          <div class="signinTit">New Password*:</div>
          <div class="signinInp"><%= f.password_field :password, :class => "{validate:{required:true, minlength:6}}" %></div>
        </div>
        <div class="signinItem">
          <div class="signinTit">Confirm*:</div>
          <div class="signinInp"><%= f.password_field :password_confirmation, :class => "{validate:{equalTo:'#user_password'}}" %></div>
        </div>
        <div class="signincCheck" style="padding-left:106px">
          <div><%= f.check_box :allow_search_by_email %></div>
          <div class="signincCheckTxt">Let others find my post on Afterclassroom if they have my email address.</div>
        </div>
        <div class="btmCreAc" style="padding-left:110px"><a href="javascript:;" onclick="submitt();"><%= submit_tag 'Create my account', :style=>'font-size:11px' %></a></div>
        <div class="signincCheck" style="padding-left:110px">
          By clicking "Create my account", you agree to Afterclassroom <%= link_to 'Terms of use', :controller => 'statics', :action => 'terms' %> and <%= link_to 'Privacy Policy', :controller => 'statics', :action => 'privacy' %>.
        </div>
      <% end -%>
    </div>
  </div>
</div>
  </div>
</div>
<script>
  function submitt(){
    var result = $("#form_signup").validate({
      meta: "validate"
    });
    if (result) {
      $("#form_signup").submit();
    }
  }

  $(document).ready(function(){
    $("body").append("<div id='signup_pp_dialog' style='display: none;'></div>");
  });
  $(document).ready(function(){
    $("#signup_pp").click(function(){
      $("#signup_pp_dialog").show();
      $("#dialog_signup_pp").dialog(
      { height: 360,
        width: 680,
        resizable: false,
        open: function(){ $(".ui-dialog-titlebar-close").hide();
          $(this).parents(".ui-dialog:first").find(".ui-widget-header")
          .removeClass("ui-widget-header").addClass("ui-widget-header-custom");
        }
      });
    });
    $("#signup_ppClose").click(function(){
      $("#dialog_signup_pp").dialog("close");
      $("#signup_pp_dialog").hide();
    });
  });
</script>
<style>
  #signup_pp_dialog {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;
    background-color: black;
    filter: alpha(opacity=70);
    opacity: 0.7;
  }
  #signup_ppClose{
    background: url("/images/Photo/fancybox.png") repeat scroll -40px 0 transparent;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30px;
    z-index: 1103;
  }

</style>