<div class="stuLtop">
    <div class="menuRL">
        <!--
        <div class="menuRItem mnChat">
        <%= link_to raw('<span class="span1"><span class="span2">Chat</span></span>'), chat_user_student_lounges_path(current_user), :class => "#{'menuRselect' if controller.controller_name == 'student_lounges' && @controller.action_name == 'chat'}" %>
        </div>
        -->
        <div class="menuRItem mnShare">
            <%= link_to raw('<span class="span1"><span class="span2">Share file</span></span>'), user_shares_path(current_user), :class => "#{'menuRselect'  if controller.controller_name == 'shares'}" %>
        </div>
        <div class="menuRItem mnShare">
            <%= link_to raw('<span class="span1"><span class="span2">Share a Story</span></span>'), user_stories_path(current_user), :class => "#{'menuRselect'  if controller.controller_name == 'stories'}" %>
        </div>
        <div class="menuRItem mnPho">
            <%= link_to raw('<span class="span1"><span class="span2">Photos</span></span>'), user_photos_path(current_user), :class => "#{'menuRselect' if controller.controller_name == 'photos' or controller.controller_name == 'photo_albums'}" %>
        </div>
        <div class="menuRItem mnMus">
            <%= link_to raw('<span class="span1"><span class="span2">Musics</span></span>'), user_musics_path(current_user), :class => "#{'menuRselect' if controller.controller_name == 'musics' or controller.controller_name == 'music_albums'}" %>
        </div>
        <div class="menuRItem mnVi">
            <%= link_to raw('<span class="span1"><span class="span2">Videos</span></span>'), user_videos_path(current_user), :class => "#{'menuRselect' if controller.controller_name == 'videos'}" %>
        </div>
        <div class="menuRItem mnVi">
            <%= link_to raw('<span class="span1"><span class="span2">My Forum</span></span>'), user_u_forums_path(current_user), :class => "#{'menuRselect' if controller.controller_name == 'u_forums'}" %>
        </div>
    </div>
    <% if ['stories', 'photos', 'musics', 'videos', 'shares'].include?(controller.controller_name) %>
    <%
    case controller.controller_name
    when 'stories'
    s_link = link_to("Post", new_user_story_path(current_user))
    when 'photos'
    s_link = link_to("Post", new_user_photo_path(current_user))
    when 'musics'
    s_link = link_to("Post", new_user_music_path(current_user))
    when 'youtubes'
    s_link = link_to("Post", new_user_video_path(current_user))
    when 'shares'
    s_link = link_to("Share", new_user_share_path(current_user))
    end %>
    <div class="postdiv">
        <span class="RmenuRbtm2"><%= s_link %></span>
    </div>
    <% end %>
</div>
