<ul id="top-nav">
	<li><%= tab_to "Homeworks", [{:controller => posts_path}] %></li>
	<li><a href="" title="">Q.As</a></li>
	<li><%= tab_to "Tutors", [{:controller => post_tutors_path}] %></li>
	<li><%= tab_to "Books", [{:controller => post_books_path}] %></li>
	<li><%= tab_to "Jobs", [{:controller => post_jobs_path}] %></li>
	<li><%= tab_to "Party", [{:controller =>post_parties_path}] %></li>
	<li><a href="" title="">Myx</a></li>
	<li><%= tab_to "Students Awareness", [{:controller =>post_awarenesses_path}] %></li>	
	<li><%= tab_to "Housing", [{:controller =>post_housings_path}] %></li>
	<li><%= tab_to "Team Up", [{:controller =>post_teamups_path}] %></li>	
</ul><!-- #top-nav -->