<%
cas_base = "https://login.afterclassroom.com" 
client = CASClient::Client.new( 
  :cas_base_url => cas_base 
) 
@lt = client.request_login_ticket()
%>
<div id="tryitnow">
  <a class="tryin" style="display: block; position: fixed; top: 283px; left: -2px; margin: 0pt;cursor: pointer;">
    <img style="border: 0pt none;" src="/images/try-it-now.png">
  </a>
</div>
<div id="popupContact">
  <a id="popupContactClose"></a>
  <div style="margin-bottom: 50px;" class="clearFix" id="OverviewBoxes">
    <div class="login" style="float:none;width:873px">
      <div class="signin01" style="float: right;width:600px;margin-bottom: 10px;margin-top: -20px;">
        <div class="signin02" style="font-weight: bold;">
          <ul>
            <li><%= link_to raw("<span>Sign in</span>"), RubyCAS::Filter.login_url(controller), :style=>"background: none" %></li>
            <li><%= link_to raw("<span>Simple sign up</span>"), signup_url %></li>
            <li><span style="color: #1FA6F3; font-weight: bold; line-height: 23px;">or Click on Features below to TRY</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="contentBox" id="TryNowBox"> 
      <form id="login-form-without-login" action="https://login.afterclassroom.com/login" method="post" style="display:none;">
        <input type="hidden" value="<%= @lt %>" name="lt" id="lt">
        <input type="hidden" value="<%= request.protocol + request.host_with_port %>" name="service" id="service">
        <input type="text" accesskey="u" tabindex="1" size="32" name="username" id="username" value="demotoyou@gmail.com">
        <input type="text" autocomplete="off" accesskey="p" tabindex="2" size="32" name="password" id="password" value="demo01">
      </form>     
      <span style="color: #30424D;font-size: 15px;font-weight: bold;">Learning Resources</span>
      <a href="javascript:$('#login-form-without-login').submit();">
        <img src="/images/no_login.png" style="margin-top: 10px;border: 0 none;"/>
      </a>
    </div>
    <div class="contentBox" id="CreateClassBox">
      <form id="login-form-networking" action="https://login.afterclassroom.com/login" method="post" style="display:none;">
        <input type="hidden" value="<%= @lt %>" name="lt" id="lt">
        <input type="hidden" value="<%= request.protocol + request.host_with_port %>/users/demotoyou/student_lounges" name="service" id="service">
        <input type="text" accesskey="u" tabindex="1" size="32" name="username" id="username" value="demotoyou@gmail.com">
        <input type="text" autocomplete="off" accesskey="p" tabindex="2" size="32" name="password" id="password" value="demo01">
      </form>
      <span style="color: #30424D;font-size: 15px;font-weight: bold;">Social Networking</span>
      <a href="javascript:$('#login-form-networking').submit();">
        <img src="/images/profile_user.png" style="margin-top: 10px;border: 0 none;"/>
      </a>
    </div>
    <div class="contentBox" id="StudentEnrollBox" style="margin-right:0px">
      <form id="login-form-learn-tools" action="https://login.afterclassroom.com/login" method="post" style="display:none;">
        <input type="hidden" value="<%= @lt %>" name="lt" id="lt">
        <input type="hidden" value="<%= request.protocol + request.host_with_port %>/users/demotoyou/learn_tools" name="service" id="service">
        <input type="text" accesskey="u" tabindex="1" size="32" name="username" id="username" value="demotoyou@gmail.com">
        <input type="text" autocomplete="off" accesskey="p" tabindex="2" size="32" name="password" id="password" value="demo01">
      </form>
      <span style="color: #30424D;font-size: 15px;font-weight: bold;">Learning Tools</span>
      <a href="javascript:$('#login-form-learn-tools').submit();">
        <img src="/images/learning_tool.png" style="margin-top: 10px;border: 0 none;"/>
      </a>
    </div>
  </div>
</div>
<div id="backgroundPopup"></div>

<script>

  //SETTING UP OUR POPUP
  //0 means disabled; 1 means enabled;
  var popupStatus = 0;

  //loading popup with jQuery magic!
  function loadPopup(){
    //loads popup only if it is disabled
    if(popupStatus==0){
      $("#backgroundPopup").css({
        "opacity": "0.7"
      });
      $("#backgroundPopup").fadeIn("slow");
      $("#popupContact").fadeIn("slow");
      popupStatus = 1;
    }
  }

  //disabling popup with jQuery magic!
  function disablePopup(){
    //disables popup only if it is enabled
    if(popupStatus==1){
      $("#backgroundPopup").fadeOut("slow");
      $("#popupContact").fadeOut("slow");
      popupStatus = 0;
    }
  }

  //centering popup
  function centerPopup(){
    //request data for centering
    var windowWidth = document.documentElement.clientWidth;
    var windowHeight = document.documentElement.clientHeight;
    var popupHeight = $("#popupContact").height();
    var popupWidth = $("#popupContact").width();
    //centering
    $("#popupContact").css({
      "position": "fixed",
      "top": windowHeight/2-popupHeight/2,
      "left": windowWidth/2-popupWidth/2
    });
    //only need force for IE6
	
    $("#backgroundPopup").css({
      "height": windowHeight
    });
	
  }


  //CONTROLLING EVENTS IN jQuery
  $(document).ready(function(){
    chk = $.cookie("close_try_it_now");
    if (chk == "yes"){
      //Nothing
    }else{
      //centering with css
      centerPopup();
      //load popup
      loadPopup();
      $.cookie("close_try_it_now", "no", { expires: 1 });
    }
    //LOADING POPUP
    //Click the button event!
    $("#tryitnow").click(function(){
      //centering with css
      centerPopup();
      //load popup
      loadPopup();
    });
				
    //CLOSING POPUP
    //Click the x event!
    $("#popupContactClose").click(function(){
      disablePopup();
      $.cookie("close_try_it_now", "yes", { expires: 1 });
    });
    //Click out event!
    $("#backgroundPopup").click(function(){
      disablePopup();
    });
    //Press Escape event!
    $(document).keypress(function(e){
      if(e.keyCode==27 && popupStatus==1){
        disablePopup();
      }
    });

  });
</script>

<style>
  .signin02 a {
    background: url("/images/help.png") no-repeat scroll left 4px transparent;
    cursor: pointer;
  }
  .signin02 a span {
    color: #1FA6F3;
    display: block;
    float: left;
    font-size: 12px;
    height: 23px;
    line-height: 23px;
    padding-left: 7px;
  }
  .signin02 a {
    cursor: pointer;
    float: left;
    padding-right: 7px;
    text-decoration: none;
  }
  #backgroundPopup{
    display:none;
    position:fixed;
    _position:absolute; /* hack for internet explorer 6*/
    height:100%;
    width:100%;
    top:0;
    left:0;
    background:#000000;
    border:1px solid #cecece;
    z-index:21;
  }
  #popupContact{
    position:fixed;
    _position:absolute; /* hack for internet explorer 6*/
    background:#FFFFFF;
    border:2px solid #cecece;
    z-index:22;
    padding:12px;
    font-size:13px;
    width: 988px;
  }
  #popupContact h1{
    text-align:left;
    color:#6FA5FD;
    font-size:22px;
    font-weight:700;
    border-bottom:1px dotted #D3D3D3;
    padding-bottom:2px;
    margin-bottom:20px;
  }
  #popupContactClose{
    background: url("/images/Photo/fancybox.png") repeat scroll -40px 0 transparent;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: -15px;
    top: -15px;
    width: 30px;
    z-index: 1103;
  }
  #OverviewBoxes .contentBox {
    background: #D5E9F2;
    border: 1px solid #3D76A4;
    -moz-box-shadow: 0 0 5px #98c7e6;
    -khtml-box-shadow: 0 0 5px #98c7e6;
    -webkit-box-shadow: 0 0 5px #98c7e6;
    box-shadow: 0 0 5px #98c7e6;
    color: #30424D;
    float: left;
    font-size: 13px;
    padding: 10px 10px;
    position: relative;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 300px;
    margin-right: 10px;
  }
  .contentBox span a{
    cursor: pointer;
  }
  .rorate_text{
    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */

    transform:rotate(-90deg);
    background: none repeat scroll 0 0 red;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 4px;
    position: absolute;
    text-indent: 5px;
    width: 110px;
    writing-mode: tb-rl;
  }
</style>
