<% checkvalue = current_user.check_user_is_invited(post.user.id) %>

<div class="AsDContImg"><%= link_to "<div>#{image_tag(user.avatar.url(:thumb))}</div>", {:controller => "profile", :action => "show_profile", :id => user.id} %></div>
<div class="AsDContR">
  <div class="fan"><%= become_a_fan(post) %></div>
  <div class="friend"><%= invite_friend(post) %></div>
  <div class="chat">
  	<% if checkvalue == true %>
  		Waiting...
  	<% else %>
  		<%= link_to_function "Invite Chat", "invite_chat('#{user.id}')" %> 
  	<% end %>
  </div>
  <div class="mail"><%= show_email(post) %></div>
  
</div>