<div class="AsDContImg"><%= show_image_user_post(user) %></div>
<div class="AsDContR">
  <% if current_user != user %>
    <div class="fan"><%= show_become_a_fan(user) %>  </div>
    <div class="friend"><%= show_invite_friend(user) %></div>
    <div class="chat"><%= show_invite_chat(user) %></div>
    <div class="mail"><%= show_email(post) %></div>
  <% end %>
</div>
