<div class="AsDContImg" style="float: right">
  <%= show_image_user_post(user) %>
  <% if current_user != user %>
    <span class="AsDContR">   
      <span class="fan" style="background: url(/images/icon-fan.png) no-repeat scroll left 0 transparent;line-height: 20px;padding:4px 0 5px 25px;"><%= show_become_a_fan(user) %></span>
      <span style="background: url(/images/icon-friend.png) no-repeat scroll left 0 transparent;line-height: 20px;padding: 4px 0 5px 25px;" class="friend" id="friend_status_<%= user.id %>"><%= show_invite_friend(user) %></span>
      <!--<div class="chat"><%#= show_invite_chat(user) %></div>-->
      <span style="background: url(/images/icon-mail.png) no-repeat scroll left 3px transparent;line-height: 20px;padding: 4px 0 5px 25px;" class="mail"><%= show_email(post) %></span>
    </span>
  <% end %>
</div>
<script>
  $(document).ready(function(){
    $(".AsDContImg").hover(function(){
      $(".AsDContR", this).show();
    }, function(){
      $(".AsDContR", this).hide();
    })
  });
</script>
