
<%
post_party = PostParty.require_rating(@school).first
%>
<% if post_party %>



  <%
  thischeck = PostParty.find_rated_by(current_user).include?(post_party) if logged_in?
  thischeck ||= false %>

  <% if thischeck == false %>
    <div class="col195 QAsPoll">
      <div class="col195in">
        <h1 class="col195Title">Poll this Party</h1>
        <div class="col195Cont">
          <div class="QAsPCont">
            <p><%= link_to post_party.post.title, post_party %></p>
            <p><%= truncate_words(post_party.post.description) %></p>
          </div>
          <div id="require_rating_action">
            <div class="QAsDet"><input type="radio" name="rating" value="2" checked="checked"/><span>Good</span><strong rel="rate" style="display:none;">(<%= post_party.total_good %>)</strong></div>
            <div class="QAsDet"><input type="radio" name="rating" value="1"/><span>It's Ok</span><strong rel="rate" style="display:none;">(<%= post_party.total_ok %>)</strong></div>
            <div class="QAsDet"><input type="radio" name="rating" value="0"/><span>Bad</span><strong rel="rate" style="display:none;">(<%= post_party.total_bad %>)</strong></div>
            <div class="submit"><%= show_submit_rating(post_party.post.id, require_rate_post_parties_path) %></div>
            <div class="PollView" id="view_results">[<a href="javascript:;" onclick="showResult();">View results</a>]</div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="col195 QAsPoll">
      <div class="col195in">
        <h1 class="col195Title">Poll this Party</h1>
        <div class="col195Cont">
          <div class="QAsPCont">
            <p><%= link_to post_party.post.title, post_party %></p>
            <p><%= truncate_words(post_party.post.description) %></p>
          </div>
          <div id="require_rating_action">
            <div class="QAsDet"><input type="radio" name="rating" value="2" checked="checked"/><span>Good</span><strong rel="rate" style="display:none;">(<%= post_party.total_good %>)</strong></div>
            <div class="QAsDet"><input type="radio" name="rating" value="1"/><span>It's Ok</span><strong rel="rate" style="display:none;">(<%= post_party.total_ok %>)</strong></div>
            <div class="QAsDet"><input type="radio" name="rating" value="0"/><span>Bad</span><strong rel="rate" style="display:none;">(<%= post_party.total_bad %>)</strong></div>
            <div class="submit">
                  <%= link_to("Submit", "javascript:;", :class => "vtip", :title => "You have rated this.") %>
            </div>
            <div class="PollView" id="view_results">[<a href="javascript:;" onclick="showResult();">View results</a>]</div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
