<div class="AsDContBtm">
  <span class="btmReply"><a href="javascript:;" onclick="$('#form_comment').toggle('slow');">Comment</a></span>
  <% if !logged_in? or (logged_in? and current_user != post.user ) %><span class="btmMail"><%= show_email(post) %></span><% end %>
  <span class="btmShare"><%= addthis_bookmark_button { "<span>Share</span>" } %></span>
   <div  id="show_party_button">
    <span class="btmFoodList"><%= show_add_party(post) %></span>
    <span class="btmPartyList"><%= show_my_party_list(post) %></span>
  </div>
  <span class="btmRSVP"><%= show_rsvp(post) %></span>
  <span class="btmMap"><%= show_map(post.post_party.address, post.title) %></span>
</div>
