<div class="contMain">
  <div class="contMainL">
    <div class="col451 Party">
      <div class="col451in">
        <div class="col451Cont">
          <div class="AsDTop">
            <h1 class="titleH1">Party</h1>
          </div>

          <% @posts.each do |post| %>
            <%= render :partial => "item", :locals => {:post => post}%>
          <% end %>


          <div class="assPage">
            <span class="numPage">Page 1 of 22</span>
            <span class="firstPage"><a href="#">First Page</a></span>
            <span class="prevPage"><a href="#">Prev</a></span>
            <span class="currentPage">
              <a href="#" class="selected"><span>6</span></a>
              <a href="#"><span>7</span></a>
              <a href="#"><span>8</span></a>
              <a href="#"><span>9</span></a>
              <a href="#"><span>10</span></a>
            </span>
            <span class="nextPage"><a href="#">Next</a></span>
            <span class="lastPage"><a href="#">Last Page</a></span>
          </div>
          <div class="goTop"><a href="javascript:;" onclick="goToByScroll('top_page')">Top</a></div>
        </div>
      </div>
    </div>

  </div>

  <div class="contMainC">
    <div class="col195 clubBar">
      <div class="col195in">
        <h1 class="col195Title">Top club/bar</h1>
        <div class="col195Cont">

          <%= render :partial => "topclub" %>
          <div class="dueDbutton"><a href="#">View more club/bar</a></div>
        </div>
      </div>
    </div>
    <div class="col195 Poster">
      <div class="col195in">
        <h1 class="col195Title">Top posters</h1>
        <div class="col195Cont">
          <%= render :partial => "topclub" %>

          <div class="dueDbutton"><a href="#">View more posters</a></div>
        </div>
      </div>
    </div>
    <div class="col195 QAsPoll">
      <div class="col195in">
        <h1 class="col195Title">Poll this Party</h1>
        <div class="col195Cont">
          <div class="QAsPCont">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum neque non nisl commodo quis luctus nulla auctor.</div>
          <div class="QAsDet"><input name="Radio1" type="radio" />Best of the best</div>
          <div class="QAsDet"><input name="Radio1" type="radio" />Good</div>
          <div class="QAsDet"><input name="Radio1" type="radio" />Not bad</div>
          <div class="QAsDet"><input name="Radio1" type="radio" />Bad</div>
          <div class="submit"><a href="#">Submit</a></div>
          <div class="PollView">[<a href="">View results</a>]</div>
        </div>
      </div>
    </div>


  </div>

  <div class="contMainR">
    <!--Browser by Subject-->
    <%= render :partial => "shared/browser_by_subject", :locals => {:tags => @tags} %>
    <!--Browser by Subject-->

    <!--Ads-->
    <%= render :partial => "ads/show_vertical_ads" %>
    <!--Ads-->
    <div class="col300 QAsRecent">
      <div class="col300in">
        <h1 class="col300Title">Recent Party Requested</h1>
        <div class="col300Cont">
          <%= render :partial => "recentRequested" %>

          <div class="recentBottom">&nbsp;</div>
        </div>
      </div>
    </div>


  </div>
</div>

