<div id="detail_window">
    <div class="detail-info">
        <!-- detail-info-->
        <div id="rsvp_alert_<%= @post.id %>" style="display:none">
            You sended RSVP.
        </div>
        <div id="rsvp_wraper_<%= @post.id %>">
            <div id="posting-section">
                <% form_tag url_for(:controller => "post_parties", :action => "sendmail"), :remote => true, :id => "post_rsvp" do %>
                    <%= hidden_field_tag "post_id", @post.id %>

                    <ul>
                        <li>
                            <div class="user_ri3">
                                <label>
                                    First Name*:
                                </label>
                                <%= text_field_tag "first_name", "", :class => '{validate:{required:true}}', :width => "330" %>
                            </div>
                        </li>
                        <li>
                            <div class="user_ri4">
                                <label>
                                    Last Name*:
                                </label>
                                <%= text_field_tag "last_name", "", :class => '{validate:{required:true}}' %>
                            </div>
                        </li>
                        <li>
                            <div class="user_ri5">
                                <label>
                                    Email*:
                                </label>
                                <%= text_field_tag "email_addr", "", :class => "{validate:{required:true, email:true}}" %>
                            </div>
                        </li>
                        <li>
                            <div class="user_ri6">
                                <label>
                                    Tel*:
                                </label>
                                <%= text_field_tag "tel_no", "", :class => '{validate:{required:true, number: true}}' %>
                            </div>
                        </li>
                        <li>
                            <label>
                                Message:
                            </label>
                            <div class="user_ri7">
                                <%= text_area_tag "message_str", nil, :rows => 5, :cols => 60 %>
                            </div>
                        </li>
                        <li>
                            <!-- post  button -->
                            <div>
                              <span class="submitRSVP"><a id="btn_submit" href="javascript:;">
                                    <input type="button" value="Send" name="foo"/>
                                  </a></span>
                                <span class="error" style="padding: 0px;"></span>
                            </div>
                            <!-- end post button -->
                        </li>
                    </ul>
                <% end %>
            </div>
        </div>
    </div>
    <!-- end detail-info-->
</div>
<script language="javascript">
  $(document).ready(function(){
    $('#btn_submit').click(function(){
      sendPSVP();
    });
    $('#post_rsvp').bind('ajax:beforeSend',function(){
      $('#btn_submit').unbind();
      $('#btn_submit').append('<%= show_ajax_loader("loader_id","display: block; position: absolute; float: right; height: 19px; margin-top: -21px; margin-left: 53px;") %>');
    })
    
    $('#post_rsvp').bind('ajax:success',function(){
      $('#img_loader').remove();
    });
    
  });
  function sendPSVP(){
  
  var result = $("#post_rsvp").validate({
    meta: "validate"
  });
  if (result) {
    $("#post_rsvp").submit();
  }
  
}
</script>
