
<script src="/javascripts/jquery.dimensions.js" type="text/javascript"></script>

<script src="/javascripts/jquery.ui.slider.js" type="text/javascript"></script>



<link type="text/css" href="/stylesheets/jquery-ui-1.8.1.custom.css" rel="stylesheet" />

<script src="/javascripts/jquery.ui.mouse.js" type="text/javascript"></script>


<style type="text/css">
  .sliderGallery {
    overflow: hidden;
    position: relative;
    padding: 10px;
    height: 160px;
    width: 560px;
    border: 3px solid black;
  }

  .sliderGallery UL {
    position: absolute;
    list-style: none;
    overflow: none;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    border: 3px solid red;
  }

  .sliderGallery UL LI {
    display: inline;
  }

  #myslider {
    /*width: 542px;
    height: 17px;*/
    margin-top: 140px;
    margin-left: 5px;
    padding: 1px;
    position: relative;
    border: 1px solid red;
  }
</style>

<h1>Slider Gallery</h1>
<div class="sliderGallery">
  <ul>
    <li>abc<img src="/images/noimg.png" /></li>
    <li>ccc<img src="/images/noimg.png" /></li>
    <li>ddd<img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li><img src="/images/noimg.png" /></li>
    <li>zzzz<img src="/images/noimg.png" /></li>
  </ul>
  <div id="myslider"></div>
</div>



<script language="javascript">
  window.onload = function () {
    var container = $('div.sliderGallery');
    var ul = $('ul', container);

    var itemsWidth = ul.innerWidth() - container.outerWidth();

    $('#myslider',container).slider({
      min: 0,
      max: itemsWidth+20,
      stop: function (event, ui) {
        ul.animate({'left' : ui.value * -1}, 500);
      },
      slide: function (event, ui) {
        ul.css('left', ui.value * -1);
      }

    });
  };
  /*
  $(function () {
    $('div.sliderGallery').each(function () {
      var ul = $('ul', this);

      var productWidth = ul.innerWidth() - $(this).outerWidth();

      var slider = $('.slider', this).slider({
        handle: '.handle',
        minValue: 0,
        maxValue: productWidth,
        slide: function (ev, ui) {
          ul.css('left', '-' + ui.value + 'px');
        },
        stop: function (ev, ui) {
          ul.animate({ 'left' : '-' + ui.value + 'px' }, 500, 'linear');
        }
      });
    });
  });*/
</script>


<% @appcategory.each do |ca| %>
  <%  ca.phoneapplications.each do |pa| %>
    <p>
      <b>Category:</b> <%=h pa.phoneappcategory.name %><br/>
      <b>Name:</b> <%=h pa.name %><br/>
      <b>Description:</b> <%=h pa.description %><br/>
      <b>Image: </b><img src="<%= pa.image %>" alt="Noimg"/><br/>

      <b>Price:</b> <%=h pa.price %>$<br/>
    </p>
  <% end %>
<% end %>

