<% @allapps.each do |ap| %>
  <div class="learnNItem">
    <div class="learnNImg"><a href="#"><div><img src="pictures/phone2.png"></div></a></div>
    <div class="phoneLR">
      <div class="learnNtitle"><a href="#"><%= ap.name %></a> by Vestibulum <span>$2.99</span></div>
      <div class="phoneS">
        <div class="learnTst">
          <img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
        </div>
      </div>
    </div>
    <div class="learnNdes">Vestibulum id lectus eget felis laoreet accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...</div>
    <div class="learnNinf">67,541, 274 monthly active users - 54 friends</div>
  </div>
<% end %>
<div class="assPage">
  <span class="numPage">Page 1 of <%= @pageallapps %></span>
  <span class="firstPage">
    <%= link_to "First Page", {:controller => 'phoneapps', :action => "pagingphoneapps", :page => '1'}%>
  </span>

  <%= will_paginate(@allapps, :params => { :controller => "phoneapps", :action => "pagingphoneapps" }) %>


  <span class="lastPage">
    <%= link_to "Last Page", {:controller => 'phoneapps', :action => "pagingphoneapps", :page => @pageallapps} %>
  </span>
</div>
<script language="javascript">
  /*code to handle ajax pagination for all application TABS*/
  var firstpageurl = $('.firstPage a').attr('href');
  $('.firstPage').bind('click',function(){
    LoadSpinner('allappitems');
    $.ajax({
      url: firstpageurl,
      type: "GET",
      dataType: "html",
      failure: function(msg){
        alert('ajax fail:'+msg);
      },
      success: function(msg){
        $('#allappitems').html(msg);
      }
    });
    return false;
  });
  var lastpageurl =  $('.lastPage a').attr('href');;
  $('.lastPage').bind('click',function(){
    LoadSpinner('allappitems');
    $.ajax({
      url: lastpageurl,
      type: "GET",
      dataType: "html",
      failure: function(msg){
        alert('ajax fail:'+msg);
      },
      success: function(msg){
        $('#allappitems').html(msg);
      }
    });
    return false;
  });
  $(".current").each(function(){
    var onepageurl = $(this).attr('href');
    $(this).bind('click',function(){
      if (onepageurl != undefined){
        LoadSpinner('allappitems');
        $.ajax({
          url: onepageurl,
          type: "GET",
          dataType: "html",
          failure: function(msg){
            alert('ajax fail:'+msg);
          },
          success: function(msg){
            $('#allappitems').html(msg);
          }
        });
      }
      return false;
    });
  });
  var nextpageurl = $(".disabled.next_page").attr("href");
  var prevpageurl = $(".disabled.prev_page").attr("href");
  $('.disabled.next_page').bind('click',function(){
    if (nextpageurl!=undefined){
      LoadSpinner('allappitems');
      $.ajax({
        url: nextpageurl,
        type: "GET",
        dataType: "html",
        failure: function(msg){
          alert('ajax fail:'+msg);
        },
        success: function(msg){
          $('#allappitems').html(msg);
        }
      });

    }
    return false;
  });
  $('.disabled.prev_page').bind('click',function(){
    if(prevpageurl != undefined){
      LoadSpinner('allappitems');
      $.ajax({
        url: prevpageurl,
        type: "GET",
        dataType: "html",
        failure: function(msg){
          alert('ajax fail:'+msg);
        },
        success: function(msg){
          $('#allappitems').html(msg);
        }
      });
    }
    return false;
  });
</script>