<div class="topLearning">
  <div class="menuRL">
    <div class="menuRItem menuRselect"><a href="#"><span class="span1"><span class="span2">Recommend App</span></span></a></div>
    <div class="menuRItem"><a href="#"><span class="span1"><span class="span2">Submit App</span></span></a></div>
  </div>
  <div class="postdiv">
    <span class="RmenuRbtm2"><a href="#">Post</a></span>
  </div>
</div>
<div class="contMain">
  <div class="contDetL">

    <div class="contDetLin">
      <div class="learnLeft">
        <div class="phoneTop">
          <div class="iphoneTitle">applications list</div>
          <div class="learnPage">
            <div class="learnPageL" id="iphoneTop">Page 1 of <%=h @pageIapp %></div>
            <div class="learnPageP"><%= link_to "&nbsp;", {:controller => 'phoneapps', :action => "iphonepage"},  :class=> "iphoneback" %></div>
            <div class="learnPageN"><%= link_to "&nbsp;", {:controller => 'phoneapps', :action => "iphonepage"},  :class=> "iphonenext" %></div>
          </div>
        </div>
        <div class="learnTools">
          <%= render :partial => "iappitems", :locals => {:appdata => @iphonedata} %>
        </div>

        <div class="blackBTop">
          <div class="blackBTitle">applications list</div>
          <div class="learnPage">
            <div id="bphoneTop" class="learnPageL">Page 1 of  <%=h @pagebberry %></div>
            <div class="learnPageP"><%= link_to "&nbsp;", {:controller => 'phoneapps', :action => "bberrypage"},  :class=> "berryback" %></div>
            <div class="learnPageN"><%= link_to "&nbsp;", {:controller => 'phoneapps', :action => "bberrypage"},  :class=> "berrynext" %></div>
          </div>
        </div>

        <div class="learnTools">
          <%= render :partial => "bappitems", :locals => {:appdata => @bberrydata} %>
        </div>
        <div class="googleTop">
          <div class="googleTitle">applications list</div>
          <div class="learnPage">

            <div class="learnPageL" id="gphoneTop">Page 1 of <%=h @pagegoogleapp %></div>
            <div class="learnPageP"><%= link_to "&nbsp;", {:controller => 'phoneapps', :action => "googleapppage"},  :class=> "g_apback" %></div>
            <div class="learnPageN"><%= link_to "&nbsp;", {:controller => 'phoneapps', :action => "googleapppage"},  :class=> "g_apnext" %></div>

          </div>
        </div>
        <div class="learnTools">
          <%= render :partial => "gappitems", :locals => {:appdata => @googleappdata} %>
        </div>

        <div class="learnN">
          <div class="learnNM">
            <div class="learnNMtitle">Phone Apps</div>
            <div class="learnNMP">Popular</div>
            <div class="learnNML"><a href="#">Verified</a></div>
            <div class="learnNML"><a href="#">Recently Added</a></div>
            <div class="learnNMR"><a href="#">See All</a></div>
          </div>
        </div>
        <div class="learnNItem">
          <div class="learnNImg"><a href="#"><div><img src="pictures/phone2.png"></div></a></div>
          <div class="phoneLR">
            <div class="learnNtitle"><a href="#">Nullam condimentum mauris sit amet lacus</a> by Vestibulum <span>$2.99</span></div>
            <div class="phoneS">
              <div class="learnTst">
                <img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
              </div>
            </div>
          </div>
          <div class="learnNdes">Vestibulum id lectus eget felis laoreet accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...</div>
          <div class="learnNinf">67,541, 274 monthly active users - 54 friends</div>
        </div>
        <div class="learnNItem">
          <div class="learnNImg"><a href="#"><div><img src="pictures/phone7.png"></div></a></div>
          <div class="phoneLR">
            <div class="learnNtitle"><a href="#">Nullam condimentum mauris sit amet lacus</a> by Vestibulum <span>$2.99</span></div>
            <div class="phoneS">
              <div class="learnTst">
                <img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
              </div>
            </div>
          </div>
          <div class="learnNdes">Vestibulum id lectus eget felis laoreet accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...</div>
          <div class="learnNinf">67,541, 274 monthly active users - 54 friends</div>
        </div>
        <div class="learnNItem">
          <div class="learnNImg"><a href="#"><div><img src="pictures/phone10.png"></div></a></div>
          <div class="phoneLR">
            <div class="learnNtitle"><a href="#">Nullam condimentum mauris sit amet lacus</a> by Vestibulum <span>$2.99</span></div>
            <div class="phoneS">
              <div class="learnTst">
                <img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
              </div>
            </div>
          </div>
          <div class="learnNdes">Vestibulum id lectus eget felis laoreet accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...</div>
          <div class="learnNinf">67,541, 274 monthly active users - 54 friends</div>
        </div>
        <div class="learnNItem">
          <div class="learnNImg"><a href="#"><div><img src="pictures/phone1.png"></div></a></div>
          <div class="phoneLR">
            <div class="learnNtitle"><a href="#">Nullam condimentum mauris sit amet lacus</a> by Vestibulum <span>$2.99</span></div>
            <div class="phoneS">
              <div class="learnTst">
                <img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
              </div>
            </div>
          </div>
          <div class="learnNdes">Vestibulum id lectus eget felis laoreet accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...</div>
          <div class="learnNinf">67,541, 274 monthly active users - 54 friends</div>
        </div>
        <div class="learnNItem">
          <div class="learnNImg"><a href="#"><div><img src="pictures/phone9.png"></div></a></div>
          <div class="phoneLR">
            <div class="learnNtitle"><a href="#">Nullam condimentum mauris sit amet lacus</a> by Vestibulum <span>$2.99</span></div>
            <div class="phoneS">
              <div class="learnTst">
                <img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
              </div>
            </div>
          </div>
          <div class="learnNdes">Vestibulum id lectus eget felis laoreet accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...</div>
          <div class="learnNinf">67,541, 274 monthly active users - 54 friends</div>
        </div>
        <div class="assPage">
          <span class="numPage">Page 1 of 22</span>
          <span class="firstPage"><a href="#">First Page</a></span>
          <span class="prevPage"><a href="#">Prev</a></span>
          <span class="currentPage">
            <a class="selected" href="#"><span>6</span></a>
            <a href="#"><span>7</span></a>
            <a href="#"><span>8</span></a>
            <a href="#"><span>9</span></a>
            <a href="#"><span>10</span></a>
          </span>
          <span class="nextPage"><a href="#">Next</a></span>
          <span class="lastPage"><a href="#">Last Page</a></span>
        </div>
        <div class="goTop"><a href="#">Top</a></div>
      </div>
    </div>

  </div>
</div>

<div class="contMainR">
  <div class="creAdv"><a href="#">Create an Ad</a></div>
  <div class="advert">
    <div class="advertTitle">Advertisement</div>
    <div class="Dani">DaniWeb - IT Discussion Community</div>
    <div class="advertImg"><img src="pictures/pic6.png"></div>
    <div class="advertDes">Tech support, programming, web development, and internet marketing community.</div>
    <div class="advertInf">
      <div class="advertInfL">
        <a class="adverta" href="#">482</a><a class="advertb" href="#">12</a><a class="advertc" href="#">10 Comments</a>
      </div>
      <div class="advertInfR">
        <span class="pre"><a href="#">&nbsp;</a></span>
        <span class="next"><a href="#">&nbsp;</a></span></div>
    </div>
  </div>
  <div class="advert">
    <div class="Dani">DaniWeb - IT Discussion Community</div>
    <div class="advertImg"><img src="pictures/adv.png"></div>
    <div class="advertDes">Tech support, programming, web development, and internet marketing community.</div>
    <div class="advertInf">
      <div class="advertInfL">
        <a class="adverta" href="#">482</a><a class="advertb" href="#">12</a><a class="advertc" href="#">10 Comments</a>
      </div>
      <div class="advertInfR">
        <span class="pre"><a href="#">&nbsp;</a></span>
        <span class="next"><a href="#">&nbsp;</a></span></div>
    </div>
  </div>
  <div class="advert">
    <div class="Dani">MTV - New Music Videos, Reality TV Shows...</div>
    <div class="advertImg"><img src="pictures/adv1.png"></div>
    <div class="advertDes">Watch the latest Music Video from your favorite artists.</div>
    <div class="advertInf">
      <div class="advertInfL">
        <a class="adverta" href="#">482</a><a class="advertb" href="#">12</a><a class="advertc" href="#">10 Comments</a>
      </div>
      <div class="advertInfR">
        <span class="pre"><a href="#">&nbsp;</a></span>
        <span class="next"><a href="#">&nbsp;</a></span></div>
    </div>
  </div>
</div>

<script language="javascript">

  /*Pagination for iphone app*/
  var url = $(".iphonenext").attr("href");/*url is the same for next, back. only parameter is different*/

  var icurpage = 1;
  var inextpage = 2;
  var ibackpage = 0;
  var itotal = <%= @pageIapp %>

  $(".iphonenext").bind('click', function() {
    $.ajax({
      url: url,
      type: "GET",
      dataType: "html",
      data: { page: inextpage },
      failure: function(msg){
        alert('ajax fail:'+msg);
      },
      success: function(msg){
        $('#iphonedata').html(msg);
        $('#iphoneTop').html('Page '+icurpage+' of '+itotal);
      }
    });
    if (inextpage < itotal){
      icurpage = inextpage;
      inextpage = inextpage + 1;
      ibackpage = ibackpage + 1;
    }else if (inextpage == itotal){
      icurpage = inextpage;
      ibackpage = icurpage - 1;
    }
    return false;
  });
  
  $(".iphoneback").bind('click', function() {
    $.ajax({
      url: url,
      type: "GET",
      dataType: "html",
      data: { page: ibackpage },
      failure: function(msg){
        alert('ajax fail:'+msg);
      },
      success: function(msg){
        $('#iphonedata').html(msg);
        $('#iphoneTop').html('Page '+icurpage+' of '+itotal);
      }
    });
    if (ibackpage > 1){
      icurpage = ibackpage;
      inextpage = inextpage - 1;
      ibackpage = ibackpage - 1;
    }else if (ibackpage == 1){
      icurpage = ibackpage;
      inextpage = icurpage + 1;
    }
    return false;
  });
  /*Pagination for blackberry app*/
  var berryurl = $(".berrynext").attr("href");/*url is the same for next, back. only parameter is different*/

  var bcurpage = 1;
  var bnextpage = 2;
  var bbackpage = 0;
  var btotal = <%= @pagebberry %>

  $(".berrynext").bind('click', function() {
    $.ajax({
      url: berryurl,
      type: "GET",
      dataType: "html",
      data: { page: bnextpage },
      failure: function(msg){
        alert('ajax fail:'+msg);
      },
      success: function(msg){
        $('#bappdata').html(msg);
        $('#bphoneTop').html('Page '+bcurpage+' of '+btotal);
      }
    });
    if (bnextpage < btotal){
      bcurpage = bnextpage;
      bnextpage = bnextpage + 1;
      bbackpage = bbackpage + 1;
    }else if (bnextpage == btotal){
      bcurpage = bnextpage;
      bbackpage = bcurpage - 1;
    }
    return false;
  });

  $(".berryback").bind('click', function() {
    $.ajax({
      url: berryurl,
      type: "GET",
      dataType: "html",
      data: { page: bbackpage },
      failure: function(msg){
        alert('ajax fail:'+msg);
      },
      success: function(msg){
        $('#bappdata').html(msg);
        $('#bphoneTop').html('Page '+bcurpage+' of '+btotal);
      }
    });
    if (bbackpage > 1){
      bcurpage = bbackpage;
      bnextpage = bnextpage - 1;
      bbackpage = bbackpage - 1;
    }else if (bbackpage == 1){
      bcurpage = bbackpage;
      bnextpage = bcurpage + 1;
    }
    return false;
  });
  /*Pagination for google app*/
  var gurl = $(".g_apnext").attr("href");/*url is the same for next, back. only parameter is different*/

  var gcurpage = 1;
  var gnextpage = 2;
  var gbackpage = 0;
  var gtotal = <%= @pagegoogleapp %>

  $(".g_apnext").bind('click', function() {
    $.ajax({
      url: gurl,
      type: "GET",
      dataType: "html",
      data: { page: gnextpage },
      failure: function(msg){
        alert('ajax fail:'+msg);
      },
      success: function(msg){
        $('#gappdata').html(msg);
        $('#gphoneTop').html('Page '+gcurpage+' of '+gtotal);
      }
    });
    if (gnextpage < gtotal){
      gcurpage = gnextpage;
      gnextpage = gnextpage + 1;
      gbackpage = gbackpage + 1;
    }else if (gnextpage == gtotal){
      gcurpage = gnextpage;
      gbackpage = gcurpage - 1;
    }
    return false;
  });

  $(".g_apback").bind('click', function() {
    $.ajax({
      url: gurl,
      type: "GET",
      dataType: "html",
      data: { page: gbackpage },
      failure: function(msg){
        alert('ajax fail:'+msg);
      },
      success: function(msg){
        $('#gappdata').html(msg);
        $('#gphoneTop').html('Page '+gcurpage+' of '+gtotal);
      }
    });
    if (gbackpage > 1){
      gcurpage = gbackpage;
      gnextpage = gnextpage - 1;
      gbackpage = gbackpage - 1;
    }else if (gbackpage == 1){
      gcurpage = gbackpage;
      gnextpage = gcurpage + 1;
    }
    return false;
  });
</script>