          <div class="assItemForu">
            <div class="bodderTop"></div>
            <div class="inboxCeTop"></div>
            <div class="assForum">
              <div class="assPic">
                <%= show_image_user_post(ufo.user) %>
              </div>

              <div style="float: left; width: 500px;" class="assPicFo">
                <%= link_to ufo.title, user_u_forum_path(ufo.user, ufo) %>

              </div>
              <div class="inboxFoSe"><a href="#" onclick=""><span class="span1">Setting</span></a></div>
              <div class="assContFoT">
                <div class="assContFoD">
                  <div class="assContFoC">
                    <div class="assInfT">
                      <div class="assInfL">
                        <div>
                          <span>Posted by:</span>
                          <%= show_user_post(ufo.user) %>
                          <span>
                            <%= time_ago_in_words(ufo.created_at, true) %> ago.

                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="assDes">
                      <%= ufo.content %>
                    </div>
                    <div class="assItbodderTopemB">
                      <div class="assInfT">
                        <div class="assInfB">
                          <div id="rate_1144">
                            <div style="background: none repeat scroll 0% 0% transparent;" class="qashdU">
                              <a href="">0</a>
                            </div>
                            <div class="qashdD">
                              <a href="">0</a>
                            </div>
                          </div>
                          <div style="background: url(&quot;/images/bor-ad.png&quot;) no-repeat scroll left top transparent; padding: 0pt 2px;">
                            <div class="com">
                              <a href="">Comments (<span id="post_1144_comments">0</span>)</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
