<div id="cmt_content_item<%= cmt.id %>" style="border-bottom: 1px solid #D2D9E7; min-height: 80px;">
  <div class="assPic">
    <%= show_image_user_post(cmt.user) %>
  </div>
  <div style="margin-top: 10px;">
    <div class="item_cmt_doimg">
      <% if current_user == @ufo_author || current_user == cmt.user %>
        <div style="float: right;margin-top: -8px" class="item_cmt_img">
          <%= link_to(content_tag(:span), 
            {:controller => "u_forums", :action => "del_cmt", :ufo_id => @ufo.id, :cmt_id => cmt.id  }, :remote => false, :style=>"",
            :method => :get, :confirm => 'Are you sure you want to delete this comment?', 
            :class => "vtip", :title => "Delete this comment") %>
        </div>
      <% end %>

      <% if  cmt.ucmt_attach.url != "/ucmt_attaches/original/missing.png"%>
        <div class="btmDownfo" style="float: right;margin-top: -8px;">
          <a href="javascript:downloadFile('<%= cmt.ucmt_attach.url %>')" class="downarrow">
            <span style="display: none;">Download</span>
          </a>
        </div>
      <% end %>
    </div>
    <div class="item_cmt_user">
      <%= show_user_post(cmt.user) %>
    </div>
    <div style="color: #969696"><%= time_ago_in_words(cmt.created_at, true) %> ago.</div>
    <% if  cmt.ucmt_attach.url != "/ucmt_attaches/original/missing.png"%>
    <div class="assDes" style="width: 521px;">
      <%= link_to raw("<div>#{ufocmt_image_post(controller_name, cmt)}</div>"), cmt.ucmt_attach.url %>
    </div>
    <% end %>
    
    
    
    
    
    
    
    
    
    <div style="overflow: hidden;margin-bottom: 10px;"><%= raw (cmt.content) %></div>
    <div style="float: right; display: none;">button collapse expand</div>
  </div>
</div>