<div style="border-bottom: 1px solid #D2D9E7; height: 80px; ">

  <div class="assPic">
    <%= show_image_user_post(cmt.user) %>
  </div>
  <div>
    <div style="color: #0A81C4;">
      <%= show_user_post(cmt.user) %>
    </div>
    <div style="color: #969696"><%= time_ago_in_words(cmt.created_at, true) %> ago.</div>
    <div><%= cmt.content %></div>
    <div class="item_cmt_doimg" style="margin-top: -40px;">
    <% if current_user == @ufo_author || current_user == cmt.user %>
      <div class="item_cmt_img" style="float: right">
        <!-- img src="/images/icon-ing.gif" id=""/ -->              
    <%= link_to( image_tag("/images/icon-ing.gif"), 
      {:controller => "u_forums", :action => "del_cmt", :ufo_id => @ufo.id, :cmt_id => cmt.id  }, :remote => false, :style=>"",
      :method => :get, :confirm => 'Are you sure you want to delete this comment?', 
      :class => "vtip", :title => "Delete this comment") %>                
      </div>
    <% end %>    
    <% if  cmt.ucmt_attach.url != "/ucmt_attaches/original/missing.png"%>
    <div style="margin-top: -7px;float:right;background: url(/images/ufo_attach.jpg) no-repeat scroll 0 0 transparent;height:24px;width: 24px;">
      <a href="javascript:downloadFile('<%= cmt.ucmt_attach.url %>')" class="downarrow">
        <span style="display: none;">Download</span>
      </a>
    </div>
    <% end %>
  </div>
    
    
    <div style="float: right; display: none;">button collapse expand</div>
  </div>
</div>
