          <div class="assItemForu">
            <div class="bodderTop"></div>
            <div class="inboxCeTop"></div>
            <div class="assForum">
              <div class="assPic">
                <%= show_image_user_post(ufo.user) %>
              </div>

              <div style="float: left; width: 500px;" class="assPicFo">
                <%= link_to ufo.title, user_u_forum_path(ufo.user, ufo) %>

              </div>
              <div class="inboxFoSe"><a href="javascript:;" id="setting<%= ufo.id %>"><span class="span1">Setting</span></a></div>
              <div class="assContFoT">
                <div class="assContFoD">
                  <div class="assContFoC">
                    <div class="assInfT">
                      <div class="assInfL">
                        <div>
                          <span>Posted by:</span>
                          <%= show_user_post(ufo.user) %>
                          <span>
                            <%= time_ago_in_words(ufo.created_at, true) %> ago.

                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="assDes">
                      <%= ufo.content %>
                    </div>
                    <div class="assItbodderTopemB">
                      <div class="assInfT">
                        <div class="assInfB">
                          <div id="rate_1144">
                            <div style="background: none repeat scroll 0% 0% transparent;" class="qashdU">
                              <a href="">0</a>
                            </div>
                            <div class="qashdD">
                              <a href="">0</a>
                            </div>
                          </div>
                          <div style="background: url(&quot;/images/bor-ad.png&quot;) no-repeat scroll left top transparent; padding: 0pt 2px;">
                            <div class="com">
                              <!-- a href="">Comments (<span id="post_1144_comments">0</span>)</a -->
                              <%= link_to "Comments", user_u_forum_path(ufo.user, ufo) %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


<div id="item_dlg<%= ufo.id %>" title="Custom settings for <%= ufo.title %>" style="display:none;">
  <div id="sContent<%= ufo.id %>">
    <div id="waiting_id<%= ufo.id %>" style="margin-left: 298px; margin-top: 66px;">
      <img src="/images/ajax-loader-a.gif"/>
    </div>
    <div id="item_cnt<%= ufo.id %>"></div>

  </div>
</div>
<script type="text/javascript">
var ajaxobj<%= ufo.id %>;
$(document).ready(function(){
  $('#setting<%= ufo.id %>').click(function(){

      var stn_path = "<%= item_setting_user_u_forums_path %>";

      itemdlgobj<%= ufo.id %> = $("#item_dlg<%= ufo.id %>").dialog({
        open: function ()
        {
          //$('#item_cnt<%= ufo.id %>').load(stn_path);
          ajaxobj<%= ufo.id %> = $.ajax({
            url: stn_path,
            type: 'GET',
            dataType: 'script',
            data: ({
              id: <%= ufo.id %>,
            })
          });

        },
        modal: true,
        height: 220,
        width: 650,
        draggable: false,
        resizable: false,
        closeOnEscape: true,
        overlay: { 
            opacity: 0.7, 
            background: "black" 
        },
        beforeClose: function(event, ui) {
          $('#item_cnt<%= ufo.id %>').html("");
          $('#waiting_id<%= ufo.id %>').show();
          ajaxobj<%= ufo.id %>.abort();
        }

      });


  });
});
</script>
