<% if @enableCheckbox != nil && @enableCheckbox == true %>
  <% strdisplay= "" %>
<% else %>
  <% strdisplay= "display: none;" %>
<% end %>

<% @members.each do |member| %>
  <% usr_class = "AsDcomImg" %>
  <% if member.recev_mail == false %>
    <% usr_class = "AsImgSelect" %>
  <% end %>



  <div class="<%= usr_class %>" style="margin-left: 9px;" id="member_<%= member.user.id %>">
    <%= show_image_user_post(member.user) %>
    <% if current_user == @ufo.user %>
      <% strchecked = "" %>
      <% if session[:list_remove_usrs].include?member.user.id.to_s %>
        <% strchecked = "checked" %>
      <% end %>

      <input id="cbox_<%= member.user.id %>" <%= strchecked %> type="checkbox" name="user_list[]" value="<%= member.user.id %>" style="<%= strdisplay %>" />
      <script type="text/javascript">
        $(document).ready(function(){
          $('#cbox_<%= member.user.id %>').click(function(){

          var temp_arr=[];
          var j = 0;
          var ilength = pivot_list.length;

          for (i=0; i < pivot_list.length; i++){
            if (pivot_list[i] == <%= member.user.id %>){
              //skip this element, do not put it into temp array
            }else{
               temp_arr.push(pivot_list[i]);
               j++;
            }//end if
          }//end for
          pivot_list = temp_arr;

          if (j == ilength)/* which mean this is the first time select  */{
             pivot_list.push(<%= member.user.id %>);
          }

          if (pivot_list.length == 0){
            $('#remove_btn_forum').hide();
          }
          else{
            $('#remove_btn_forum').show();
          }



        });
      });
</script>
    <% end %> <!-- end if -->
  </div>
<% end %>

