<% if @enableCheckbox != nil && @enableCheckbox == true %>
  <% strdisplay= "" %>
<% else %>
  <% strdisplay= "display: none;" %>
<% end %>

<% @members.each do |member| %>
  <div class="AsDcomImg" style="margin-left: 9px;">
    <%= show_image_user_post(member.user) %>
    <% if current_user == @ufo.user %>
      <% strchecked = "" %>
      <% if session[:list_remove_usrs].include?member.user.id.to_s %>
        <% strchecked = "checked" %>
        <% @prechecked << member.user.id %>
      <% end %>

      <input id="cbox_<%= member.user.id %>" <%= strchecked %> type="checkbox" name="user_list[]" value="<%= member.user.id %>" style="<%= strdisplay %>" />
    <% end %> <!-- end if -->
  </div>
<% end %>


