<div class="forumlist" id="member_div_<%= @usr.id %>">
  <%= @usr.name %>
  <a id="member_<%= @usr.id %>" class="forumlist_deletebutton" href="javascript:;"></a>
</div>
<script type="text/javascript">
function RemoveUser<%= @usr.id %>(){
  $('#loading_user').show();
  $('#usr_lists').hide();  
  $('#selected_users_area').hide();

  $.ajax({
    url: '<%= remove_usr_user_u_forums_path %>',
    type: 'GET',
    dataType: 'script',
    data: {
      usr_id: <%= @usr.id %>
    },
    success: function(data){
      $('#loading_user').hide();
      $('#usr_lists').show();  
      $('#selected_users_area').show();
    }
  });//end ajax
}

$(document).ready(function(){
  $('#member_<%= @usr.id %>').click(function(){
    $('#member_div_<%= @usr.id %>').remove();
    RemoveUser<%= @usr.id %>();
  });
});
</script>

