<div class="forumlist" id="member_div_<%= @usr.id %>">
  <%= @usr.name %>
  <a id="member_<%= @usr.id %>" class="forumlist_deletebutton" href="javascript:;"></a>
</div>
<script type="text/javascript">
function RemoveUser<%= @usr.id %>(){
    $.ajax({
      url: '<%= remove_usr_user_u_forums_path %>',
      type: 'GET',
      dataType: 'script',
      data: {
        usr_id: <%= @usr.id %>
      },
      success: function(data){
        //hide needed thing here: e.g ajax loader
      }
    });//end ajax
}

$(document).ready(function(){
  $('#member_<%= @usr.id %>').click(function(){
    RemoveUser<%= @usr.id %>();
  });
});
</script>

