         <div style="border: 0px solid black; margin-left: 10px; margin-top: 10px; padding-top: 5px; height: 120px; width: 593px;">

            <div style='height: 60px;'>
              <div style="border: 0px solid black; width: 289px; height: 52px;">
                <span style="padding-left: 33px; padding-bottom: 7px; background: url('/images/ufo_join.png') no-repeat"></span>
                <label style="text-align: left; color: #969696; float: right;margin-right: 182px; margin-top: 8px;">Who can joins?</label>
                <div style="margin-top:14px;">
		  <%= show_share_setting(current_user) %>
                </div>
              </div>
              <div style="width: 289px; float: right; margin-top: -54px; height: 52px; display: none;">
                <span style="padding-left: 33px; padding-bottom: 7px; background: url('/images/ufo_colapse.png') no-repeat"></span>
                <label style="color: #969696; text-align: left;float: right;margin-right: 147px; margin-top: 6px;">Enable collapse mode</label>
                <div style="margin-top:12px;">
                  <select style="width: 100px;">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>                       
                </div>
              </div>
            </div>
            <div style='height: 81px;'>
              <div style="border: 0px solid black; width: 289px; height: 52px;">
                <label style="text-align: left; color: #969696;">Post to your lounge?</label>
                <div>
		  <%= show_tolounge_setting(current_user) %>
                </div>
              </div>
              <div style="width: 289px; float: right; margin-top: -54px; height: 52px; display: none;">
                <label style="text-align: left; color: #969696;">Words count for collapse mode (Default is 100 words)</label>
                <div>
                  <input type="text" value="" name="wrd_count" id="wrd_count" style="width: 93px; height: 20px;"/>                      
                </div>
              </div>
            </div>

          </div>


<div>
  <div style="display: inline; float: right;">
    <button id="bt_close">Close</button>
  </div>
  <div style="display: inline; float: right;">
    <button id="bt_save">Save</button>
  </div>
</div>

<script type="text/javascript">
function SaveSetting(ishareto, itolounge){
  $.ajax({
    url: "<%= save_setting_user_u_forums_path %>",
    type: 'POST',
    dataType: 'script',
    data: ({
      shareto: ishareto,
      postlounge: itolounge
    })
  });

}

$(document).ready(function(){
  $('#waiting_id').hide();


  var shareto=<%= current_user.ufo_default.share_to_index %>;
  var tolounge=<%= current_user.ufo_default.post_lounge %>;

  $('#bt_save').click(function(){
    $('#waiting_id').show();
    $('#mainCnt').hide();
    SaveSetting(shareto,tolounge);
  });

  $('#bt_close').click(function(){
    $('#setting_dlg').parent().find('span.ui-icon-closethick').click();
  });

  $('select#ufo_setting').change(function(){
    shareto = $(this).find('option:selected').val();
  });
  $('select#lounge_setting').change(function(){
    tolounge = $(this).find('option:selected').val();
  });
});

</script>











