<%#= render :partial => "shared/submenu" %>

<div style="padding-bottom: 10px;" class="abLink postLink">
  <div class="abLinkL">You are here:<a href="#"> User's Forums</a>
  </div>
</div>

<div class="slStoryL">
  <div class="contDetL">
    <div class="contDetLin">
      <div class="inboxForum" style="padding:10px">
        <div class="inboxFoTop">
          <div class="markFo" style="border-left: 1px solid #E3E3E3;"><a href="#" onclick="">All Topics</a></div>
          <div class="markFo"><a href="javascript:;">User's Topics</a></div>
          <div class="markFo"><a href="javascript:;">Friend Invited Topics </a></div>
          <div class="markFo"><a href="javascript:;" id="ufo_setngs">Default Settings </a></div>
        </div>





        <div class="inboxFoNew">
          <%= link_to raw('<span class="span1">Post a new topic</span>'), new_user_u_forum_path(current_user) %>
        </div>
      </div>


      <div class="inboxCenter" style="padding-left:10px;padding-right: 10px;margin-top: -5px">

        <div class="assItemFo">
          <% @ufos.each do |ufo|%>
            <%= render :partial => "item", :locals => {:ufo => ufo} %>
          <%  end %>
        </div>


      </div>


      <div class="assPage" style="padding-left:0">
        <span class="numPage"><%= page_entries_info @ufos %></span>
        <%= will_paginate @ufos %> 
      </div>


    </div>
  </div>

</div>

<div id="setting_dlg" title="Default Settings for your forums" style="display:none;">
  <div id="sContent">
    <div id="waiting_id" style="margin-left: 298px; margin-top: 66px;">
      <img src="/images/ajax-loader-a.gif"/>
    </div>
    <div id="mainCnt"></div>

  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    var stn_path = "<%= dft_stgs_user_u_forums_path %>"
    $('#ufo_setngs').click(function(){
      $("#setting_dlg").dialog({
        open: function ()
        {
          $('#mainCnt').load(stn_path);
        },
        model: true,
        height: 220,
        width: 650,
        draggable: false,
        resizable: false,
        closeOnEscape: true,
        beforeClose: function(event, ui) {
          $('#mainCnt').html("");
          $('#waiting_id').show();
        }

      });
    });
  });
</script>

