         <div style="border: 0px solid black; margin-left: 10px; margin-top: 10px; padding-top: 5px; height: 120px; width: 593px;">

            <div style='height: 60px;'>
              <div style="border: 0px solid black; width: 289px; height: 52px;">
                <span style="padding-left: 33px; padding-bottom: 7px; background: url('/images/ufo_join.png') no-repeat"></span>
                <label style="text-align: left; color: #969696; float: right;margin-right: 182px; margin-top: 8px;">Who can joins?</label>
                <div style="margin-top:14px;">
		  <%= show_share_setting(current_user) %>
                </div>
              </div>
              <div style="width: 289px; float: right; margin-top: -54px; height: 52px; display: none;">
                <span style="padding-left: 33px; padding-bottom: 7px; background: url('/images/ufo_colapse.png') no-repeat"></span>
                <label style="color: #969696; text-align: left;float: right;margin-right: 147px; margin-top: 6px;">Enable collapse mode</label>
                <div style="margin-top:12px;">
                  <select style="width: 100px;">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>                       
                </div>
              </div>
            </div>
            <div style='height: 81px;'>
              <div style="border: 0px solid black; width: 289px; height: 52px;">
                <label style="text-align: left; color: #969696;">Post to your lounge?</label>
                <div>
		  <%= show_tolounge_setting(current_user) %>
                </div>
              </div>
              <div style="width: 289px; float: right; margin-top: -54px; height: 52px; display: none;">
                <label style="text-align: left; color: #969696;">Words count for collapse mode (Default is 100 words)</label>
                <div>
                  <input type="text" value="" name="wrd_count" id="wrd_count" style="width: 93px; height: 20px;"/>                      
                </div>
              </div>
            </div>

          </div>

<div>
  <div style="display: inline; float: right;">
    <button id="bt_close<%= @objufo.id %>">Close</button>
  </div>
  <div style="display: inline; float: right;">
    <button id="bt_save<%= @objufo.id %>">Save</button>
  </div>
</div>


<script type="text/javascript">
  $('#bt_close<%= @objufo.id %>').click(function(){
    $("#item_dlg<%= @objufo.id %>").parent().find('span.ui-icon-closethick').click();
  });
</script>
