<div style="padding-bottom: 10px;" class="abLink postLink">
  <div class="abLinkL">You are here:<a href="#"> User's Forums</a>
  </div>
</div>

<div class="slStoryL">
  <div class="contDetL">
    <div class="contDetLin">

      <div class="overall">
        <%= form_for(@ufo, :url => url_for(:controller => "u_forums", :action => "save") , :html => {:multipart => true, :id => "form_new" }) do |f| %>
          <div style="padding: 10px">
            <div style="border-right: 1px solid #cecece;border-bottom: 1px solid #CECECE;">
              <div class="inner2">
                <div id="first_banner" class="bodderTop"></div>
                <div id="first_banner" class="inboxCeTop"> 
                  <label style="text-align: left; margin-left: 10px; color: #969696;">Title</label>
                </div>
                <div style="padding:8px 8px 8px 0px">
                  <%= f.text_field :title, :class => '', :style => "width: 625px; height: 20px;background-color: transparent;border: 1px solid #CECECE;" %>
                </div>
              </div>

              <div class="inner2">
                <div id="first_banner" class="bodderTop"></div>
                <div id="first_banner" class="inboxCeTop">
                  <label style="text-align: left; margin-left: 10px; color: #969696;">Content</label>
                </div>       
                <div style="padding:8px 8px 8px 0px">
                  <%= f.text_area :content, :id => 'topic_content', :rows => '19', :cols => '84', :class => ''%>
                </div>
              </div>
              <div class="inner2">
                <div id="first_banner" class="bodderTop"></div>
                <div id="first_banner" class="inboxCeTop">
                  <label style="text-align: left; margin-left: 10px; color: #969696;">Choose file</label>
                </div>
                <div class="postItemB" style="background:url(/images/upload_file.png) no-repeat scroll 98% 0 transparent;margin-top: 7px;">
                  <div id="divinputfile">
                    <div class="postItemC">
                      <input type="file" style="width: 617px; height: 24px; margin-top: 2px;" size="76" onchange="$('#fakefilepc').val(this.value);" name="ufo[ufo_attach]" id="ufo_ufo_attach" class="filepc">

                    </div>
                    <div style="margin-top: -26px;" id="fakeinputfile">
                      <input type="text" id="fakefilepc" name="fakefilepc" style="width:545px">
                    </div>
                  </div>
                </div>
                <!-- <div style="width: 624px; margin-top: 10px; margin-left: 5px; height: 28px;">%>
  <%#= f.file_field :ufo_attach, :onchange => "", :size => "76", :class => "", :style => "" %>
                </div>-->
              </div>

              <div class="inner2" style="margin-top: 8px;">
                <div id="first_banner" class="bodderTop"></div>
                <div id="first_banner" class="inboxCeTop">
                  <label style="text-align: left; margin-left: 10px; color: #969696;">Settings</label>
                </div>
                <div id="waiting_id" style="margin-left: 298px; margin-top: 66px; display: none;">
                  <img src="/images/ajax-loader-a.gif"/>
                </div>


                <div class="assContFoT615" style="float: none">
                  <div class="assContFoD615">
                    <div class="assContFoC615" style="padding:5px 25px" id="setting_pane">
                      <div id="loading_id" style="margin-left: 282px; display: none;">
                        <img src="/images/ajax-loader-a.gif"/>
                      </div>

                      <div id="inner_setting">
                        <div id="row1">
                          <div id="join_area" style="width: 289px; height: 52px;">
                            <span style="padding-left: 33px; padding-bottom: 7px; background: url('/images/ufo_join.png') no-repeat"></span>
                            <label style="text-align: left; color: #969696; float: right;margin-right: 182px; margin-top: 8px;">Who can joins?</label>
                            <div style="margin-top:14px;">
                              <%= show_share_setting(current_user)%>
                            </div>
                          </div>

                          <!-- div style="border: 0px solid black; width: 289px; float: right; margin-top: -54px; height: 52px;">
                            <span style="padding-left: 33px; padding-bottom: 7px; background: url('/images/ufo_colapse.png') no-repeat"></span>
                            <label style="color: #969696; text-align: left;float: right;margin-right: 147px; margin-top: 6px;">Enable collapse mode</label>
                            <div style="margin-top:12px;">
                              <select style="width: 100px;">
                                <option value="1">Yes</option>
                                <option value="2">No</option>
                              </select>                       
                            </div>
                          </div -->


                        </div>

                        <div id="row2">
                          <div id="lounge_area" style="width: 289px; height: 52px;">
                            <label style="text-align: left; color: #969696;">Post to your lounge?</label>
                            <div>
                              <%= show_tolounge_setting(current_user) %>

                            </div>
                          </div>
                          <!--div style="border: 0px solid black; width: 289px; float: right; margin-top: -54px; height: 52px;">
                            <label style="text-align: left; color: #969696;">Words count for collapse mode (Default is 100 words)</label>
                            <div>
                              <input type="text" value="" name="wrd_count" id="wrd_count" style="width: 93px; height: 20px;"/>                      
                            </div>
                          </div -->
                        </div>

                      </div>






















                    </div>
                  </div>
                </div>

              </div>
              <div class="inner2" style="margin-top: 8px;">
                <div id="first_banner" class="bodderTop"></div>
                <div id="first_banner" class="inboxCeTop">
                  <label style="text-align: left; margin-left: 10px; color: #969696;">Notify Friends via email
                    <a id="btn_invite" style="float: right; margin-top: 2px;" href="javascript:;">Invite other members</a>



                    <div id="friend_pad" style="display: none; width: 280px; min-height: 31px; background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #CECECE; border-radius: 10px 10px 10px 10px; overflow: auto; position: absolute; z-index: 999999; margin-left: 620px; padding: 10px;">
                      <div id="waiting">
                        <img src="/images/ajax-loader-a.gif" style="width: 18px;"/>
                      </div>
                      <div id="control_pane" style="">
                      </div>
                    </div>
                  </label>
                </div>

                <div class="assContFoT615" style="float: none">
                  <div class="assContFoD615">
                    <div class="assContFoC615" style="padding:5px 25px">
                      Noi Dung
                    </div>
                  </div>
                </div>
                <div class="assContFoT615" style="float: none;margin-bottom: 8px;">
                  <div class="assContFoD615">
                    <div class="assContFoC615" style="padding:5px 25px">
                      <div id="checkfriend" style="display: block;">
                        <input type="checkbox" value="" name="" id="" style="margin-bottom:15px"/>
                        <span style="color: #969696;text-align: left;font-weight: bold;margin-top: 4px;position: absolute;">All</span>
                      </div>
                      <div id="user_area">
                        <div id="loading_user" style="margin-left: 282px; display: none;">
                          <img src="/images/ajax-loader-a.gif"/>
                        </div>
                        <div id="usr_lists" style="">
                          <%= render :partial => "friend" %>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div id="page_area" class="assPage" style="padding-left:0">
                  <%= render :partial => "paging" %>
                </div>
                &nbsp;<br/>
              </div>
            </div>
          </div>
          <div class="bottomline"></div>
          <div class="AsDContBtm" style="border-bottom: 0px; float: right; margin-top: 5px;">
            <span class="btmComment"><a href="javascript:;" id="btn_submit">Submit</a></span>
            <span class="btmComment"><a href="javascript:;">Cancel</a></span>
          </div>
        <% end %><!-- end form_for -->
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var ajaxObj = null;;
  var pad_mouse_is_inside = false;


  function LoadFriendPane(){
    ajaxObj = $.ajax({
      url: '<%= friend_pad_user_u_forums_path %>',
      type: 'GET',
      dataType: 'script',
      data: {
      },
      success: function(data){
        //hide needed thing here: e.g ajax loader
      }
    });//end ajax
  }

  function ClosePadWithSync(){
    $('#friend_pad').hide('fast',function(){
      ajaxObj.abort();
    });

    $('#control_pane').html('');
    $('#waiting').show();
    $('#btn_invite').show();
  }

  function SelectShare(str_share){
    $.ajax({
      url: '<%= select_share_user_u_forums_path %>',
      type: 'GET',
      dataType: 'script',
      data: {
        share: str_share
      },
      success: function(data){
        //hide needed thing here: e.g ajax loader
      }
    });//end ajax
  }

  $('document').ready(function(){
    //BEGIN: load the friend list
    $('#ufo_setting').change(function(){
      SelectShare($(this).find('option:selected').val());
      $('#inner_setting').hide();
      $('#loading_id').show();
      $('#loading_user').show();
      $('#usr_lists').hide();
      $('#page_area').hide();
      $('#page_area').html('');
    });
    //END: load the friend list
    //BEGIN: invite member to join
    $('#btn_invite').click(function(){
      $('#btn_invite').hide();
      $('#friend_pad').show('slow', function(){
        LoadFriendPane(); 
      });
    });
    $('#friend_pad').hover(function(){ 
      pad_mouse_is_inside=true; 
    }, function(){ 
      pad_mouse_is_inside=false; 
    });//end hover

    $("body").mouseup(function(){ 
      if( pad_mouse_is_inside == false ){ 
        if ( $('#friend_pad').is(":visible") == true ){
          ClosePadWithSync();
        }
      }
    });
    //END: invite member to join


    $('.wysiwyg').css({
      'width':'614px'
    })
    $('#topic_contentIFrame').css({
      'width':'614px'
    })
  });
  function SubmitTopic(){
    $("form#form_new").submit();
  }
  $(document).ready(function(){
    $('#btn_submit').click(function(){
      SubmitTopic();
    });
  });
  //BEGIN: wysiwyg textarea editor
  (function($){
    $('#topic_content').wysiwyg({
      controls: {
        createLink: {
          visible: true
        },
                
        insertImage: {
          visible: true
        },
                
        separator05: {
          visible: false
        },
                
        separator06: {
          visible: false
        },
                
        h1: {
          visible: false
        },
        h2: {
          visible: false
        },
        h3: {
          visible: false
        },
                
        removeFormat: {
          visible: true
        }
      }
    });
  })(jQuery);
  //END: wysiwyg textarea editor
</script>
