<div style="padding-bottom: 10px;" class="abLink postLink">
  <div class="abLinkL">You are here:<a href="#"> User's Forums</a>
  </div>
</div>

<div class="slStoryL" style="margin-bottom: 10px;">
  <div class="contDetL">
    <div class="contDetLin">
      <div class="inboxLeft">
        <div class="overall" style="height: 885;">
          <div style="margin-left: 10px; margin-top: 10px; padding-top: 5px; height: 50px; border-bottom: solid 2px #ebebeb; padding-bottom: 10px;">
            <div style="background: url('/images/ufo_gstar.png') no-repeat; width: 18px; height: 18px; margin-top: 2px;"></div>
            <div style="border: 0px solid green; height: 30px; width: 512px; margin-left: 24px; margin-top: -27px;">
              <label style="float: left; font-size: 250%;color: #969696;"><%= @ufo.title %></label>
            </div>
            <div style="float: left; border: 0px solid black; margin-left: -75px; width: 200px; margin-top: 3px;">
              <label style="text-align: left;color: #969696;">From: <%= @ufo.user.name %></label>
              <label style="text-align: left;color: #969696;">Date : <%= @ufo.created_at.strftime('%B %d, %Y at %I:%M%p') %></label>

            </div>
            <div class="AsDContImg" style="float: right; margin-right: 9px; margin-top: -30px;">
              <%= show_image_user_post(@ufo.user) %>
            </div>  


          </div>

          <div id="wait_area" style="margin-left: 298px; margin-top: 6px; display:none;">
            <img src="/images/ajax-loader-a.gif"/>
          </div>
          <div id="setting_area" style="border: 0px solid black; margin-left: 10px; margin-top: 10px; padding-top: 5px; min-height: 120px; width: 593px;">

            <div style='height: 60px;'>
              <div style="border: 0px solid black; width: 289px; height: 52px;">
                <span style="padding-left: 33px; padding-bottom: 7px; background: url('/images/ufo_join.png') no-repeat"></span>
                <label style="text-align: left; color: #969696; float: right;margin-right: 182px; margin-top: 8px;">Who can joins?</label>
                <div style="margin-top:14px;">
                  <%= show_share_custom(@ufo) %>
                </div>
              </div>
              <div style="display: none; width: 289px; float: right; margin-top: -54px; height: 52px;">
                <span style="padding-left: 33px; padding-bottom: 7px; background: url('/images/ufo_colapse.png') no-repeat"></span>
                <label style="color: #969696; text-align: left;float: right;margin-right: 147px; margin-top: 6px;">Enable collapse mode</label>
                <div style="margin-top:12px;">
                  <select style="width: 100px;">
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                  </select>                       
                </div>
              </div>
            </div>
            <div style='height: 54px;'>
              <div style="border: 0px solid black; width: 289px; height: 52px;">
                <label style="text-align: left; color: #969696;">Post to your lounge?</label>


                <div>
                  <% pr = @ufo.ufo_custom %>
                  <% check = pr ? pr.post_lounge : 0 %>
                  <% if (check == 0 || check == false) %>
                    <button id="to_lounge">Post to lounge</button>
                  <% else %>
                    This topic has been posted to your lounge.
                  <% end %>
                </div>


              </div>
              <div style="display: none; width: 289px; float: right; margin-top: -54px; height: 52px;">
                <label style="text-align: left; color: #969696;">Words count for collapse mode (Default is 100 words)</label>
                <div>
                  <input type="text" value="" name="wrd_count" id="wrd_count" style="width: 93px; height: 20px;"/>                      
                </div>
              </div>
            </div>

            
            <div style='height: 60px;'>
              <div style="border: 0px solid black; width: 289px; height: 52px;">
                <label style="text-align: left; color: #969696; float: left;margin-right: 182px; margin-top: 8px;">Invite</label>
                <div style="margin-top:-15px;">
                  <button id="invite_btn">Invite Friends</button>
                </div>
              </div>
              <div style="display: none; width: 289px; float: right; margin-top: -54px; height: 52px;">
              </div>
            </div>
            
            
            

          </div>



          <div style="border-bottom: 2px solid #ebebeb; margin-left: 10px;"></div>

          <div style="padding: 10px; display: none;" class="inner2" id="area_more_friend">
            <div style="border-right: 1px solid #CECECE;">
              <div class="bodderTop" id="first_banner"></div>
              <div class="inboxCeTop" id="first_banner">
                <label style="text-align: left; margin-left: 10px; color: rgb(150, 150, 150);">
                  Invite more friend to the topic
                  <div id="invite_others" style="float: right; margin-right: 10px;">Invite other member</div>
















                    <div id="friend_pad" style="display: none; width: 280px; min-height: 31px; background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #CECECE; border-radius: 10px 10px 10px 10px; overflow: auto; position: absolute; z-index: 999999; margin-left: 620px; padding: 10px;">
                      <div id="waiting">
                        <img src="/images/ajax-loader-a.gif" style="width: 18px;"/>
                      </div>
                      <div id="control_pane" style="">
                      </div>
                    </div>







                </label>
              </div>

              <div style="float: none;" class="assContFoT615">
                <div class="assContFoD615">




                  <% form_tag url_for(:controller => "u_forums", :action => "add_more_member"), :id => "form_more_friend", :method => :post, :remote => false do %>
                    <%= hidden_field_tag "ufo_id", @ufo.id %>

                    <div id="selected_usr"  style="padding: 5px 25px;" class="assContFoC615">
                    </div>

                  <% end %><!-- end form invite more friend -->


                </div>
              </div>
              <button id="submit_new_friend" style="display: none">Add</button>
              <div style="float: none; margin-bottom: 8px;" class="assContFoT615" id="friend_panel">
                <div class="assContFoD615">
                  <div id="list_usrs_wait" style="margin-left: 298px; margin-top: 6px; display:none;">
                    <img src="/images/ajax-loader-a.gif"/>
                </div>

                  <div id="list_usrs" style="padding: 5px 25px;" class="assContFoC615">
                    <%= render :partial => "friend_show" %>
                  </div>
                </div>

                <div id="show_paging" style="margin-left: 25px;">
                  <%= render :partial => "paging_show" %>
                </div>

              </div>
            </div>
          </div>
          <div style="border-bottom: 2px solid #ebebeb; margin-left: 10px;"></div>



          <div style="border: 0px solid black; padding: 10px;">

            <div style="background: url('/images/ufo_attach.jpg') no-repeat; width: 24px; height: 24px;">
              <span class="btmDownfo"><a href="javascript:downloadFile('<%= @ufo.ufo_attach.url %>')" class="downarrow" style="margin-left: 20px;padding-bottom: 14px;padding-left: 90px;">
                <span class="forums_dow" style="margin-left: -55px;margin-top: 6px;position: absolute;">Download</span> 
                </a>
                          
              </span>
            </div>
            <div style="overflow: auto; height: 300px;">
              <%= @ufo.content  %>

            </div>
          </div>

          <div style="background-color: #ebebeb; height: 28px; padding: 2px;">
            <div style="background-color: white; width: 88px; height: 24px; margin-top: 2px; margin-left: 2px;">
              <span style="background: url('/images/icon-comnent.gif') no-repeat center; padding-bottom: 10px; padding-left: 36px;"></span>
              <label style="color: #969696; margin-top: -8px; margin-right: 10px;">Comment</label>
            </div>


          </div>


          <%= form_for(@ufo_cmt, :remote => false,:url => url_for(:controller => "u_forums", :action => "save_cmt") , :html => {:multipart => true, :id => "form_cmt", :method => "post" }) do |f| %>
            <%= hidden_field_tag "ufo_id", @ufo.id %>


            <div style="background-color: #ebebeb">
              <div style="background-color: white; min-height: 390px; border: 0px solid black;">

                <div class="AsDContImg" style="margin: 18px; margin-top: 1px;">
                  <a href="/users/5/show_lounge"><div style="height: 52px;"><img title="William" src="/system/avatars/5/thumb/wily_avatar.jpg?1315449632" class="vtip avatar_5" alt="Wily_avatar"></div></a>
                </div>  

                <label style="text-align: left; margin-top: 18px;">Leave your comment</label>

                <!-- textarea rows="19" cols="74" id="topic_content" style="float: right; margin-right:28px; margin-right: 16px;">
  At W3Schools you will find all the Web-building tutorials you need, from basic HTML to advanced XML, SQL, ASP, and PHP.
                </textarea --> 
                <%= f.text_area :content, :id => 'topic_content', :rows => '10', :cols => '84', :class => ''%>

                <div style="height: 60px; width: 545px; border: 0px solid red; margin-top: 0px; margin-left: 86px;">
                  <label style="margin-top: -4px; text-align: left; margin-left: 10px; color: #969696;">Choose file</label>
                  <div style="width: 545px; margin-top: 10px; margin-left: 5px; height: 28px;">
                    <!-- input type="file" style=""onchange="" name="topic_attach" id="topic_attach" class="" size="65"/ -->
                    <%= f.file_field :ucmt_attach, :onchange => "", :size => "76", :class => "", :style => "" %>

                  </div>
                  <%= f.submit "Add this comment" %>

                </div>



              </div>

            </div>
          <% end %><!-- end form -->


        </div>
      </div>
    </div>
  </div>
  <div class="contFoT">
    <div class="contFoD">
      <div class="contFoC">


        <div class="assPage" style="padding-left:0">
          <span class="numPage"><%= page_entries_info @ufo_cmts %></span>
          <%= will_paginate @ufo_cmts %> 
        </div>


        <div style=" min-height: 100px; padding: 10px;">
<%# 10.times do %>
          <% @ufo_cmts.each do |cmt| %>
            <div style="border-bottom: 1px solid #D2D9E7; height: 80px; ">

              <div class="assPic">
                <%= show_image_user_post(cmt.user) %>
              </div>


              <div>
                <div style="color: #0A81C4;">
                  <%= show_user_post(cmt.user) %>
                </div>
                <div style="color: #969696"><%= time_ago_in_words(cmt.created_at, true) %> ago.</div>
                <div><%= cmt.content %></div>
                <div style="float: right">
                  <img src="/images/icon-ing.gif" id=""/>
                </div>
                <div style="float:right;background: url(/images/ufo_attach.jpg) no-repeat scroll 0 0 transparent;height:24px;width: 24px;">
                  <a href="javascript:downloadFile('<%= cmt.ucmt_attach.url %>')" class="downarrow"><span>Download</span></a>

                </div>
                <div style="float: right">button collapse expand</div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>


<%= render :partial => "on_this_topic" %>





<script type="text/javascript">

var shareto;
var postlounge;
var pad_mouse_is_inside = false;
var ajaxObj = null;



<% if @ufo.ufo_custom != nil %>
    shareto = <%= @ufo.ufo_custom.share_to_index %>;
    postlounge = <%= @ufo.ufo_custom.post_lounge %>
<% else %>
    shareto = <%= current_user.ufo_default.share_to_index %>;
    postlounge = <%= current_user.ufo_default.post_lounge %>
<% end %> 






function SaveCustom(ishareto,ipostlounge ){
  $('#wait_area').show();
  $('#setting_area').hide();
  $('#selected_usr').html('');
  $('#list_usrs').html('');

  $.ajax({
    url: '<%= save_custom_user_u_forums_path %>',
    type: 'POST',
    dataType: 'script',
    data: {
      shareto: ishareto,
      postlounge: ipostlounge,
      id: <%= @ufo.id %>
    },
    success: function(html){
    }
  });
}

  function PostLounge(){
    $('#setting_area').hide();
    $('#wait_area').show();

    $.ajax({
      url: '<%= post_lounge_user_u_forums_path %>',
      type: 'GET',
      dataType: 'script',
      data: {
        id: <%= @ufo.id %>
      },
      success: function(html){
      }
    });
  }


  $(document).ready(function(){

    function ClosePadWithSync(){
      $('#friend_pad').hide('fast',function(){
        ajaxObj.abort();
      });

      $('#control_pane').html('');
      $('#waiting').show();
      $('#invite_others').show();
    }


    function LoadSearchMember(){
      ajaxObj = $.ajax({
        url: '<%= friend_pad_show_user_u_forums_path %>',
        type: 'GET',
        dataType: 'script',
        data: {
          ufo_id: <%= @ufo.id %>
        },
        success: function(data){
          //hide needed thing here: e.g ajax loader
        }
      });//end ajax
    }


    //BEGIN toggle the add new member area
    $('#invite_btn').click(function(){
      $('#area_more_friend').toggle();
    });
    //END toggle the add new member area

    //BEGIN manage show/hide search panel for other member
    $('#friend_pad').hover(function(){ 
      pad_mouse_is_inside=true; 
    }, function(){ 
      pad_mouse_is_inside=false; 
    });//end hover
    $("body").mouseup(function(){ 
      if( pad_mouse_is_inside == false ){ 
        if ( $('#friend_pad').is(":visible") == true ){
          ClosePadWithSync();
        }
      }
    });
    //END manage show/hide search panel for other member



    $('select#ufo_setting').change(function(){
      shareto = $(this).find('option:selected').val();
      SaveCustom(shareto,postlounge);
    });
    $('#to_lounge').click(function(){
      PostLounge();
    });
    $('#submit_new_friend').click(function(){
      $('form#form_more_friend').submit();
    });

    $('#invite_others').click(function(){
      $('#invite_others').hide();
      $('#friend_pad').show('slow', function(){
        LoadSearchMember(); 
      });
    });

  });
</script>
