<div style="padding-bottom: 10px;" class="abLink postLink">
  <div class="abLinkL">You are here:<a href="#"> User's Forums</a>
  </div>
</div>

<div class="slStoryL">
  <div class="contDetL">
    <div class="contDetLin">
      <div class="inboxLeft">
        <div class="overall" style="height: 885;">
          <div style="margin-left: 10px; margin-top: 10px; padding-top: 5px; height: 50px; border-bottom: solid 2px #ebebeb; padding-bottom: 10px;">
            <div style="background: url('/images/ufo_gstar.png') no-repeat; width: 18px; height: 18px; margin-top: 2px;"></div>
            <div style="border: 0px solid green; height: 30px; width: 512px; margin-left: 24px; margin-top: -27px;">
              <label style="float: left; font-size: 250%;color: #969696;"><%= @ufo.title %></label>
            </div>
            <div style="float: left; border: 0px solid black; margin-left: -75px; width: 200px; margin-top: 3px;">
              <label style="text-align: left;color: #969696;">From: <%= @ufo.user.name %></label>
              <label style="text-align: left;color: #969696;">Date : <%= @ufo.created_at.strftime('%B %d, %Y at %I:%M%p') %></label>

            </div>
            <div class="AsDContImg" style="float: right; margin-right: 9px; margin-top: -30px;">
              <%= show_image_user_post(@ufo.user) %>
            </div>  


          </div>

          <div style="border: 0px solid black; margin-left: 10px; margin-top: 10px; padding-top: 5px; height: 120px; width: 593px;">

            <div style='height: 60px;'>
              <div style="border: 0px solid black; width: 289px; height: 52px;">
                <span style="padding-left: 33px; padding-bottom: 7px; background: url('/images/ufo_join.png') no-repeat"></span>
                <label style="text-align: left; color: #969696; float: right;margin-right: 182px; margin-top: 8px;">Who can joins?</label>
                <div style="margin-top:14px;">
                  <%= show_share_custom(@ufo) %>
                </div>
              </div>
              <div style="display: none; width: 289px; float: right; margin-top: -54px; height: 52px;">
                <span style="padding-left: 33px; padding-bottom: 7px; background: url('/images/ufo_colapse.png') no-repeat"></span>
                <label style="color: #969696; text-align: left;float: right;margin-right: 147px; margin-top: 6px;">Enable collapse mode</label>
                <div style="margin-top:12px;">
                  <select style="width: 100px;">
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                  </select>                       
                </div>
              </div>
            </div>
            <div style='height: 81px;'>
              <div style="border: 0px solid black; width: 289px; height: 52px;">
                <label style="text-align: left; color: #969696;">Post to your lounge?</label>
                <div>
                  <%= show_tolounge_custom(@ufo) %>
                </div>
              </div>
              <div style="display: none; width: 289px; float: right; margin-top: -54px; height: 52px;">
                <label style="text-align: left; color: #969696;">Words count for collapse mode (Default is 100 words)</label>
                <div>
                  <input type="text" value="" name="wrd_count" id="wrd_count" style="width: 93px; height: 20px;"/>                      
                </div>
              </div>
            </div>

          </div>

          <div style="border-bottom: 2px solid #ebebeb; margin-left: 10px;"></div>

          <div style="border: 0px solid black; padding: 10px;">

            <div style="background: url('/images/ufo_attach.jpg') no-repeat; width: 24px; height: 24px;">
              <span class="btmDown"><a href="javascript:downloadFile('<%= @ufo.ufo_attach.url %>')" class="downarrow"><span>Download</span></a></span>

            </div>
            <div style="overflow: auto; height: 300px;">
              <%= @ufo.content  %>

            </div>
          </div>

          <div style="background-color: #ebebeb; height: 28px; padding: 2px;">
            <div style="background-color: white; width: 88px; height: 24px; margin-top: 2px; margin-left: 2px;">
              <span style="background: url('/images/icon-comnent.gif') no-repeat center; padding-bottom: 10px; padding-left: 36px;"></span>
              <label style="color: #969696; margin-top: -8px; margin-right: 10px;">Comment</label>
            </div>
            <div style="background-color: white; width: 76px; height: 24px; margin-top: -24px; margin-left: 97px;">
              <label style="color: #969696; margin-top: -8px; margin-right: 10px; text-align: left; padding: 5px;">Invite friend</label>
            </div>
          </div>

          <div style="background-color: #ebebeb">
            <div style="background-color: white; min-height: 390px; border: 0px solid black;">

              <div class="AsDContImg" style="margin: 18px; margin-top: 1px;">
                <a href="/users/5/show_lounge"><div style="height: 52px;"><img title="William" src="/system/avatars/5/thumb/wily_avatar.jpg?1315449632" class="vtip avatar_5" alt="Wily_avatar"></div></a>
              </div>  

              <label style="text-align: left; margin-top: 18px;">Leave your comment</label>

              <textarea rows="19" cols="74" id="topic_content" style="float: right; margin-right:28px; margin-right: 16px;">
At W3Schools you will find all the Web-building tutorials you need, from basic HTML to advanced XML, SQL, ASP, and PHP.
              </textarea> 

              <div style="height: 60px; width: 545px; border: 0px solid red; margin-top: 278px; margin-left: 86px;">
                <label style="margin-top: -4px; text-align: left; margin-left: 10px; color: #969696;">Choose file</label>
                <div style="width: 545px; margin-top: 10px; margin-left: 5px; height: 28px;">
                  <input type="file" style=""onchange="" name="topic_attach" id="topic_attach" class="" size="65"/>
                </div>
                <button type="button">Add this comment</button> 

              </div>



            </div>

          </div>









        </div>
      </div>
    </div>
  </div>
  <div class="contFoT">
    <div class="contFoD">
      <div class="contFoC">
    <div class="assPageFovi">
      <span style="margin-left: 0pt;" class="numPage">Displaying messages <b>1&nbsp;-&nbsp;10</b> of <b>16</b> in total</span>
      <div class="pagination"><span class="previous_page disabled">Previous</span> <em>1</em> <a href="/users/robert/messages?page=2" rel="next">2</a> <a href="/users/robert/messages?page=2" rel="next" class="next_page">Next</a></div>
    </div>
        <div style=" min-height: 100px; padding: 10px;">
          <% 10.times do %>
            <div style="border-bottom: 1px solid #D2D9E7; height: 80px; ">
              <div class="AsDContImg" style="float: left; margin-right: 9px;">
                <a href="/users/5/show_lounge"><div style="height: 52px;"><img title="William" src="/system/avatars/5/thumb/wily_avatar.jpg?1315449632" class="vtip avatar_5" alt="Wily_avatar"></div></a>
              </div>  
              <div>
                <div style="color: #0A81C4;">author</div>
                <div style="color: #969696">19 hours ago</div>
                <div>real content</div>
                <div style="float: right">
                  <img src="/images/icon-ing.gif" id=""/>
                </div>
                <div style="float:right;background: url(/images/ufo_attach.jpg) no-repeat scroll 0 0 transparent;height:24px;width: 24px;"></div>
                <div style="float: right">button collapse expand</div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
<script type="text/javascript">
$(document).ready(function(){
  $('select#ufo_setting').change(function(){
    alert("a||"+$(this).find('option:selected').val());
  });
  $('select#lounge_setting').change(function(){
    alert("a||"+$(this).find('option:selected').val());
  });

});
</script>
