<script language="javascript">
</script>
<div class="settCont">
  <div class="settCont1">

    <div class="settMenu">
      <ul>
        <li><%= link_to "<span>Setting</span>","setting" , :controller => "settings", :action => "setting"%></li>
        <li><%= link_to "<span>Networks</span>","Networks" , :controller => "settings", :action => "networks"%></li>
        <li class="settselect"><a href="#"><span>Notifications</span></a></li>
        <li><%= link_to "<span>Language</span>","Language" , :controller => "settings", :action => "language"%></li>
        <li><%= link_to "<span>Payments</span>","Payments" , :controller => "settings", :action => "payments"%></li>
        <li><%= link_to "<span>AfterClassroom Ads</span>","AfterClassroom Ads" , :controller => "settings", :action => "ads"%></li>
      </ul>
    </div>

    <div class="settC">
      <div class="settNotL">
        <div class="setNotLtitle">Notifications</div>
        <div class="setNotCont">AfterClassroom notifies you whenever actions are taken on AfterClassroom that involve you.
          <br/>
						Each AfterClassroom application has its own notification settings. Click the checkbox to change the settings for that application.
						Send email notifications to: <span>quachhuy@yahoo.com</span></div>
        <div class="setNotSend"><a href="#">Send notifications my phone via SMS</a></div>
        <div class="setItemT">
          <div class="setItemTL">&nbsp;</div>
          <div class="setItemTC">Email</div>
          <div class="setItemTR">SMS</div>
        </div>
        <div class="setItemT1">
          <div class="setItemTL"><div class="setItemTL8">Music</div></div>
          <div class="setItemTC"><img src="images/email.png"></div>
          <div class="setItemTR"><img src="images/mobile.png"></div>
        </div>
        <div class="setItemT2">
          <div class="setItemTL"><div>Tags me in a music</div></div>
          <div class="setItemTC"><input type="checkbox" name="Checkbox1"></div>
          <div class="setItemTR"></div>
        </div>
        <div class="setItemT2">
          <div class="setItemTL"><div>Tags one of my musics</div></div>
          <div class="setItemTC"><input type="checkbox" name="Checkbox1"></div>
          <div class="setItemTR"></div>
        </div>
        <div class="setItemT2">
          <div class="setItemTL"><div>Comments on my musics</div></div>
          <div class="setItemTC"><input type="checkbox" name="Checkbox1"></div>
          <div class="setItemTR"></div>
        </div>
        <div class="setItemT2">
          <div class="setItemTL"><div>Comments on a music of me</div></div>
          <div class="setItemTC"><input type="checkbox" name="Checkbox1"></div>
          <div class="setItemTR"></div>
        </div>
        <div class="setItemT2">
          <div class="setItemTL"><div>Comments after me in a music</div></div>
          <div class="setItemTC"><input type="checkbox" name="Checkbox1"></div>
          <div class="setItemTR"></div>
        </div>
        <div class="Showmore"><a href="#">Show more (19)</a></div>
        <div class="Savechanges"><a href="#">Save Changes</a></div>
      </div>
      <div class="settNotR">
        <div class="settNotRTitle">View settings for:</div>
        <div class="setNotRItem setNotRItem1">
          <li><%= link_to "AfterClassroom", :controller => "settings", :action => "notiAfterclassroom"%></li>
        </div>

        <div class="setNotRItem setNotRItem2">
          <li><%= link_to "Photos", :controller => "settings", :action => "photos"%></li>
        </div>
        <div class="setNotRItem setNotRItem3">
          <li><%= link_to "Groups", :controller => "settings", :action => "groups"%></li>
        </div>
        <div class="setNotRItem setNotRItem4">
          <li><%= link_to "Pages", :controller => "settings", :action => "pages"%></li>
        </div>
        <div class="setNotRItem setNotRItem5">
          <%= link_to "Events", :controller => "settings", :action => "events"%>
        </div>
        <div class="setNotRItem setNotRItem6">
          <%= link_to "Share a Story", :controller => "settings", :action => "shareStory"%>
        </div>
        <div class="setNotRItem setNotRItem7">
          <%= link_to "Links", :controller => "settings", :action => "links"%>
        </div>
        <div class="setNotRItem setNotRItem8">
          <%= link_to "Music", :controller => "settings", :action => "music"%>
        </div>
        <div class="setNotRItem setNotRItem9">
          <%= link_to "Video", :controller => "settings", :action => "video"%>
        </div>
        <div class="setNotRItem setNotRItem10">
          <%= link_to "Gifts", :controller => "settings", :action => "gifts"%>
        </div>
        <div class="setNotRItem setNotRItem11">
          <%= link_to "Help Center", :controller => "settings", :action => "helpCenter"%>
        </div>
        <div class="setNotRItem setNotRItem12">
          <%= link_to "My Lounge Comments", :controller => "settings", :action => "loungeComment"%>
        </div>
        <div class="setNotRItem setNotRItem13">
          <%= link_to "Other updates from AfterClassroom", :controller => "settings", :action => "otherUpdates"%>
        </div>
        <div class="setNotRItem setNotRItem14">
          <%= link_to "Other Applications", :controller => "settings", :action => "otherApplications"%>
        </div>
      </div>
    </div>

  </div>

</div>