<div class="settCont">
  <div class="settCont1">

    <div class="settMenu">
      <ul>
        <li><%= link_to "<span>Setting</span>" , :controller => "settings", :action => "setting"%></li>
        <li class="settselect"><a href="#"><span>Networks</span></a></li>
        <li><%= link_to "<span>Notifications</span>", :controller => "settings", :action => "notifications"%></li>
        <li><%= link_to "<span>Language</span>", :controller => "settings", :action => "language"%></li>
        <li><%= link_to "<span>Payments</span>", :controller => "settings", :action => "payments"%></li>
        <li><%= link_to "<span>AfterClassroom Ads</span>", :controller => "settings", :action => "ads"%></li>
      </ul>
    </div>
    <div class="settC">

      <div class="settNetL">You aren’t in any networks.</div>
      <div class="settNetR">
        <div class="NetRJoin">Join a Network</div>
        <div class="NetREn">Enter a workplace or school</div>
        <div class="NetRName">Network name:</div>
        <div class="NetRIn"><input type="text" name="Text2"></div>
        <div class="setRbtm">
          <div class="NetRBut"><a href="#">Join Network</a></div>
          <div class="NetRBut"><a href="#">Create Network</a></div>
        </div>
      </div>
    </div>
  </div>

</div>