<%
idfortoggle = ["afterclassroomtab","photostab","groupstab","pagestab","eventstab","storytab","linkstab","musictab","videotab","giftstab","helptab","loungetab","othertab"]
%>
<div class="topLearning">
  <div class="settngTL">My Account</div>
  <div class="postdiv">
    <span class="RmenuRbtm2"><a href="#">Post</a></span>
  </div>
</div>
<div class="contMain">
  <div class="settCont">


    <div class="settCont1">
      <div class="settMenu">
        <ul>
          <li><a href="#"><span>Setting</span></a></li>
          <li><a href="#"><span>Networks</span></a></li>
          <li class="settselect"><a href="#"><span>Notifications</span></a></li>
          <li><a href="#"><span>Language</span></a></li>
          <li><a href="#"><span>Payments</span></a></li>
          <li><a href="#"><span>AfterClassroom Ads</span></a></li>
        </ul>
      </div>
      <div class="settC">
        <div class="settNotL">
          <div class="setNotLtitle">Notifications</div>
          <div class="setNotCont">AfterClassroom notifies you whenever actions are taken on AfterClassroom that involve you.
            <br/>
						Each AfterClassroom application has its own notification settings. Click the checkbox to change the settings for that application.
						Send email notifications to: <span>quachhuy@yahoo.com</span></div>
          <div class="setNotSend"><a href="#">Send notifications my phone via SMS</a></div>
          <div class="setItemT">
            <div class="setItemTL">&nbsp;</div>
            <div class="setItemTC">Email</div>
            <div class="setItemTR">SMS</div>
          </div>
          <% form_tag (:controller  => 'settings', :action => 'savesetting', :method => :post) do %>
            <%= submit_tag 'Save Setting' %>
            <% if @types != nil %>
              <% count = 1 %>
              <% @types.each do |tp| %>

                <div id="<%= idfortoggle[count-1]  %>">

                  <div class="setItemT1">
                    <div class="setItemTL"><div class="setItemTL<%= count %>"><%=h tp.notify_type %></div></div>
                    <% count = count + 1 %>
                    <div class="setItemTC"><img src="images/email.png"></div>
                    <div class="setItemTR"><img src="images/mobile.png"></div>
                  </div>

                  <% @notifications.each do |ntfobj| %>
                    <% if ntfobj.notify_type == tp.notify_type %>
                      <div class="setItemT2">
                        <div class="setItemTL"><div><%=  ntfobj.name %></div></div>
                        <% if ntfobj.sms_allow == true %>
                          <% check = false; %>
                          <% current_user.notify_sms_settings.each do |userntfs| %>
                            <% if userntfs.notification.id == ntfobj.id %>
                              <% check = true; %>
                            <% end %>
                          <%  end #END LOOP CURRENT_USER %>
                          <div class="setItemTC">
                            <%= check_box_tag("smsarr[]", ntfobj.id, checked = check )%>
                          </div>
                        <% end #END IF SMS_ALLOW %>
                        <% if ntfobj.email_allow == true %>
                          <% check = false; %>
                          <% current_user.notify_emails.each do |userntfe| %>
                            <% if userntfe.notification.id == ntfobj.id %>
                              <% check = true; %>
                            <% end %>
                          <%  end #END LOOP CURRENT_USER %>
                          <div class="setItemTR">
                            <%= check_box_tag("emailarr[]", ntfobj.id, checked = check )%>
                          </div>
                        <% end #END IF EMAIL ALLOW %>
                      </div>
                    <% end #END IF NOTIFY_TYPE %>
                  <% end #END LOOP NOTIFICATIONS %>
                </div>

              <% end #END LOOP TYPE %>
            <% end #END IF TYPE!=NIL %>
          <% end #END FORM %>
        </div>

        <div class="settNotR">
          <div class="settNotRTitle">View settings for:</div>
          <div class="setNotRItem setNotRItem1">
            <li><%= link_to "AfterClassroom", :controller => "settings", :action => "notiAfterclassroom"%></li>
            <li><a href="javascript:;" onclick="TabHandler('afterclassroomtab')">AfterClassroom 1111</a></li>
          </div>

          <div class="setNotRItem setNotRItem2">
            <li><%= link_to "Photos", :controller => "settings", :action => "photos"%></li>
            <li><a href="javascript:;" onclick="TabHandler('photostab')">Photos 1111</a></li>
          </div>
          <div class="setNotRItem setNotRItem3">
            <li><%= link_to "Groups", :controller => "settings", :action => "groups"%></li>
            <li><a href="javascript:;" onclick="TabHandler('groupstab')">Groups 1111</a></li>
          </div>
          <div class="setNotRItem setNotRItem4">
            <li><%= link_to "Pages", :controller => "settings", :action => "pages"%></li>
            <li><a href="javascript:;" onclick="TabHandler('pagestab')">Pges 1111</a></li>
          </div>
          <div class="setNotRItem setNotRItem5">
            <%= link_to "Events", :controller => "settings", :action => "events"%>
            <li><a href="javascript:;" onclick="TabHandler('eventstab')">Events 1111</a></li>
          </div>
          <div class="setNotRItem setNotRItem6">
            <%= link_to "Share a Story", :controller => "settings", :action => "shareStory"%>
            <li><a href="javascript:;" onclick="TabHandler('storytab')">Story 1111</a></li>
          </div>
          <div class="setNotRItem setNotRItem7">
            <%= link_to "Links", :controller => "settings", :action => "links"%>
            <li><a href="javascript:;" onclick="TabHandler('linkstab')">Links 1111</a></li>
          </div>
          <div class="setNotRItem setNotRItem8">
            <%= link_to "Music", :controller => "settings", :action => "music"%>
            <li><a href="javascript:;" onclick="TabHandler('musictab')">Music 1111</a></li>
          </div>
          <div class="setNotRItem setNotRItem9">
            <%= link_to "Video", :controller => "settings", :action => "video"%>
            <li><a href="javascript:;" onclick="TabHandler('videotab')">Video 1111</a></li>
          </div>
          <div class="setNotRItem setNotRItem10">
            <%= link_to "Gifts", :controller => "settings", :action => "gifts"%>
            <li><a href="javascript:;" onclick="TabHandler('giftstab')">Gifts 1111</a></li>
          </div>
          <div class="setNotRItem setNotRItem11">
            <%= link_to "Help Center", :controller => "settings", :action => "helpCenter"%>
            <li><a href="javascript:;" onclick="TabHandler('helptab')">Help 1111</a></li>
          </div>
          <div class="setNotRItem setNotRItem12">
            <%= link_to "My Lounge Comments", :controller => "settings", :action => "loungeComment"%>
            <li><a href="javascript:;" onclick="TabHandler('loungetab')">Lounge 1111</a></li>
          </div>
          <div class="setNotRItem setNotRItem13">
            <%= link_to "Other updates from AfterClassroom", :controller => "settings", :action => "otherUpdates"%>
            <li><a href="javascript:;" onclick="TabHandler('othertab')">Others 1111</a></li>
          </div>
          <div class="setNotRItem setNotRItem14">
            <%= link_to "Other Applications", :controller => "settings", :action => "otherApplications"%>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>

<script type="text/javascript">
  function TabHandler(tabid){
    $('#'+tabid).toggle('slow');
    return false;
  }
</script>