<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => 'submenu' %>
<% end -%>

<div class="contMain">
  <div class="settCont">
    <div class="settCont1">
      <div class="settMenu">
        <ul>
          <%= render :partial => "setting_menu" %>
        </ul>
      </div>
      <div class="settC">
        <div class="settNotL">
          <div class="setNotLtitle">Notifications</div>
          <div class="setNotCont">AfterClassroom notifies you whenever actions are taken on AfterClassroom that involve you.
            <br/>
            Each AfterClassroom application has its own notification settings. Click the checkbox to change the settings for that application.
            Send email notifications to: <span><%= current_user.email %></span></div>
          <div class="setNotSend"><a href="#">Send notifications my phone via SMS</a></div>
          <div class="setItemT">
            <div class="setItemTL">&nbsp;</div>
            <div class="setItemTC">Email</div>
            <div class="setItemTR">SMS</div>
          </div>
          <%= form_tag(save_setting_user_settings_path(current_user), :method => :post, :id => "setting_form") do %>
            <% @types.each_with_index do |tp, i| %>
              <div id="<%= tp[0] %>" >
                <div class="setItemT1">
                  <div class="setItemTL"><div class="setItemTL<%= i + 1 %>"><%=h tp[1] %></div></div>
                  <div class="setItemTC"><img src="/images/email.png" /></div>
                  <div class="setItemTR"><img src="/images/mobile.png" /></div>
                </div>
                <% notifications = Notification.with_type(tp[1]) %>
                <% notifications.each do |ntfobj| %>
                  <div class="setItemT2">
                    <div class="setItemTL"><div><%= ntfobj.name %></div></div>
                    <div class="setItemTC">
                      <% if ntfobj.email_allow == true %>
                        <% check = current_user.notify_email_settings.select{|e| e.notification}.include?(ntfobj) %>
                        <%= check_box_tag("emailarr[]", ntfobj.id, check)%>
                      <% end #END IF EMAIL ALLOW %>
                    </div>
                    <div class="setItemTR">
                      <% if ntfobj.sms_allow == true %>
                        <% check = current_user.notify_sms_settings.select{|s| s.notification}.include?(ntfobj) %>
                        <%= check_box_tag("smsarr[]", ntfobj.id, check)%>
                      <% end #END IF SMS_ALLOW %>
                    </div>
                  </div>
                <% end #END LOOP NOTIFICATIONS %>
              </div>
            <% end #END LOOP NOTIFY_TYPE %>
            <div class="Showmore"></div>
            <div class="Savechanges">
              <%= link_to_function "Save Changes", "sendChange()" %>
            </div>
          <% end #END FORM %>
        </div>
        <div class="settNotR">
          <div class="settNotRTitle">View settings for:</div>
          <% @types.each_with_index do |item, index| %>
            <div class="setNotRItem setNotRItem<%= index + 1 %>">
              <a href="javascript:;" onclick="goToByScroll('<%= item[0] %>')"><%= item[1] %></a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function sendChange(){
    $("#setting_form").submit();
  }
</script>
