<script language="javascript">
  $(document).ready(function(){
    var liarr = $("div[class='settMenu']").find('a');
    for (var i=0;i<liarr.length;i++){
      var content = $(liarr[i]).text() ;

      $(liarr[i]).wrapInner('<span>'+content+'</span>');

    }
  });
</script>
<div class="settMenu">
  <ul>
    <li><%= link_to "Setting" , :controller => "settings", :action => "setting"%></li>
    <li><%= link_to "Networks" , :controller => "settings", :action => "networks"%></li>
    <li class="settselect"><a href="#"><span>Notifications</span></a></li>
    <li><%= link_to "Language" , :controller => "settings", :action => "language"%></li>
    <li><%= link_to "Payments" , :controller => "settings", :action => "payments"%></li>
    <li><%= link_to "AfterClassroom Ads" , :controller => "settings", :action => "ads"%></li>
  </ul>
</div>