<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => 'submenu' %>
<% end -%>
<div class="contMainS" style="margin-bottom: 10px">
<div class="settCont">
  <div class="settCont1">
    <div class="settMenu">
      <ul>
        <%= render :partial => "setting_menu" %>
      </ul>
    </div>

    <%= display_flash_messages_with_raw %>

    <% if logged_in? %>

      <div class="settItem">
        <div class="settItemT">
          <div class="settItemTL">Name</div>

          <div class="settItemTR">
            <%=  link_to(raw("<span>change</span>"), "#{change_name_user_settings_path(current_user)}?height=120&width=520&typeOfChange=name", :class => "thickbox", :title => "Change Name") %>
          </div>
        </div>
        <div class="settItemB">
          <div class="settItemBL">Your real name. </div>
          <div class="settItemBR"><%= current_user.full_name %></div>
        </div>
      </div>
      <div class="settItem">
        <div class="settItemT">
          <div class="settItemTL">Username</div>

          <div class="settItemTR">
            <%=  link_to(raw("<span>change</span>"), "#{change_user_name_user_settings_path(current_user)}?height=120&width=520&typeOfChange=name", :class => "thickbox", :title => "Change Username") %>
          </div>
        </div>
        <div class="settItemB">
          <div class="settItemBL">Your username. <br/> Friends can view your profile using the link: <%= user_url(current_user) %></div>
          <div class="settItemBR"><%= current_user.login %></div>
        </div>
      </div>
      <div class="settItem">
        <div class="settItemT">
          <div class="settItemTL">Email</div>
          <div class="settItemTR">
            <%= link_to(raw("<span>change</span>"), "#{change_email_user_settings_path(current_user)}?height=120&width=520&typeOfChange=email", :class => "thickbox", :title => "Change email address") %>
          </div>
        </div>
        <div class="settItemB">
          <div class="settItemBL">Set your email contact information.</div>
          <div class="settItemBR"><%= current_user.email %></div>
        </div>
      </div>
      <div class="settItem">
        <div class="settItemT">
          <div class="settItemTL">Password</div>
          <div class="settItemTR">
            <%=  link_to(raw("<span>change</span>"), "#{change_psw_user_settings_path(current_user)}?height=170&width=500&typeOfChange=psw", :class => "thickbox", :title => "Change password") %>
          </div>
        </div>
        <div class="settItemB">
          <div class="settItemBL">What you use to log in.</div>
          <div class="settItemBR">******</div>
        </div>
      </div>
      <div class="settItem">
        <div class="settItemT">
          <div class="settItemTL">School</div>
          <div class="settItemTR">
            <%= link_to(raw("<span>change</span>"), "/users_select_school/show?height=200",  :rel => "facebox") %>
          </div>
        </div>
        <div class="settItemB">
          <div class="settItemBL">Your school</div>
          <div class="settItemBR"><%= current_user.school.address if current_user.school %></div>
        </div>
      </div>
      <div class="settItem">
        <div class="settItemT">
          <div class="settItemTL">Time zone</div>
          <div class="settItemTR">
            <%=  link_to(raw("<span>change</span>"), "#{change_time_zone_user_settings_path(current_user)}?height=170&width=500&typeOfChange=psw", :class => "thickbox", :title => "Change time zone") %>
          </div>
        </div>
        <div class="settItemB">
          <div class="settItemBL"></div>
          <div class="settItemBR"><%= current_user.time_zone %></div>
        </div>
      </div>
			<%
			fb_st, fb_link = show_status_and_link_social_connect(current_user, "facebook")
			tw_st, tw_link = show_status_and_link_social_connect(current_user, "twitter")
			%>
			<div class="settItem">
        <div class="settItemT">
          <div class="settItemTL">Connect your accounts for easy sharing!</div>
        </div>
        <div class="settItemB">
          <div class="settItemBL">Facebook: <%= fb_st %></div>
          <div class="settItemBR"><div class="settItemTR">
              <%= fb_link %>
            </div></div>
        </div>
        <div class="settItemB">
          <div class="settItemBL">Twitter: <%= tw_st %></div>
          <div class="settItemBR"><div class="settItemTR">
              <%= tw_link %>
            </div></div>
        </div>
      </div>
      <div class="settItem">
        <div class="settItemT">
          <div class="settItemTL">Chat ID</div>
        </div>
        <div class="settItemB">
          <div class="settItemBL">Yahoo: <%= get_chat_id(current_user, "yahoo") %></div>
          <div class="settItemBR"><div class="settItemTR">
              <%=  link_to(raw("<span>change</span>"), "#{change_chat_yahoo_id_user_settings_path(current_user)}?height=170&width=500&type=yahoo", :class => "thickbox", :title => "Change Chat ID: Yahoo") %>
            </div></div>
        </div>
        <div class="settItemB">
          <div class="settItemBL">Skype: <%= get_chat_id(current_user, "skype") %></div>
          <div class="settItemBR"><div class="settItemTR">
              <%=  link_to(raw("<span>change</span>"), "#{change_chat_id_user_settings_path(current_user)}?height=170&width=500&type=skype", :class => "thickbox", :title => "Change Chat ID: Skype") %>
            </div></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
<!--Select School-->
<script>
  $(document).ready(function(){
    $("body").append("<div id='opaque' style='display: none;'></div>");
        
    $(document).bind('loading.facebox', function(){
      $("#opaque").show();
    });
    $(document).bind('close.facebox', function(){
      $("#opaque").hide();
    });
    $(document).bind('afterReveal.facebox', function(){
      // this is a fix for IE6 which resets the height to 100% of the window height
      $("#opaque").height($(document).height());
    });
  });
</script>
