<script language="javascript">
  $(document).ready(function(){
    var liarr = $("div[class='settMenu']").find('a');
    for (var i=0;i<liarr.length;i++){
      var content = $(liarr[i]).text() ;

      $(liarr[i]).wrapInner('<span>'+content+'</span>');

    }
  });
</script>

<div class="settCont">
  <div class="settCont1">

    <div class="settMenu">
      <ul>
        <li class="settselect"><a href="#"><span>Setting</span></a></li>
        <li><%= link_to "Networks" , :controller => "settings", :action => "networks"%></li>
        <li><%= link_to "Notifications" , :controller => "settings", :action => "notifications"%></li>
        <li><%= link_to "Language" , :controller => "settings", :action => "language"%></li>
        <li><%= link_to "Payments" , :controller => "settings", :action => "payments"%></li>
        <li><%= link_to "AfterClassroom Ads" , :controller => "settings", :action => "ads"%></li>
        <%=  link_to("<span>Report Abuse</span>", "#{networks_settings_path}?height=200&width=280", :class => "thickbox", :title => "Report Abuse") %>
      </ul>
    </div>

    <% if logged_in? %>
      
      <div class="settC">
        <div class="settItem">
          <div class="settItemT">
            <div class="settItemTL">Name</div>
            <div class="settItemTR"><a href="#">change</a></div>
          </div>
          <div class="settItemB">
            <div class="settItemBL">Your real name. </div>
            <div class="settItemBR"><%= current_user.full_name %></div>
          </div>
        </div>
        <div class="settItem">
          <div class="settItemT">
            <div class="settItemTL">Email</div>
            <div class="settItemTR"><a href="#">change</a></div>
          </div>
          <div class="settItemB">
            <div class="settItemBL">Set your email contact information.</div>
            <div class="settItemBR"><%= current_user.email %></div>
          </div>
        </div>
        <div class="settItem">
          <div class="settItemT">
            <div class="settItemTL">Password</div>
            <div class="settItemTR"><a href="#">change</a></div>
          </div>
          <div class="settItemB">
            <div class="settItemBL">What you use to log in.</div>
            <div class="settItemBR"><%= current_user.crypted_password %></div>
          </div>
        </div>
        <div class="settItem">
          <div class="settItemT">
            <div class="settItemTL">Linked Accounts</div>
            <div class="settItemTR"><a href="#">change</a></div>
          </div>
          <div class="settItemB">
            <div class="settItemBL">Use other accounts to log in</div>
            <div class="settItemBR"></div>
          </div>
        </div>
      </div>
    <% end %>



  </div>

</div>