<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => '/shared/submenu' %>
<% end -%>

<div class="slStoryL">
  <div class="contDetL">
    <div class="contDetLin">
      <div class="inboxLeft">
        <div class="slsShare">
          <div class="slsShareL">Videos</div>
          <div class="slsShareR">
            <%= link_to "Upload a Video", new_user_youtube_path(current_user) if session[:token] %>
          </div>
        </div>
        <% if session[:token] %>
          <div class="musicVideo"><%= raw(youtube_embed @video) %></div>
        <% else %>
          <%= render :partial => "authorise" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="contMainR">
  <!--Most Viewed-->
  <%#= render :partial => "most_viewed" %>
  <!--Most Viewed-->

  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->
</div>
