<% fields_for @post_teamup.post do |post| %>
  <%= display_flash_messages %>
  <div class="postReq">*(asterisk) is required.</div>
  <div class="postItemDep">
    <div class="postTit">Type</div>
    <div class="postDep"><%= f.text_field :teamup_category_id %></div>
  </div>
  <div class="postItem">
    <div class="postTit">Title*</div>
    <div class="postInp"><%= post.text_field :title, :class => 'required', :style => "width:360px;" %></div>
  </div>
  <div class="postItem">
    <div class="postTit">Description*</div>
    <div class="postInput">
      <div class="postDesInf" id="post_description_counter"><span>0</span> characters (900 max)</div>
      <div class="postInp"><%= post.text_area :description, :class => 'required' %></div>
    </div>
  </div>
  <div class="postItem">
    <div class="postTit">School</div>
    <div class="postInp">Your are at <strong><%= School.find(@school).name %></strong> - <%= link_to("Click here", "/users_select_school/show?height=170", :class => "thickbox", :title => "Select Schoools") %> to choose another school.</div>
  </div>
  <div class="postItem">
    <div class="postTit">Email</div>
    <div class="postRad">
      <div><%= radio_button "post", "use_this_email", true, :checked => @post_teamup.post.use_this_email %> Use my login email instead</div>
      <div><%= radio_button "post", "use_this_email", false, :checked => !@post_teamup.post.use_this_email %> Reply to [post category] - xxxxxx@afterclassroom.com (AC anonymizes your ..)</div>
    </div>
  </div>
  <div class="postItem">
    <div class="postTit">Our Status</div>
    <div class="postInp"><%= f.text_field :ourStatus, :style => "width:208px" %></div>
  </div>
  <div class="postItem">
    <div class="postTit">Founded In</div>
    <div class="postInp"><%= f.text_field :founded_in, :style => "width:208px" %></div>
  </div>
  <div class="postItem">
    <div class="postTit">Members</div>
    <div class="postInp"><%= f.text_field :noOfMember, :style => "width:208px" %></div>
  </div>
  <div class="postItem">
    <div class="postTit">Add/Edit File</div>
    <div id="divinputfile">
      <%= post.file_field :attach, :onchange => "$('#fakefilepc').val(this.value);", :size => "39", :class => "filepc" %>
      <div id="fakeinputfile"><input name="fakefilepc" type="text" id="fakefilepc" /></div>
    </div>
  </div>
  <div class="postItem">
    <div class="postTit">Tag</div>
    <div class="postInp"><%= text_field_tag "tag", "", :style => "width:280px" %></div>
  </div>
<% end %>

<ul id="teamup_category_menu" class="mcdropdown_menu">
  <% TeamupCategory.find(:all).each do |t| %>
    <li rel_teamup_category="<%= t.id %>">
      <%= t.name %>
    </li>
  <% end %>
</ul>

<script type="text/javascript">
  $("#post_teamup_teamup_category_id").mcDropdown("#teamup_category_menu", {
    width: 350,
    valueAttr: "rel_teamup_category"
  });
  $("#post_description").counter({
    count: 'up',
    goal: 900
  });
  function submit(){
    var result = $("#form_post").validate();
    if (result) {
      $("#form_post").submit();
    }
  }
</script>