<div id="rate_<%= post.id %>_<%= post.class.name %>">
<%
check = PostTeamup.find_rated_by(current_user).include?(post.post_teamup) if logged_in?
check ||= false %>
<div class="qashdU">
  <%= show_rating(post.id, post.post_teamup.total_good, get_controler_name_from_class_name(post.post_teamup.class.name), check, 1) %>
</div>
<div class="qashdD">
  <%= show_rating(post.id, post.post_teamup.total_bad, get_controler_name_from_class_name(post.post_teamup.class.name), check, 0) %>
</div>
</div>


<!-- BEGIN show LIKE comment area -->
<%= render :partial => "rate_cmts/like_cmts", :locals => {:post => post} %>
<!-- END show DISLIKE comment area -->
<!-- BEGIN show LIKE comment area -->
<%= render :partial => "rate_cmts/dislike_cmts", :locals => {:post => post} %>
<!-- END show DISLIKE comment area -->
		
<script type="text/javascript">
var waitIcon<%= post.id %> = '';
var likeAjaxObj<%= post.id %>;
var dislikeAjaxObj<%= post.id %>;
function LoadDisLikeCmt<%= post.id %>(perpage,page_no){
  dislikeAjaxObj<%= post.id %> = $.ajax({
    url: '<%= load_bk_dislike_rate_cmts_url %>',
    type: 'GET',
    dataType: 'script',
    data: {
      post_id: <%= post.id %>,
      str_perpage: perpage,
      str_page_no: page_no,
      rated_type: '<%= post.post_teamup.class.name %>'
    },
    success: function(data){
      $('#wait_dislike<%= post.id %>').hide();
    }
  });//end ajax
  
}
function LoadLikeCmt<%= post.id %>(perpage,page_no){
  likeAjaxObj<%= post.id %> = $.ajax({
    url: '<%= load_bk_like_rate_cmts_url %>',
    type: 'GET',
    dataType: 'script',
    data: {
      post_id: <%= post.id %>,
      str_perpage: perpage,
      str_page_no: page_no,
      rated_type: '<%= post.post_teamup.class.name %>'
    },
    success: function(data){
      $('#wait_like<%= post.id %>').hide();
    }
  });//end ajax
  
}

  $(document).ready(function(){
    //BEGIN like handler
    if  ( ! ( $.browser.msie && $.browser.version == "8.0" ) ) {
      $('#like_area<%= post.id %>').corner();
    }
    $('div#rate_<%= post.id %>_Post').find('.qashdU').click(function(){
      $('#like_area<%= post.id %>').toggle('slow', function(){
        if ( $(this).is(":visible") == true ){
          if (dislikeAjaxObj<%= post.id %> != undefined){
            dislikeAjaxObj<%= post.id %>.abort();
          }
          $('#dislike_area<%= post.id %>').hide();
          $('#wait_dislike<%= post.id %>').show();
          $('#dislike_inner<%= post.id %>').html('');
          LoadLikeCmt<%= post.id %>('5','1');
        } else {
          if ( likeAjaxObj<%= post.id %> != undefined){
            likeAjaxObj<%= post.id %>.abort();
          }
          $('#wait_like<%= post.id %>').show();
          $('#like_inner<%= post.id %>').html('');
        }//end if
      });//end toggle
    });//end qashdU
    //END like handler
    //BEGIN dislike handler
    $('#dislike_area<%= post.id %>').corner();
    $('div#rate_<%= post.id %>_Post').find('.qashdD').click(function(){
      $('#dislike_area<%= post.id %>').toggle('slow', function(){
        if ( $(this).is(":visible") == true ){
          //BEGIN reset like-panel
          if ( likeAjaxObj<%= post.id %> != undefined){
            likeAjaxObj<%= post.id %>.abort();
          }
          $('#like_area<%= post.id %>').hide();
          $('#wait_like<%= post.id %>').show();
          $('#like_inner<%= post.id %>').html('');
          //END reset like-panel
          LoadDisLikeCmt<%= post.id %>('5','1');
        }else {
          if (  dislikeAjaxObj<%= post.id %> != undefined){
            dislikeAjaxObj<%= post.id %>.abort();
          }          
          $('#wait_dislike<%= post.id %>').show();
          $('#dislike_inner<%= post.id %>').html('');
        }
      });
    });
    //END dislike handler
  });
</script>		
		