<% content_for :search do -%>
  <%= render :partial => 'shared/search_posts', :locals => {:search_name => @search_name, :type_name => "Team Up", :new_post_path => "/post_teamups/new", :search_post_path => "/post_teamups"} %>
<% end -%>

<% content_for :select_your_school do -%>
  <div id="target_select_school">
    <span>&nbsp;</span>
  </div>
<% end -%>

<% content_for :sidebar do -%>
  <div id="post_guide_r">
    <h3>About Posting</h3>
    <p>
      Upload would take any where from 1 to 5 minutes.
      It depends on your internet connections.
    </p>
  </div>
<% end -%>
<!--Content-->
<div id="posting-section"><!-- posting-section-->
  <h3 class="post_header">Posting to the world</h3>
  <% form_for(@post_teamup, :html => {:id => "form", :name => "form", :multipart => true }) do |f| %>
    <% fields_for @post_teamup.post do |post| %>
      <ul>
        <li>
          <%= render :partial => "posts/post_category", :locals => {:post_categories => @post_categories, :post_category_name => @post_category_name} %>
        </li>
        <li>
          <label>Teamup category*</label>
          <div class="user_ri">
            <%= text_field_tag 'teamup_category_name', "#{@teamup_category_name}", :class => "required tb_arrow", :readonly => "readonly" %>
            <div id="select_teamup_category" class="menu_select" style="display:none">
              <ul>
                <% for teamup_category in @teamup_categories %>
                  <li>
                    <%= radio_button "post_teamup", "teamup_category_id", teamup_category.id, :onclick => "getTeamupCategory('#{teamup_category.name}')" %>
                    <label onClick="getTeamupCategory('<%= teamup_category.name %>')" for="post_teamup_teamup_category_id_<%= teamup_category.id %>"><%= teamup_category.name %></label>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </li>
        <li><label>Team/Idea name*</label>
          <div class="user_ri"><%= post.text_field :title, :class => "required", :style=>"width:450px" %>
        </div></li>

        <%= select_your_school("post", "posts/select_school", {"target" => "bottomLeft", "tip" => "topLeft"}) %>
        <li><label>Description*</label>
          <div class="user_ri">
            <font color=#666666>(900 characters max.) <strong><span id="count_post_description" >900</span></strong> remaining</font>
        <%= post.text_area :description, :rows => 10, :cols => 70, :class => "required", :onkeypress => "return LimitThis('post_description')", :onkeyup => "return CountThis('post_description', 'count_post_description')", :onmouseover => "return CountThis('post_description', 'count_post_description')", :wrap => "physical", :maxLength => "900"%></div></li>
        <li><label>Opportunity Type</label>
          <div class="user_ri"><%= f.text_field :opportunity_type %>
        </div></li>
        <li><label>Position Title</label>
          <div class="user_ri"><%= f.text_field :position_title %>
        </div></li>
        <li>
          <label>Expected time commitment</label>
          <div class="user_ri">
            <%= text_field_tag 'expected_time_commit_name', "#{@expected_time_commit_name}", :class => "required tb_arrow", :readonly => "readonly" %>
            <div id="select_expected_time_commit" class="menu_select" style="display:none">
              <ul>
                <% @time_commitments.each do |key, value| %>
                  <li>
                    <%= radio_button "post_teamup", "expected_time_commit", key, :onclick => "getExpected('#{value}')" %>
                    <label onClick="getExpected('<%= value %>')" for="post_teamup_expected_time_commit_<%= key %>"><%= value %></label>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <label>Desired Functional Experience</label>
          <div class="user_ri">
            <%= text_field_tag 'functional_experience_name', "#{@functional_experience_name}", :class => "required tb_arrow", :readonly => "readonly" %>
            <div id="select_functional_experience" class="menu_select" style="display:none">
              <ul>
                <% for functional_experience in @functional_experiences %>
                  <li>
                    <%= radio_button "post_teamup", "functional_experience_id", functional_experience.id, :onclick => "getDesired('#{functional_experience.name}')" %>
                    <label onClick="getDesired('<%= functional_experience.name %>')" for="post_teamup_functional_experience_id_<%= functional_experience.id %>"><%= functional_experience.name %></label>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <label>Compensation offered</label>
          <div class="user_ri">
            <%= text_field_tag 'compensation_offered_name', "#{@compensation_offered_name}", :class => "required tb_arrow", :readonly => "readonly" %>
            <div id="select_compensation_offered" class="menu_select" style="display:none">
              <ul>
                <% for compansate in @compansates %>
                  <li>
                    <%= radio_button "post_teamup", "compensation_offered", compansate, :onclick => "getCompensation('#{compansate}')" %>
                    <label onClick="getCompensation('<%= compansate %>')" for="post_teamup_compensation_offered_<%= compansate.downcase %>"><%= compansate %></label>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </li>
        <li><label>Email</label>
        <div class="user_ri"><%= post.text_field :email, :class => "validate-email" %></div></li>
        <li><label></label><%= radio_button "post", "use_this_email", true %> Use this email address.</li>
        <li><label></label><%= radio_button "post", "use_this_email", false, :checked => true %> Reply to (post category) - xxx@afterclassroom.com.</li>
        <li><label>Telephone</label>
        <div class="user_ri"><%= post.text_field :telephone %></div></li>

        <li><label>Add/Edit File:</label>
        <div class="user_ri"><%= post.file_field :attach %></div></li>
        <%= render :partial => "posts/choose_options", :locals => {:f => post } %>
        <li>
          <div class="post_cbt">
            <!-- post  button -->
            <a href="javascript:submit()" title="Post" class="link_bt">
              <span class="ltred_l"></span>
              <span class="ltred_c btf">Post TeamUp</span>
              <span class="ltred_r"></span>
            </a>
            <!-- end post button -->
          </div>
        </li>
        <li>
          <label><div class="user_ri">(* indicates required field)</div></label>
        </li>
      </ul>
      <div id="elements_store"></div>
    </div><!-- end posting-section-->
  <% end %>
<% end %>
<!--Content-->
<script type="text/javascript">
  var valid = new Validation('form', {immediate : true, onSubmit:false});
  function submit(){
    var result = valid.validate();
    if (result) {
      Tips.hideAll();
      $$('.prototip').each(function(element){
        $('elements_store').insert(element, { position: content });
      });
      $('form').submit();
    }
  }
  function getTeamupCategory(category_name){
    $('teamup_category_name').value = category_name;
    if ($('advice-required-teamup_category_name'))
      $('advice-required-teamup_category_name').hide();
  }
  function getExpected(name){
    $('expected_time_commit_name').value = name;
    if ($('advice-required-expected_time_commit_name'))
      $('advice-required-expected_time_commit_name').hide();
  }
  function getDesired(name){
    $('functional_experience_name').value = name;
    if ($('advice-required-functional_experience_name'))
      $('advice-required-functional_experience_name').hide();
  }
  function getCompensation(name){
    $('compensation_offered_name').value = name;
    if ($('advice-required-compensation_offered_name'))
      $('advice-required-compensation_offered_name').hide();
  }
  new Tip('teamup_category_name', $('select_teamup_category'), {
    width: 'auto',
    title: 'Select Teamup Category',
    showOn: 'click',
    hideOthers: true,
    hideOn: { element: 'closeButton', event: 'click'},
    hook: { target: 'bottomLeft', tip: 'topLeft' },
    offset: {x:0, y:0} });
  new Tip('expected_time_commit_name', $('select_expected_time_commit'), {
    width: 'auto',
    title: 'Select one',
    showOn: 'click',
    hideOthers: true,
    hideOn: { element: 'closeButton', event: 'click'},
    hook: { target: 'bottomLeft', tip: 'topLeft' },
    offset: {x:0, y:0} });
  new Tip('functional_experience_name', $('select_functional_experience'), {
    width: 'auto',
    title: 'Select one',
    showOn: 'click',
    hideOthers: true,
    hideOn: { element: 'closeButton', event: 'click'},
    hook: { target: 'bottomLeft', tip: 'topLeft' },
    offset: {x:0, y:0} });
  new Tip('compensation_offered_name', $('select_compensation_offered'), {
    width: 'auto',
    title: 'Select one',
    showOn: 'click',
    hideOthers: true,
    hideOn: { element: 'closeButton', event: 'click'},
    hook: { target: 'bottomLeft', tip: 'topLeft' },
    offset: {x:0, y:0} });
</script>

<script language = "Javascript">
  function LimitThis(object_id) {
    if ($(object_id).value.length == $(object_id).readAttribute("maxLength")*1) return false;
  }

  function CountThis(object_id, visCnt) {
    if ($(object_id).value.length>$(object_id).readAttribute("maxLength")*1) $(object_id).value = $(object_id).value.substring(0,$(object_id).readAttribute("maxLength")*1);
    if ($(visCnt)) $(visCnt).update($(object_id).readAttribute("maxLength")-$(object_id).value.length);
  }
</script>
