<% content_for :you_are_here do -%>
You are here: <a href="/">Home</a>
<%= link_to "Team Up", post_teamups_path(:teamup_category_id => @teamup_category_id), :class => "abLink-detail" %><%= link_to "Detail", "#", :class => "abLink-detail" %>
<% end -%>
<% content_for :post_button do -%>
<%= render :partial => 'shared/post_button', :locals => {:new_post_path => @new_post_path} %>
<% end -%>
<% content_for :menu_sub do -%>
<%= render :partial => "submenu" %>
<% end -%>
<!--Content-->
<div class="contDetL">
    <div class="contDetLin">
        <div class="AsDTop">
            <h1 class="titleH1">Team Up detail</h1>
            <div class="AsDsearch">
                <%= render :partial => "shared/search_indetail", :locals => {:url_search => search_post_teamups_path} %>
            </div>
        </div>
        <div class="AsDCont">
            <%= display_flash_messages_with_raw %>
            <div class="AsDContL">
                <h2 class="titleH2"><%= @post.title %></h2>
                <div class="AsDContLin">
                    in<span><%= link_to @post.post_category.name, post_teamups_path %></span>
                </div>
                <div class="AsDContLdes">
                    <span>Description:</span>
                    <% if @post.attach_file_name and @post.attach_content_type =~ /^image.*/ %>
                    <div style="min-height:70px">
                        <div class="assImg">
                            <div>
                                <%= link_to image_tag(@post.attach.url(:thumb)), @post.attach.url, :id => "imageLink", :target => "_blank" %>
                            </div>
                        </div>
                        <%= @post.description %>
                    </div>
                    <% else %>
                    <%= @post.description %>
                    <% end %>
                </div>
                <div class="AsDContLinf">
                    <span>Posted by:</span>
                    <%= show_user_post(@post.user) %>- <%= time_ago_in_words(@post.created_at, true) + " ago." %>
                </div>
                <% if @post_teamup.tags_from(@post.school).size > 0 %>
                <div class="AsDContLinf">
                    <span>Tags:</span>
                    <% @post_teamup.tags_from(@post.school).each do |t| %>
                    <a href='/<%= controller.controller_name %>/tag/?tag_name=<%= t %>'><%= t %></a>, <% end %>
                </div>
                <% end %>
            </div>
            <%= render :partial => "shared/user_infor", :locals => {:user => @post.user, :post => @post} %>
            <%= render :partial => "post_actions", :locals => {:post => @post} %>
        </div>
        <%= show_post_comments(@post) %>
        <div class="goback" id="go_back">
            <%= show_go_back %>
        </div>
        <div class="comPage">
            <span></span>
            <span class="compre"><%= link_to "", post_teamup_path(@prev) if @prev %></span>
            <span class="comnext"><%= link_to "", post_teamup_path(@next) if @next %></span>
        </div>
        <div class="AsDOr">
            <h1 class="titleH1">Related posts</h1>
            <% PostTeamup.related_posts(@school, @teamup_category_id).each do |p| %>
            <div class="AsDOrItem">
                <%= link_to p.title, post_teamup_path(p.post_teamup) %>
            </div>
            <% end %>
        </div>
        <div class="goTop">
            <a href="javascript:;" onclick="goToByScroll('top_page')">Top</a>
        </div>
    </div>
</div>
<div class="contMainR">
    <!--Ads-->
    <%= render :partial => "ads/show_vertical_ads" %>
    <!--Ads-->
    <!--Recent Request Comments-->
    <%= render :partial => "recent_comments" %>
    <!--Recent Request Comments--
    <!--Recent Actives-->
    <%#= render :partial => "shared/recent_active" %>
    <!--Recent Actives-->
</div>
<!--Content-->
