<% content_for :you_are_here do -%>
  You are here: <a href="/">Home</a><%= link_to "Team Up", post_teamups_path, :class => "abLink-detail" %><%= link_to "Subject: '#{@tag_name}'", "#", :class => "abLink-detail" %>
<% end -%>

<% content_for :post_button do -%>
  <%= render :partial => 'shared/post_button', :locals => {:new_post_path => @new_post_path} %>
<% end -%>

<% content_for :menu_sub do -%>
  <%= render :partial => "submenu" %>
<% end -%>

<!--Content-->
<div class="contMainL">
  <div class="col451 student">
    <div class="col451in">
      <div class="col451Cont">
        <div class="AsDTop">
          <h1 class="titleH1">Team Up</h1>
        </div>
		<%= display_flash_messages_with_raw %>
        <!--List Items-->
        <% @posts.each do |post| %>
          <div id="post_<%= post.id %>"><%= render :partial => "item", :locals => {:post => post, :title => post.title, :description => post.description, :controller_name => controller.controller_name} %></div>
        <% end %>
        <!--List Items-->

        <!--Pagination-->
        <div class="assPage">
          <span class="numPage"><%= page_entries_info @posts %></span>
          <%= will_paginate @posts %>
        </div>
        <!--Pagination-->
        <div class="goTop"><a href="javascript:;" onclick="goToByScroll('top_page')">Top</a></div>
      </div>
    </div>
  </div>
</div>

<div class="contMainC">
  <!--Browser Startup-->
  <%= render :partial => "startup"%>
  <!--Browser Startup-->

  <!--Browser Good organizations-->
  <%= render :partial => "good_org"%>
  <!--Browser Good organizations-->

  <!--Browser Bad organizations-->
  <%= render :partial => "worse_org"%>
  <!--Browser Bad organizations-->
</div>

<div class="contMainR">
  <!--Browser by Subject-->
  <%= render :partial => "shared/browser_by_subject" %>
  <!--Browser by Subject-->

  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->

  <!--Request teamup-->
  <%= render :partial => "form_request_teamup" %>
  <!--Request teamup-->
  
  <!--Recent Request Comments-->
  <%= render :partial => "recent_comments" %>
  <!--Recent Request Comments-->

</div>
<!--Content-->
