<div class="slsItem">
  <div class="slsItemL">
    <div class="slsItemLN"><%= story.count_view %></div>
    <div class="slsItemLV">viewed</div>
  </div>
  <div class="assImg" style="padding-bottom: 16px;"><%= link_to raw("<div>#{display_image(story)}</div>"), user_story_path(current_user, story) %></div>
  <div class="slsItemRr" style="margin-left: 140px;">
    <div class="check" style="  margin-left: 475px;position: absolute;margin-top: -2px;">
      <%= check_box_tag "story_id", story.id %>
    </div>
    <div class="slsItemTitle" style="width: 465px;"><%= link_to story.title, user_story_path(current_user, story) %></div>
    <div class="slsItemTime"><%= distance_of_time_in_words_to_now(story.created_at, false) + " ago." %></div>
    <div class="slsItemDesYoSt" style="width:465px">
      <%= truncate_words(story.content) %>
    </div>
  </div>
</div>


