<div class="slsTop">
  <div class="slsTopL">
    <div class="slsTopLT">Friends shared stories</div>
    <div class="slsTopLB friLeft">
      <div class="search" style="margin-top: -15px;">
        <%= form_tag friend_s_user_stories_path(current_user), {:id => "friend_stories_search", :method => "GET", :onsubmit => "return false;"} do %>  
          <div id="btnF_submit" class="textS"><%= text_field_tag "search[name]", "#{@search_name}", :style => "margin-top: 3px" %></div>
          <div class="btmS"><a id="btnSF_submit" href="javascript:;" onclick="searchFriendStories();"><img src="/images/iconSF.png"/></a></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="slsTopR" style="float:left;">
    <!--Pagination-->
    <div class="assPage friend_stories">
      <span class="numPage"><%= page_entries_info @stories %></span>
      <%= will_paginate @stories %>
    </div>
    <!--Pagination-->
  </div>
</div>
<% @stories.each do |s| %>
  <%= render :partial => "itemFr", :locals => {:story => s} %>
<% end %>

<script type="text/javascript" >
  $("#btnSF_submit").click(function(){
      $('#btnF_submit').append('<%= show_ajax_loader("loader_id","display: block; position: absolute; float: right; height: 19px; margin-top: -19px; margin-left: -25px;") %>');
    });
  formatLinkForPaginationURLFriend();
</script>
