<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => 'submenu' %>
<% end -%>

<div class="slStoryL">
  <div class="contDetL">
    <div class="contDetLin">
      <div class="inboxLeft">
        <%= render :partial => "menu" %>
        <div class="slsTop">
          <div class="slsTopL">
            <div class="slsTopLT">Friends shared stories</div>
            <div class="slsTopLB friLeft">
              <div class="search">
                <% form_tag "", {:id => "friend_stories_search", :method => "GET"} do %>
                  <div class="textS"><%= text_field_tag "search[name]", "#{@search_name}" %></div>
                  <div class="btmS"><a href="javascript:;" onclick="$('#friend_stories_search').submit();"><img src="/images/iconSF.png"/></a></div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="slsTopR">
            <!--Pagination-->
            <div class="assPage">
              <span class="numPage"><%= page_entries_info @friend_stories %></span>
              <%= will_paginate @friend_stories %>
            </div>
            <!--Pagination-->
          </div>
        </div>
        <% @friend_stories.each do |f_s| %>
        <div class="slsItem">
          <div class="slsItemL">
            <div class="slsItemLN">79</div>
            <div class="slsItemLV">viewed</div>
          </div>
          <div class="assImg"><a href="#"><div><img src="pictures/sls1.png"/></div></a></div>
          <div class="slsItemR">
            <div class="slsItemTitle"><a href="#">Nam nec quam eu odio dignissim semper id vitae sem. Sed ac justo purus</a></div>
            <div class="slsItemTime">Viewed in 3 hours 10 minutes ago</div>
            <div class="slsItemDes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices velit leo. Pellentesque aliquet tristique arcu a mollis. Vestibulum rhoncus elit ut enim facilisis ut venenatis turpis pretium. Cras nec arcu nunc. Aliquam porttitor aliquet metus, vitae bibendum ipsum malesuada at.
						Suspendisse consequat, justo quis placerat malesuada, velit dolor vulputate neque, et porta lectus dolor sed urna...</div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="contDetL slStoryL">
    <div class="contDetLin">
      <div class="inboxLeft">
        <div class="slsTop">
          <div class="slsTopL">
            <div class="slsTopLT">Your stories <span>- <%= @my_stories.size.to_s %> stories</span></div>
            <div class="slsTopLB"><a href="">Search here</a>  |  <a href="">Set Privacy</a></div>
          </div>
          <div class="slsTopR">
            <!--Pagination-->
            <div class="assPage">
              <span class="numPage"><%= page_entries_info @my_stories %></span>
              <%= will_paginate @my_stories %>
            </div>
            <!--Pagination-->
          </div>
        </div>
        <div class="slsItem">
          <div class="slsItemL">
            <div class="slsItemLN">31</div>
            <div class="slsItemLV">viewed</div>
          </div>
          <div class="assImg"><a href="#"><div><img src="pictures/sls4.png"/></div></a></div>
          <div class="slsItemR">
            <div class="slsItemTitle"><a href="#">Nam nec quam eu odio dignissim semper id vitae sem. Sed ac justo purus</a></div>
            <div class="slsItemTime">Viewed in 3 hours 10 minutes ago</div>
            <div class="slsItemDes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices velit leo. Pellentesque aliquet tristique arcu a mollis. Vestibulum rhoncus elit ut enim facilisis ut venenatis turpis pretium. Cras nec arcu nunc. Aliquam porttitor aliquet metus, vitae bibendum ipsum malesuada at.
						Suspendisse consequat, justo quis placerat malesuada, velit dolor vulputate neque, et porta lectus dolor sed urna...</div>
          </div>
        </div>
        <div class="goTop"><a href="javascript:;" onclick="goToByScroll('top_page')">Top</a></div>
      </div>
    </div>
  </div>
</div>
<div class="contMainR">
  <!--Most Viewed-->
  <%= render :partial => "most_viewed" %>
  <!--Most Viewed-->

  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->
</div>