<div class="assItem">
  <div class="assItemL">
    <div class="assImg"><div><%= link_to image_tag("noimg.png"), post %></div></div>
    <div class="assContT">
      <h2 class="titleH2"><%= link_to post.subject, post_exam_schedule_path(post) %></h2>
    </div>
    <div class="assDes"></div
    <div class="assName"><span><strong>Teacher_name: </strong></span><%= link_to post.teacher_name, post_exam_schedule_path(post) %></div>
    <div class="assAt"><span><strong>Starts_at: </strong></span><%= link_to post.starts_at, post_exam_schedule_path(post) %></div>
    <div class="assPlace"><span><strong>Place: </strong></span><%= link_to post.place, post_exam_schedule_path(post) %></div>
  </div>
  <!--info-link-box-->
  <div class="assItemB">
    <div class="assPic"><%= link_to "<div>#{image_tag(post.user.avatar.url(:thumb))}</div>", {:controller => "profile", :action => "show_profile", :id => post.user.id} %></div>
    <div class="assInfT">
      <div class="assInfT">
        <div class="assInfL">
          <div><span>Posted by:</span><%= link_to post.user.full_name, {:controller => "profile", :action => "show_profile", :id => post.user.id} %></div>
          <div><span>Comments:</span><%= "#{post.user.comments.size} Comment#{"s" if post.user.comments.size > 1}" %></div>
        </div>
        <div class="assInfR"><%= link_to "more", post_exam_schedule_path(post) %></div>
      </div>
      <div class="assInfB">
        <div><%= post.created_at.strftime("%I:%M %p %Z") %></div>
       <div class="vie">View (0)</div>
       <div class="fav">favorite (0)</div>
       <div class="com">Comments (0)</div>
      </div>
    </div>
  </div>
</div>
