<%
type = params[:book_type_id]
type ||= 1
%>
<div class="col300 Parti">
  <div class="col300in">
    <h1 class="col300Title">Quick post for Book</h1>
    <div class="col300Cont">
      <%= form_for :post_book, :url => {:action => "create"}, :html =>{:multipart => true, :id => "form_post"} do |f| %>
        <%
        book_type = BookType.find_by_label("your_friends_needed_books")
      %>
        <%= fields_for :post do |p| %>
		<div class="reqSl">
            <div class="reqLa"><label>Type</label></div>
            <div class="reqTi"><%= text_field_tag "post_book[book_type_id]", type %></div>
          </div>
          <%= render :partial => "/shared/form_request_post/select_department", :locals => {:p => p} %>
          <%= render :partial => "/shared/form_request_post/select_school_year", :locals => {:p => p} %>
          <%= render :partial => "/shared/form_request_post/title", :locals => {:p => p} %>
          <%= render :partial => "/shared/form_request_post/description", :locals => {:p => p} %>
          <div class="reqSl">
            <div class="req40">
              <div class="reqLa"><label>Price</label></div>
              <div class="reqTi"><%= f.text_field :price %></div>
            </div>
            <div class="req60">
              <div class="reqLa"><label>Phone</label></div>
              <div class="reqTi"><%= f.text_field :phone %></div>
            </div>
          </div>
          <div class="reqSl">
            <div class="reqLa"><label>Address</label></div>
            <div class="reqTi"><%= f.text_field :address %></div>
          </div>
          <%= render :partial => "/shared/form_request_post/file", :locals => {:p => p} %>
          <%= render :partial => "/shared/form_request_post/select_tag" %>
		  <%= show_simple_captcha(:label => "CAPTCHA Code *") %>
          <div class="submit" style="margin-top: 5px;"><%= show_submit_form() %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<ul id="book_type_menu" class="mcdropdown_menu">
  <% BookType.find(:all).each do |t| %>
    <li rel_book_type="<%= t.id %>">
      <%= t.name %>
    </li>
  <% end %>
</ul>

<script type="text/javascript">
  $("#post_book_book_type_id").mcDropdown("#book_type_menu", {
    width: 275,
    valueAttr: "rel_book_type"
  });
</script>