<div class="assItem">
    <div class="assItemL">
        <div class="assPic">
            <%= show_image_user_post(post.user) %>
        </div>
        <div class="assContT">
            <h2 class="titleH2"><%= link_to title, post_book_path(post.post_book) %></h2>
            <div class="assCate">
                <span>From:</span>
                <%= link_to post.school.name, :controller => "post_books", :action => "index", :from_school => post.school, :book_type_id => @book_type_id %>
            </div>
            <div class="assDes">
                <div class="assImg">
                    <div>
                        <%= link_to image_post_thumb(controller_name, post), post.post_book %>
                    </div>
                </div>
                <%= truncate_html(description, :length => 250, :omission => '...') %>
            </div>
        </div>
    </div>
    <div class="assItemB">
        <div class="assInfT">
            <div class="assInfT">
                <div class="assInfL">
                    <div>
                        <span>Posted by:</span>
                        <%= show_user_post(post.user) %>
                    </div>
                </div>
            </div>
            <div class="assInfB">
								<%= render :partial => "rating_action", :locals => {:post => post, :controller_name => controller.controller_name}%>
                <div class="vie">
                    <%= "View (#{post.count_view})" %>
                </div>
                <div class="fav" id="item_favorite_<%= post.id %>">
                    <%= show_favorite("Post", post) %>
                </div>
                <div class="com">
                    <%= show_comment_button(post.id, post.comments.size) %>
                </div>
								<div class="myMap">
                    <%= show_map(post.post_book.address, post.title) %>
                </div>
            </div>
        </div>
    </div>
    <!--Comments-->
    <%= render :partial => "shared/post_comments/show_list_comments", :locals => {:post => post} %>
    <!--Comments-->
</div>
