<div class="AsDContBtm">
  <span class="btmComment"><a href="javascript:;" onclick="$('#form_comment').toggle('slow');">Comment</a></span>
  <!--<span class="btmBuy"><a href="#">Buy now</a></span>-->
  <span class="btmMail"><%= show_email(post) %></span>
  <span class="btmShare"><%= addthis_bookmark_button { "<span>Share</span>" } %></span>
  <span class="btmFav" id="item_favorite_<%=  post.id %>"><%= show_favorite_in_detail("Post", post) %></span>
  <% if post.attach_file_name %>
    <span class="btmDown"><a href="javascript:downloadFile('<%= post.attach.url %>')" class="downarrow"><span>Download</span></a></span>
  <% end %>
</div>
  
