<div class="pop-mail">
  <div class="mailCont">
    <div class="mailTitle">Feedback</div>
    <div class="malMain">
      <div class="please">Please leave us feedback, it’s really appreciated</div>
      <%= form_for :feedback, @feedback, :url => feedback_path, :html => {:id => "feedback_form"} do |f| -%>
        <% unless @error_message.blank? %>
          <p class="error">
            <%=h @error_message %>
          </p>
        <% end %>
        <div class="popItem">
          <div class="label"><%= f.label 'subject' %></div>
          <%= f.select 'subject', ['Problem', 'Suggestion', 'Question', 'Other'] %>
        </div>
        <div class="popItem">
          <div class="label"><%= f.label 'email' %></div>
          <%= f.text_field 'email', :class => "{email: true}" %>
        </div>
        <div class="popItem">
          <div class="label"><%= f.label 'comment' %><br /></div>
          <%= f.text_area 'comment', :rows => 10, :cols => 50, :class => "{required:true}" %>
        </div>
        <div class="popItem">
          <%= f.submit 'Send' %>
        </div>
      <% end -%>
    </div>
  </div>
</div>
<div class="myerror" id="myerror" style="display: none;"></div>
<style>
  label.myerror {
    background: none repeat scroll 0 0 #EE0101;
    border: 2px solid #DDDDDD;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 6px #000000;
    color: #FFFFFF;
    font-family: tahoma;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 10px;
    position: absolute;
    width: 140px;
    z-index: 5001;
  }
</style>