<%= form_tag(save_edit_admin_setnotifies_path, :method => :post, :id => "setting_form") do %>

  <div id="related-activities-user">
    <!--  start related-act-top -->
    <div id="related-act-top">
      <img width="271" height="43" alt="" src="/images/admin/forms/header_noti_edit.png"/>
    </div>
    <!-- end related-act-top -->
    <!--  start related-act-bottom -->
    <div id="related-act-bottom">
      <!--  start related-act-inner -->
      <div id="related-act-inner">
        <div class="clear"></div>
        <div class="right">
          <div id="posting-section">
            <div style="margin: 0pt; padding: 0pt; display: inline;"><input type="hidden" value="✓" name="utf8"/></div>
            <div class="reqLa"><strong>Notification Type</strong></div>
            <div>
              <%
              list_cats = [
                ["Choose category", ""],
                ["AfterClassroom", "AfterClassroom"],
				["Share a Story", "Share a Story"],
                ["Photos", "Photos"],
                ["Music", "Music"],
                ["My Lounge Comments","My Lounge Comments"]
              ]
            %>
              <ul id="category_menu" class="mcdropdown_menu">
                <% list_cats.each do |cate| %>
                  <li rel_noti="<%= cate[1] %>">
                    <%= cate[0] %>
                  </li>
                <% end %>
              </ul>

              <div class="reqTi"  style="width: 200px;">
                <input type="text" id="list_cate" value="<%= @notification.notify_type %>"/>
              </div>
              <input type="hidden" name="editing_id" value="<%=  @notification.id %>" id="editing_id"/>
            </div>
            <div class="reqLa"><strong>Notification name</strong></div>
            <div class="inp-formS">
              <%= text_field_tag "name", "", :id => "name", :value => @notification.name %> <br/>
            </div>
            <br/>
            SMS <%= check_box_tag("sms", @notification.id, checked = @notification.sms_allow  )%>
            Email <%= check_box_tag("email", @notification.id, checked = @notification.email_allow )%>
            <div class="clear"></div>
            <div class="reqLa">
              <div class="form-buttom">
                <!-- post  button -->
                <a class="link_bt" title="Post" href="javascript:;">
                  <span class="ltred_l"></span>
                  <span class="ltred_c btf" onclick="sendChange()">Save Change</span>
                  <span class="ltred_r"></span>
                </a>
                <!-- end post button -->
              </div>
            </div>
            <div id="elements_store"></div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <!-- end related-act-inner -->
      <div class="clear"></div>
    </div>
    <!-- end related-act-bottom -->
  </div>
<% end %>
<script type="text/javascript">
  $("#list_cate").mcDropdown("#category_menu", {
    width: 350,
    valueAttr: "rel_noti"
  });
  function sendChange(){
    $("form:first").submit();
  }
</script>
