<script type="text/javascript">

  /*
   *
   *DATNT NOTE:
   *
   *All the CRUD of Admin/setnotifies will be organized as 1 screen ,
   *Screen 1 == View all, and a button AddNew which is clicked will open a dialog to Add new, --> re-update the table by using ajax
   *If user select a Row, and click on button Edit, there will be a dialog for user to edit a setting --> reupdate the table by using ajax
   *If user selcts a Row, and click on button Delete, there will be a confirm alert to delete this row --> reupdate the table by using ajax
   *
   *
   *
   *
   *0> Edit screen> will create button call ajax, submit async to server,
   *controller will receive the data of input
   *checkboxes (SMS, EMAIL) status and store to database
   *store the data to table: notifications
   *
   *1 > View All screen: > Another thing need to do is:
   *list all the current notification to the gui
   *
   *1.a> View All screen: also have the button for Edit, Delete
   *1.b> User select a
   */
</script>

<div style="display: inline;border: 2px solid green;" id="add">Add</div>
<div style="display: inline;border: 2px solid yellow;" id="edit">Edit</div>
<div style="display: inline;border: 2px solid black;" id="delete">Delete</div>

<div id="addnew_dialog" title="Add New">HELLO WORLD</div>
<%=  link_to("Report Abuse", "#{addnew_admin_setnotifies_path}?height=300&width=680", :class => "thickbox", :title => "Add New") %>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Notify Type</th>
    <th>SMS</th>
    <th>Email</th>
  </tr>
  <% @notifications.each do |ntfobj| %>

    <tr id="tr_<%= ntfobj.id %>">
      <td><%= ntfobj.name %></td>
      <td><%= ntfobj.notify_type %></td>
      <td><%= check_box_tag("smsarr[]", ntfobj.id, checked = ntfobj.sms_allow, :disabled => true ) %>  </td>
      <td><%= check_box_tag("emailarr[]", ntfobj.id, checked = ntfobj.email_allow, :disabled => true  )%> </td>
    </tr>


  <% end %>

</table>

<script type="text/javascript">
  var selectedTR;
  $(document).ready(function(){
    $('#add').click(function(){
      AddNotifyAjax();
    });

    $('tr:gt(1)').click(function(){

      if (selectedTR!= undefined){
        selectedTR.css('border','1px solid black');
      }
      
      selectedTR = $(this);
      $(this).css('border','3px solid red');

      $('#edit').click(function(){
        alert('edit this row');
      });
      $('#delete').click(function(){
        alert('delete this row')
      });

    });


    function AddNotifyAjax(){
      $.ajax({
        url: '/admin/setnotifies/addnew',
        type: 'GET',
        dataType: 'html',
        data: 'comment_id=',
        success: function(html){
          //$('#addnew_dialog').html(html);
          
          $('#addnew_dialog').dialog({
            modal: true,
            buttons: {
              Ok: function() {
                alert('save add new');
              },
              Cancel: function() {
                alert('do not save');
              }
            }
          });
        },
        failure: function(err){
          alert('call ajax failed');
        }
      });

    }
  });
</script>