HELLO wOLD:: <%= @notify_message %><BR/>
HELLO wOLD:: <%= @notify_message %><BR/>
HELLO wOLD:: <%= @notify_message %><BR/>
HELLO wOLD:: <%= @notify_message %><BR/>
HELLO wOLD:: <%= @notify_message %><BR/>
HELLO wOLD:: <%= @notify_message %><BR/>
HELLO wOLD:: <%= @notify_message %><BR/>
HELLO wOLD:: <%= @notify_message %><BR/>
HELLO wOLD:: <%= @notify_message %><BR/>
HELLO wOLD:: <%= @notify_message %><BR/>
HELLO wOLD:: <%= @notify_message %><BR/>
HELLO wOLD:: <%= @notify_message %><BR/>
HELLO wOLD:: <%= @notify_message %><BR/>

<div style="display: inline;border: 2px solid green;" id="add">Add
  <%= link_to "Add New", addnew_admin_setnotifies_path %>
</div>
<div style="display: inline;border: 2px solid yellow;" id="edit">Edit</div>
<div style="display: inline;border: 2px solid black;" id="delete">Delete</div>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Notify Type</th>
    <th>SMS</th>
    <th>Email</th>
  </tr>
  <% @notifications.each do |ntfobj| %>

    <tr id="tr_<%= ntfobj.id %>">
      <td><%= ntfobj.name %></td>
      <td><%= ntfobj.notify_type %></td>
      <td><%= check_box_tag("smsarr[]", ntfobj.id, checked = ntfobj.sms_allow, :disabled => true ) %>  </td>
      <td><%= check_box_tag("emailarr[]", ntfobj.id, checked = ntfobj.email_allow, :disabled => true  )%> </td>
    </tr>


  <% end %>

</table>

<script type="text/javascript">
  var selectedTR;
  var deleteURL = '<%= delete_admin_setnotifies_path %>';
  $(document).ready(function(){

    $('tr:gt(1)').click(function(){

      var selectedID = $(this).find('td:eq(2)>input').attr('value');


      if (selectedTR!= undefined){
        selectedTR.css('border','1px solid black');
      }
      
      selectedTR = $(this);
      $(this).css('border','3px solid red');

      $('#edit').unbind('click');
      $('#edit').click(function(){
          window.location = '<%= edit_admin_setnotifies_url %>?selectedID='+selectedID;
      });
      $('#delete').unbind('click');
      $('#delete').click(function(){
        var answer = confirm ("Are you sure to delete this notification?")
        if (answer){
          window.location = '<%= delete_admin_setnotifies_url %>?selectedID='+selectedID;
        }

      });

    });


  });
</script>