<div id="content-outer">
  <div id="content">
    <!-- start content -->
    <!--  start page-heading -->

    <div id="page-heading"><h1>NOTIFICATION</h1></div>
    <!-- end page-heading -->
    <table cellspacing="0" cellpadding="0" border="0" width="100%" id="content-table">
      <tbody><tr>
          <th class="sized" rowspan="3"><img width="20" height="300" alt="" src="/images/admin/shared/side_shadowleft.jpg"/></th>
          <th class="topleft"></th>
          <td id="tbl-border-top">&nbsp;</td>
          <th class="topright"></th>
          <th class="sized" rowspan="3"><img width="20" height="300" alt="" src="/images/admin/shared/side_shadowright.jpg"/></th>
        </tr>
        <tr>
          <td id="tbl-border-left"></td>
          <td>
            <!--  start content-table-inner -->
            <div id="content-table-inner">
              <!--  start table-content  -->
              <div id="table-content">
                <!--  start product-table -->
                <form action="" id="mainform">
                  <table cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tbody><tr valign="top">
                        <td>
                          <table cellspacing="0" cellpadding="0" border="0" width="100%" id="product-table-user">
                            <tbody><tr>
                                <th class="table-header-repeat line-left minwidth-1"><a href="">Name</a></th>
                                <th class="table-header-repeat line-left minwidth-1"><a href="">Notify Type</a></th>
                                <th class="table-header-options line-left"><a href="">SMS</a></th>
                                <th class="table-header-options line-left"><a href="">Email</a></th>
                              </tr>




                              <%#*<tr class="alternate-row">%>
                                <%#*<td></td>%>
                                <%#*<td>Take Action Now</td>%>
                                <%#*<td class="options-width">%>
                                  <%#*<a></a><a class="icon-5 info-tooltip" href=""></a>%>
                                  <%#*<a></a><a class="icon-1 info-tooltip" href=""></a>%>
                                  <%#*<a></a><a rel="nofollow" data-method="delete" data-confirm="Are you sure?" class="icon-2 info-tooltip" href="/awareness_types/1"></a>%>
                                <%#*</td>%>
                                <%#*<td></td>%>
                              <%#*</tr>%>


  <% @notifications.each do |ntfobj| %>

    <tr id="tr_<%= ntfobj.id %>" class="alternate-row">
      <td><%= ntfobj.name %></td>
      <td><%= ntfobj.notify_type %></td>
      <td><%= check_box_tag("smsarr[]", ntfobj.id, checked = ntfobj.sms_allow, :disabled => true ) %>  </td>
      <td><%= check_box_tag("emailarr[]", ntfobj.id, checked = ntfobj.email_allow, :disabled => true  )%> </td>
    </tr>


  <% end %>





















                            </tbody></table>
                        </td>
                        <td>
                          <div id="related-activities">
                            <!--  start related-act-top -->
                            <div id="related-act-top">
                              <img width="271" height="43" alt="" src="/images/admin/forms/header_noti_new.gif"/>
                            </div>
                            <!-- end related-act-top -->
                            <!--  start related-act-bottom -->
                            <div id="related-act-bottom">
                              <!--  start related-act-inner -->
                              <div id="related-act-inner">
                                <div class="left"><a href=""><img width="21" height="21" alt="" src="/images/admin/forms/icon_plus.gif"></a></div>
                                <div class="right">
                                  <h5><a href="">New Notification</a></h5>
                                </div>
                                <div class="clear"></div>
                              </div>
                              <!-- end related-act-inner -->
                              <div class="clear"></div>
                            </div>
                            <!-- end related-act-bottom -->









                          </div>
                        </td>
                      </tr>
                    </tbody></table>
                  <!--  end product-table -->
                </form>
              </div>
              <!--  end content-table  -->
              <!--  start actions-box -->

              <!-- end actions-box -->
              <!--  start paging -->
              <!--  end paging-->
              <div class="clear"></div>
            </div>
            <!--  end content-table-inner END  -->
          </td>
          <td id="tbl-border-right"></td>
        </tr>
        <tr>
          <th class="sized bottomleft"></th>
          <td id="tbl-border-bottom">&nbsp;</td>
          <th class="sized bottomright"></th>
        </tr>
      </tbody></table>
    <!--  end content -->
    <!--  end content-outer END -->


    <!--  end content -->
  </div>
</div>



































































<div style="display: inline;border: 2px solid green;" id="add">Add
  <%= link_to "Add New", addnew_admin_setnotifies_path %>
</div>
<div style="display: inline;border: 2px solid yellow;" id="edit">Edit</div>
<div style="display: inline;border: 2px solid black;" id="delete">Delete</div>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Notify Type</th>
    <th>SMS</th>
    <th>Email</th>
  </tr>
  <% @notifications.each do |ntfobj| %>

    <tr id="tr_<%= ntfobj.id %>">
      <td><%= ntfobj.name %></td>
      <td><%= ntfobj.notify_type %></td>
      <td><%= check_box_tag("smsarr[]", ntfobj.id, checked = ntfobj.sms_allow, :disabled => true ) %>  </td>
      <td><%= check_box_tag("emailarr[]", ntfobj.id, checked = ntfobj.email_allow, :disabled => true  )%> </td>
    </tr>


  <% end %>

</table>

<script type="text/javascript">
  /*
  var selectedTR;
  <%#*var deleteURL = '<%= delete_admin_setnotifies_path %>';%>
  $(document).ready(function(){

    $('tr:gt(1)').click(function(){

      var selectedID = $(this).find('td:eq(2)>input').attr('value');


      if (selectedTR!= undefined){
        selectedTR.css('border','1px solid black');
      }
      
      selectedTR = $(this);
      $(this).css('border','3px solid red');

      $('#edit').unbind('click');
      $('#edit').click(function(){
        <%#*window.location = '<%= edit_admin_setnotifies_url %>?selectedID='+selectedID;%>
      });
      $('#delete').unbind('click');
      $('#delete').click(function(){
        var answer = confirm ("Are you sure to delete this notification?")
        if (answer){
          <%#*window.location = '<%= delete_admin_setnotifies_url %>?selectedID='+selectedID;%>
        }

      });

    });


  });
  */
</script>