<table cellspacing="0" cellpadding="0" border="0" id="id-form">
  <tr>
    <th valign="top">Country*:</th>
    <td>
      <%= select_tag "state[country_id]", options_from_collection_for_select(@countries, "id", "name", @country), :id => "state_country_id", :style => "width: 198px" %>
      <%= observe_field "state_country_id", :url => { :action => :state_or_city ,
        :controller => :schools},
        :update => "state_city",
        :with => "'country_id='+ escape($('#state_country_id').val())" %>
    </td>
  </tr>
  <tr>
    <th valign="top">State*:</th>
    <td>
      <%= select_tag "city[state_id]", options_from_collection_for_select(@states, "id", "name", @state), :id => "city_state_id", :style => "width: 198px" %>
      <%= observe_field "city_state_id", :url => { :action => :city ,
        :controller => :schools},
        :update => "state_city",
        :with => "'state_id='+ escape($('#city_state_id').val())" %>
    </td>
  </tr>
  <tr>
    <th valign="top">City*:</th>
    <td>
      <%= select_tag "school[city_id]", options_from_collection_for_select(@cities, "id", "name", @city), :style => "width: 198px" %>
    </td>
  </tr>
</table>
