<tr>
  <th valign="top">Country<%= "*" if action_name == "new" || action_name == "edit" %></th>
  <td class="inp-form">
    <%= text_field_tag 'country_name', "#{country_name}", :class => "required tb_arrow", :readonly => "readonly" %>
    <div id="country_div" class="menu_select" style="display:none;">
      <ul>
        <% for country in countries %>
          <li>
            <%= radio_button "state", "country_id", country.id, :onChange => "loadState(this.value)", :onClick => "getCountry('#{country.printable_name}')" %>
            <label onClick="getCountry(this.innerHTML)" for="state_country_id_<%= country.id %>"><%= country.printable_name %></label>
          </li>
        <% end %>
      </ul>
    </div>
  </td>
</tr>
<tr>
  <th valign="top">State<%= "*" if action_name == "new" || action_name == "edit" %></th>
  <td class="inp-form">
    <%= text_field_tag 'state_name', "#{state_name}", :class => "required tb_arrow", :readonly => "readonly" %>
    <div id="state_div" class="menu_select" style="display:none;">
      <ul>
        <% if states %>
          <% for state in states %>
            <li>
              <%= radio_button "city", "state_id", state.id, :onChange => "loadCity(this.value)", :onClick => "getState('#{state.name}')" %>
              <label onClick="getState(this.innerHTML)" for="city_state_id_<%= state.id %>"><%= state.name %></label>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </td>  
</tr>
<tr>
  <th valign="top">City<%= "*" if action_name == "new" || action_name == "edit" %></th>
  <td class="inp-form">
    <%= text_field_tag 'city_name', "#{city_name}", :class => "required tb_arrow", :readonly => "readonly" %>
    <div id="city_div" class="menu_select" style="display:none;">
      <ul>
        <% if cities %>
          <% for city_item in cities %>
            <li>
              <%= radio_button "school", "city_id", city_item.id, :onClick => "getCity('#{city_item.name}')" %>
              <label onClick="getCity('<%= city_item.name %>')" for="school_city_id_<%= city_item.id %>"><%= city_item.name %></label>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </td>

</tr>
<script language="javascript">
    function getCountry(country_select){
        $('country_name').value = country_select;
    }
    function getState(state_select){
        $('state_name').value = state_select;
    }
    function getCity(city_select){
        $('city_name').value = city_select;
    }
    function loadState(country_id){
        div_update = "state_div";
        new Ajax.Updater(div_update, '/schools/state_or_city',
        {asynchronous:true,
            evalScripts:true,
            method:'get',
            on500:function(request){alert('Sorry, there was an error.'.l); return false},
            parameters:{country_id:country_id}}
    );
    }
    function loadCity(state_id){
        div_update = "city_div";
        new Ajax.Updater(div_update, '/schools/city',
        {asynchronous:true,
            evalScripts:true,
            method:'get',
            on500:function(request){alert('Sorry, there was an error.'.l); return false},
            parameters:{state_id:state_id}}
    );
    }
    new Tip('country_name', $('country_div'), {
        width: 'auto',
        title: 'Select Country',
        showOn: 'click',
        hideOthers: true,
        hideOn: { element: 'closeButton', event: 'click'},
        hook: { target: 'bottomLeft', tip: 'topLeft' },
        offset: {x:0, y:0} });

    new Tip('state_name', $('state_div'), {
        width: 'auto',
        title: 'Select State',
        showOn: 'click',
        hideOthers: true,
        hideOn: { element: 'closeButton', event: 'click'},
        hook: { target: 'bottomLeft', tip: 'topLeft' },
        offset: {x:0, y:0} });

    new Tip('city_name', $('city_div'), {
        width: 'auto',
        title: 'Select City',
        showOn: 'click',
        hideOthers: true,
        hideOn: { element: 'closeButton', event: 'click'},
        hook: { target: 'bottomLeft', tip: 'topLeft' },
        offset: {x:0, y:0} });
</script>
