<table cellspacing="0" cellpadding="0" border="0" id="id-form">
  <tr>
    <th valign="top">Country*:</th>
    <td>
      <%= select_tag "state[country_id]", options_from_collection_for_select(@countries, "id", "name", @country.id), :id => "state_country_id", :style => "width: 198px" %>
    </td>
  </tr>
  <tr>
    <th valign="top">State*:</th>
    <td>
      <%= select_tag "city[state_id]", options_from_collection_for_select(@states, "id", "name", @state.id), :id => "city_state_id", :style => "width: 198px" %>
    
    </td>
  </tr>
  <tr>
    <th valign="top">City*:</th>
    <td>
      <%= select_tag "school[city_id]", options_from_collection_for_select(@cities, "id", "name", @city), :style => "width: 198px" %>
    </td>
  </tr>
</table>
<script>
  // Append the function to the "document ready" chain
  jQuery(function($) {
    // when the #search field changes
    $("#state_country_id").change(function() {
      // make a POST call and replace the content
      $.post(<%= "'#{state_or_city_schools_path}?country_id=' + escape($('#state_country_id').val())" %>, function(data) {
        $("#state_city").html(data);
      });
    });
    // when the #search field changes
    $("#city_state_id").change(function() {
      // make a POST call and replace the content
      $.post(<%= "'#{city_schools_path}?state_id=' + escape($('#city_state_id').val())" %>, function(data) {
        $("#state_city").html(data);
      });
    });
  })

</script>