<div id="page-heading"><h1>New School</h1></div>
<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
  <tr>
    <th rowspan="3" class="sized"><img src="/images/admin/shared/side_shadowleft.jpg" width="20" height="100" alt="" /></th>
    <th class="topleft"></th>
    <td id="tbl-border-top">&nbsp;</td>
    <th class="topright"></th>
    <th rowspan="3" class="sized"><img src="/images/admin/shared/side_shadowright.jpg" width="20" height="100" alt="" /></th>
  </tr>
  <tr>
    <td id="tbl-border-left"></td>
    <td>
      <!--  start content-table-inner -->
      <div id="content-table-inner">
        <table cellspacing="0" cellpadding="0" border="0" id="id-form">
          <% content_for :header do -%>
            <%= link_to 'Schools', schools_path %>
          <% end -%>
          <% form_for(@school, :html => {:id => "form"}) do |f| %>
            <tr>
              <%= render :partial => "select_city", :locals => {:countries => @countries, :states => nil, :cities => nil, :country_name => nil, :state_name => nil, :city_name => nil, :action_name => "new"} %>
            </tr>
            <tr>
              <th valign="top">School Name:</th>
              <td class="inp-form"><%= f.text_field :name, :class => "required" %></td>

            </tr>
            <tr>
              <th valign="top">Type:</th>
              <td>
                <%= radio_button "school", "type_school", "University" %> University
                <%= radio_button "school", "type_school", "College" %> College
              </td>
            </tr>
            <tr>
              <%= render :partial => "department", :locals => {:department_name => @department_name, :department_categories => @department_categories, :check => true} %>
              <td class="form-buttom"><a href="javascript:;" onclick="submit();">Create</a></td>
              <td class="error-innerr"></td>
            </tr>
          <% end %>
          <tr>
            <th>&nbsp;</th>
            <td valign="top">
              
              <%= link_to 'Back', schools_path, :class => 'form-back' %>
            </td>
          </tr>
        </table>
      </div>
      <!--  end content-table-inner  -->
    </td>
    <td id="tbl-border-right"></td>
  </tr>
  <tr>
    <th class="sized bottomleft"></th>
    <td id="tbl-border-bottom">&nbsp;</td>
    <th class="sized bottomright"></th>
  </tr>
</table>
<!--  end content -->

<!--  end content-outer -->

<script type="text/javascript">
    function submit(){
        $("#form").submit();
    }
    $(document).ready(function(){
        $("#form").validate({

            errorLabelContainer: ".error-innerr"

        })
    });
</script>

