<% content_for :header do -%>
  <%= link_to 'Schools', schools_path %>
<% end -%>

<p>
  <b>Name:</b>
  <%=h @school.name %>
</p>

<p>
  <b>City:</b>
  <%=h @school.city.full_address_city %>
</p>

<p>
  <b>Type:</b>
  <%=h @school.type_school %>
</p>


<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
