<div class="col300 requestHous">
  <div class="col300in">
    <h1 class="col300Title">Requests House/Apt/Room</h1>
    <div class="col300Cont">
      <%= form_for :post_housing, :url => {:action => "create"}, :html =>{:multipart => true, :id => "form_post"} do |f| %>
        <%
        housing_category = HousingCategory.find_by_label("i_need_a_place")
      %>
        <%= hidden_field_tag("post_housing[housing_category_ids][]", housing_category.id) if housing_category %>
        <%= fields_for :post do |p| %>
          <%= render :partial => "/shared/form_request_post/select_department", :locals => {:p => p} %>
          <%= render :partial => "/shared/form_request_post/select_school_year", :locals => {:p => p} %>
          <%= render :partial => "/shared/form_request_post/title", :locals => {:p => p} %>
          <%= render :partial => "/shared/form_request_post/description", :locals => {:p => p} %>
          <div class="reqSl">
            <div class="req40">
              <div class="reqLa"><label>Phone</label></div>
              <div class="reqTi"><%= f.text_field :phone %></div>
            </div>
            <div class="req60">
              <div class="reqLa"><label>Address</label></div>
              <div class="reqTi"><%= f.text_field :address %></div>
            </div>
          </div>
          <%= render :partial => "/shared/form_request_post/file", :locals => {:p => p} %>
          <%= render :partial => "/shared/form_request_post/select_tag" %>
          <div class="submit"><%= show_submit_form() %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
