<% fields_for @post_housing.post do |post| %>
  <%= display_flash_messages %>
  <div class="postReq">*(asterisk) is required.</div>
  <div class="postItemDep">
    <div class="postTit">Type</div>
    <div>
      <%= select_tag("post_housing[housing_category_ids][]", options_for_select(HousingCategory.find(:all).collect {|p| [ p.name, p.id ] }, @post_housing.housing_categories), { :include_blank => "Select Type", :multiple => true, :id => "housing_category", :style => "width:340px" }) %>
    </div>
  </div>
  <div class="postItem">
    <div class="postTit">Title*</div>
    <div class="postInp"><%= post.text_field :title, :class => 'required', :style => "width:360px;" %></div>
  </div>
  <div class="postItem">
    <div class="postTit">Description*</div>
    <div class="postInput">
      <div class="postDesInf" id="post_description_counter"><span>0</span> characters (900 max)</div>
      <div class="postInp"><%= post.text_area :description, :class => 'required' %></div>
    </div>
  </div>
  <div class="postItem">
    <div class="postTit">School</div>
    <div class="postInp">Your are at <strong><%= School.find(@school).name %></strong> - <%= link_to("Click here", "/users_select_school/show?height=170", :class => "thickbox", :title => "Select Schoools") %> to choose another school.</div>
  </div>
  <div class="postItem">
    <div class="postTit">Email</div>
    <div class="postRad">
      <div><%= radio_button "post", "use_this_email", true, :checked => @post_housing.post.use_this_email %> Use my login email instead</div>
      <div><%= radio_button "post", "use_this_email", false, :checked => !@post_housing.post.use_this_email %> Reply to [post category] - xxxxxx@afterclassroom.com (AC anonymizes your ..)</div>
    </div>
  </div>
  <div class="postItem">
    <div class="postTit">Phone</div>
    <div class="postInp"><%= f.text_field :phone, :style => "width:208px" %></div>
  </div>
  <div class="postItem">
    <div class="postTit">Address</div>
    <div class="postInp"><%= f.text_field :address, :style => "width:208px" %></div>
  </div>
  <div class="postItem">
    <div class="postTit">Add/Edit File</div>
    <div id="divinputfile">
      <%= post.file_field :attach, :onchange => "$('#fakefilepc').val(this.value);", :size => "39", :class => "filepc" %>
      <div id="fakeinputfile"><input name="fakefilepc" type="text" id="fakefilepc" /></div>
    </div>
  </div>
  <div class="postItem">
    <div class="postTit">Tag</div>
    <div class="postInp"><%= text_field_tag "tag", "", :style => "width:280px" %></div>
  </div>
<% end %>

<ul id="housing_category_menu" class="mcdropdown_menu">
  <% JobType.find(:all).each do |t| %>
    <li rel_housing_category="<%= t.id %>">
      <%= t.name %>
    </li>
  <% end %>
</ul>

<script type="text/javascript">
  // 'Select All' text changed
  $("#housing_category").multiSelect({ selectAllText: 'Select All' });
  $("#post_description").counter({
    count: 'up',
    goal: 900
  });
  $(function() {
    $("#post_housing_due_date").datepicker();
  });
  function submit(){
    var result = $("#form_post").validate();
    if (result) {
      $("#form_post").submit();
    }
  }
   var tags = <%= array_or_string_for_javascript(@tags) %>;
  $(function () {
    $('#tag').tagSuggest ( {
      tags: tags,
      separator: ', '
    });
  }) ;

</script>