<% content_for :search do -%>
  <%= render :partial => 'shared/search_posts', :locals => {:search_name => @search_name, :type_name => "Housing", :new_post_path => "/post_housings/new", :search_post_path => "/post_housings"} %>
<% end -%>

<% content_for :select_your_school do -%>
  <div id="target_select_school">
    <span>&nbsp;</span>
  </div>
<% end -%>

<% content_for :sidebar do -%>
  <div id="post_guide_r">
    <h3>About Posting</h3>
    <p>
      Upload would take any where from 1 to 5 minutes.
      It depends on your internet connections.
    </p>
  </div>
<% end -%>
<!--Content-->
<div id="posting-section"><!-- posting-section-->
<h3 class="post_header">Posting to the world</h3>
<% form_for(@post_housing, :html => {:id => "form", :name => "form", :multipart => true }) do |f| %>
  <% fields_for @post_housing.post do |post| %>
    <ul>
      <li>
        <%= render :partial => "posts/post_category", :locals => {:post_categories => @post_categories, :post_category_name => @post_category_name} %>
      </li>
      <li>
        <label>Choose Category*</label>
        <div class="user_ri">
          <%= text_field_tag 'housing_category_name', '', :class => "required tb_arrow" %>
          <div id="select_housing_category_div" class="menu_select" style="display:none;">
            <ul>
              <% for housing_category in @housing_categories %>
                <li>
                  <%= check_box_tag("post_housing[housing_category_ids][]",
                    housing_category.id,
                    @post_housing.housing_categories.include?(housing_category), :id => "post_housing_housing_categories_id_#{housing_category.id}", :title => "#{housing_category.name}", :onclick => "getHousingType()") %>
                  <label onClick="getHousingType()" for="post_housing_housing_categories_id_<%= housing_category.id %>"><%= housing_category.name %></label>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </li>

      <li><label>Rent*</label>
        <div class="user_ri">
          <%= f.text_field :rent %><%= select_tag 'post_housing[currency]', options_for_select(@currency, @post_housing.currency), {:id => 'post_housing_currency'} %>
      </div></li>
      <li><label>Title*</label>
        <div class="user_ri"><%= post.text_field :title, :class => "required", :style=>"width:450px" %>
      </div></li>
      <li><label>Description*</label>
        <div class="user_ri">
          <font color=#666666>(900 characters max.) <strong><span id="count_post_description" >900</span></strong> remaining</font>
      <%= post.text_area :description, :rows => 10, :cols => 70, :class => "required", :onkeypress => "return LimitThis('post_description')", :onkeyup => "return CountThis('post_description', 'count_post_description')", :onmouseover => "return CountThis('post_description', 'count_post_description')", :wrap => "physical", :maxLength => "900"%></div></li>
      <%= select_your_school("post", "posts/select_school", {"target" => "bottomLeft", "tip" => "topLeft"}) %>
      <li><label>Email*</label>
      <div class="user_ri"><%= post.text_field :email, :class => "required validate-email" %></div></li>
      <li><label></label><%= radio_button "post", "use_this_email", true %> Use this email address.</li>
      <li><label></label><%= radio_button "post", "use_this_email", false, :checked => true %> Reply to (post category) - xxx@afterclassroom.com.</li>
      <li><label>Telephone</label>
      <div class="user_ri"><%= post.text_field :telephone %></div></li>
      <li>
        <ul>
          <li>
            <label>Street</label>
            <div class="user_ri">
              <%= f.text_field :street %>
            </div>
          </li>
          <li><label>Intersection</label>
            <div class="user_ri">
              <%= f.text_field :intersection %>
            </div>
          </li>
        </ul>
      </li>
      <li><label>City</label>
      <div class="user_ri"><%= f.text_field :city %></div></li>
      <li><label>State</label>
      <div class="user_ri"><%= f.text_field :state %></div></li>
      <%= render :partial => "posts/choose_options", :locals => {:f => post } %>
      <li>
        <div class="post_cbt">
          <!-- post  button -->
          <a href="javascript:submit()" title="Post" class="link_bt">
            <span class="ltred_l"></span>
            <span class="ltred_c btf">Post Housing</span>
            <span class="ltred_r"></span>
          </a>
          <!-- end post button -->
        </div>
      </li>
      <li>
        <label><div class="user_ri">(* indicates required field)</div></label>
      </li>
    </ul>
    <div id="elements_store"></div>
    </div><!-- end posting-section-->
  <% end %>
<% end %>
<!--Content-->
<script type="text/javascript">
  var valid = new Validation('form', {immediate : true, onSubmit:false});
  function submit(){
    var result = valid.validate();
    if (result) {
      Tips.hideAll();
      $$('.prototip').each(function(element){
        $('elements_store').insert(element, { position: content });
      });
      $('form').submit();
    }
  }
  function getHousingType(){
    $('housing_category_name').value = get_check_value();
    if ($('advice-required-housing_category_name'))
      $('advice-required-housing_category_name').hide();
  }
  new Tip('housing_category_name', $('select_housing_category_div'), {
    width: 'auto',
    title: 'Select Housing Category',
    showOn: 'click',
    hideOthers: true,
    hideOn: { element: 'closeButton', event: 'click'},
    hook: { target: 'bottomLeft', tip: 'topLeft' },
    offset: {x:0, y:0} });
  function get_check_value()
  {
    var f = $$('input[name="post_housing[housing_category_ids][]"]');
    var s = '';
    for(var i=0; i<f.length; i++){
      if (f[i].checked)
        s += f[i].readAttribute("title") + ', ';
    }
    return s;
  }
</script>

<script language = "Javascript">
  function LimitThis(object_id) {
    if ($(object_id).value.length == $(object_id).readAttribute("maxLength")*1) return false;
  }

  function CountThis(object_id, visCnt) {
    if ($(object_id).value.length>$(object_id).readAttribute("maxLength")*1) $(object_id).value = $(object_id).value.substring(0,$(object_id).readAttribute("maxLength")*1);
    if ($(visCnt)) $(visCnt).update($(object_id).readAttribute("maxLength")-$(object_id).value.length);
  }
</script>
