<div class="contMainC">
  <div class="col195">
    <div class="col195in">
      <div class="stuItem inbox">
        <div class="stuItemL"><a href="#">Inbox</a></div>
        <div class="stuItemR"><%= current_user.received_messages.size %></div>
      </div>
      <div class="stuItem friend">
        <div class="stuItemL"><a href="#">Friends</a></div>
        <div class="stuItemR"><%= current_user.user_friends.size %></div>
      </div>
    </div>
  </div>

  <div class="col195">
    <div class="col195in">
      <div class="stuItem homew">
        <div class="stuItemL"><%= link_to "Homework", {:controller => post_assignments_path} %></div>
        <div class="stuItemR"><%= current_user.get_total_posts_with_type("PostAssignment") %></div>
      </div>
      <div class="stuItem tutor">
        <div class="stuItemL"><%= link_to "Tutors", {:controller => post_tutors_path} %></div>
        <div class="stuItemR"><%= current_user.get_total_posts_with_type("PostTutor") %></div>
      </div>
      <div class="stuItem jobs">
        <div class="stuItemL"><%= link_to "Jobs", {:controller => post_jobs_path} %></div>
        <div class="stuItemR"><%= current_user.get_total_posts_with_type("PostJob") %></div>
      </div>
      <div class="cmore">
        <a id="choosemore" href="#">Choose More...</a>
      </div>
      <div id="moreinner">
        <div class="stuItem jobs">
          <div class="stuItemL" style="background-image:url('/images/footer_menu/qas-1.png');"><%= link_to "Q.As", {:controller => post_qas_path} %></div>
          <div class="stuItemR"><%= current_user.get_total_posts_with_type("PostQa") %></div>
        </div>
        <div class="stuItem jobs">
          <div class="stuItemL" style="background-image:url('/images/footer_menu/books-1.png');"><%= link_to "Books", {:controller => post_books_path} %></div>
          <div class="stuItemR"><%= current_user.get_total_posts_with_type("PostBook") %></div>
        </div>
        <div class="stuItem jobs">
          <div class="stuItemL" style="background-image:url('/images/footer_menu/foods-1.png');"><%= link_to "Food", {:controller => post_foods_path} %></div>
          <div class="stuItemR"><%= current_user.get_total_posts_with_type("PostFood") %></div>
        </div
        <div class="stuItem jobs">
          <div class="stuItemL" style="background-image:url('/images/footer_menu/party-1.png');"><%= link_to "Party", {:controller => post_parties_path} %></div>
          <div class="stuItemR"><%= current_user.get_total_posts_with_type("PostParty") %></div>
        </div>
        <div class="stuItem jobs">
          <div class="stuItemL" style="background-image:url('/images/footer_menu/myx-1.png');"><%= link_to "Myx", {:controller => post_myxes_path} %></div>
          <div class="stuItemR"><%= current_user.get_total_posts_with_type("PostMyx") %></div>
        </div>
        <div class="stuItem jobs">
          <div class="stuItemL" style="background-image:url('/images/footer_menu/student_awareness-1.png');"><%= link_to "Awareness", {:controller => post_awarenesses_path} %></div>
          <div class="stuItemR"><%= current_user.get_total_posts_with_type("PostAwareness") %></div>
        </div>
        <div class="stuItem jobs">
          <div class="stuItemL" style="background-image:url('/images/footer_menu/housing-1.png');"><%= link_to "Housing", {:controller => post_housings_path} %></div>
          <div class="stuItemR"><%= current_user.get_total_posts_with_type("PostHousing") %></div>
        </div>
        <div class="stuItem jobs">
          <div class="stuItemL" style="background-image:url('/images/footer_menu/teamUp-1.png');"><%= link_to "Teamup", {:controller => post_teamups_path} %></div>
          <div class="stuItemR"><%= current_user.get_total_posts_with_type("PostTeamup") %></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('#moreinner').toggle('slow');
    $('#choosemore').click(function(){
      $('#moreinner').toggle('slow');
      $('.cmore').html('');
    });
  });

</script>