<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => '/shared/submenu' %>
<% end -%>
<%= render :partial => "left_panel" %>

<div class="contMainL">
  <div class="col451 proCen" id="user_wall">
    <%= render :partial => "user_walls/wall_form_ajax" %>
    <div class="col451in">
      <div class="proCenCont">

        <%= render :partial => "stu_lounge_item", :locals => {:walls => @walls} %>

        <!--Pagination-->
        <div class="assPage">
          <span class="numPage"><%= page_entries_info @walls %></span>
          <%= will_paginate @walls %>
        </div>
        <!--Pagination-->
        <div class="goTop"><a href="javascript:;" onclick="goToByScroll('top_page')">Top</a></div>

      </div>
    </div>
  </div>
</div>
<%= render :partial => "right_panel" %>

