<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => 'submenu' %>
<% end -%>

<div class="contMainC">
  <%= render :partial => "friends_want_you_chat" %>
  <div id="div_friends_changed_their_message"></div>
</div>
<div class="contMainL">
  <div class="col451 proCen" id="user_wall">
    <%= render :partial => "user_walls/wall_form_ajax" %>
    <div class="col451in">
      <div class="proCenCont">
        <% @walls.each do |w| %>
          <%= render :partial => "user_walls/wall_item", :locals => {:wall => w} %>
        <% end %>
        <%= render :partial => "user_walls/alert" %>
        <!--Pagination-->
        <div class="assPage">
          <span class="numPage"><%= page_entries_info @walls %></span>
          <%= will_paginate @walls %>
        </div>
        <!--Pagination-->
        <div class="goTop"><a href="javascript:;" onclick="goToByScroll('top_page')">Top</a></div>
      </div>
    </div>
  </div>
</div>
<div class="contMainR">
  <%= render :partial => "friends_in_chatting" %>
  <div id="div_friends_you_invited_to_chat"></div>
  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->
</div>

<script>
<% if @user_invite_chat %>
    window.onload(invite_chat('<%= @user_invite_chat.id %>'));
<% end %>
  friends_changed_message();
  friends_you_invited_chat();
  friends_want_you_chat();
</script>