<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => '/shared/submenu' %>
<% end -%>

<div class="contMainC">
  <div class="col195 stuLLeft">
    <div class="col195in">
      <h1 class="col300Title">Friends wanted to chat with you</h1>
      <div id="div_friends_want_you_chat"></div>
    </div>
  </div>
  <div class="col195 stuLLeft">
    <div class="col195in">
      <h1 class="col300Title">Friends changed their message</h1>
      <div id="div_friends_changed_their_message"></div>
    </div>
  </div>
</div>
<div class="contMainL">
  <div class="col451 proCen" id="user_wall">
    <%= render :partial => "user_walls/wall_form_ajax" %>
    <div class="col451in">
      <div class="proCenCont">
        <% @walls.each do |w| %>
          <%= render :partial => "user_walls/wall_item", :locals => {:wall => w} %>
        <% end %>
        <%= render :partial => "user_walls/alert" %>
        <!--Pagination-->
        <div class="assPage">
          <span class="numPage"><%= page_entries_info @walls %></span>
          <%= will_paginate @walls %>
          <%= @walls.size.to_s %>
          <%= @walls.size.to_s %>
          <%= @walls.size.to_s %>
          <%= @walls.size.to_s %>
          <%= @walls.size.to_s %>
          <%= @walls.size.to_s %>
          <%= @walls.size.to_s %>
          <%= @walls.size.to_s %>
          <%= @walls.size.to_s %>
        </div>
        <!--Pagination-->
        <div class="goTop"><a href="javascript:;" onclick="goToByScroll('top_page')">Top</a></div>

            <div class="col451Cont">
              <div class="assItem">
                <div class="assItemL">
                  <div class="assImg"><div><a href="#"><img src="pictures/pic4.png"></a></div></div>
                  <div class="assContT">
                    <h2 class="titleH2"><a href="#">Physics (Lorem Ipsum Dolor sitamet)</a></h2>
                    <div class="assCate"><span>Category:</span><a href="#">Chat Category</a></div>
                    <div class="assCate"><span>From:</span><a href="#">University of California</a></div>
                  </div>
                  <div class="assDes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit varius bibendum. Phasellus porta dapibus magna, eu posuere dolor sollicitudin quis...</div>
                </div>
                <div class="asslinkdown">
                  <div class="morelink"><a href="#">Invite Chat</a></div>
                  <div class="down"><a href="#">Match Making</a></div>
                  <div class="like"><a href="#">I like you</a></div>
                  <div class="love"><a href="#">I love you</a></div>
                  <div class="hate"><a href="#">I hate you</a></div>
                </div>
                <div class="assItemB">
                  <div class="assPic"><a href="#"><div><img src="pictures/pic2.png"></div></a></div>
                  <div class="assInfT">
                    <div class="assInfT">
                      <div class="assInfL">
                        <div><span>Posted by:</span><a href="#">Vu Nguyen</a></div>
                        <div><span>Comments:</span><a href="#">23 Comments</a></div>
                      </div>
                      <div class="assInfR"><a href="#">more</a></div>
                    </div>
                    <div class="assInfB">
                      <div class="qashdU"><a href="#">20</a></div>
                      <div class="qashdD"><a href="#">4</a></div>
                      <div class="vie"><a href="#">View (20)</a></div>
                      <div class="share"><a href="#">Share</a></div>
                      <div class="com"><a href="#">Comments (10)</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>






































        
      </div>
    </div>
  </div>
</div>
<div class="contMainR">
  <%= render :partial => "friends_in_chatting" %>
  <div class="col300 stuL300">
    <div class="col300in">
      <h1 class="col300Title">Friends you invited to chat chit</h1>
      <div class="col300Cont">
        <div id="div_friends_you_invited_to_chat"></div>
      </div>
    </div>
  </div>
  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->
</div>

<script>
<% if @user_invite_chat %>
    window.onload(invite_chat('<%= @user_invite_chat.id %>'));
<% end %>
  friends_changed_message();
  friends_you_invited_chat();
  friends_want_you_chat();
</script>
