<div id="take_a_picture" style="display:none">
  <% form_for :photo, :html => {:id => "form_photo", :name => "form_photo", :multipart => true } do |f| %>
    <div class="photoEx">
      <div class="stoExItem">
        <div class="stoExItemL">Photo album</div>
        <div class="stoExItemR" id="select_photo_album">
          <%= f.select :photo_album_id, @photo_albums.collect {|p| [p.name, p.id]}, {}, {:style => "width:250px"} %>
        </div>
      </div>
      <div class="stoExItem">
        <div class="stoExItemL">Location</div>
        <div class="stoExItemR">
          <div class="phoExIn"><%= f.file_field :photo_attach, :class => "required" %></div>
        </div>
      </div>
      <div class="stoExItem">
        <div class="stoExItemL">Title</div>
        <div class="stoExItemR"><%= f.text_field :title %></div>
      </div>
      <div class="stoExItem">
        <div class="stoExItemL">Description</div>
        <div class="stoExItemR"><%= f.text_area :description %></div>
      </div>
      <div class="stoExItem">
        <div class="stoExItemL">Tag line</div>
        <div class="stoExItemR"><%= text_field_tag 'tag_list', "" %></div>
      </div>
      <div class="stoExBtm">
        <div class="stoExCre"><a href="javascript:;" onclick="$('#form_photo').submit();">Add picture</a></div>
        <div class="stoExCan"><a href="javascript:;" onclick="$('#take_a_picture').toggle('slow');">Cancel</a></div>
      </div>
    </div>
  <% end %>
</div>

<div id="swfupload-control">
  <p>Upload upto 5 image files(jpg, png, gif), each having maximum size of 1MB</p>
  <input type="button" id="button" />
  <p id="queuestatus" ></p>
  <ol id="log"></ol>
</div>

<script type="text/javascript">

  $(function(){
    $('#swfupload-control').swfupload({
      upload_url: "<%= user_photos_path(current_user) %>",
      file_size_limit : "<%= 3.megabytes %>",
      file_types : "*.jpg;*.png;*.gif",
      file_types_description : "Image files",
      file_upload_limit : 5,
      flash_url : "/flash/swfupload.swf",
      button_image_url : '/images/btmBro.jpg',
      button_width : 114,
      button_height : 29,
      button_placeholder : $('#button')[0],
      debug: false
    })
    .bind('fileQueued', function(event, file){
      var listitem='<li id="'+file.id+'" >'+
        'File: <em>'+file.name+'</em> ('+Math.round(file.size/1024)+' KB) <span class="progressvalue" ></span>'+
        '<div class="progressbar" ><div class="progress" ></div></div>'+
        '<p class="status" >Pending</p>'+
        '<span class="cancel" >&nbsp;</span>'+
        '</li>';
      $('#log').append(listitem);
      $('li#'+file.id+' .cancel').bind('click', function(){
        var swfu = $.swfupload.getInstance('#swfupload-control');
        swfu.cancelUpload(file.id);
        $('li#'+file.id).slideUp('fast');
      });
      // start the upload since it's queued
      $(this).swfupload('startUpload');
    })
    .bind('fileQueueError', function(event, file, errorCode, message){
      alert('Size of the file '+file.name+' is greater than limit');
    })
    .bind('fileDialogComplete', function(event, numFilesSelected, numFilesQueued){
      $('#queuestatus').text('Files Selected: '+numFilesSelected+' / Queued Files: '+numFilesQueued);
    })
    .bind('uploadStart', function(event, file){
      $('#log li#'+file.id).find('p.status').text('Uploading...');
      $('#log li#'+file.id).find('span.progressvalue').text('0%');
      $('#log li#'+file.id).find('span.cancel').hide();
    })
    .bind('uploadProgress', function(event, file, bytesLoaded){
      //Show Progress
      var percentage=Math.round((bytesLoaded/file.size)*100);
      $('#log li#'+file.id).find('div.progress').css('width', percentage+'%');
      $('#log li#'+file.id).find('span.progressvalue').text(percentage+'%');
    })
    .bind('uploadSuccess', function(event, file, serverData){
      var item=$('#log li#'+file.id);
      item.find('div.progress').css('width', '100%');
      item.find('span.progressvalue').text('100%');
      var pathtofile='<a href="uploads/'+file.name+'" target="_blank" >view &raquo;</a>';
      item.addClass('success').find('p.status').html('Done!!! | '+pathtofile);
    })
    .bind('uploadComplete', function(event, file){
      // upload has completed, try the next one in the queue
      $(this).swfupload('startUpload');
    })

  });

</script>