<div id="take_a_picture" style="display:none">
  <% form_for :photo, :html => {:id => "form_photo", :name => "form_photo", :multipart => true } do |f| %>
    <div class="photoEx">
      <div class="stoExItem">
        <div class="stoExItemL">Photo album</div>
        <div class="stoExItemR" id="select_photo_album">
          <%= f.select :photo_album_id, @photo_albums.collect {|p| [p.name, p.id]}, {}, {:style => "width:250px"} %>
        </div>
      </div>
      <div class="stoExItem">
        <div class="stoExItemL">Location</div>
         <div class="stoExItemR">
           <div class="phoExIn">
           <div>
        <span id="spanButtonPlaceHolder"></span>
      </div>


               </div>
         

        </div>
      </div>
      <div class="stoExItem">
        <div class="stoExItemL">Title</div>
        <div class="stoExItemR"><%= f.text_field :title %></div>
      </div>
      <div class="stoExItem">
        <div class="stoExItemL">Description</div>
        <div class="stoExItemR"><%= f.text_area :description %></div>
      </div>
      <div class="stoExItem">
        <div class="stoExItemL">Tag line</div>
        <div class="stoExItemR"><%= text_field_tag 'tag_list', "" %></div>
      </div>
      <div class="stoExBtm">
        <div class="stoExCre"><a href="javascript:;" onclick="$('#form_photo').submit();">Add picture</a></div>
        <div class="stoExCan"><a href="javascript:;" onclick="$('#take_a_picture').toggle('slow');">Cancel</a></div>
      </div>

    </div>

    <div>
      <div id="divStatus">0 Files Uploaded</div>
      <div>
        <span id="spanButtonPlaceHolder"></span>
      </div>
    </div>
    <div id="divFileProgressContainer" style="height: 75px;"></div>
    <div id="thumbnails"></div>

  <% end %>
</div>

<script type='text/javascript'>
  var swfu;

  window.onload = function () {
    swfu = new SWFUpload({
      upload_url : '<%= upload_photo_block_user_photos_path(current_user) -%>?_swfupload_demo_session=<%= u session.session_id %>',
      flash_url : '/flash/swfupload.swf',

			// Button settings
			button_image_url: "/images/TestImageNoText_65x29.png",	// Relative to the Flash file
			button_width: "65",
			button_height: "29",
			button_placeholder_id: "spanButtonPlaceHolder",
			button_text: '<span class="theFont">Hello</span>',
			button_text_style: ".theFont { font-size: 16; }",
			button_text_left_padding: 12,
			button_text_top_padding: 3,

      file_size_limit : '3 MB',
      file_types : "*.jpg;*.png;*.gif",
      file_types_description : "Image files",
      file_upload_limit : 5,
			custom_settings : {
				progressTarget : "fsUploadProgress"
			},

      file_queue_error_handler : fileQueueError,
      file_dialog_complete_handler : fileDialogComplete,
      upload_progress_handler : uploadProgress,
      upload_error_handler : uploadError,
      upload_success_handler : uploadSuccess,
      upload_complete_handler : uploadComplete,

			post_params : {
				authenticity_token : '<%= u form_authenticity_token -%>'
			},

      custom_settings : {
        upload_target : 'divFileProgressContainer'
      },

      debug: true

    });
  };
</script>

