<div id="take_a_picture" style="display:none">
  <% form_for :photo, :html => {:id => "form_photo", :name => "form_photo", :multipart => true } do |f| %>
    <div class="photoEx">
      <div class="stoExItem">
        <div class="stoExItemL">Photo album</div>
        <div class="stoExItemR" id="select_photo_album">
          <%= f.select :photo_album_id, @photo_albums.collect {|p| [p.name, p.id]}, {}, {:style => "width:250px"} %>
        </div>
      </div>
      <div class="stoExItem">
        <div class="stoExItemL">Location</div>
        <div class="stoExItemR">
          <div class="phoExIn">
            <div>
              <input type="text" style="width: 170px;" name="photo[photo_attach]" id="photo_photo_attach" class="required"/>
              <div class="spanButtonPlace">
                <span id="spanButtonPlaceHolder"></span>
              </div>
            </div>
            <div id="divStatus">0 Files Uploaded</div>
          </div>
        </div>
      </div>
      <div class="stoExItem">
        <div class="stoExItemL">Title</div>
        <div class="stoExItemR"><%= f.text_field :title %></div>
      </div>
      <div class="stoExItem">
        <div class="stoExItemL">Description</div>
        <div class="stoExItemR"><%= f.text_area :description %></div>
      </div>
      <div class="stoExItem">
        <div class="stoExItemL">Tag line</div>
        <div class="stoExItemR"><%= text_field_tag 'tag_list', "" %></div>
      </div>
      <div class="stoExBtm">
        <div class="stoExCre"><a href="javascript:;" onclick="$('#form_photo').submit();">Add picture</a></div>
        <div class="stoExCan"><a href="javascript:;" onclick="$('#take_a_picture').toggle('slow');">Cancel</a></div>
      </div>
    </div>

    <div id="divFileProgressContainer" style="height: 75px;"></div>
    <div id="thumbnails"></div>

  <% end %>
</div>
<%= swfupload_load(:upload_url => upload_photo_block_user_photos_path(current_user), :form_id => "form_photo", :debug => true) %>

