<!-- NOTE: this partial is shared with music-album -->

<li id="usr_<%= u.id %>">
  <div class="onThisL">
    <div class="AsDcomImg"><%= show_image_user_post(u) %></div>
    <input style="margin-left: 1px; display: none;" type="checkbox" value="<%= u.id %>" name="tag_checkbox[]" id="tagbox_<%= u.id %>"/>
  </div>
</li>
<script type="text/javascript">
  $(document).ready(function(){
    var current_ckbox = $('#tagbox_<%= u.id %>');
    
    $(current_ckbox).click(function(){
      if (  $(current_ckbox).is(":checked") == true  ){
        noOfRemove = noOfRemove + 1;
      }
      else{
        noOfRemove = noOfRemove - 1;
      }
      
      if (noOfRemove <= 0){
        $('#remove_btn').hide();
      }else {
        $('#remove_btn').show();
      }
    });
  });
</script>
