<!-- BEGIN: library for photo-tag -->
<link media="screen" type="text/css" href="/stylesheets/styles2.css" rel="stylesheet"/>
<script type="text/javascript" src="/javascripts/jquery.phototag.test.js"></script>
<!-- END: library for photo-tag -->       
<div class="AsDOr RePho">
  <div>
    <div id="img_id_loader" style="width: 110px;padding-left: 40px;">
      Loading tag info ... <img id="" style="height: 15px; margin-top: -1px; float: left;" title="Next" src="/images/ajax-loader-a.gif"/>
    </div>
  </div>
  <div id="container">
    <p style="text-align:center">
      <%= image_tag @photo.photo_attach.url(:medium), :class => "photoTag", :id => "img_to_tag" %>
    </p>
    <div id="tag_list_place" style="position: relative;text-align: left; margin-left: 33px; width: 495px;"></div>
    <%
    if controller.action_name == 'show'
    %>
      <div id="title_tag" style="text-align:center;"><%= @photo.title %></div>
    <% end %>
  </div>
</div>
<% if  @photo.user == current_user && @usrs_for_verify.size > 0 %>
  <div id="verify_label" style="color: #0A81C4;  margin-left: 37px;  padding: 10px 10px 0;">
    Verify users have been tagged 
    <a id="show_or_hide" href="javascript:;" style="margin-left: 8px; color: #0A81C4;">(Hide)</a>
    <a id="sel_desel_all" href="javascript:;" style="margin-left: 311px; color: #0A81C4;">Select all</a>
  </div>
  <% form_tag url_for(:controller => "photos", :action => "tag_decision"), :id => "form_tag_decision", :method => :post, :remote => false do %>
    <%= hidden_field_tag "decision_id" %>
    <%= hidden_field_tag "photo_id", @photo.id %>
    <div id="approve_panel" style="border: 1px solid #CECECE;display: block;margin-left: 48px;margin-top: 10px;overflow: hidden;width: 552px;">
      <% @usrs_for_verify.each do |user| %>
        <%= render :partial => "photos/item_user", :locals => {:user => user} %>

      <% end %>
    </div>
    <div class="stoDbtm" style="display:none;" id="btn_pannel">
      <div class="AsDContBtm" style="float:right; margin-right: 39px;">
        <span class="btmComment"><a href="javascript:;" id="accept_btn">Accept</a></span>
        <span class="btmComment"><a href="javascript:;" id="refuse_btn">Refuse</a></span>
      </div>
    </div>
  <% end %><!-- end form -->        

<% end %><!-- end if  -->
<%= render :partial => "photos/photo_action" %>
<div id="rate_pos" style="padding: 4px;width: 81px;float:left; margin-top: -40px; margin-left: 384px; height: 25px;background: url(/images/btm_hdug_hdd.png) no-repeat scroll 0 0 transparent;">
  <%= render :partial => "photo_albums/rating_action", :locals => {:post => @photo_album, :controller_name => "photo_albums"}%>
</div>
<%= show_post_comments(@photo) %>
<% form_tag url_for(:controller => "photos", :action => "comment_inform"), :id => "form_cmt_inf", :method => :post, :remote => true do %>
  <%= hidden_field_tag "comment_content" %>
  <%= hidden_field_tag "photo_id", @photo.id %>
<% end %><!-- end form Note: this form is used to send notification to tagged-users when new comment is added -->
<script type="text/javascript">

  var overallCount = 0;//this variable support for show/hide accept/refuse
  var noOfRemove=0;//this variable support for show/hide ckbox at tag-list
  var begintag = false;//this variable support for phototag

  
  $(document).ready(function(){
    $('#accept_btn').click(function(){
      $('#decision_id').val('ACCEPT');
      $("form#form_tag_decision").submit();
    });
    $('#refuse_btn').click(function(){
      $('#decision_id').val('REFUSE');
      $("form#form_tag_decision").submit();
    });
    $('#manage_btn').click(function(){
      $('input[id*=tagbox_]').each(function() {
        $(this).toggle();
      });
    });
    
    $('#remove_btn').click(function(){
      $('form#form_remove').submit();
    });
    /* BEGIN: handle send comment event to send email notification */
    var sendBtn = $('form#form_comment').find('a');
    sendBtn.bind('click',function(){
      var strContent = $('form#form_comment').find('#comment').val();
      $('form#form_cmt_inf').find('#comment_content').val(''+strContent);
      $('form#form_cmt_inf').submit();
    });
    /* END: handle send comment event to send email notification */


  });  
  function LoadTagHover(){
    $('#tag_list_place').find('li').each(function(){
      var usr_id=$(this).attr('id');    
      $(this).unbind();
      $(this).hover(
      function () {
        $('#photoTag-tag_'+usr_id).css('opacity','0.8');
        //BEGIN fix bug for ie8
        if ($.browser.msie && $.browser.version == "8.0"){
          $('#photoTag-tag_'+usr_id).find('.innerTag').css('filter','');
          $('#photoTag-tag_'+usr_id).find("a[id*='photoTag-delete_']").css('filter','');
        }
        //end fix bug for ie8
      }, 
      function () {
        $('#photoTag-tag_'+usr_id).css('opacity','0');
        //BEGIN fix bug for ie8
        if ($.browser.msie && $.browser.version == "8.0"){
          $('#photoTag-tag_'+usr_id).find('.innerTag').css('filter','alpha(opacity:1.0)');
          $('#photoTag-tag_'+usr_id).find("a[id*='photoTag-delete_']").css('filter','alpha(opacity:1.0)');
        }
        //end fix bug for ie8
      });        
    });

    //BEGIN: fix bug for ie8
    if ($.browser.msie && $.browser.version == "8.0"){
      //hidden all the tag
      $('.innerTag').each(function(){
        $(this).css('filter','alpha(opacity:0.0);');
      });
      //hide all the close icon
      $("a[id*='photoTag-delete_']").each(function(){
        $(this).css('filter','alpha(opacity:0.0)');
      });
      //whenver the TAG is hovered, display it again
      $('.photoTag-tag').each(function(){
        $(this).hover( 
        function(){
          $(this).find('.innerTag').css('filter','');
          $(this).find("a[id*='photoTag-delete_']").css('filter','');
        },
        function(){
          $(this).find('.innerTag').css('filter','alpha(opacity:1.0)');
          $(this).find("a[id*='photoTag-delete_']").css('filter','alpha(opacity:1.0)');
        }
      );//end hover
      });//end each


      //photoTag-tag
    }//end if
    //END: fix bug for ie8
    $(".photoTag-cpanell").css({
      'top':$('#container').height()
    });
  }//end function

  function TagByClick(e){
    if (begintag == true){
      $('a#photoTag-add_<%= @photo.id %>').click();

      var imageTop = $('#img_to_tag').offset().top;
      var imageLeft = $('#img_to_tag').offset().left;

      var imageWidth =  $('#img_to_tag').width();
      var imageHeight = $('#img_to_tag').height();

      var top = e.pageY - imageTop;
      var left = e.pageX - imageLeft;

      var tagBoxHeight = $('#photoTag-tag_temp').height();
      var tagBoxWidth = $('#photoTag-tag_temp').width();

      var formTop = top+tagBoxHeight+10;

      //BEGIN check, whether form is rendered outside the image
      if ( (e.pageY+tagBoxHeight) > (imageTop+imageHeight) ){
        top = imageHeight - tagBoxHeight-6;//6 is the DIV's border width
        formTop = top+tagBoxHeight+10;
      }
      if ( (e.pageX+tagBoxWidth) > (imageLeft+imageWidth) ){
        left = imageWidth - tagBoxWidth-6;//6 is the DIV's border width
      }
      //END check, whether form is rendered outside the image


      $('#tempTagBoxForm').css('left',left);
      $('#tempTagBoxForm').css('top',formTop);
      $('#photoTag-tag_temp').css('left',left);
      $('#photoTag-tag_temp').css('top',top);

      //set Done link to be in center of image

    }//end if 

  }
  
  //BEGIN: code for tag user
  var strrequesTagstUrl = "<%= phototag_user_photos_url(current_user) %>?photo_id=<%= @photo.id %>";
  var strdeleteTagsUrl = "<%= deletetag_user_photos_url(current_user) %>?photo_id=<%= @photo.id %>";
  var straddTagUrl = "<%= addtag_user_photos_url(current_user) %>?photo_id=<%= @photo.id %>";
  var strautocompleteUrl = "<%= usrdata_user_photos_url(current_user) %>?photo_id=<%= @photo.id %>";
  $(document).ready(function(){
    $('.photoTag').photoTag({
      requesTagstUrl: strrequesTagstUrl,
      deleteTagsUrl: strdeleteTagsUrl,
      addTagUrl: straddTagUrl,
      parametersForNewTag: {
        name: {
          parameterKey: 'name',
          isAutocomplete: true,
          autocompleteUrl: strautocompleteUrl,
          label: 'Name'
        }
      }
    });//end phototag


    $('#stop_tag').click(function(){
      $('#photoTag-add_<%= @photo.id %>').show();
      $('.photoTag-cpanell').show();
      $(this).hide();
      begintag = false;
      $('.inputCancel').click();
    });

    $('#img_to_tag').click(function(e){
      TagByClick(e);
    });//end image.click


  
  });//end document.ready

  $('#img_to_tag').load(function(){
    //fix the issue of google does not load image properly when hit f5
    var userAgent = navigator.userAgent.toLowerCase(); 
    $.browser.chrome = /chrome/.test(navigator.userAgent.toLowerCase());
    if($.browser.chrome){
      $('#photoTag-canvas_<%= @photo.id %>').height($('#img_to_tag').height()+25);
      $('#photoTag-canvas_<%= @photo.id %>').width($('#img_to_tag').width());
    }
  });

  //END: code for tag user
  //BEGIN: show/hide verify panel
  //approve_panel
  $(document).ready(function(){
    $('#show_or_hide').click(function(){
      if ( $(this).html() == '(Show)' ){
        $(this).html('(Hide)');
        $('#sel_desel_all').show();
      }else {
        $(this).html('(Show)');
        $('#sel_desel_all').hide();
      }
      $('#approve_panel').toggle();
    })


  });
  //END: show/hide verify panel
  //BEGIN: select all
  $(document).ready(function(){
    $('#sel_desel_all').click(function(){
      if ( $(this).html() == 'Select all' ){
        overallCount = $('#approve_panel').find('*[id*=checkbox_]').length;
        $(this).html('Deselect');
        $('#btn_pannel').show('slow');
        $('#approve_panel').find('*[id*=checkbox_]').each(function(){
          $(this).attr('checked','checked');
        });
      }else {
        overallCount = 0;
        $(this).html('Select all');
        $('#btn_pannel').hide('slow');
        $('#approve_panel').find('*[id*=checkbox_]').each(function(){
          $(this).attr('checked','');
        });
      }      
    });
  });
  $(document).ready(function(){
    $('.qashdU').css({
      'float': 'left',
      'margin-left': '2px'
    });

    $('.qashdD').css({
      'float': 'left', 
      'margin-left': '14px'
    });
  });
  //END: select all
</script>
