<div class="postCont">
    <%= form_for [current_user, @photo], :html => {:id => "form", :name => "form", :multipart => true } do |f| %>
    <div class="postItem">
        <div class="postTit">
            Photo album*
        </div>
        <div class="postInp">
            <% if @photo_albums.size > 0 %>
            <%= f.select :photo_album_id, @photo_albums.collect {|p| [p.name, p.id]}, {}, {:style => "width:360px", :class => '{validate:{required:true}}'} %>
            <% end %>
        </div>
    </div>
    <div class="postItem">
        <div class="postTit">
            Title
        </div>
        <div class="postInp">
            <%= f.text_field :title, :style => "width:360px" %>
        </div>
    </div>
    <div class="postItem" style="display: none;">
        <div class="postTit">
            Description
        </div>
        <div class="postInp">
            <%= f.text_area :description %>
        </div>
    </div>
    <div class="postItem" style="display: none;">
        <div class="postTit">
            Tag line
        </div>
        <div class="postInp">
            <%= text_field_tag 'tag_list', "", :style => "width:360px" %>
        </div>
    </div>
    <div class="postItem">
        <div class="postTit">
            New Image
        </div>
        <div class="postInp">
            <%= f.file_field :photo_attach, :style => "height: 25px;width:360px", :class => '{validate:{accept:true}}' %>
        </div>
    </div>
    <div class="stoExBtm">
        <div class="stoExCre">
            <a href="javascript:;" onclick="submit();">Update photo</a>
        </div>
    </div>
    <% end %>
</div>
<script type="text/javascript">
    function submit(){
        var result = $("#form").validate({
            meta: "validate"
        });
        if (result) {
            $("#form").submit();
        }
    }
    $(document).ready(function(){
      $('input#photo_photo_attach').attr('size','38');
    });
</script>
