<% content_for :search do -%>
  <%= render :partial => 'shared/search_inbox', :locals => {:search_name => @search_name, :type_name => "Photos", :action_path => "#{photos_path}"} %>
<% end -%>

<% content_for :tabs_inbox do -%>
  <%= render :partial => 'shared/tabs_inbox' %>
<% end -%>

<div id="r_c" class="width70p">

  <div id="post-your-photo"><!-- post  button -->
    <a href="/photos/new" title="Post" class="btfl link_bt">
      <span class="ltred_l"></span>
      <span class="ltred_c btf">Post your photo here...</span>
      <span class="ltred_r"></span>
    </a>
  </div>
  <!-- end post button -->
  <fieldset class="fs_title"><!-- my photo album-->
    <legend>My photos</legend>
    <% for photo in @photos %>
      <div class="p_album"><!-- album -->
        <%=h photo.title %>
        <div class="p_album-ctrl">
          <%= link_to 'Edit', edit_photo_path(photo) %> | <%= link_to 'Destroy', photo, :confirm => 'Are you sure?', :method => :delete %>
        </div>
        <a href="<%= photo.photo_attach.url() %>" class="lightwindow"  title="<%= photo.title %>" caption="" author="<%= photo.user.full_name %>">
          <%= image_tag photo.photo_attach.url(:thumb) %>
        </a>
        
      </div><!-- end album -->
    <% end %>
    <%= will_paginate @photos, :class => "digg_pagination" %>
  </fieldset><!-- end my photo album-->
</div>
<div id="right">
</div>	
