<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => '/shared/submenu' %>
<% end -%>
<div class="slStoryL">
  <div class="contDetL">
    <div class="contDetLin">
      <div class="inboxLeft">
        <div class="slsShare">
          <div class="slsShareL">
            <span>You are here:</span>
            <%= link_to "#{current_user.name}'s Photos", user_photos_url(current_user) %>
          </div>
        </div>
        <div class="stoDet phoD">
          <div class="AsDcomImg">
            <%= show_image_user_post(@photo_album.user) %>
          </div>
          <div class="stoDetR">
            <div class="stoDetRT">
              <%= @photo_album.user.full_name %>: <%= @photo_album.name %>
            </div>
          </div>
        </div>
        <div class="photoRow" id="mytable">
          <% @photo_album.photos.each do |m_p| %>
            <%= render :partial => "photo_albums/item_photo_with_list", :locals => {:photo => m_p} %>
          <% end %>
        </div>
        <div id="action_photo">
          <%= render :partial => "photo_album_action" %>
          <div id="rate_pos" style="line-height: 22px;padding: 4px;width: 81px;float: right; margin-top: -40px; margin-right: 181px; height: 25px;background: url(/images/btm_hdug_hdd.png) no-repeat scroll 0 0 transparent;">
            <%= render :partial => "photo_albums/rating_action", :locals => {:post => @photo_album, :controller_name => "photo_albums"}%>
          </div>
          <%= show_post_comments(@photo_album) %>
        </div>
        <div class="goback" id="go_back">
          <%= show_go_back %>
        </div>
        <div class="AsDOr">
          <h1 class="titleH1">Another photo albums</h1>
          <% @another_photo_albums.each do |pb| %>
            <div class="AsDOrItem">
              <%= link_to pb.name, show_album_with_list_user_photos_url(current_user, :photo_album_id => pb) %>
            </div>
          <% end %>
        </div>
        <div class="goTop">
          <a href="javascript:;" onclick="goToByScroll('top_page')">Top</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contMainR">
  <!--Most Viewed-->
  <%= render :partial => "photos/most_viewed" %>
  <!--Most Viewed-->
  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.qashdU').css({
      'float': 'left',
      'margin-left': '2px'
    });

    $('.qashdD').css({
      'float': 'left', 
      'margin-left': '14px'
    });
  });
</script>
