<% content_for :search do -%>
  <%= render :partial => 'shared/search_inbox', :locals => {:search_name => @search_name, :type_name => "Photos", :action_path => "#{photos_path}"} %>
<% end -%>

<% content_for :tabs_inbox do -%>
  <%= render :partial => 'shared/tabs_inbox' %>
<% end -%>

<p>
  <b>User:</b>
  <%=h @photo.user.full_name %>
</p>

<p>
  <b>Photo album:</b>
  <%=h @photo.photo_album.name %>
</p>

<p>
  <b>Title:</b>
  <%=h @photo.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @photo.description %>
</p>

<p>
  <b>Who can see:</b>
  <%=h @photo.who_can_see %>
</p>

<%= image_tag @photo.photo_attach.url(:medium) %>
<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
