<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => '/shared/submenu' %>
<% end -%>
<div class="slStoryL">
  <div class="contDetL">
    <div class="contDetLin">
      <div class="inboxLeft">
        <div class="slsShare">
          <div class="slsShareL">
            <span>You are here:</span>
            <%= link_to "Photos", user_photos_url(current_user), :class => "slsShareLink" %>
            <a href="javascript:;" class="slsShareLinkL"><%= current_user == @photo.user ? "Your photos" : "Friends shared photos" %></a>
          </div>
          <div class="slsShareR">
            <%= render :partial => "menu" %>
          </div>
        </div>
        <%= display_flash_messages_with_raw %>
        <%= render :partial => "expand_create_photo_album" %>
        <div class="stoDet phoD">
          <div class="AsDcomImg">
            <%= show_image_user_post(@photo.user) %>
          </div>
          <div class="stoDetR">
            <div class="stoDetRT">
              <%= @photo.user.full_name %>: <%= link_to @photo.photo_album.name, show_album_with_list_user_photos_url(@photo.user, :photo_album_id => @photo.photo_album) %>
            </div>
          </div>
        </div>

        <div class="onThisBtm">
          <div class="stoPre"><%= link_to "", user_photo_path(current_user, @prev) if @prev %></div>
          <div class="stoNext"><%= link_to "", user_photo_path(current_user, @next) if @next %></div>
        </div>
        <%= render :partial => "photos/widget_photo_detail" %>
        <div class="goTop">
          <a href="javascript:;" onclick="goToByScroll('top_page')">Top</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contMainR">
  <!--Most Viewed-->
  <%= render :partial => "on_this_photo" %>
  <!--Most Viewed-->
  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->
</div>
