<!-- BEGIN: library for photo-tag -->
<link media="screen" type="text/css" href="/stylesheets/styles2.css" rel="stylesheet"/>
<script type="text/javascript" src="/javascripts/jquery.phototag.test.js"></script>
<!-- END: library for photo-tag -->

<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => '/shared/submenu' %>
<% end -%>
<div class="slStoryL">
  <div class="contDetL">
    <div class="contDetLin">
      <div class="inboxLeft">
        <div class="slsShare">
          <div class="slsShareL">
            <span>You are here:</span>
            <%= link_to "Photos", user_photos_url(current_user), :class => "slsShareLink" %>
            <a href="javascript:;" class="slsShareLinkL"><%= current_user == @photo.user ? "Your photos" : "Friends shared photos" %></a>
          </div>
          <div class="slsShareR">
            <%= render :partial => "menu" %>
          </div>
        </div>
        <%= display_flash_messages_with_raw %>
        <%= render :partial => "expand_create_photo_album" %>
        <div class="stoDet phoD">
          <div class="AsDcomImg">
            <%= show_image_user_post(@photo.user) %>
          </div>
          <div class="stoDetR">
            <div class="stoDetRT">
              <%= @photo.user.full_name %>: <%= @photo.title %>
            </div>
          </div>
        </div>

        <div class="onThisBtm">
          <div class="stoPre"><%= link_to "", user_photo_path(current_user, @prev) if @prev %></div>
          <div class="stoNext"><%= link_to "", user_photo_path(current_user, @next) if @next %></div>
        </div>
        <div class="AsDOr RePho">
          <div id="container" style="text-align:center;">
                              <p>
                  <%= image_tag @photo.photo_attach.url(:medium), :class => "photoTag", :id => "img_to_tag" %>
                    </p>

            <div id="tag_list_place" style="text-align: left; margin-left: 33px; width: 495px;"></div>
            <%= link_to "View photo album: #{@photo_album.name}", show_album_user_photos_url(current_user, :photo_album_id => @photo_album) %>
          </div>
        </div>
        <% if  @photo.user == current_user && @usrs_for_verify.size > 0 %>
          <div style="color: #0A81C4;  margin-left: 37px;  padding: 10px 10px 0;">Verify users have been tagged </div>
          <% form_tag url_for(:controller => "photos", :action => "tag_decision"), :id => "form_tag_decision", :method => :post, :remote => false do %>
            <%= hidden_field_tag "decision_id" %>
            <%= hidden_field_tag "photo_id", @photo.id %>
            <div id="approve_panel" style="border: 1px solid #CECECE;display: block;margin-left: 48px;margin-top: 10px;overflow: hidden;width: 552px;">
              <% @usrs_for_verify.each do |user| %>
                <%= render :partial => "item_user", :locals => {:user => user} %>

              <% end %>
            </div>
            <div class="stoDbtm" style="display:none;" id="btn_pannel">
              <div class="AsDContBtm" style="float:right; margin-right: 39px;">
                <span class="btmComment"><a href="javascript:;" id="accept_btn">Accept</a></span>
                <span class="btmComment"><a href="javascript:;" id="refuse_btn">Refuse</a></span>
              </div>
            </div>
          <% end %><!-- end form -->        

        <% end %><!-- end if  -->
        <%= render :partial => "photo_action" %>
        <%= show_post_comments(@photo) %>
        <div class="goTop">
          <a href="javascript:;" onclick="goToByScroll('top_page')">Top</a>
        </div>
      </div>
    </div>
  </div>
</div>
<% form_tag url_for(:controller => "photos", :action => "comment_inform"), :id => "form_cmt_inf", :method => :post, :remote => true do %>
  <%= hidden_field_tag "comment_content" %>
  <%= hidden_field_tag "photo_id", @photo.id %>
<% end %><!-- end form Note: this form is used to send notification to tagged-users when new comment is added -->

<div class="contMainR">
  <!--Most Viewed-->
  <%= render :partial => "on_this_photo" %>
  <!--Most Viewed-->
  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->
</div>
<script type="text/javascript">
  var overallCount = 0;//this variable support for show/hide accept/refuse
  var noOfRemove=0;//this variable support for show/hide ckbox at tag-list
  
  $(document).ready(function(){
    $('#accept_btn').click(function(){
      $('#decision_id').val('ACCEPT');
      $("form#form_tag_decision").submit();
    });
    $('#refuse_btn').click(function(){
      $('#decision_id').val('REFUSE');
      $("form#form_tag_decision").submit();
    });
    $('#manage_btn').click(function(){
      $('input[id*=tagbox_]').each(function() {
        $(this).toggle('slow');
      });
    });
    
    $('#remove_btn').click(function(){
      $('form#form_remove').submit();
    });
    /* BEGIN: handle send comment event to send email notification */
    var sendBtn = $('form#form_comment').find('a');
    sendBtn.bind('click',function(){
      var strContent = $('form#form_comment').find('#comment').val();
      $('form#form_cmt_inf').find('#comment_content').val(''+strContent);
      $('form#form_cmt_inf').submit();
    });
    /* END: handle send comment event to send email notification */


  });  
  
  //BEGIN: code for tag user
  var strrequesTagstUrl = "<%= phototag_user_photos_url(current_user) %>?photo_id=<%= @photo.id %>";
  var strdeleteTagsUrl = "<%= deletetag_user_photos_url(current_user) %>?photo_id=<%= @photo.id %>";
  var straddTagUrl = "<%= addtag_user_photos_url(current_user) %>?photo_id=<%= @photo.id %>";
  var strautocompleteUrl = "<%= usrdata_user_photos_url(current_user) %>?photo_id=<%= @photo.id %>";
  $(document).ready(function(){
    
    $('#img_to_tag').load(function() {
      $('.photoTag').photoTag({
        requesTagstUrl: strrequesTagstUrl,
        deleteTagsUrl: strdeleteTagsUrl,
        addTagUrl: straddTagUrl,
        parametersForNewTag: {
          name: {
            parameterKey: 'name',
            isAutocomplete: true,
            autocompleteUrl: strautocompleteUrl,
            label: 'Name'
          }
        }
      });  
    });    
    
    
  });
  //END: code for tag user
  
</script>
