<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => '/shared/submenu' %>
<% end -%>

<div class="slStoryL">
  <div class="contDetL">
    <div class="contDetLin">
      <div class="inboxLeft">
        <div class="slsShare">
          <div class="slsShareL">
            <span>You are here:</span>
            <a href="#" class="slsShareLink">Photos</a>
            <a href="#" class="slsShareLinkL">Friends shared photos</a>
          </div>
          <div class="slsShareR">
            <%= render :partial => "menu" %>
          </div>
        </div>
        <%= display_flash_messages %>
        <%= render :partial => "expand_create_photo_album" %>
        <div class="stoDet phoD">
          <div class="AsDcomImg"><%= link_to "<div>#{image_tag(@photo.user.avatar.url(:thumb))}</div>", {:controller => "profile", :action => "show_profile", :id => @photo.user.id} %></div>
          <div class="stoDetR">
            <div class="stoDetRT"><%= @photo.user.full_name %>: <%= @photo.title %></div>
          </div>
        </div>
        <div class="ad-preloads"></div>
        <div class="AsDOr RePho">
          <%= render :partial => "related_photo" %>
        </div>
        <%= render :partial => "photo_action" %>
        <div class="AsDcom" id="form_comment" style="display: none">
          <h1 class="titleH1">Leave your comments</h1>
          <% if logged_in? %>
            <div class="AsDcomImg"><%= link_to "<div>#{image_tag(current_user.avatar.url(:thumb))}</div>", {:controller => "profile", :action => "show_profile", :id => current_user.id} %></div>
            <div class="AsDcomIn">
              <form name="form_comment" id="form_comment" action="" method="get">
                <div class="AsDcomTxt"><textarea name="comment" id="comment"></textarea></div>
                <div class="submit"><a href="javascript:;" onclick="send_comment('<%= @photo.id %>', 'Photo');" >Submit</a></div>
              </form>
            </div>
          <% else %>
            You must be <%= link_to "logged in", login_url %> to post a comment.
          <% end %>
        </div>
        <div class="AsDcomL" id="list_comments">
          <% if @photo.comments.size > 0 %>
            <h1 class="titleH1"><a href="javascript:;">Comments (<%= @photo.comments.size %>)</a></h1>
            <% @photo.comments.each do |c| %>
              <%= render :partial => "shared/item_comment", :locals => {:comnt => c} %>
            <% end %>
          <% end %>
        </div>
        <div class="goTop"><a href="javascript:;" onclick="goToByScroll('top_page')">Top</a></div>
      </div>
    </div>
  </div>
</div>
<div class="contMainR">
  <!--Most Viewed-->
<%= render :partial => "on_this_photo" %>
  <!--Most Viewed-->

  <!--Ads-->
<%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->
</div>
