<ul class="front-title">
  <li>Assignments of a day</li>
  <ul class="sub-post-title"><!-- begin listing -->
    <% for assignment in assignments %>
      <li><%= link_to "#{assignment.user.full_name}", posts_path %> from <%= assignment.school.name %> posted <%= assignment.title %>. <br /><span class="post-datetime"><%= assignment.created_at.strftime("%B %d, %Y") %></span></li>
    <% end %>
  </ul><!-- end listing -->

  <li class="more-link"><%= link_to "More...", posts_path %></li>
</ul>