<html>
  <body>
    <div id="detail_window">
      <a href="<%= user_url(@tag_creator) %>"><%= @tag_creator.name %></a> has tagged <a href="<%= user_url(@user) %>"><%= @user.name %></a> to your 
      
      <%= @photo.title == "" ? raw("<a href='#{user_photo_url(@photo.user, @photo)}'>photo</a>") : "photo: "  %> 
      <a href="<%= user_video_url(@photo.user, @photo) %>"><%= @photo.title %></a>.
      
      Please review and authorize the newly tagged user.
    </div>  
  </body>
</html>