<html>
  <body>
    <div id="detail_window">
       Hello <%= @mus_album.user.name %>, <br/>
       
      <a href="<%= user_url(@tag_creator) %>"><%= @tag_creator.name %></a> has invited <a href="<%= user_url(@user) %>"><%= @user.name %></a> to your <a href="<%= play_list_user_musics_url(@mus_album.user, :music_album_id => @mus_album.id) %>"><%= @mus_album.title %></a>. <br/>
      
            <%= @str_of_verify %><br/>
      
      Yours sincerely, <br/>
      Afterclassroom Support Team.
      
    </div>  
  </body>
</html>
