<html>
  <body>
    <div id="detail_window">

      <a href="<%= user_url(@cmt_author) %>"><%= @cmt_author.name %></a> has added the following comment for the 
      <%= @photo.title == "" ? raw("<a href='#{user_photo_url(@photo.user, @photo)}'>photo</a>") : "photo: "  %> 
      <a href="<%= user_video_url(@photo.user, @photo) %>"><%= @photo.title %></a>.
      <p>
        Comment content: <br/>
        <%= @content %>
      </p>
    </div>  
  </body>


</html>