<html>
  <body>
    <div id="detail_window">
      Hello <%= @tag_creator.name %>, <br/>
      
      <a href="<%= user_url(@author) %>"><%= @author.name %></a> has approved your tag on 
      <%= @video.title == "" ? raw("<a href='#{user_video_url(@video.user, @video)}'>video</a>") : "video: "  %> 
      <a href="<%= user_video_url(@video.user, @video) %>"><%= @video.title %></a>'s
      
      tag list about <a href="<%= user_url(@user) %>"><%= @user.name %></a><br/>

      Yours sincerely, <br/>
      Afterclassroom Support Team.

    </div>  
  </body>
</html>
