<html>
  <body>
    <div id="detail_window">
      Hello <%= @user.name %>, <br/>
      
      <a href="<%= user_url(@author) %>"><%= @author.name %></a> has approved you to 
      <%= @photo.title == "" ? raw("<a href='#{user_photo_url(@photo.user, @photo)}'>photo</a>") : "photo: "  %> 
      <a href="<%= user_video_url(@photo.user, @photo) %>"><%= @photo.title %></a>'s
      
      tag list <br />

      Yours sincerely, <br/>
      Afterclassroom Support Team.

    </div>  
  </body>
</html>