<html>
  <body>
    <div id="detail_window">
      Hello <%= @user.name %>, <br/>
      
      You have been tagged to a video <a href="<%= user_video_url(@video.user, @video) %>"><%= @video.title %></a> by your friend <a href="<%= user_url(@tag_creator) %>"><%= @tag_creator.name %></a>! <br/>
      
      <%= @statement %> <br/>
      
      Yours sincerely, <br/>
      Afterclassroom Support Team.
      
    </div>  
  </body>
  
  
</html>