<html>
  <body>
    <div id="detail_window">
      
      Hello <%= @user.name %>, <br/>

      <a href="<%= user_url(@cmt_author) %>"><%= @cmt_author.name %></a> left comments on <%= @video.user.name %>'s video of you, click

<a href="<%= user_video_url(@video.user, @video) %>">here</a> to see what's in it
 <br />
      
      Yours sincerely, <br/>
      Afterclassroom Support Team.
      
    </div>  
  </body>
</html>