<div class="assItem">
  <div class="assItemL">
    <div class="assPic"><%= show_image_user_post(post.user) %></div>
    <div class="assContT">
      <h2 class="titleH2"><%= link_to title, post_food_path(post.post_food) %></h2>
      <div class="assCate"><span>Neighborhood:</span><%= link_to post.school.name, :controller => "post_foods", :action => "index", :from_school => post.school, :rating_status => post.post_food.rating_status %></div>
    </div>
    <div class="assDes"><%= truncate_words(description) %></div>
  </div>
  <!--info-link-box-->
  <div class="asslinkdown">
    <div class="moreTutor"><%= post.post_food.address %><br/><%= post.post_food.phone %></div>
    <div class="mySco"><%= show_map(post.post_food.address, post.title) %></div>
  </div>
  <!--info-link-box-->
  <div class="assItemB">
    <div class="assImg"><div><%= link_to image_post_thumb(controller.controller_name, post), post.post_food %></div></div>
    <div class="assInfT">
      <div class="assInfT">
        <div class="assInfL">
          <div><span>Posted by:</span><%= show_user_post(post.user) %></div>
        </div>
      </div>
      <div class="assInfB">
        <div id="rate_<%= post.id %>">
          <%
            check = PostFood.find_rated_by(current_user).include?(post.post_food) if logged_in?
            check ||= false
          %>
          <div class="qashdU">
            <%= show_rating(post.id, post.post_food.total_good, controller.controller_name, check, 2) %>
          </div>
          <div class="cheap">
            <%= show_rating(post.id, "Cheap but Good(#{post.post_food.total_cheap_but_good})", controller.controller_name, check, 1) %>
          </div>
          <div class="qashdD">
            <%= show_rating(post.id, post.post_food.total_bad, controller.controller_name, check, 0) %>
          </div>
        </div>
        <div class="vie"><%= "View (#{post.count_view})" %></div>
        <div class="fav" id="item_favorite_<%= post.id %>"><%= show_favorite("Post", post) %></div>
      </div>
    </div>
  </div>
</div>
