<% content_for :you_are_here do -%>
  You are here: <a href="/">Home</a><%= link_to "Foods", post_foods_path, :class => "abLink-detail" %><%= link_to "Detail", "#", :class => "abLink-detail" %>
<% end -%>

<% content_for :post_button do -%>
  <%= render :partial => 'shared/post_button', :locals => {:new_post_path => @new_post_path} %>
<% end -%>

<% content_for :menu_sub do -%>
  <%= render :partial => "submenu" %>
<% end -%>

<!--Content-->
<div class="contDetL">
  <div class="contDetLin">
    <div class="AsDTop">
      <h1 class="titleH1">Food detail</h1>
      <div class="AsDsearch">
        <%= render :partial => "shared/search_indetail", :locals => {:url_search => post_foods_path} %>
      </div>
    </div>
    <div class="AsDCont">
      <div class="AsDContL">
        <h2 class="titleH2"><%= @post.title %></h2>
        <div class="AsDContLin">in<span><%= link_to @post.post_category.name, post_foods_path %></span></div>
        <div class="AsDContLask">asked by<%= link_to @post.user.full_name, {:controller => "profile", :action => "show_profile", :id => @post.user.id} %>- <%= time_ago_in_words(@post.created_at, true) + " ago." %></div>
        <div class="AsDContLdes"><span>Description:</span><%= @post.description %></div>
      </div>
      <%= render :partial => "shared/user_infor", :locals => {:user => @post.user} %>
      <%= render :partial => "post_actions", :locals => {:post => @post} %>
    </div>

    <div class="AsDcom" id="form_comment" style="display: none">
      <h1 class="titleH1">Leave your comments</h1>
      <div class="AsDcomImg"><a href="#"><div><img src="pictures/pic1.png"/></div></a></div>
      <div class="AsDcomIn">
        <div class="AsDcomTxt"><textarea name="TextArea1" ></textarea></div>
        <div class="submit"><a href="#">Submit</a></div>
      </div>
    </div>
    <% if @post.comments.size > 0 %>
    <div class="AsDcomL">
      <h1 class="titleH1"><a href="#">Comments (4)</a></h1>
      <div class="AsDcomLW">
        <span>View</span>
        <span><select name="Select2"><option>All answers</option></select></span>
      </div>
      <% @post.comments.each do |comnt| %>
        <%= render :partial => "item_comment", :objects => comnt %>
      <% end %>
    </div>
    <% end %>
    <div class="goback"><a onclick="history.go(-1);" href="javascript:void();"><span>Go back</span></a></div>
    <div class="comPage">
      <span class="compre"><a href="#"> </a></span>
      <span class="comnext"><a href="#"> </a></span>
    </div>
    <div class="AsDOr">
      <h1 class="titleH1">Related Requests Foods in Foods Category</h1>
      <div class="AsDOrItem"><a href="#">Chemistry (Lorem Ipsum Dolor sitamet)</a></div>
      <div class="AsDOrItem"><a href="#">Sociology (Nulla ac massa id risus ornare condimentum)</a></div>
    </div>
    <div class="goTop"><a href="#">Top</a></div>
  </div>
</div>	

<div class="contMainR">
  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->
  
  <!--Request Food-->
  <%= render :partial => "form_request_food" %>
  <!--Request Food-->
  
  <!--Recent Request Foods-->
  <%= render :partial => "recent_request_foods" %>
  <!--Recent Request Foods-->
</div>
<!--Content-->