<% content_for :you_are_here do -%>
  You are here: <a href="/">Home</a><%= link_to "Assignments", post_assignments_path, :class => "abLink-detail" %>
<% end -%>

<% content_for :menu_sub do -%>
  <div class="menuRItem menuRselect"><a href="#"><span class="span1"><span class="span2">Assignments</span></span></a></div>
  <div class="menuRItem"><a href="<%= post_projects_path %>"><span class="span1"><span class="span2">Projects</span></span></a></div>
  <div class="menuRItem"><a href="<%= post_tests_path %>"><span class="span1"><span class="span2">Past Tests</span></span></a></div>
  <div class="menuRItem"><a href="<%= post_exams_path %>"><span class="span1"><span class="span2">Past Exams</span></span></a></div>
<% end -%>

<!--Content-->
<div class="contMainL">
  <div class="col451 assignment">
    <div class="col451in">
      <div class="col451Cont">
        <!--Options-->
        <form id="action_option" name="option" action="" method="Get">
          <div class="assDrop">
            <span class="assDrop1"><select name="Select1"><option>Choose faculty</option></select></span>
            <span class="assDrop2"><%= select_tag ("year", options_for_select(@list_years, @year), :onChange => "$('action_option').submit();") %></span>
            <span class="assDrop3"><%= select_tag ("over", options_for_select(@list_overs, @over), :onChange => "$('action_option').submit();") %></span>
          </div>
        </form>
        <!--Options-->

        <!--List Items-->
        <% @posts.each do |post| %>
          <%= render :partial => "item", :locals => {:post => post}%>
        <% end %>
        <!--List Items-->

        <!--Pagination-->
        <div class="assPage">
          <span class="numPage"><%= page_entries_info @posts %></span>
          <%= will_paginate @posts %>
        </div>
        <!--Pagination-->
        <div class="goTop"><a href="#">Top</a></div>
      </div>
    </div>
  </div>

</div>
<div class="contMainC">
  <!--Browser Due Date-->
  <%= render :partial => "due_date" %>
  <!--Browser Due Date-->

  <!--Browser Interesting Projest-->
  <%= render :partial => "post_projects/interesting_projects" %>
  <!--Browser Interesting Projest-->
</div>

<div class="contMainR">
  <!--Browser by Subject-->
  <%= render :partial => "shared/browser_by_subject" %>
  <!--Browser by Subject-->

  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->

  <!--Request Assignment-->
  <%= render :partial => "form_request_assignment" %>
  <!--Request Assignment-->

  <!--Recent Request Assignments-->
  <%= render :partial => "recent_request_assignments" %>
  <!--Recent Request Assignments-->
</div>
<!--Content-->