<% content_for :you_are_here do -%>
  You are here: <a href="/">Home</a><%= link_to "Assignments", post_assignments_path, :class => "abLink-detail" %><%= link_to "Detail", "#", :class => "abLink-detail" %>
<% end -%>

<% content_for :post_button do -%>
  <%= render :partial => 'shared/post_button', :locals => {:new_post_path => @new_post_path} %>
<% end -%>

<% content_for :menu_sub do -%>
  <%= render :partial => "submenu" %>
<% end -%>

<!--Content-->
<div class="contDetL">
  <div class="contDetLin">
    <div class="AsDTop">
      <h1 class="titleH1">Assignment detail</h1>
      <div class="AsDsearch">
        <%= render :partial => "shared/search_indetail", :locals => {:url_search => search_post_assignments_path} %>
      </div>
    </div>
    <div class="AsDCont">
      <div class="AsDContL">
        <h2 class="titleH2"><%= @post.title %></h2>
        <div class="AsDContLin">in <span><%= link_to @post.post_category.name, post_assignments_path %></span></div>
        <div class="AsDContLdes"><span>Description:</span><%= @post.description %></div>
		<% if @post_assignment.professor %>
        <div class="AsDContLinf"><span>Professor:</span><%= @post_assignment.professor %></div>
		<% end %>
        <div class="AsDContLinf"><span>Posted by:</span><%= link_to @post.user.full_name, {:controller => "profile", :action => "show_profile", :id => @post.user.id} %></div>
        <% if @post_assignment.due_date %>
		<div class="AsDContLinf"><span>Due date:</span><%= @post_assignment.due_date.strftime("%B %d, %Y") %></div>
		<% end %>
      </div>
      <%= render :partial => "shared/user_infor", :locals => {:user => @post.user, :post => @post} %>
      <%= render :partial => "post_actions", :locals => {:post => @post} %>
    </div>
    <%= show_post_comments(@post) %>
    <div class="goback" id="go_back"><%= show_go_back %></div>
    <div class="comPage">
      <span class="compre"><%= link_to "", post_assignment_path(@prev) if @prev %> </span>
      <span class="comnext"><%= link_to "", post_assignment_path(@next) if @next %></span>
    </div>
    <div class="AsDOr">
      <h1 class="titleH1">Related posts</h1>
      <% PostAssignment.related_posts(@school).each do |p| %>
        <div class="AsDOrItem"><%= link_to p.title, post_assignment_path(p.post_assignment) %></div>
      <% end %>
    </div>
    <div class="goTop"><a href="javascript:;" onclick="goToByScroll('top_page')">Top</a></div>
  </div>
</div>	

<div class="contMainR">
  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->

  <!--Request Assignment-->
  <div id="quick_post_homework">
  <%= render :partial => "form_request_assignment" %>
  </div>
  <!--Request Assignment-->

  <!--Recent Request Assignments-->
  <%= render :partial => "recent_request_assignments" %>
  <!--Recent Request Assignments--> 
</div>
<!--Content-->
