<% content_for :you_are_here do -%>
  You are here: <a href="/">Home</a><%= link_to "Assignments", post_assignments_path, :class => "abLink-detail" %><%= link_to "Detail", "#", :class => "abLink-detail" %>
<% end -%>

<% content_for :post_button do -%>
  <%= render :partial => 'shared/post_button', :locals => {:new_post_path => @new_post_path} %>
<% end -%>

<% content_for :menu_sub do -%>
  <%= render :partial => "submenu" %>
<% end -%>

<!--Content-->
<div class="contDetL">
  <div class="contDetLin">
    <div class="AsDTop">
      <h1 class="titleH1">Assignment detail</h1>
      <div class="AsDsearch">
        <%= render :partial => "shared/search_indetail", :locals => {:url_search => search_post_assignments_path} %>
      </div>
    </div>
    <div class="AsDCont">
      <div class="AsDContL">
        <h2 class="titleH2"><%= @post.title %></h2>
        <div class="AsDContLin">in <span><%= link_to @post.post_category.name, post_assignments_path %></span></div>
        <div class="AsDContLask">asked by <%= link_to @post.user.full_name, {:controller => "profile", :action => "show_profile", :id => @post.user.id} %>- <%= time_ago_in_words(@post.created_at, true) + " ago." %></div>
        <div class="AsDContLdes"><span>Description:</span><%= @post.description %></div>
        <div class="AsDContLinf"><span>Professor:</span><%= @post_assignment.professor %></div>
        <div class="AsDContLinf"><span>Posted by:</span><%= link_to @post.user.full_name, {:controller => "profile", :action => "show_profile", :id => @post.user.id} %></div>
        <div class="AsDContLinf"><span>Due date:</span><%= @post_assignment.due_date.strftime("%B %d, %Y") %></div>
      </div>
      <%= render :partial => "shared/user_infor", :locals => {:user => @post.user} %>
      <%= render :partial => "post_actions", :locals => {:post => @post} %>
    </div>

    <div class="AsDcom" id="form_comment" style="display: none">
      <h1 class="titleH1">Leave your comments</h1>
      <% if logged_in? %>
        <div class="AsDcomImg"><%= link_to "<div>#{image_tag(current_user.avatar.url(:thumb))}</div>", {:controller => "profile", :action => "show_profile", :id => current_user.id} %></div>
        <div class="AsDcomIn">
          <form name="form_comment" id="form_comment" action="" method="get">
            <div class="AsDcomTxt"><textarea name="comment" id="comment"></textarea></div>
            <div class="submit"><a href="javascript:;" onclick="send_comment('<%= @post.id %>');" >Submit</a></div>
          </form>
        </div>
      <% else %>
        You must be <%= link_to "logged in", login_url %> to post a comment.
      <% end %>
    </div>
    <div class="AsDcomL" id="list_comments">
      <% if @post.comments.size > 0 %>
        <h1 class="titleH1"><a href="javascript:;">Comments (<%= @post.comments.size %>)</a></h1>
        <% @post.comments.each do |c| %>
          <%= render :partial => "shared/item_comment", :locals => {:comnt => c} %>
        <% end %>
      <% end %>
    </div>
    <div class="goback" id="go_back"><a onclick="history.go(-1);" href="javascript:;"><span>Go back</span></a></div>
    <div class="comPage">
      <span class="compre"><a href="#"> </a></span>
      <span class="comnext"><a href="#"> </a></span>
    </div>
    <div class="AsDOr">
      <h1 class="titleH1">Related Requests Assignments in Assignments Category</h1>
      <div class="AsDOrItem"><a href="#">Chemistry (Lorem Ipsum Dolor sitamet)</a></div>
      <div class="AsDOrItem"><a href="#">Sociology (Nulla ac massa id risus ornare condimentum)</a></div>
    </div>
    <div class="goTop"><a href="javascript:;" onclick="goToByScroll('top_page')">Top</a></div>
  </div>
</div>	

<div class="contMainR">
  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->

  <!--Request Assignment-->
  <%= render :partial => "form_request_assignment" %>
  <!--Request Assignment-->

  <!--Recent Request Assignments-->
  <%= render :partial => "recent_request_assignments" %>
  <!--Recent Request Assignments-->

  <!--Browser by Subject-->
  <%= render :partial => "shared/browser_by_subject" %>
  <!--Browser by Subject-->
</div>
<!--Content-->