<% form_tag url_for(:controller => "learn_tools", :action => "first_tab_paging"), :id => "form_first_tab", :method => :get, :remote => true do %>
  <%= hidden_field_tag "bottom_page_to_load", @cur_bottom_page ? @cur_bottom_page : "1" %>
  <%= hidden_field_tag "bottom_page_tab_parm", @cur_bottom_tab ? @cur_bottom_tab : "first" %>
  <%= hidden_field_tag "bottom_cur_cate", params[:tool_cate] ? params[:tool_cate] : @cur_cate_at_bottom %>
  <style>
    .assPage .pagination .previous_page a:hover {
      background: none repeat scroll 0 0 #2E6AB1;
      border-radius: 2px 2px 2px 2px;
      color: #FFFFFF!important;
      cursor: pointer;
      height: 14px;
    }
    .assPage .pagination .previous_page a {
      color: red;
      padding: 1px 4px;
      text-decoration: none;
      background: url("") no-repeat scroll left center transparent;
    }
    div#pop_id a:hover {
      color: #DD0000;
    }
    div#all_tool a:hover {
      color: #DD0000;
    }
  </style>
  
  <div class="learnN">
    <div class="learnNM">
      <div id="all_tool" class="learnNMtitle" style="text-indent: 6px; height: 28px; font-weight: normal;border-left: 1px solid #DBDBDB; <%= @cur_bottom_tab == "first" ? "background-color: #F9F9F8; color: #3E3E3E;" : "color: #0A81C4" %>">
        <a href="javascript:;">Learning Tools</a>
      </div>
      <div id="pop_id" class="learnNMP" style="height: 28px; <%= @cur_bottom_tab == "second" ? "background-color: #F9F9F8; color: #3E3E3E;" : "background-color: #FFFFFF;" %>">
        <a href="javascript:;">Popular</a>
      </div>
      <div id="verified_tb" class="learnNML" style="<%= @cur_bottom_tab == "third" ? "background-color: #F9F9F8; color: #3E3E3E;" : "background-color: #FFFFFF;" %>">
        <a href="javascript:;">Verified</a>
      </div>
      <div id="recent_tab" class="learnNML" style="<%= @cur_bottom_tab == "fourth" ? "background-color: #F9F9F8; color: #3E3E3E;" : "background-color: #FFFFFF;" %>">
        <a href="javascript:;">Recently Added</a>
      </div>
    </div>
  </div>

  <% @all_tools.each do |at|%>
    <%= render :partial => "bottom_item", :locals => {:item => at, :description => at.description} %>
  <% end %>



  <div class="assPage" style="padding-left:0">
    <span class="numPage"><%= page_entries_info @all_tools %></span>
    <%= will_paginate @all_tools, :param_name => "all_tool_page", :class => "bot_paging"   %> 
  </div>
<% end %><!-- end form_tag -->
<script type="text/javascript">
  function ShowBottomOverlay(){
    $('.learnN').append('<div id="bottomoverlay"></div>');
    var position = $('.learnN').offset();

    $("#bottomoverlay")
    .height(585)
    .css({
      'opacity' : 0.4,
      'position': 'absolute',
      'top': position.top -10,
      'left': position.left - 10,
      'background':'url("/images/ajax-loader-a.gif") no-repeat center',
      'width': '654px',
      'z-index': 5000
    });
  }

  $(document).ready(function(){
    $('.bot_paging a').each(function(){
      $(this).attr('href','javascript:;');
    });
    $('.bot_paging a').each(function(){
      $(this).click(function(){
        ShowBottomOverlay();
        if ($(this).text() == 'Next'){
          var str_page = parseInt("<%= @cur_bottom_page ? @cur_bottom_page : "1" %>")+1;
          $('#bottom_page_to_load').val(""+str_page);
        }else if ($(this).text() == 'Previous'){
          var str_page = parseInt("<%= @cur_bottom_page %>")-1;
          $('#bottom_page_to_load').val(""+str_page);
        }
        else {
          $('#bottom_page_to_load').val($(this).text());
        }
        $('form#form_first_tab').submit();
      });
    });
    
    /*BEGIN code for tab navigation*/
    $('#all_tool').click(function(){
    ShowBottomOverlay();
      $('#bottom_page_tab_parm').val('first');
      $('#bottom_page_to_load').val('1');
      $('form#form_first_tab').submit();
    });
    $('#pop_id').click(function(){
      ShowBottomOverlay();
      $('#bottom_page_tab_parm').val('second');
      $('#bottom_page_to_load').val('1');
      $('form#form_first_tab').submit();
    });
    $('#verified_tb').click(function(){
      ShowBottomOverlay();
      $('#bottom_page_tab_parm').val('third');
      $('#bottom_page_to_load').val('1');
      $('form#form_first_tab').submit();
    });
    $('#recent_tab').click(function(){
      ShowBottomOverlay();
      $('#bottom_page_tab_parm').val('fourth');
      $('#bottom_page_to_load').val('1');
      $('form#form_first_tab').submit();
    });
    /*END code for tab navigation*/
  });
</script>
