<div id="actionsBox" class="actionsBox">
    <div id="actionsBoxMenu" class="menu" style="width: 128px;">
        <span id="cntBoxMenu">0</span>
        <a class="button box_action" id="act_delete">Delete</a>
        <a id="closeBoxMenu" class="button">X</a>
    </div>
</div>
<!--Alert-->
<div id="delete-fan-dialog-message" title="Confirm delete" style="display:none;">
  <p>
    Are you sure?
  </p>
</div>
<!--Alert-->


<% form_tag url_for(:controller => "learn_tools", :action => "fan_list_paging"), :id => "form_first_tab", :method => :get, :remote => true do %>
  <%= hidden_field_tag "fan_page_to_load", @cur_fan_page ? @cur_fan_page : "1" %>
  <%= hidden_field_tag "current_tool_id", @tool.id %>

  <div class="contMainL">
    <div class="col571 proCen" id="user_wall">
      <div class="col571in">
        <h1 class="titleH1">Tool's fans</h1>
        <div id="mytable">
          <%= display_flash_messages_with_raw %>
          <% @obj_fans.each do |fan_user| %>

            <%= render :partial => "item_fan", :locals => {:fan => fan_user} %>


          <% end %>

          <!--Pagination-->
          <div class="assPage">
            <span class="numPage"><%= page_entries_info @obj_fans %></span>
            <%= will_paginate @obj_fans, :class => "bot_paging"   %> 
          </div>
          <!--Pagination-->
        </div>
      </div>
    </div>
  </div>
<% end %><!-- end form -->
<script type="text/javascript">
  $(document).ready(function(){
    boxaction();
    vtip();
    
    //BEGIN: function delete fan
    $('#act_delete').click(function(){
        $("#delete-fan-dialog-message").dialog({
            modal: true,
            buttons: {
                Ok: function(){
                    var ids = '';
                    $('#mytable input:checked').each(function(e, i){
                        var $this = $(this);
                        ids += $this.val() + ", ";
                    });
                    document.location.href = "<%= delete_fans_user_learn_tools_url(current_user) %>?tool_id=<%= @tool.id %>&list_ids=" + ids;
                },
                Cancel: function(){
                    $("#delete-fan-dialog-message").dialog('close');
                }
            }
        });
    });
    //END: function delete fan
    
    $('input#fan_id').eq(0).focus();//to move to the top of page
    $('#seall_place').toggle();
    
    $('.bot_paging a').each(function(){
      $(this).attr('href','javascript:;');
    });
    $('.bot_paging a').each(function(){
      $(this).click(function(){
        //ShowBottomOverlay();
        if ($(this).text() == 'Next'){
          var str_page = parseInt("<%= @cur_fan_page ? @cur_fan_page : "1" %>")+1;
          $('#fan_page_to_load').val(""+str_page);
        }else if ($(this).text() == 'Previous'){
          var str_page = parseInt("<%= @cur_fan_page %>")-1;
          $('#fan_page_to_load').val(""+str_page);
        }
        else {
          $('#fan_page_to_load').val($(this).text());
        }
        $('form#form_first_tab').submit();
      });
    });    
  });
</script>