<style>
  .previous_page{
    background: url("/images/btmPagePre.png") no-repeat scroll left center transparent;
    display: block;
    height: 19px;
    text-decoration: none;
    width: 19px;
    margin-right: 28px;
  }
  .next_page {
    background: url("/images/btmPageNext.png") no-repeat scroll left center transparent;
    display: block;
    height: 19px;
    text-decoration: none;
    width: 19px;
    float: right;
    margin-top: -19px;
  }
</style>
<% form_tag url_for(:controller => "learn_tools", :action => "featured_tool_paging"), :id => "form_featured", :method => :get, :remote => true do %>

<div class="learnTop">
  <div class="inboxTitle">Featured by AfterClassroom</div>
  <div class="learnPage">
    <div class="learnPageL" style="margin-left: 150px;"><%= @str_feature_page %></div>
    <div style="float: right;"> 
      <%= will_paginate @features, :page_links=>false,:previous_label=> "",:next_label=>"", :param_name => "feature_page"  %>     
    </div>
  </div>
</div>
<div class="learnNewT">
  <% str_class =["learnNewTL","learnNewTR"] %>
  <% @features.each_with_index do |f, index| %>
    <div class="<%=  str_class[index % 2] %>">
      <div class="learnNewTLtitle"><a href="#"><%= truncate_html(f.name, :length => 30, :omission => '...') %></a></div>
      <div class="learnNewTLdes">
        <%= truncate_html(f.description, :length => 180, :omission => '...') %> 
      </div>
      <div class="learnNewTLimg"><a href="#"><div><img src="/images/pictures/learnT1.png"></div></a></div>
    </div>
  <% end %>
</div>

<% end %> <!-- end form for -->
<script type="text/javascript">
  function ShowFeaturedOverlay(){
    $('.learnTop').first().next().append('<div id="overlay"></div>');
    var position = $('.learnTop').offset();

    $("#overlay")
    .height(143)
    .css({
      'opacity' : 0.4,
      'position': 'absolute',
      'top': position.top -10,
      'left': position.left - 10,
      'background':'url("/images/ajax-loader-a.gif") no-repeat center',
      'width': '653px',
      'z-index': 5000
    });
  }
  $(document).ready(function(){
    var previousPage = $('.learnPage').find('.previous_page');
    var nextPage = $('.learnPage').find('.next_page');
    $(previousPage).click(function(){
      //ShowFeaturedOverlay();
      $("#form_featured").submit();
    });
    
  });//end document.ready
</script>