<div class="contDetL">
  <div class="contDetLin">
    <div class="learnLeft">

      <div class="learnFavT">

        <div class="learnFavTL"><%= page_entries_info @my_tools %></div>
        <div class="learnFavTC">
          <div class="learnFavTC">
            <% if ( (@seeall_parm == nil || @seeall_parm != "See all tool") && @my_tools.size > 0) %>
              <%= link_to( "See All", {:controller => "learn_tools", :action => "mylearn", :see_all => "See all tool"  }, :remote => false, :method => :get) %>
            <% end %>
          </div>
        </div>
      </div>

      <% @my_tools.each do |mtool| %>
        <%= render :partial => "list_mytool_item", :locals => {:my_tool => mtool} %>
      <% end %>


      <div class="assPage" style="padding-left:0">
        <span class="numPage"><%= page_entries_info @my_tools %></span>
        <%= will_paginate @my_tools %> 
      </div>


      <div class="goTop"><a href="#">Top</a></div>
    </div>
  </div>
</div>
