<div class="learnNItem">
  <div class="assPic">
    <a href="<%= user_learn_tool_path(current_user,my_tool.learntool) %>"><div><%= image_tag my_tool.learntool.tool_img.url(:small) %></div></a>
  </div>
  <div class="learnFavtitle"><a href="<%= user_learn_tool_path(current_user,my_tool.learntool) %>"><%= my_tool.learntool.name %></a>
    <span class="learnFavS" style="position: absolute; margin-top: -7px;">
      <%= render :partial => "rating_star", :locals => {:tool => my_tool.learntool, :nocheck => "no_check"} %>
    </span>
  </div>
  <div class="learnNdes">
    <%= truncate_html(my_tool.learntool.description, :length => 200, :omission => '...') %>
  </div>
  <div class="learnDetDate"><%= my_tool.learntool.created_at.strftime('%B %d, %Y at %I:%M%p') %>  
    <div class="learnFavTR">
      <%= link_to "Write a Review", "#{url_for(:controller => "learn_tools", :action => "write_review_form")}?tool_id=#{my_tool.learntool.id.to_s}&height=325&width=550", :class => "thickbox", :title => "Write A Review" %>
    </div>
    <div class="learnFavTRv"><a href="<%= user_learn_tool_path(current_user,my_tool.learntool) %>?go_to_review=YES#stranchor"><span>View all Review</span></a></div>
  </div>
</div>
