<style>
  div.learnTst img:hover{
    border: 1px solid #0A81C4;
    border-radius: 4px;
  }
  div.learnTst img{
    border: 0 none;
  }
</style>
<div class="learnTitem <%= ( index == 4 || index == 9 ) ? "learnLast" : ""%>">
  <div class="learnTtitle"><a href="<%= user_learn_tool_path(current_user,m) %>"><%= truncate_html(m.name, :length => 18, :omission => '...') %></a></div>
  <div class="learnTimg"><a href="<%= user_learn_tool_path(current_user,m) %>"><div><%= image_tag m.tool_img.url(:thumb) %></div></a></div>

  <%= render :partial => "rating_star", :locals => {:tool => m, :nocheck => ""} %>

</div>
