<%# NOTICE: because we have not define the function "verify", so that I set nocheck = "no_check" to disable the green icon %>
<%# later, if we have this function I will put it in again%>
<% nocheck = "no_check" %>
<div id="rate_id_<%= tool.id %>" class="learnTst" style="<%= ( nocheck != nil && nocheck == "no_check") ? "background: url('')" : "" %>">
  <%
  check = Learntool.find_rated_by(current_user).include?(tool) if logged_in?
  check ||= false %>
  <% str_vtip = configatron.str_rated %>
  <% if  (controller.action_name == "tab_paging" || controller.action_name == "toolmanager")  %>
  <% check = true %><!-- this line is to disable rating function in MyApp -->
  <% str_vtip = "You are now allowed to rate your own tool" %>
  <% end %>
  <% percent = tool.rate_result ? tool.rate_result : 0 %>
  <% if check == false %>
    <% rating_value = 1 %>
    <% n = percent/20 %>
    <% k = percent % 20 %>
    <% n.times do %>
      <%= link_to image_tag("/images/starRed.png", :style => "border: 0px;"), { :controller => "learn_tools", :action => "rate", :tool_id => tool.id, :rating => rating_value }, :remote => true %>
      <% rating_value = rating_value + 1 %>
    <% end %>
    <% if k > 0 %>
      <% n = n + 1 %>
      <% rating_value = rating_value + 1 %>
      <%= link_to image_tag("/images/starRW.png", :style => "border: 0px;"), { :controller => "learn_tools", :action => "rate", :tool_id => tool.id, :rating => rating_value }, :remote => true %>
    <% end %>
    <% (5-n).times do |index| %>
      <%= link_to image_tag("/images/starWhite.png", :style => "border: 0px;"), { :controller => "learn_tools", :action => "rate", :tool_id => tool.id, :rating => rating_value }, :remote => true %>
      <% rating_value = rating_value + 1 %>
    <% end %>
  <% else %><!-- user has rated, so that disable this function-->
    <% n = percent/20 %>
    <% k = percent % 20 %>
    <% n.times do %>
      <%= link_to(image_tag("/images/starRed.png", :style => "border: 0px;"), "javascript:;", :class => "vtip", :title => "#{str_vtip}") %>
    <% end %>
    <% if k > 0 %>
      <% n = n + 1 %>
      <%= link_to(image_tag("/images/starRW.png", :style => "border: 0px;"), "javascript:;", :class => "vtip", :title => "#{str_vtip}") %>
    <% end %>
    <% (5-n).times do |index| %>
      <%= link_to(image_tag("/images/starWhite.png", :style => "border: 0px;"), "javascript:;", :class => "vtip", :title => "#{str_vtip}") %>
    <% end %>
  <% end %>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#rate_id_<%= tool.id %>').find('img').each(function(){
      var currentImg = null;
      $(this).hover(function(){
        currentImg = $(this).attr('src');
        $(this).attr('src','/images/starRed.png');
      },function(){
        $(this).attr('src',''+currentImg);
      });
    });
  });
</script>