<%# NOTICE: because we have not define the function "verify", so that I set nocheck = "no_check" to disable the green icon %>
<%# later, if we have this function I will put it in again%>
<% nocheck = "no_check" %>
<div id="rate_id_<%= tool.id %>" class="learnTst" style="<%= ( nocheck != nil && nocheck == "no_check") ? "background: url('')" : "" %>">
  <%#
  check = Learntool.find_rated_by(current_user).include?(tool) if logged_in?
  check ||= false %>
  
  <% if  controller.action_name == "tab_paging" %>
  <% check = true %><!-- this line is to disable rating function in MyApp -->
  <% end %>
  
  <% percent = tool.rate_result ? tool.rate_result : 0 %>
  <% if check == false %>
    <% rating_value = 1 %>
    <% n = percent/20 %>
    <% k = percent % 20 %>
    <% n.times do %>
      <%= link_to image_tag("/images/starRed.png"), { :controller => "learn_tools", :action => "rate", :tool_id => tool.id, :rating => rating_value }, :remote => true %>
      <% rating_value = rating_value + 1 %>
    <% end %>
    <% if k > 0 %>
      <% n = n + 1 %>
      <% rating_value = rating_value + 1 %>
      <%= link_to image_tag("/images/starRW.png"), { :controller => "learn_tools", :action => "rate", :tool_id => tool.id, :rating => rating_value }, :remote => true %>
    <% end %>
    <% (5-n).times do |index| %>
      <%= link_to image_tag("/images/starWhite.png"), { :controller => "learn_tools", :action => "rate", :tool_id => tool.id, :rating => rating_value }, :remote => true %>
      <% rating_value = rating_value + 1 %>
    <% end %>
  <% else %><!-- user has rated, so that disable this function-->
    <% n = percent/20 %>
    <% k = percent % 20 %>
    <% n.times do %>
      <%= link_to(image_tag("/images/starRed.png"), "javascript:;", :class => "vtip", :title => "#{configatron.str_rated}") %>
    <% end %>
    <% if k > 0 %>
      <% n = n + 1 %>
      <%= link_to(image_tag("/images/starRW.png"), "javascript:;", :class => "vtip", :title => "#{configatron.str_rated}") %>
    <% end %>
    <% (5-n).times do |index| %>
      <%= link_to(image_tag("/images/starWhite.png"), "javascript:;", :class => "vtip", :title => "#{configatron.str_rated}") %>
    <% end %>
  <% end %>
</div>