<div class="helpItem" id="rv_item_<%= rv.id %>" style="border-bottom: 1px solid rgb(219, 219, 219);">
  <% if rv.user == current_user %>
    <div style="float: right; padding-top: 1px; display: none;" id="pr_id_<%= rv.id %>">
      <%= link_to( content_tag(:span, image_tag("/images/icon-ing.gif", :alt => '', :style => 'border: 0px;')), {:controller => "learn_tools", :action => "delete_review", :review_id => rv.id  }, :remote => true ,:method => :get, :confirm => 'Are you sure you want to delete it?', :class => "vtip", :title => "Delete review") %>
    </div>

    <div style="float: right; display: none;" id="edpr_id_<%= rv.id %>" class="vtip" title="Edit review">
      <%= link_to image_tag("/images/flistREdit.png", :alt => '', :style => 'border: 0px;'), "#{url_for(:controller => "learn_tools", :action => "edit_review_form")}?review_id=#{rv.id}&height=325&width=550", :class => "thickbox", :title => "" %>
    </div>
  <% else %><!-- the developer who upload tool is allowed to delete review, but not allowed to edit review -->
    <% if  rv.learntool.user == current_user %>
      <div style="float: right; padding-top: 1px; display: none;" id="pr_id_<%= rv.id %>">
        <%= link_to( content_tag(:span, image_tag("/images/icon-ing.gif", :alt => '', :style => 'border: 0px;')), {:controller => "learn_tools", :action => "delete_review", :review_id => rv.id  }, :remote => true ,:method => :get, :confirm => 'Are you sure you want to delete it?', :class => "vtip", :title => "Delete review") %>
      </div>

    <% end %>
  <% end %>
  <div style="float: left;" class="assPic">
    <a href="javascript:;" id="cal_id_1">   
      <a href="#"><%= show_image_user_post(rv.user) %></a>         
    </a>
  </div>
  <div class="helpT" style="margin-left: 62px;">
  </div>
  <div id="1" class="forumTit" style="font-weight: bold; margin-left: 62px;width: 330px">
    <%= link_to rv.title, "#{url_for(:controller => "learn_tools", :action => "view_review")}?review_id=#{rv.id}&height=325&width=550", :class => "thickbox", :title => "View Review Detail" %>
  </div>
  <div class="helpD" style="margin-left: 62px; height: 100%;" id="press_1"><%= truncate_html(rv.content, :length => 180, :omission => '...') %></div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    //Show hide for EDIT button
    $("#rv_item_<%= rv.id %>").hover(function(){
      $("div#edpr_id_<%= rv.id %>").show();
    }, function(){
      $("div#edpr_id_<%= rv.id %>").hide();
    });
    //Show hide for DELETE button
    $("#rv_item_<%= rv.id %>").hover(function(){
      $("div#pr_id_<%= rv.id %>").show();
    }, function(){
      $("div#pr_id_<%= rv.id %>").hide();
    });
    
  });
</script>

