<style>
  .pagination .previous_page{
    background: url("/images/btmPagePre.png") no-repeat scroll left center transparent;
    display: block;
    height: 19px;
    text-decoration: none;
    width: 19px;
    margin-right: 28px;
  }
  .pagination .next_page {
    background: url("/images/btmPageNext.png") no-repeat scroll left center transparent;
    display: block;
    height: 19px;
    text-decoration: none;
    width: 19px;
    float: right;
    margin-top: -19px;
  }
</style>


<% form_tag url_for(:controller => "learn_tools", :action => "maylike_tool_paging"), :id => "form_maylike", :method => :get, :remote => true do %>
<%= hidden_field_tag "maylike_to_load", params[:may_like_page] %>
<%= hidden_field_tag "cur_cate_at_maylike", params[:tool_cate] ? params[:tool_cate] : @cur_cate_at_like %>
<div class="learnTop learnTool">
  <div class="inboxTitle">Learning Tools You May Like</div>
  <div class="learnPage">
    <div class="learnPageL" style="margin-left: 150px;"><%= @str_maylike_page %></div>
    <div style="float: right;">
      <%= will_paginate @maylikes, :page_links=>false,:previous_label=> "",:next_label=>"", :param_name => "may_like_page"  %>     
    </div>
  </div>
</div>
<div class="learnTools">
  <% @maylikes.each_with_index do |m,index| %>
    <%= (index == 0 || index == 5) ? raw("<div class='learnTrow'>") : raw("") %>
    <%= render :partial => "may_like_item", :locals => {:index => index, :m => m} %>
    <%= (index == 4 || index == 9 || index == @maylikes.size-1 ) ? raw("</div>") : raw("") %>
  <% end %>
</div>
<% end %><!-- end form_tag -->

<script type="text/javascript">
  function ShowMayLikeOverlay(){
    $('.learnTop').eq(1).next().append('<div id="maylikeoverlay"></div>');
    var position = $('.learnTop').eq(1).offset();

    $("#maylikeoverlay")
    .height(301)
    .css({
      'opacity' : 0.4,
      'position': 'absolute',
      'top': position.top -10,
      'left': position.left - 10,
      'background':'url("/images/ajax-loader-a.gif") no-repeat center',
      'width': '654px',
      'z-index': 5000
    });
  }  
  
  function SetPreviousMayLikeVariable(){
    var strPage = ''+ (parseInt( $('#maylike_to_load').val() ) - 1);
    $('#maylike_to_load').val(strPage);
  }  
  function SetNextMayLikeVariable(){
    var strPage = ''+ (parseInt( $('#maylike_to_load').val() ) + 1);
    $('#maylike_to_load').val(strPage);
  }
  
  $(document).ready(function(){
    //BEGIN fix bug on ie
      if ( $.browser.msie ){
        var stra = $('.pagination .previous_page').html();
      }
    //END fix bug on ie


    var previousPage = $('.learnPage').eq(1).find('.previous_page');
    
    if ( $('.learnPage').eq(1).find('.previous_page')[0] != undefined && $('.learnPage').eq(1).find('.previous_page')[0].nodeName == 'A' ){
      $('.learnPage').eq(1).find('.previous_page').attr('href','javascript:;');
      $(previousPage).click(function(){
        SetPreviousMayLikeVariable();
        ShowMayLikeOverlay();
        $('form#form_maylike').submit();
      });
    }

    var nextPage = $('.learnPage').eq(1).find('.next_page');
    if ( $('.learnPage').eq(1).find('.next_page')[0]!= undefined && $('.learnPage').eq(1).find('.next_page')[0].nodeName == 'A' ){
      $('.learnPage').eq(1).find('.next_page').attr('href','javascript:;');
      $(nextPage).click(function(){
        SetNextMayLikeVariable();
        ShowMayLikeOverlay();
        $("form#form_maylike").submit();
      });
    }    
    
    
  });
</script>