<% form_tag url_for(:controller => "learn_tools", :action => "tool_rev_paging"), :id => "form_tool_review", :method => :get, :remote => true do %>
  <%= hidden_field_tag "review_page_to_load", @cur_rev_page ? @cur_rev_page : "1" %>
  <%= hidden_field_tag "tool_id", @tool.id %>

  <div class="col451 learnDet">
    <div class="col451in">


      <div class="friUse">
        <div class="friUsetit">Tool Reviews <%= (@view_anchor == 'YES') ? raw("<a name='stranchor'></a><a href='#stranchor' id='gotoanchor'></a>") : ""  %></div>
        <div class="friUseAll"><a id="btn_see_all" href="javascript:;"></a></div>
      </div>

      <% if @tool_reviews.size == 0 %>
      There is no review.
      <% end %>

      <% @tool_reviews.each do |rv| %>
        <%= render :partial => "tool_review_item",:locals => {:rv => rv} %>
      <% end %>
      
      

      <div class="assPage" style="padding-left:0">
        <span class="numPage"><%= page_entries_info @tool_reviews %></span>
        <%= will_paginate @tool_reviews %> 
      </div>

    </div>
  </div>
<% end %> <!-- end form -->
<script type="text/javascript">
  function ShowReviewOverlay(){
    $('form#form_tool_review').append('<div id="reviewoverlay"></div>');
    var position = $('form#form_tool_review').offset();
    $("#reviewoverlay")
    .height(415)
    .css({
      'opacity' : 0.4,
      'position': 'absolute',
      'top': position.top -10,
      'left': position.left - 10,
      'background':'url("/images/ajax-loader-a.gif") no-repeat center',
      'width': '455px',
      'z-index': 5000
    });
  }
  $(document).ready(function(){
    $('.pagination a').each(function(){
      $(this).attr('href','javascript:;');
    });
    $('.pagination a').each(function(){
      $(this).click(function(){
        ShowReviewOverlay();
        if ($(this).text() == 'Next'){
          var str_page = parseInt("<%= @cur_rev_page ? @cur_rev_page : "1" %>")+1;
          $('#review_page_to_load').val(""+str_page);
        }else if ($(this).text() == 'Previous'){
          var str_page = parseInt("<%= @cur_rev_page %>")-1;
          $('#review_page_to_load').val(""+str_page);
        }
        else {
          $('#review_page_to_load').val($(this).text());
        }
        $('form#form_tool_review').submit();
      });
    });
  });
  
</script>