<%= form_for(@toolreview, :remote => true, :html => {:method => "post"}, :url => url_for(:controller => "learn_tools", :action => "update_review") ) do |f| %>

  <%= hidden_field_tag "review_id", @toolreview.id %>
  Title*
  <div>
    <%= f.text_field :title, :style => "width: 500px;", :class => '{validate:{required:true}}' %>
  </div>
  Content*
  <div>
    <%= f.text_area :content, :style => "width: 500px; height: 220px;", :class => '{validate:{required:true}}' %>
  </div>
  <div class="submit" style="float: left;padding-left: 0px">
    <a href="javascript:;"><%= f.submit "Submit", :id => "btn_sbm_tool" %></a>
  </div>  
<% end %>
<script type="text/javascript">
  function SubmitFormTool(){
    var result = $("form#edit_tool_review_<%= @toolreview.id %>").validate({
      meta: "validate"
    });
    if (result) {
      $("form#edit_tool_review_<%= @toolreview.id %>").submit();
    }
  }    
  $(document).ready(function(){
    $('#btn_sbm_tool').click(function(){
      SubmitFormTool();
    });
  });
</script>