<%= render :partial => "top_learn" %>


<div class="contMain">
  <div class="contDetL">
    <div class="contDetLin post">
      <div class="AsDTop">
        <h1 class="titleH1">Submit new tool</h1>
      </div>
      <%= display_flash_messages_with_raw %>
      <%= form_for(@tool, :url => url_for(:controller => "learn_tools", :action => "submit_new_tool") , :html => {:multipart => true, :id => "form_new_tool" }) do |f| %>
        <%= hidden_field_tag "learntool_video_id" %>
        <%= hidden_field_tag "vid_check" %>
        <div class="postCont">
          <div class="postErr">
            <div class="postItem">
              <div class="postTit">Submit new tool</div>
              <div class="postInp">
                <%= f.select("learn_tool_cate_id", "<option value='-1'>Please select</option>"+options_for_select(@tool_cats.collect {|p| [ p.title, p.id ] },   "Select Category")) %>

              </div>
            </div>
            <div class="postItem">
              <div class="postTit">Name*</div>
              <div class="postInp"><%= f.text_field :name, :class => '{validate:{required:true}}' %></div>
            </div>
            <div class="postItem">
              <div class="postTit">Description*</div>
              <div class="postInput">
                <div class="postDesInf" id="desc_count">900 characters max - Current: 0 character</div>
                <div class="postInp"><%= f.text_area :description, :class => '{validate:{required:true}}' %></div>
              </div>
            </div>
            <div class="postItem">
              <div class="postTit">Images*</div>
              <div class="postInp"><%= f.file_field :tool_img, :style => "height: 25px;", :size => "23", :class => '{validate:{required:true, accept: "jpg|jpeg|png"}}' %></div>
            </div>
            <div class="postItem">
              <div class="postTit">URL*</div>
              <div class="postInp">
                <%= f.text_field :href, :class => '{validate:{required:true, url: true}}' %>
                <%= link_to(image_tag("/images/iconQas.png", :style => "width: 14px"), "javascript:;", :class => "vtip", :title => "Your company or product website and we will embedded it into your logo. We will direct your potential customers to your site once they click on your logo or on Check out their website button.") %>
              </div>
            </div>
            <div class="postItem">
              <div class="postTit">Support URL</div>
              <div class="postInp">
                <%= f.text_field :href, :class => '{validate:{url: true}}' %>
                <%= link_to(image_tag("/images/iconQas.png", :style => "width: 14px"), "javascript:;", :class => "vtip", :title => "Your technical support forum URL, in case users have problem with technical issue then we will direct them to your forum.") %>
              </div>
            </div>
            <div class="postItem">
              <div class="postTit">Demo Video</div>
              <div class="postInp">
                <div class="" style="padding-top: 4px;">

                  <% vid_size = current_user.videos.count(:all, :conditions => ["state = ?", "converted"]) %>

                  <% if ( vid_size > 0 ) %>
                    <%= link_to "Select", "#{url_for(:controller => "learn_tools", :action => "video_list")}?height=480&width=760", :style => "color: #1988C7;",:class => "thickbox", :title => "Choose a video from your video list", :id => "select_vid" %>  
                  <% end %>
                </div>
                <input type="text" name="vid_name" id="vid_name" style="margin-left: -62px;  margin-top: 31px; display: none "/>
                <div class="" style="padding-top: 4px; <%= vid_size > 0 ? "padding-left: 10px;": "" %>">
                  <a href="javascript:;" id="btn_new_vid" style="color: #1988C7;">New</a>
                </div>
                <%= link_to(image_tag("/images/iconQas.png", :style => "width: 14px; padding-top: 3px; padding-left: 4px;"), "javascript:;", :class => "vtip", :title => "Your marketing video to demonstrate your product.") %>
              </div>
            </div>

            <div class="photoImg" id="img_selected" style="margin-left: 120px; display: none;">
            </div>            

            <div id ="form_vid" style ="display: none;">
              <%= render :partial => "form_vid" %>
            </div>
            <div id="captcha_area" style="margin-left:120px">
              <%= show_simple_captcha(:label => "CAPTCHA Code *", :class => '{validate:{required:true}}') %>
            </div>
          </div>
        </div>


        <div class="submit" style="margin-left: 128px;float: left;padding-left: 0px">
          <a href="javascript:;" id="btn_sbm_tool">Submit</a>
        </div>

        <div class="submit" style="margin-left: -106px;float: left;padding-left: 0px"><a id="reset_form" href="javascript:;">Reset</a></div>

      <% end %>
    </div>
  </div>

  <%= render :partial => "ads/show_vertical_ads" %>

</div>
<script type="text/javascript">
  function SubmitFormTool(){
    var result = $("form#form_new_tool").validate({
      meta: "validate"
    });
    if (result) {
      $("form#form_new_tool").submit();
    }
  }
  function ManipulateFormNewVid(status){
    if (status == true)//show
    {
      $('div#form_vid').show('slow');
      $('input#video_video_attach').addClass('required');
      $('input#video_title').addClass('required');
    }
    else//hide
    {
      $('div#form_vid').hide();
      $('input#video_video_attach').removeClass('required');
      $('input#video_title').removeClass('required');
    }
  }
  function ManipulateFormSelectVid(status){
    if (status == true)//show
    {
      $('input#vid_name').show('slow');
      $('#img_selected').show('slow');
      $('input#vid_name').addClass('required');
    }
    else//hide
    {
      $('input#vid_name').hide();
      $('#img_selected').hide();
      $('input#vid_name').removeClass('required');
    }
  }
  $(document).ready(function(){
    $('#select_vid').click(function(){
      ManipulateFormNewVid(false);
      ManipulateFormSelectVid(true);
      $('input#vid_check').val("video selected");
    });
    $('#btn_new_vid').click(function(){
      ManipulateFormSelectVid(false);
      ManipulateFormNewVid(true);
      $('input#vid_check').val("new video upload");
    });
    $('#btn_sbm_tool').click(function(){
      /*
      if ($('input#vid_check').val() != "new video upload" ){
        $('div#form_vid').remove();
      }*/
      SubmitFormTool();
    });
    $('#reset_form').click(function(){
      document.getElementById('form_new_tool').reset();
      ManipulateFormNewVid(false);
      ManipulateFormSelectVid(false);
      $('label.error').remove();
    });
    //desc_count
    $('#learntool_description').keyup(function(){
      var len = this.value.length;
      if (len >= 900) {
        this.value = this.value.substring(0, 900);
      }
      $('#desc_count').text("900 characters max - Current: "+len+" character")
    });
  });
</script>