<%= render :partial => "top_part" %>

<div class="contMain">
  <div class="contMainC">
    <div class="col195 QAsTopic">
      <div class="col195in">
        <div class="demo">
          <div class="demoImg">
            <a href="#"><div><%= image_tag @tool.tool_img.url(:medium) %></div></a>
          </div>
          <div class="demoBtm">
            <% if current_user.my_tools.map(&:learntool_id).include?(@tool.id) == true %>
              <a href="javascript:;">Play now</a>
            <% else %>
              <a href="javascript:;">Play a Demo</a>
            <% end %>

          </div>
        </div>
        <div class="demoBtm" style="margin-top: 10px">
          <% if is_tool_favorite(@tool, current_user) == true %>
            <a href="javascript:;">Your Favorite Tool</a>
          <% else %>
            <a id="add_tool_to_favorite" href="javascript:;">Favorite</a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col195 learnInf">
      <div class="col195in">
        <h1 class="col195Title">Information</h1>
        <div class="StarInf">
          <img src="/images/starRed.png"><img src="/images/starRed.png"><img src="/images/starRed.png"><img src="/images/starRW.png"><img src="/images/starWhite.png">
          <span>(4 out of 5)</span>
        </div>
        <div class="basedOn">Based on <a href="#">2552 review</a></div>
        <div class="learnUser">user</div>
        <div class="learnUser"><%= @tool.my_tools.size %> active users</div>
        <div class="learnFri"><a href="#"><%= show_friend_player(@tool) %> friends</a></div>
        <div class="learnCa">Category</div>
        <div class="learnFri"><a href="javascript:;"><%= @tool.learn_tool_cate.title  %></a></div>
        <div class="thisLearn">*This learning tools was <strong>not</strong> developed by AfterClassroom.</div>
      </div>
    </div>
    <div class="col195 Fans">
      <div class="col195in">
        <%= render :partial => "fan_part" %>
        <%= render :partial => "interact_part" %>
      </div>
    </div>
  </div>


  <div class="contMainL" id="middle_panel">
    <div class="col451 learnDet">
      <div class="col451in">
        <div class="learnDetCont">
          <h1 class="titleH1"><%= @tool.name  %></h1>
          <div class="learnDetDes"><%= @tool.description %></div>
          <div class="learnDis">
            <div class="learnDis1">
              <div class="learnDis2">
                <div class="learnDisTitle"><a href="#">Visit the discussion forum for questions, updates, and bugs/help.</a></div>
                <div class="learnDisInf"><a href="#">Do not post it bellow,</a> we cannot keep up with the my lounge so we will miss it and not respond</div>
              </div>
            </div>
          </div>
          <%= render :partial => "friend_player" %>
        </div>
      </div>
    </div>

    <%= render :partial => "tool_review_part" %>

  </div>


  <div class="contMainR">
    <div class="creAdv"><a href="#">Create an Ad</a></div>
    <div class="advert">
      <div class="advertTitle">Advertisement</div>
      <div class="Dani">DaniWeb - IT Discussion Community</div>
      <div class="advertImg"><img src="/images/pictures/pic6.png"></div>
      <div class="advertDes">Tech support, programming, web development, and internet marketing community.</div>
      <div class="advertInf">
        <div class="advertInfL">
          <a class="adverta" href="#">482</a><a class="advertb" href="#">12</a><a class="advertc" href="#">10 Comments</a>
        </div>
        <div class="advertInfR">
          <span class="pre"><a href="#">&nbsp;</a></span>
          <span class="next"><a href="#">&nbsp;</a></span></div>
      </div>
    </div>
    <div class="advert">
      <div class="Dani">DaniWeb - IT Discussion Community</div>
      <div class="advertImg"><img src="/images/pictures/adv.png"></div>
      <div class="advertDes">Tech support, programming, web development, and internet marketing community.</div>
      <div class="advertInf">
        <div class="advertInfL">
          <a class="adverta" href="#">482</a><a class="advertb" href="#">12</a><a class="advertc" href="#">10 Comments</a>
        </div>
        <div class="advertInfR">
          <span class="pre"><a href="#">&nbsp;</a></span>
          <span class="next"><a href="#">&nbsp;</a></span></div>
      </div>
    </div>
    <div class="advert">
      <div class="Dani">MTV - New Music Videos, Reality TV Shows...</div>
      <div class="advertImg"><img src="/images/pictures/adv1.png"></div>
      <div class="advertDes">Watch the latest Music Video from your favorite artists.</div>
      <div class="advertInf">
        <div class="advertInfL">
          <a class="adverta" href="#">482</a><a class="advertb" href="#">12</a><a class="advertc" href="#">10 Comments</a>
        </div>
        <div class="advertInfR">
          <span class="pre"><a href="#">&nbsp;</a></span>
          <span class="next"><a href="#">&nbsp;</a></span></div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" >
   
  function ShowHideDelEditIcon(){
    /*Show hide delete X icon for each comment*/
    $(".helpItem").hover(function(){
      $("div[id*='pr_id_']", this).show();
    }, function(){
      $("div[id*='pr_id_']", this).hide();
    });

    /*Show hide delete X icon for each forum post*/
    $(".helpItem").hover(function(){
      $("div[id*='edpr_id_']", this).show();
    }, function(){
      $("div[id*='edpr_id_']", this).hide();
    });
  }
  
  $(document).ready(function(){
    ShowHideDelEditIcon();
    $('#add_tool_to_favorite').click(function(){
      AddToFavoriteWithCheck('<%= @tool.id %>');
      $('#add_tool_to_favorite').unbind();
    });
  });

  function ShowFavorOverlay(){
    $('.demoBtm').eq(1).append('<div id="favoroverlay"></div>');
    var position = $('.demoBtm').eq(1).offset();

    $("#favoroverlay")
    .height(47)
    .css({
      'opacity' : 0.4,
      'position': 'absolute',
      'top': position.top -10,
      'left': position.left - 10,
      'background':'url("/images/ajax-loader-a.gif") no-repeat center',
      'width': '200px',
      'z-index': 5000
    });
  }

  function AddToFavoriteWithCheck(tool_id){
    ShowFavorOverlay();
    var add_url = "<%= add_favorite_with_check_user_learn_tools_path(current_user) %>";
    $.ajax({
      url: add_url,
      data: {
        str_mytool_id: tool_id
      },
      type: "GET",
      dataType: "html",
      failure: function(msg){
        $('#favoroverlay').remove();
        alert('Failed to communicate with server:' + msg);
      },
      success: function(msg){
        $('#add_tool_to_favorite').text("Your Favorite Tool");
        $('#favoroverlay').remove();
      }
    });  
  }
 
          
</script>