<%= render :partial => "top_part" %>

<div class="contMain">
  <div class="contMainC">
    <div class="col195 QAsTopic">
      <div class="col195in">
        <div class="demo">
          <div class="demoImg">
            <a href="#"><div><%= image_tag @tool.tool_img.url(:medium) %></div></a>
          </div>
          <div class="demoBtm">
            <a id="play_tool_now" href="javascript:;">Play now</a>
          </div>
        </div>
        <div class="demoBtm" style="margin-top: 10px">
          <% if  is_my_tool(@tool) == false %>
            <a id="add_tool_to_mytool" href="javascript:;">Add to My Tool</a>
          <% end %>
        </div>

        <% if admin? %>
          <div id="verify" style="border: 1px solid #DBDBDB; border-radius: 4px;text-indent:4px;">
            Verify/De-verify this tool <input style="margin-left: 12px;" type="checkbox" value="checkbox" name="checkbox" id="checkbox_<%= @tool.id %>" <%= @tool.verify == true ? "checked" : "" %>/>
          </div>        
        <%  end %>
      </div>
    </div>
    <div class="col195 learnInf">
      <div class="col195in">
        <h1 class="col195Title">Information</h1>
        <div class="StarInf">
          <%= render :partial => "rating_star", :locals => {:tool => @tool, :nocheck => "no_check" } %>
          <% percent = @tool.rate_result ? @tool.rate_result : 0 %>
          <span>(<%= percent/20 %> out of 5)</span>
        </div>
        <div class="basedOn">There are <%= @tool.tool_reviews.size %> review(s)</div>
        <div class="learnUser"></div>
        <div class="learnUser"><%= @tool.my_tools.size %>  users</div>
        <div class="learnFri" style="color: #6F6F63"><%= show_friend_player(@tool) %> friends</div>
        <div class="learnCa">Category</div>
        <div class="learnFri" style="color: #6F6F63"><%= @tool.learn_tool_cate_id == -1 ? "None" :  @tool.learn_tool_cate.title %></div>
        <% if  @tool.atc_creator == false  %>
          <div class="thisLearn">*This learning tools was <strong>not</strong> developed by AfterClassroom.</div>
        <% end %>

      </div>
    </div>
    <div class="col195 Fans">
      <div class="col195in">
        <%= render :partial => "fan_part" %>
        <%= render :partial => "interact_part" %>
      </div>
    </div>
  </div>


  <div class="contMainL" id="middle_panel">
    <div class="col451 learnDet">
      <div class="col451in">
        <div class="learnDetCont">
          <h1 class="titleH1"><%= @tool.name  %></h1>
          <div class="learnDetDes"><%= @tool.description %></div>
<%# THIS PART WILL BE ENABLED WHEN WE HAVE API TOOLS%>
          <!-- div class="learnDis">
            <div class="learnDis1">
              <div class="learnDis2">
                <div class="learnDisTitle"><a href="#">Visit the discussion forum for questions, updates, and bugs/help.</a></div>
                <div class="learnDisInf"><a href="#">Do not post it bellow,</a> we cannot keep up with the my lounge so we will miss it and not respond</div>
              </div>
            </div>
          </div -->
          <%= render :partial => "friend_player" %>
        </div>
      </div>
    </div>

    <%= render :partial => "tool_review_part" %>

  </div>

  <%= render :partial => "ads/show_vertical_ads" %>

</div>
<script type="text/javascript" >
  $(document).ready(function(){
    var current_box = $('#checkbox_<%= @tool.id %>');
    
    $(current_box).click(function(){

      var check_status = false;
      if (  $(current_box).is(":checked") == true  ){
        check_status = true;
      }


      alert('vall == set to '+check_status);
      //CALL TO FUNCTION TO VERIFY TOOL, AND UPDATE DATABASE
    });

  });
</script>