<script type="text/javascript" src="/javascripts/vtip.js"></script>

<%= render :partial => "top_learn" %>

<div class="contMain">
  <div class="contMainC">
    <div class="col195 QAsTopic">
      <div class="col195in">
        <div class="demo">


          <div class="demoImg">
            <a href="javascript:;"><div><%= image_tag @tool.tool_img.url(:medium) %></div></a>
          </div>

          <% if @tool.user == current_user %>
          <div class="demoBtm" style="padding-bottom: 8px;">
            <a href="<%= url_for(:controller => "learn_tools", :action => "edit_tool") %>?tool_id=<%= @tool.id %>">Edit</a>
          </div>
          <% end %>


          <div class="demoBtm">
            <a id="play_tool_now" href="javascript:;">Click start</a>
          </div>
          <% if @tool.video_id != nil %>
            <div class="vtip demoBtm" style="margin-top: 10px;" title="Showing the video introduce this tool">
              <%= link_to "Play Video Demo", "#{url_for(:controller => "learn_tools", :action => "play_vid")}?vid_id=#{@tool.video_id}&height=425&width=555", :class => "thickbox", :title => "" %>
            </div>
          <% end %>
        </div>
        <div class="demoBtm" style="margin-top: 10px">
          <% if  is_my_tool(@tool) == false %>
             <%= link_to( "Add to My Tool", {:controller => "learn_tools", :action => "add_mytool", :tool_id => @tool.id  }, :id => "add_tool_to_mytool", :remote => true ,:method => :get) %>
          <% end %>
        </div>

        <% if admin? %>
          <div id="verify" style="text-indent:4px; color: #6F6F63;">
            <input style="margin-left: 1px;" type="checkbox" value="checkbox" name="checkbox" id="checkbox_<%= @tool.id %>" <%= @tool.verify == true ? "checked" : "" %>/> Verify
          </div>        
          <div id="ater_owner" style="text-indent:4px; color: #6F6F63;">
            <input style="margin-left: 1px;" type="checkbox" value="checkbox" name="checkbox" id="owner_<%= @tool.id %>" <%= @tool.atc_creator == true ? "checked" : "" %>/> Develop by AfterClassroom
          </div>        
        <%  end %>
      </div>
    </div>
    <div class="col195 learnInf">
      <div class="col195in">
        <h1 class="col195Title">Information</h1>
        <div class="StarInf">
          <%= render :partial => "rating_star", :locals => {:tool => @tool, :nocheck => "no_check" } %>
          <% percent = @tool.rate_result ? @tool.rate_result : 0 %>
          <span>(<%= percent/20 %> out of 5)</span>
        </div>
        <div class="basedOn">There are <%= @tool.tool_reviews.size %> review(s)</div>
        <div class="learnUser"></div>
        <div class="learnUser"><%= @tool.my_tools.size %>  users</div>
        <div class="learnFri" style="color: #6F6F63"><%= show_friend_player(@tool) %> friends</div>
        <div class="learnCa">Category</div> 
        
         
        
        <div class="learnFri" style="color: #6F6F63">
          <%#= @tool.learn_tool_cate_id == -1 ? "None" :  @tool.learn_tool_cate.title %>
          <% if @tool.learn_tool_cate_id == -1 %>
            None
          <% else %>
            <%= link_to @tool.learn_tool_cate.title, "#{url_for(:controller => "learn_tools", :action => "index")}?tool_cate=#{@tool.learn_tool_cate.id}" %>
          <% end %>
        </div>
        <% str_display = "display: none;" %>
        <% if  @tool.atc_creator == false  %>
          <% str_display = "" %>
        <% end %>
        <div class="thisLearn" id="owner_info" style="<%= str_display %>">*This learning tools was <strong>not</strong> developed by AfterClassroom.</div>

      </div>
    </div>
    <div class="col195 Fans">
      <div class="col195in">
        <%= render :partial => "fan_part" %>
        <%= render :partial => "interact_part" %>
      </div>
    </div>
  </div>


  <div class="contMainL" id="middle_panel">
    <div class="col451 learnDet">
      <div class="col451in">
        <div class="learnDetCont" style="width: 435px;">
          <h1 class="titleH1"><%= @tool.name  %></h1>

          <div class="learnDetDes"><%= @tool.description %></div>
          <div style="color: #6F6F63;  float: left;  margin-left: 0;  width: 125px;">by <a href="<%= user_url(@tool.user) %>"><%= @tool.user.name %></a></div>
                    
          <div style="float: right; position: absolute; margin-left: 341px;" class="vtip" title="Write A Review">
            <%= link_to "Write a Review", "#{url_for(:controller => "learn_tools", :action => "write_review_form")}?tool_id=#{@tool.id}&height=325&width=550", :style => "background: url('/images/icon-morelink.gif') no-repeat scroll 0 0 transparent; padding-left: 15px; color: #0A81C4;",:class => "thickbox", :title => "" %>
          </div>
<%# THIS PART WILL BE ENABLED WHEN WE HAVE API TOOLS%>
          <!-- div class="learnDis">
            <div class="learnDis1">
              <div class="learnDis2">
                <div class="learnDisTitle"><a href="#">Visit the discussion forum for questions, updates, and bugs/help.</a></div>
                <div class="learnDisInf"><a href="#">Do not post it bellow,</a> we cannot keep up with the my lounge so we will miss it and not respond</div>
              </div>
            </div>
          </div -->
          <%= render :partial => "friend_player" %>
        </div>
      </div>
    </div>

    <%= render :partial => "tool_review_part" %>

  </div>

  <%= render :partial => "ads/show_vertical_ads" %>

</div>
<script type="text/javascript" >
  function ShowVerifyAjaxLoader(place_holder){
    $(place_holder).before('<%= show_ajax_loader("holder_place", "background: white;  position: absolute;  width: 18px; margin-left: -1px;") %>');
  }
  function ShowOwnerAjaxLoader(place_holder){
    $(place_holder).before('<%= show_ajax_loader("owner_place", "background: white;  position: absolute;  width: 18px; margin-left: -1px;") %>');
  }
  function OwnHandler(own_status){
    ShowOwnerAjaxLoader('#owner_<%= @tool.id %>');
    var v_url = "<%= owner_handler_user_learn_tools_path(current_user) %>";
    $.ajax({
      url: v_url,
      data: {
        tool_id: '<%= @tool.id %>',
        own_status: own_status
      },
      type: "GET",
      dataType: "html",
      failure: function(msg){
        //$('#owner_place').remove();
        alert('Failed to communicate with server:' + msg);
      },
      success: function(msg){
        $('#owner_place').remove();
        $('#owner_info').toggle();
      }
    });    
  }

  function VerifyHandler(check_status){
    ShowVerifyAjaxLoader('#checkbox_<%= @tool.id %>');
    var v_url = "<%= verify_handler_user_learn_tools_path(current_user) %>";
    $.ajax({
      url: v_url,
      data: {
        tool_id: '<%= @tool.id %>',
        check_status: check_status
      },
      type: "GET",
      dataType: "html",
      failure: function(msg){
        //$('#holder_place').remove();
        alert('Failed to communicate with server:' + msg);
      },
      success: function(msg){
        $('#holder_place').remove();
      }
    });    
  }
  
  $(document).ready(function(){
    //BEGIN display ajaxloader for addToMyTool
    $('#add_tool_to_mytool').click(function(){
      $(this).append('<%= show_ajax_loader("holder_place", "background: none;  position: absolute;  width: 24px; margin-left: 18px;") %>');
    });
    //END display ajaxloader for addToMyTool

    //BEGIN implement function play now
    
    $('#play_tool_now').click(function(){
      window.location = '<%= @tool.href %>';
    });
    //END implement function play now
    var current_box = $('#checkbox_<%= @tool.id %>');
    
    $(current_box).click(function(){

      var check_status = false;
      if (  $(current_box).is(":checked") == true  ){
        check_status = true;
      }
      VerifyHandler(check_status);
    });
    
    var owner_box = $('#owner_<%= @tool.id %>');
    $(owner_box).click(function(){

      var own_status = false;
      if (  $(owner_box).is(":checked") == true  ){
        own_status = true;
      }
      OwnHandler(own_status);
    });

  });
</script>
