<%= form_for(@toolreview, :remote => true, :url => url_for(:controller => "learn_tools", :action => "submit_review") ) do |f| %>
  <%= hidden_field_tag "tool_id", @tool_id %>
  Title*
  <div>
    <%= f.text_field :title, :style => "width: 500px;", :class => "{validate:{required:true}}" %>
  </div>
  Content*
  <div>
    <%= f.text_area :content, :style => "width: 500px; height: 220px;", :class => "{validate:{required:true}}" %>
  </div>

  <div class="submit" style="float: left;padding-left: 0px">
    <a href="javascript:;"><%= f.submit "Submit", :id => "btn_sbm_tool" %></a>
  </div>  
<% end %>
<script type="text/javascript">
  
  function ShowAjaxLoader(){
    $('input#btn_sbm_tool').after('<%= show_ajax_loader("img_loader", "background: none repeat scroll 0 0 white;  float: left;  margin-left: 52px;  margin-top: -21px;  width: 18px;") %>');
  }
  function HideAjaxLoader(){
    $('#img_loader').remove();
  }
  
  function SubmitFormTool(){
    var result = $("form#new_tool_review").validate({
      meta: "validate"
    });
    if (result) {
      $("form#new_tool_reviewl").submit();
    }
  }    
  $(document).ready(function(){
    //Set title for the box
    $('div#TB_ajaxWindowTitle').html('Write A Review');
    $('#btn_sbm_tool').click(function(){
      SubmitFormTool();
    });
    
    $("form#new_tool_review")
    .bind('ajax:beforeSend', function() {
      ShowAjaxLoader();
      $('input#btn_sbm_tool').before('<input type="button" id="btn_close" name="commit" value="Submit"/>');
      $('input#btn_sbm_tool').remove();
    }).bind('ajax:success',function(){
      HideAjaxLoader();
    });
  });
  //show ajax loader
</script>