<%= form_for(@toolreview, :remote => true, :url => url_for(:controller => "learn_tools", :action => "submit_review") ) do |f| %>
  <%= hidden_field_tag "tool_id", @tool_id %>
  Title*
  <div>
    <%= f.text_field :title, :style => "width: 500px;", :class => "{validate:{required:true}}" %>
  </div>
  Content*
  <div>
    <%= f.text_area :content, :style => "width: 500px; height: 220px;", :class => "{validate:{required:true}}" %>
  </div>

  <div class="submit" style="float: left;padding-left: 0px">
    <a href="javascript:;"><%= f.submit "Submit", :id => "btn_sbm_tool" %></a>
  </div>  
<% end %>
<script type="text/javascript">
  function SubmitFormTool(){
    var result = $("form#new_tool_review").validate({
      meta: "validate"
    });
    if (result) {
      $("form#new_tool_reviewl").submit();
    }
  }    
  $(document).ready(function(){
    $('#btn_sbm_tool').click(function(){
      SubmitFormTool();
    });
  });
</script>