<div class="reqLa"><strong>Country<%= "*" if action_name == "new" || action_name == "edit" %></strong></div>
  <div class="inp-formS">
    <%= text_field_tag 'country_name', "#{country_name}", :class => "required tb_arrow", :readonly => "readonly" %>
    <div id="country_div" class="menu_select" style="display:none;">
      <ul>
        <% for country in countries %>
          <li>
            <%= radio_button "city", "country_id", country.id, :onChange =>  "loadState(this.value)", :onClick => "getCountry('#{country.printable_name}')" %>
            <label onClick="getCountry(this.innerHTML)" for="city_country_id_<%= country.id %>"><%= country.printable_name %></label>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

<div class="reqLa"><strong>State<%= "*" if action_name == "new" || action_name == "edit" %></strong></div>
  <div class="inp-formS">
    <%= text_field_tag 'state_name', "#{state_name}", :class => "required tb_arrow", :readonly => "readonly" %>
    <div id="state_div" class="menu_select" style="display:none;">
      <ul>
        <% if states %>
          <% for state in states %>
            <li>
              <%= radio_button "city", "state_id", state.id, :onClick => "getState('#{state.name}')" %>
              <label onClick="getState(this.innerHTML)" for="city_state_id_<%= state.id %>"><%= state.name %></label>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

<script language="javascript">
  function getCountry(country_select){
    $('country_name').value = country_select;
  }
  function getState(state_select){
    $('state_name').value = state_select;
  }
  function loadState(country_id) {
    new Ajax.Updater('state_div', '/cities/state',
    {asynchronous:true,
      evalScripts:true,
      method:'get',
      on500:function(request){alert('Sorry, there was an error.'.l); return false},
      parameters:{country_id:country_id}}
  );
  }
  new Tip('country_name', $('country_div'), {
    width: 'auto',
    title: 'Select Country',
    showOn: 'click',
    hideOthers: true,
    hideOn: { element: 'closeButton', event: 'click'},
    hook: { target: 'bottomLeft', tip: 'topLeft' },
    offset: {x:0, y:0} });

  new Tip('state_name', $('state_div'), {
    width: 'auto',
    title: 'Select State',
    showOn: 'click',
    hideOthers: true,
    hideOn: { element: 'closeButton', event: 'click'},
    hook: { target: 'bottomLeft', tip: 'topLeft' },
    offset: {x:0, y:0} });
</script>
