<div class="right">
  <div id="posting-section">
    <% form_for :city, @city, :html => {:id => "form", :method => :get} do |f| %>

      <div class="reqLa"><strong>Country<%= "*" if action_name == "new" || action_name == "edit" %></strong></div>
      <%= select_tag "city[country_id]", options_from_collection_for_select(@countries, "id", "name"), :style => "width: 198px" %>

      <div class="reqLa"><strong>State<%= "*" if action_name == "new" || action_name == "edit" %></strong></div>
      <div class="inp-formS">
        <%= observe_field 'city[country_id]', :controller => "cities_controller", :url => {:controller=>"cities_controller", :action=>'index'} %>
      </div>
      <div class="reqLa"><strong>City name</strong></div>
      <div class="inp-formS">
        <%= f.text_field :name %>
      </div>
      <div class="reqLa">
        <div class="form-buttom">
          <!-- post  button -->
          <a href="javascript:submit()" title="Post" class="link_bt">
            <span class="ltred_l"></span>
            <span class="ltred_c btf">Search</span>
            <span class="ltred_r"></span>
          </a>
          <!-- end post button -->
        </div>
      </div>
      <div id="elements_store"></div>
    <% end %>
  </div>
</div>



