<% content_for :you_are_here do -%>
  You are here: <a href="javascript:;">Help Information</a>
<% end -%>
  <% content_for :menu_sub do -%>
  <%= render :partial => "/statics/submenu" %>
<% end -%>
<!-- div class="mainSignUpS">
  <div class="AsDContImg"><a href="/"><div><img src="/images/pic11.png"></img></div></a></div>
  <div class="txtsignup topHelp">
    <div class="AftBe">
      <div class="txtsignup1">AfterClassroom</div>
    </div>
    <div class="sponsorS">
      <div class="sponsorLink">
        <div class="menuRL">
          <div class="menuRItem">
            <a href="/forums">
              <span class="span1">
                <span class="span2">Community Help Forum</span>
              </span></a>
          </div>

          <div class="menuRItem menuRselect">
            <a href="/press_infos">
              <span class="span1">
                <span class="span2">Press Release</span>
              </span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div -->
<!--Content-->



<div class="contMainLH">


  <div class="col654 QAs">
    <div class="col654in">
      <div class="col654Cont">

        <div style="width: 632px;" class="helpCR">
          <%= display_flash_messages_with_raw %>

          <div class="helpTitle">
            <a style="color: #0A81C4; font-size: 12px; font-weight: bold; line-height: 29px;" href="javascript:;">Press Release</a>




            <% if admin? %>
              <div style="height: 28px; display: inline; float: right; border: 1px solid rgb(219, 219, 219); margin-top: 3px;" class="slsShareR">
                <a id="form_handler" style="height: 9px; display: block; padding: 10px; background-color: rgb(245, 246, 245);" class="slsShareW" href="javascript:;" onclick="$('#story_form_new').toggle('slow');">Write it</a>
              </div>
            <% end %>

          </div>



























          <% if admin? %>
            <div style="padding-left: 0pt;" class="assPage">
              <div class="stoEx" style=" display: none;" id="story_form_new">
                <%= form_for :story, :url => save_press_infos_path, :html => {:id => "form_new"} do |f| %>
                  <%= hidden_field_tag "state", "", :id => "story_state" %>
                  <div style="overflow: hidden; padding: 7px 0pt; margin-left: 12px;" class="stoExItem">
                    <div style="display: inline; color: rgb(111, 111, 99); float: left; font-weight: bold; line-height: 21px; width: 75px;" class="stoExItemL">Title*</div>
                    <div class="stoExItemR" style="display: inline;">
                      <%= f.text_field :title, :class => '{validate:{required:true}}', :style => "border: 1px solid #CECECE;  padding-top: 6px;  text-indent: 2px;  width: 535px;" %>
                    </div>
                  </div>
                  <div class="stoExItem" style="overflow: hidden;">
                    <div class="stoExItemL" style="display: inline; color: rgb(111, 111, 99); float: left; font-weight: bold; line-height: 21px; width: 75px; margin-left: 13px;">Your story</div>
                    <div class="stoExItemR" style="display: inline; float: right; width: 525px; margin-right: 19px;">
                      <%= f.text_area :content, :rows => 2, :style => "width:525px", :class => '{validate:{required:true}}' %>
                    </div>
                  </div>
                  <div class="stoExBtm">
                    <div style="margin-left: 87px; margin-top: 10px;">
                      <a onclick="submitNewPress();" id="save_new" href="javascript:;" style="padding-left: 1px; padding-top: 5px; color: #FFFFFF; display: block; height: 25px; width: 44px; text-align: center; text-decoration: none; background: url('/images/btm48.png') no-repeat scroll left top transparent;">Save</a>
                    </div>
                    <div style="margin-left: 142px; margin-top: -31px;">
                      <a href="javascript:;" style="padding-left: 1px; padding-top: 5px; color: #FFFFFF; display: block; height: 25px; width: 44px; text-align: center; text-decoration: none; background: url('/images/btm48.png') no-repeat scroll left top transparent;">Cancel</a>
                    </div>
                  </div>
                  <div class="stoError" style="padding: 10px;"></div>
                <% end %>
              </div>
            </div>
          <% end %>

          <div style="border-bottom: 1px solid #DBDBDB; clear: both; display: block">
            <a style="color: #0A81C4; font-size: 12px; font-weight: bold; line-height: 29px;" href="javascript:;">Archives</a>
          </div>
          <div style="margin-top: -28px; ; color: rgb(110, 110, 110); background: url('/images/bgSearchF.png') no-repeat scroll left top transparent;  float: right;  height: 24px;  padding-right: 0;  width: 194px;">
            <%= form_tag url_for(:controller => "press_infos", :action => "searchpr"), {:id => "info_search", :method => "GET"},  do %>
              <div class="textS"><%= text_field_tag "search_content", "", :style => "height: 12px" %></div>
              <div style="margin-top: -18px; margin-right: 3px; float: right;" >
                <a href="javascript:;" onclick="searchPress();"><img src="/images/iconSF.png" style="border: 0px;"/></a>
              </div>
            <% end %>
          </div>





          <% if controller.action_name == "searchpr" %>
            <% @presses.each_hit_with_result do |hit,pr| %>
              <% txt_content = raw( hit.highlight(:content).format { |fragment| content_tag(:em, fragment) } ) %>
              <%= render :partial => "item", :locals => {:pr => pr, :content => txt_content } %>
            <% end %>
          <% else %>
            <% @presses.each do |pr| %>
              <%= render :partial => "item", :locals => {:pr => pr, :content => pr.content } %>
            <% end %>
          <% end %>


          
          
          <% if controller.action_name == "searchpr" %> 

            <div class="assPage" style="padding-left:0">
              <span class="numPage"><%= page_entries_info @presses.results %></span>
              <%= will_paginate(@presses.results, :params => { :controller => "press_infos", :action => "searchpr"}) %>
            </div>


          <% else %>
            <div class="assPage" style="padding-left:0">
              <span class="numPage"><%= page_entries_info @presses %></span>
              <%= will_paginate @presses %>
            </div>


          <% end %>
          <div style="padding: 0pt;" class="goTop"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contMainRH">
  <div class="popu">
    <div class="popuTop">
      <div class="popuTitle">   </div>
      <div class="popuAll">
        <a href="#">A Link</a>
      </div>
    </div>
    <div class="popuDes"><b>   </b>   </div>
  </div>
</div>
<script type="text/javascript" >
  
  function submitNewPress(){
    var result = $("#form_new").validate({
      meta: "validate"
    });
    if (result) {
      $("#form_new").submit();
    }
  }  
  function searchPress(){
    $("#info_search").submit();
  }
  
  
  $(document).ready(function(){
    
    <%#*$('.sponsorS').css('margin-top','-43px');%>
    <%#*$('.sponsorS').css('margin-left', '60px');%>
    <%#*$('.contMain').css('margin-top', '-7px');%>
    <%#*$('.menuRL').css('margin-top', '7px');%>
    
     
    
    
    $('.wysiwyg').css('width','525px');
    $('#story_contentIFrame').css('width','525px');

    $('#save_new').click(function(){
      $('#form_new').submit();
    });
    
    
    
    $("div[id*='pr_id_']").click(function(){
      $(this).parent().toggle();
    });

    
  });
  (function($)
  {
    $('#story_content').wysiwyg({
      controls: {
        createLink : { visible : true },

        insertImage : { visible : true },

        separator05 : { visible : false },

        separator06 : { visible : false },

        h1 : { visible : false },
        h2 : { visible : false },
        h3 : { visible : false },

        removeFormat : { visible : true }
      }
    });
  })(jQuery)

</script>
<style>
  .sponsorS{
    margin-top: -39px;
    margin-left: 60px;
  }
  
   .contMain{
     margin-top:-7px;
   }
   .menuRL{
    margin-top: 7px; 
   }

  .prButton{
    padding-left: 1px;
    padding-top: 5px;
    color: #FFFFFF;
    display: block;
    height: 25px;
    width: 87px;
    text-align: center;
    text-decoration: none;
    background: url('/images/btm87.png') no-repeat scroll left top transparent;
  }
  .helpD em{
    color: #F6A828;
    font-weight: bold;
  }
</style>