<html>
  <body>
    <div id="detail_window">
       Hello <%= @creator.name %>, <br/>

Your tag of <a href="<%= user_url(@user) %>"><%= @user.name %></a> on 

<%= @photo.title == "" ? raw("<a href='#{user_photo_url(@photo.user, @photo)}'>photo</a>") : "photo: "  %> 
<a href="<%= user_photo_url(@photo.user, @photo) %>"><%= @photo.title %></a>

 has been created.<br/>


      Yours sincerely, <br/>
      Afterclassroom Support Team.
      
    </div>  
  </body>
</html>
