<html>
  <body>
    <div id="detail_window">
       Hello <%= @user.name %>, <br/>

Tag of you has been created at 

<%= @photo.title == "" ? raw("<a href='#{user_photo_url(@photo.user, @photo)}'>photo</a>") : "photo: "  %> 
<a href="<%= user_photo_url(@photo.user, @photo) %>"><%= @photo.title %></a>


 by <a href="<%= user_url(@creator) %>"><%= @creator.name %></a>.<br/>


      Yours sincerely, <br/>
      Afterclassroom Support Team.
      
    </div>  
  </body>
</html>
