<%= display_flash_messages_with_raw %>
<% form_tag url_for(:controller => "music_albums", :action => "add_tag"), :id => "form_tag_user", :style => "display:none;", :method => :post, :remote => true do %>
  <%= hidden_field_tag "music_album_id", @music_album.id %>
<div class="form_friends" style="margin-left:10px; margin-top: 10px; width: 440px;">
    <%= text_field_tag "share_to", "" %>
		<div class="submit" style="float: right; margin-top: -25px;" id="send_btn">
		  <a onmouseover="this.style.cursor='pointer';">Send</a>
		  <div class="submit_loader"></div>
		</div>
  </div>
<% end %>

<% form_tag url_for(:controller => "music_albums", :action => "comment_inform"), :id => "form_cmt_inf", :method => :post, :remote => true do %>
  <%= hidden_field_tag "comment_content" %>
  <%= hidden_field_tag "music_album_id", @music_album.id %>
<% end %><!-- end form Note: this form is used to send notification to tagged-users when new comment is added -->

<% if  @music_album.user == current_user && @usrs_for_verify.size > 0 %>
<div id="verify_label" style="color: #0A81C4;  margin-left: 37px;  padding: 10px 10px 0;">
  Verify users have been tagged 
  <a id="show_or_hide" href="javascript:;" style="margin-left: 8px; color: #0A81C4;">(Hide)</a>
  <a id="sel_desel_all" href="javascript:;" style="margin-left: 311px; color: #0A81C4;">Select all</a>
</div>
<% form_tag url_for(:controller => "music_albums", :action => "tag_decision"), :id => "form_tag_decision", :method => :post, :remote => false do %>
<%= hidden_field_tag "decision_id" %>
<%= hidden_field_tag "music_album_id", @music_album.id %>
<div id="approve_panel" style="border: 1px solid #CECECE;display: block;margin-left: 48px;margin-top: 10px;overflow: hidden;width: 552px;">
  <% @usrs_for_verify.each do |user| %>
  <%= render :partial => "photos/item_user", :locals => {:user => user} %>

  <% end %>
</div>
<div class="stoDbtm" style="display:none;" id="btn_pannel">
  <div class="AsDContBtm" style="float:right; margin-right: 39px;">
    <span class="btmComment"><a href="javascript:;" id="accept_btn">Accept</a></span>
    <span class="btmComment"><a href="javascript:;" id="refuse_btn">Refuse</a></span>
  </div>
</div>
<% end %><!-- end form -->        

<% end %><!-- end if  -->

<style>
  .textboxlist-autocomplete-result div{
    background: url("/images/bgi-col300.png") no-repeat scroll 0 0 transparent;
    padding: 3px;
    height: 51px;
  }
</style>
<script type="text/javascript">
	$(document).ready(function(){
    $("#send_btn").click(function(){
      $('#send_btn').append('<div id="loader_id_submit">');
      $('.submit_loader').append('<%= show_ajax_loader("loader_submit","display: block; position: absolute; float: right; height: 19px; margin-top: -22px; margin-left: 55px;") %>');
      $("#loader_id_submit")
      .height(25)
      .css({
        'opacity' : 0.4,
        'display': 'block',
        'position': 'absolute',
        'margin-top': '-25px',
        'background-color': 'white',
        'width':'80px'
      });
    });
  });
  var path = "<%= list_friend_to_tag_user_path(current_user) %>?tagable_id=<%= @music_album.id %>&tagable_type=<%= @music_album.class.name %>";

  $(function(){
    
    // Autocomplete initialization
    var tb = new $.TextboxList('#share_to', {
      unique: true,
      plugins: {
        autocomplete: {
          onlyFromValues: true
        }
      }
    });
    tb.getContainer().addClass('textboxlist-loading');
    $.ajax({
      url: path,
      dataType: 'json',
      success: function(r){
        tb.plugins['autocomplete'].setValues(r);
        tb.getContainer().removeClass('textboxlist-loading');
      }
    });
        
  });  

  $(document).ready(function(){
    
    $('#send_btn').click(function(){
      $('form#form_tag_user').submit();
    });
    
    /* BEGIN: handle send comment event to send email notification */
    var sendBtn = $('form#form_comment').find('a');
    sendBtn.bind('click',function(){
      var strContent = $('form#form_comment').find('#comment').val();
      $('form#form_cmt_inf').find('#comment_content').val(''+strContent);
      $('form#form_cmt_inf').submit();
    });
    /* END: handle send comment event to send email notification */
  })

</script>
<script type="text/javascript">
  //BEGIN: show/hide verify panel
  //approve_panel
  var overallCount = 0;//this variable support for show/hide accept/refuse
  var noOfRemove=0;//this variable support for show/hide ckbox at tag-list
  $(document).ready(function(){
    $('#show_or_hide').click(function(){
      if ( $(this).html() == '(Show)' ){
        $(this).html('(Hide)');
        $('#sel_desel_all').show();
      }else {
        $(this).html('(Show)');
        $('#sel_desel_all').hide();
      }
      $('#approve_panel').toggle();
    })//end show or hide

    $('#sel_desel_all').click(function(){
      if ( $(this).html() == 'Select all' ){
        overallCount = $('#approve_panel').find('*[id*=checkbox_]').length;
        $(this).html('Deselect');
        $('#btn_pannel').show('slow');
        $('#approve_panel').find('*[id*=checkbox_]').each(function(){
          $(this).attr('checked','checked');
        });
      }else {
        overallCount = 0;
        $(this).html('Select all');
        $('#btn_pannel').hide('slow');
        $('#approve_panel').find('*[id*=checkbox_]').each(function(){
          $(this).attr('checked','');
        });
      }      
    });//end sel desel all
    //Begin event for accept/refuse
    $('#accept_btn').click(function(){
      $('#decision_id').val('ACCEPT');
      $("form#form_tag_decision").submit();
    });
    $('#refuse_btn').click(function(){
      $('#decision_id').val('REFUSE');
      $("form#form_tag_decision").submit();
    });

    //end event for accept/refuse

  //BEGIN: show/hide checkbox to manage tagged users
    $('#manage_btn').click(function(){
      $('input[id*=tagbox_]').each(function() {
        $(this).toggle('slow');
      });
    });
  //END: show/hide checkbox to manage tagged users

  });//end document ready
  $(document).ready(function(){
    $('.textboxlist-autocomplete').css({
      'width':'380px'
    });
  });
</script>
