<div class="musicL">
  <div class="photoImg"><%= link_to raw("<div>#{image_tag music_album.music_album_attach.url(:thumb)}</div>"), play_list_user_musics_url(current_user, :music_album_id => music_album) %></div>
  <div class="mostMSR">
    <div class="mostMSA"><%= link_to "", play_list_user_musics_url(current_user, :music_album_id => music_album), :class => "mostMSPlay" %><%= link_to "", new_user_music_url(current_user, :music_album_id => music_album), :class => "mostMSadd" %></div>
  </div>
  <div class="musicB">
    <div class="musicN"><%= link_to music_album.name, play_list_user_musics_url(current_user, :music_album_id => music_album) %></div>
    <div class="musicS"><%= pluralize(music_album.musics.size, "song") %></div>
  </div>
</div>