<div class="slsTop">
    <div class="slsTopL">
        <div class="slsTopLT">
            Friends shared musics
        </div>
        <div class="slsTopLB friLeft">
            <div class="search" style="margin-top:-19px; margin-bottom:10px">
                <%= form_for :search_friend_music, :url => friend_m_user_musics_path(current_user), :html => {:id => "friend_musics_search", :method => "GET", :onsubmit => "return false"} do %>
                <div class="textS">
                    <%= text_field_tag "search[name]", @search_name %>
                </div>
                <div class="btmS">
                    <a href="javascript:;" onclick="searchFriendMusics();"><img src="/images/iconSF.png"/></a>
                </div><% end %>
            </div>
        </div>
    </div>
</div>
<div class="musicRow">
    <% @music_albums.each do |f_m| %>
    <%= render :partial => "item_friend_music", :locals => {:music_album => f_m} %>
    <% end %>
</div>
<div class="slsTopR">
    <!--Pagination-->
    <div class="assPage friend_musics">
        <span class="numPage"><%= page_entries_info @music_albums %></span>
        <%= will_paginate @music_albums %>
    </div>
    <!--Pagination-->
</div>
<script type="text/javascript">
    formatLinkForPaginationURLFriendMusic();
</script>
