<div class="col300 Request">
  <div class="col300in">
    <h1 class="col300Title">Want to hire Tutor?</h1>
    <div class="col300Cont">
      <% form_for :post_tutor, :url => {:action => "create"}, :html =>{:multipart => true, :id => "form_post"} do |f| %>
        <% fields_for :post do |p| %>
          <%= render :partial => "/shared/form_request_post/select_department", :locals => {:f => f} %>
          <%= render :partial => "/shared/form_request_post/select_school_year", :locals => {:f => f} %>
          <%= render :partial => "/shared/form_request_post/title", :locals => {:p => p} %>
          <%= render :partial => "/shared/form_request_post/description", :locals => {:p => p} %>
          <div class="reqSl">
            <div class="req40">
              <div class="reqLa"><label>Phone</label></div>
              <div class="reqTi"><%= f.text_field :phone %></div>
            </div>
            <div class="req60">
              <div class="reqLa"><label>Address</label></div>
              <div class="reqTi"><%= f.text_field :address %></div>
            </div>
          </div>
          <%= render :partial => "/shared/form_request_post/file", :locals => {:p => p} %>
          <%= render :partial => "/shared/form_request_post/select_tag" %>
          <div id="recaptcha_container">
            <div class="reqLa"><label>Enter the two words below</label></div>
            <div class="reqTi"><%= text_field_tag "recaptcha_response_field" %></div>
            <div id="recaptcha_image"></div>
          </div>
          <%= recaptcha_tags(:display => {:theme => "custom"}) %>
          <div class="regReload"><a class="regRlBt" href="javascript:Recaptcha.reload();">Get new words</a></div>
          <div class="submit"><%= show_submit_form() %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>