<% fields_for @post_tutor.post do |post| %>
  <%= display_flash_messages %>
  <div class="postReq">*(asterisk) is required.</div>
  <div class="postItemDep">
    <div class="postTit">Type</div>
    <div class="postDep"><%= f.text_field :tutor_type_id %></div>
  </div>
  <div class="postItem">
    <div class="postTit">Title*</div>
    <div class="postInp"><%= post.text_field :title, :class => 'required', :style => "width:360px;" %></div>
  </div>
  <div class="postItem">
    <div class="postTit">Description*</div>
    <div class="postInput">
      <div class="postDesInf" id="post_description_counter"><span>0</span> characters (900 max)</div>
      <div class="postInp"><%= post.text_area :description, :class => 'required' %></div>
    </div>
  </div>
  <div class="postItem">
    <div class="postTit">School</div>
    <div class="postInp">Your are at <strong><%= School.find(@school).name %></strong> - <%= link_to("Click here", "/users_select_school/show?height=170", :class => "thickbox", :title => "Select Schoools") %> to choose another school.</div>
  </div>
  <div class="postItemDep">
    <div class="postTit">Department</div>
    <div class="postDep"><%= f.text_field :department_id %></div>
  </div>
  <div class="postItemDep">
    <div class="postTit">School year</div>
    <div class="postDep"><%= f.text_field :school_year %></div>
  </div>
  <div class="postItem">
    <div class="postTit">Email</div>
    <div class="postRad">
      <div><%= radio_button "post", "use_this_email", true, :checked => @post_tutor.post.use_this_email %> Use my login email instead</div>
      <div><%= radio_button "post", "use_this_email", false, :checked => !@post_tutor.post.use_this_email %> Reply to [post category] - xxxxxx@afterclassroom.com (AC anonymizes your ..)</div>
    </div>
  </div>
  <div class="postItem">
    <div class="postTit">Phone</div>
    <div class="postInp"><%= f.text_field :phone, :style => "width:208px" %></div>
  </div>
  <div class="postItem">
    <div class="postTit">Address</div>
    <div class="postInp"><%= f.text_field :address, :style => "width:208px" %></div>
  </div>
  <div class="postItem">
    <div class="postTit">Add/Edit File</div>
    <div id="divinputfile">
      <%= post.file_field :attach, :onchange => "$('#fakefilepc').val(this.value);", :size => "39", :class => "filepc" %>
      <div id="fakeinputfile"><input name="fakefilepc" type="text" id="fakefilepc" /></div>
    </div>
  </div>
  <div class="postItem">
    <div class="postTit">Tag</div>
    <div class="postInp"><%= text_field_tag "tag", "", :style => "width:280px" %></div>
  </div>
<% end %>

<ul id="tutor_type_menu" class="mcdropdown_menu">
  <% TutorType.find(:all).each do |t| %>
    <li rel_tutor_type="<%= t.id %>">
      <%= t.name %>
    </li>
  <% end %>
</ul>

<ul id="department_menu" class="mcdropdown_menu">
  <%
  departments = Department.of_school(@school)
%>
  <li rel_department="">
    Chose department
  </li>
  <%
  category_id = ""
%>
  <% departments.each do |dp| %>
    <% if category_id == "" %>
      <li rel="category_id_<%= dp.department_category.id %>">
        <%= dp.department_category.name %>
        <ul>
          <li rel_department="<%= dp.id %>"><%= dp.name %></li>
        <% elsif category_id == dp.department_category.id %>
          <li rel_department="<%= dp.id %>"><%= dp.name %></li>
        <% else %>
        </ul>
      </li>
      <li rel="category_id_<%= dp.department_category.id %>">
        <%= dp.department_category.name %>
        <ul>
          <li rel_department="<%= dp.id %>"><%= dp.name %></li>
        <% end %>
        <% category_id = dp.department_category.id %>
      <% end %>
    </ul>
  </li>
</ul>

<%
list_years = [["Chose year", ""], ["1st Year", "1year"], ["2nd Year", "2year"], ["3rd Year", "3year"], ["4th Year", "4year"], ["Ms.C", "ms.c"], ["Ph.D", "ph.d"]]
%>
<ul id="year_menu" class="mcdropdown_menu">
  <% list_years.each do |year| %>
    <li rel_year="<%= year[1] %>">
      <%= year[0] %>
    </li>
  <% end %>
</ul>

<script type="text/javascript">
  $("#post_tutor_tutor_type_id").mcDropdown("#tutor_type_menu", {
    width: 350,
    valueAttr: "rel_tutor_type"
  });
  $("#post_tutor_department_id").mcDropdown("#department_menu", {
    width: 350,
    valueAttr: "rel_department"
  });
  $("#post_tutor_school_year").mcDropdown("#year_menu", {
    width: 350,
    valueAttr: "rel_year"
  });
  $("#post_description").counter({
    count: 'up',
    goal: 900
  });
  $(function() {
    $("#post_tutor_due_date").datepicker();
  });
  function submit(){
    var result = $("#form_post").validate();
    if (result) {
      $("#form_post").submit();
    }
  }
   var tags = <%= array_or_string_for_javascript(@tags) %>;
  $(function () {
    $('#tag').tagSuggest ( {
      tagContainer : 'div',
      tagWrap : 'div',
      tags: tags,
      separator: ', '
    });
  }) ;
</script>