<% content_for :you_are_here do -%>
  You are here: <a href="/">Home</a><%= link_to "Tutors", post_tutors_path, :class => "abLink-detail" %><%= link_to "Don't hire", "#", :class => "abLink-detail" %>
<% end -%>

<% content_for :post_button do -%>
  <%= render :partial => 'shared/post_button', :locals => {:new_post_path => @new_post_path} %>
<% end -%>

<% content_for :menu_sub do -%>
  <%= render :partial => "submenu" %>
<% end -%>

<!--Content-->
<div class="contMainL">
  <div class="col451 Tutor">
    <div class="col451in">
      <div class="col451Cont">
        <!--Options-->
        <%= show_options(@school, params, {"tutor_type_id" => @tutor_type_id}) %>
        <!--Options-->

        <!--List Items-->
        <% @posts.each do |post| %>
          <%= render :partial => "item", :locals => {:post => post, :title => post.title, :description => post.description}%>
        <% end %>
        <!--List Items-->

        <!--Pagination-->
        <div class="assPage">
          <span class="numPage"><%= page_entries_info @posts %></span>
          <%= will_paginate @posts %>
        </div>
        <!--Pagination-->
        <div class="goTop"><a href="javascript:;" onclick="goToByScroll('top_page')">Top</a></div>
      </div>
    </div>
  </div>

</div>
<div class="contMainC">
  <!--Browser Effective Tutors-->
  <%= render :partial => "effective" %>
  <!--Browser Effective Tutors-->

  <!--Browser Don't hire-->
  <%= render :partial => "dont_hire" %>
  <!--Browser Don't hire-->

  <!--Browser Poll this Tutors-->
  <%= render :partial => "poll" %>
  <!--Browser Poll this Tutors-->
</div>

<div class="contMainR">
  <!--Browser by Subject-->
  <%= render :partial => "shared/browser_by_subject", :locals => {:tags => @tags} %>
  <!--Browser by Subject-->

  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->

  <!--Request Assignment-->
  <%= render :partial => "form_request_tutor" %>
  <!--Request Assignment-->
</div>
<!--Content-->
