<ul class="<%= current_menu %>">
  <li>
    <a href="<%= path %>"><b><%= name %></b><!--[if IE 7]><!--></a><!--<![endif]-->
    <!--[if lte IE 6]><table><tr><td><![endif]-->
    <div class="select_sub <%= current_sub %>">
      <% if sub_menus.is_a?(Array) && sub_menus.size > 0 %>
      <ul class="sub">
        <% sub_menus.each do |item| %>
        <li <%= "class='sub_show'" if item[1] == current_item %>><a href="<%= item[2] %>"><%= item[0] %></a></li>
        <% end %>
      </ul>
      <% end %>
    </div>
    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
  </li>
</ul>

<div class="nav-divider">&nbsp;</div>