<% content_for :header do -%>
  Functional experiences
<% end -%>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for functional_experience in @functional_experiences %>
  <tr>
    <td><%=h functional_experience.name %></td>
    <td><%= link_to 'Show', functional_experience %></td>
    <td><%= link_to 'Edit', edit_functional_experience_path(functional_experience) %></td>
    <td><%= link_to 'Destroy', functional_experience, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New functional_experience', new_functional_experience_path %>
