$("#rate_<%= @post.id %>").html("<div class='qashdU'><a href='javascript:;' class='vtip' title='<%= configatron.str_rated %>'><%= @post_p.total_good %></a></div><div class='qashdD'><a href='javascript:;' class='vtip' title='<%= configatron.str_rated %>'><%= @post_p.total_bad %></a></div><script>vtip();</script>'");
