<% content_for :you_are_here do -%>
  You are here: <a href="/">Home</a><%= link_to "Events", post_events_path, :class => "abLink-detail" %><%= link_to "Search", "#", :class => "abLink-detail" %>
<% end -%>

<% content_for :post_button do -%>
  <%= render :partial => 'shared/post_button', :locals => {:new_post_path => @new_post_path} %>
<% end -%>

<% content_for :menu_sub do -%>
  <%= render :partial => "submenu" %>
<% end -%>

<!--Content-->
<div class="contMain">
  <div class="contMainL">
    <div class="col451 Event">
      <div class="col451in">
        <div class="col451Cont">
          <div class="AsDTop">
            <h1 class="titleH1">Event</h1>
            <div class="AsDsearch">
            <%= render :partial => "shared/search_indetail", :locals => {:url_search => search_post_events_path} %>
          </div>
          </div>
		  <%= display_flash_messages_with_raw %>
          <!--List Items-->
          <% @posts.each do |post| %>
            <%= render :partial => "item", :locals => {:post => post, :title => post.title, :description => post.description}%>
          <% end %>
          <!--List Items-->

          <!--Pagination-->
          <div class="assPage">
            <span class="numPage"><%= page_entries_info @posts %></span>
            <%= will_paginate @posts %>
          </div>
          <!--Pagination-->
          <div class="goTop"><a href="javascript:;" onclick="goToByScroll('top_page')">Top</a></div>
        </div>
      </div>
    </div>

  </div>

  <div class="contMainC">
    <!--Browser Top event posters-->
    <%= render :partial => "top_event_posters" %>
    <!--Browser Top event posters-->
  </div>

  <div class="contMainR">
    <!--Browser by Subject-->
    <%= render :partial => "shared/browser_by_subject" %>
    <!--Browser by Subject-->

    <!--Ads-->
    <%= render :partial => "ads/show_vertical_ads" %>
    <!--Ads-->

    <!--Recent Request events-->
    <%= render :partial => "recent_request_events" %>
    <!--Recent Request events-->
  </div>
</div>
<!--Content-->
