<%= render :partial => "submenu" %>
<% content_for :you_are_here do -%>
  You are here: <a href="/">Help Information</a>
<% end -%>
<!--Content-->
<div class="contMainLH">
  <div class="col654 QAs">
    <div class="col654in">
      <div class="col654Cont">
        <div class="helpL">
          <div class="helpLin">
            <div class="helpTitle">Community Help Forum</div>
            <div class="AsDsearchH">
              <%= render :partial => "search_help" %>
            </div>
            <div class="helpCom"><a href="#">Community Help Forum</a></div>
            <div class="helpPost"><a href="#">Post A Question</a>

              <%= render :partial => "form" %>
              <p id="notice"><%= notice %></p>

            </div>
          </div>
        </div>
        <div class="helpCR">
          <div class="helpTitle"><a href="#">Community Help Forum</a></div>
          <% @help_infos.each do |help_info| %>
            <div class="helpItem">
              <div class="helpT"><a href="#"><%= help_info.title %></a></div>
              <div class="helpD"><%= help_info.content %></div>
              <div class="helpDis"><a href="#">20956 discussions</a></div>
              <div class="com">

              </div>
              <%= link_to 'Destroy', help_info, :confirm => 'Are you sure?', :method => :delete %>
            <% end %>
          </div>

          <div class="allDis"><a href="#">Browse all discussions</a></div>
      
        </div>
      </div>
    </div>
  </div>
  <div class="contMainRH">
    <div class="popu">
      <div class="popuTop">
        <div class="popuTitle">Popular Discussions</div>
        <div class="popuAll"><a href="#">See all</a></div>
      </div>
      <div class="popuDes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat, erat sit amet mattis suscipit, enim libero laoreet dolor, non varius metus enim sed lectus...</div>
      <div class="popuRe"><a href="#">39 replies</a></div>
      <div class="popuDes">Proin sit amet neque felis, eu aliquam sapien. Sed eget justo quis erat pharetra dapibus. Nam consectetur augue et arcu suscipit tristique !</div>
      <div class="popuRe"><a href="#">56 replies</a></div>
      <div class="popuDes">Nunc massa lorem, scelerisque in posuere at, adipiscing in ante. Integer lobortis, sem eu iaculis rutrum, lectus augue viverra leo, vitae luctus libero enim eu nibh..</div>
      <div class="popuRe"><a href="#">25 replies</a></div>
    </div>
  </div>
</div>
<!--Comments-->

<!--Comments-->
<!--Comments-->

<!--Comments-->
<style>
  .col654H{
  background: url("/images/top654.png") no-repeat scroll 0 0 white;
    margin-bottom: 8px;
    width: 654px;
  }
  .col654Hin{
      background: url("/images/bot654.png") no-repeat scroll left bottom transparent;
    overflow: hidden;
    padding: 10px;
}
</style>



