<html>
  <body>
    <div id="detail_window">
       Hello <%= @user.name %>, <br/>


<a href="<%= user_url(@story.user) %>"><%= @story.user.name %></a>

 has invited you to a story 

<a href="<%= user_story_url(@story.user, @story) %>"><%= @story.title %></a>

.<br/>
      
      
      Yours sincerely, <br/>
      Afterclassroom Support Team.
      
    </div>  
  </body>
</html>
