<html>
  <body>
    <div id="detail_window">
       Hello <%= @tag_creator.name %>, <br/>

Your invitation of 

<a href="<%= user_url(@user) %>"><%= @user.name %></a>

 at 

<a href="<%= user_story_url(@story.user, @story) %>"><%= @story.title %></a>

 has been refused.<br/>

     
      Yours sincerely, <br/>
      Afterclassroom Support Team.
      
    </div>  
  </body>
</html>
