<% @tools.each do |tool|%>
  <% div_for tool do %>
    <div class="learnNItem">
      <div class="assPic"><a href="#"><div><img src="/images/pictures/noimg.png"></div></a></div>
      <div class="learnFavtitle">
        <%= link_to tool.name, :controller => 'oauth_clients', :action => 'show_tool', :tool_id => tool.id %>
        <span class="learnFavS">
          <%= render :partial => "learn_tools/rating_star", :locals => {:tool => tool, :nocheck => "no_check" }  %>
        </span>
      </div>
      <div class="learnNdes"><%= truncate_html(tool.description, :length => 400, :omission => '...') %></div>
      <div class="learnDetDate">January 03, 2010 at 4:02 PM      
        <div class="learnFa" style="float: right"> 
          <%= link_to "Edit", :controller => 'oauth_clients', :action => 'edit_tool_no_api', :tool_id => tool.id %>
          <%= link_to( "Delete", {:controller => "oauth_clients", :action => "delete_tool", :tool_id => tool.id  }, :remote => true ,:method => :get, :confirm => 'Are you sure you want to delete it?') %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<div class="assPage" style="padding-left:0">
  <span class="numPage"><%= page_entries_info @tools %></span>
  <%= will_paginate @tools %> 
</div>