<div class="abLink postLink">
  <div class="abLinkL">You are here: <a href="#">Learning Tools</a><a class="abLink-detail" href="#">Post</a></div>

</div>

<div class="contMain">
  <div class="contDetL">
    <div class="contDetLin post">
      <div class="AsDTop">
        <h1 class="titleH1">Submit new tool</h1>
      </div>
      <%= display_flash_messages_with_raw %>

      <%= form_for(@tool, :url => url_for(:controller => "oauth_clients", :action => "save_edit_tool"), :html => {:method => "post", :multipart => true, :id => "form_new_tool" }) do |f| %>
        <%= hidden_field_tag "tool_id", @tool.id %>
        <div class="postCont">
          <div class="postErr">
            <div class="postItem">
              <div class="postTit">Submit new tool</div>
              <div class="postInp">
                <%= f.select("learn_tool_cate_id", options_for_select(@tool_cats.collect {|p| [ p.title, p.id ] }, :selected => @tool.learn_tool_cate.id ) )%>
              </div>
            </div>
            <%= fields_for @tool.client_application do |ca| %>
              <div class="postItem">
                <div class="postTit">Name*</div>
                <div class="postInp"><%= ca.text_field :name, :class => '{validate:{required:true}}' %></div>
              </div>
              <div class="postItem">
                <div class="postTit">Main Application URL*</div>
                <div class="postInp"><%= ca.text_field :url, :class => '{validate:{required:true}}' %></div>
              </div>           
              <div class="postItem">
                <div class="postTit">Callback URL*</div>
                <div class="postInp"><%= ca.text_field :callback_url, :class => '{validate:{required:true}}' %></div>
              </div>                
              <div class="postItem">
                <div class="postTit">Support URL</div>
                <div class="postInp"><%= ca.text_field :support_url %></div>
              </div>               
            <% end %><!-- end field for -->
            <div class="postItem">
              <div class="postTit">Description*</div>
              <div class="postInput">
                <div class="postDesInf">900 characters max - Current: 0 character</div>
                <div class="postInp"><%= f.text_area :description, :class => '{validate:{required:true}}' %></div>
              </div>
            </div>
            <div class="postItem">
              <div class="postTit">Current Image</div>
              <div class="postInp"><%= image_tag @tool.tool_img.url(:medium) %></div>
            </div>


            <div class="postItem">
              <div class="postTit">New Images</div>
              <div class="postInp"><%= f.file_field :tool_img, :style => "height: 25px;", :size => "23"  %></div>
            </div>
          </div>
        </div>
        <div class="submit" style="margin-left: 128px;float: left;padding-left: 0px">
          <a href="javascript:;" id="btn_sbm_tool">Submit</a>
        </div>
        <div class="submit" style="margin-left: -106px;float: left;padding-left: 0px"><a id="reset_form" href="javascript:;">Reset</a></div>

      <% end %>
    </div>
  </div>

  <%= render :partial => "ads/show_vertical_ads" %>
</div>
<script type="text/javascript">
  function SubmitFormTool(){
    var result = $("form#form_new_tool").validate({
      meta: "validate"
    });
    if (result) {
      $("form#form_new_tool").submit();
    }
  }    
  $(document).ready(function(){
    $('#btn_sbm_tool').click(function(){
      SubmitFormTool();
    });
    $('#reset_form').click(function(){
      document.getElementById('form_new_tool').reset();
    });
  });
</script>