<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= configatron.site_name %></title>

    <%= stylesheet_link_merged :admin %>
    <%= javascript_include_merged :admin %>
    <!--Date select-->
    <%= dhtml_calendar_includes %>
    <!--Date select-->
  </head>

  <body>
    <div id="container"><!-- container -->

      <div id="header"><!-- header -->
        <div id="site-title">
          <!-- when user click below title, redirects user to administration homepage-->
          <span><a href="#" title="AfterClassroom">AFTER CLASSROOM</a></span>
          <!-- when user click view site, open a new window of afterclassroom hompage-->
          ( <a href="/">view site</a> )
        </div>
        <div id="profile-nav">
          Welcome back, <%= link_to current_user.full_name, dashboard_user_path(current_user) %> | <%= link_to "Sign out", logout_url, :method => :delete %>
        </div>

      </div>	 		 <!-- end header -->

      <%= render :partial => 'admin/shared/sidebar' %>

      <div id="admin-content"><!-- admin-content -->
        <div class="admin-title">
          <%= yield_or_default yield(:header), "Use 'content_for :header do; end' in your view to set this title" %>
        </div>
        <% if flash[:notice] %>
          <div id="notice"><%= flash[:notice] %></div>
        <% end %>

        <% if flash[:warning] %>
          <div id="warning"><%= flash[:warning] %></div>
        <% end %>

        <% if flash[:error] %>
          <div id="error"><%= flash[:error] %></div>
        <% end %>
        <%= yield %>
      </div><!-- end admin-content -->

    </div>	<!-- end container -->
  </body>
</html>
