<% # encoding: UTF-8 %>
<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tag %>
    <link rel="shortcut icon" href="/favicon.ico" />
    <title>:: <%= configatron.site_name %>::</title>
    <%= include_stylesheets :base %>
    <%= include_javascripts :base %>
    <%= feedback_includes %>
    <%= feedback_tab(:position => 'left') %>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="https://chat.afterclassroom.com/application.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <div class="after_main">
      <div class="top" id="top_page">
        <div class="banner">
          <div class="logo">
            <a href="/"><img alt="classroom" src="/images/logo01.png" /></a>
          </div><%= render :partial => 'shared/login' %>
        </div>
      </div>
      <div class="menu">
        <div class="menusearch">
          <%= render :partial => 'shared/menu_main' %>
          <%= show_search_form( controller.controller_name, @query) %>
        </div>
      </div>
      <div class="abLink">
        <div class="abLinkL">
          <%= yield_or_default(yield(:you_are_here)) %>
        </div>
        <div class="menuRR">
          <%= yield_or_default(yield(:post_button)) %>
        </div>
      </div>
      <div class="sponsor">
        <div class="sponsorLink">
          <div class="menuRL">
            <%= yield_or_default(yield(:menu_sub)) %>
          </div>
        </div>
      </div>
      <div class="contMain">
        <%= yield %>
      </div>

      <%= render :partial => "shared/post_comments/alert" %>
      <%= render :partial => 'shared/javascript_load' %>
      <%= render :partial => 'shared/footer' %>
      <%= render :partial => 'shared/how_to_work' %>
      <%= render :partial => 'shared/try_it_now' if !logged_in? %>
      <%= render :partial => 'shared/friend_se' %>
      <%= render :partial => 'shared/footer_menu_out' if logged_in? %>
      <%= render :partial => 'shared/notification' if logged_in? %>
    </div>
  </body>
</html>