<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <title>:: <%= configatron.site_name %> ::</title>
    <script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAATMG0VaqoYTOZpXe2ccPW3RT2yXp_ZAY8_ufC3CFXhHIE1NvwkxSWrLnyyCFcK03AKgafjvgIjPignQ"></script>
    <%= stylesheet_link_merged :application %>
    <%= javascript_include_merged :application %>
    <%= javascript_include_tag 'juggernaut/juggernaut', 'juggernaut/jquerynaut', 'juggernaut/swfobject' %>
    <%= juggernaut :debug => false, :client_id => current_user.login if logged_in? %>
    <%= feedback_includes %>
    <%= feedback_tab(:position => 'right') %>
  </head>
  <body>
    <div class="top" id="top_page">
      <div class="banner">
        <div class="logo"><a href="/"><img alt="classroom" src="/images/logo.png" /></a></div>
        <%= render :partial => 'shared/login' %>
      </div>
    </div>
    <div class="menu">
      <div class="menusearch">
        <%= render :partial => 'shared/menu_main' %>
        <%= show_search_form( @controller.controller_name, @query) %>
      </div>
    </div>
    <div class="abLink">
      <div class="abLinkL">
        <%= yield_or_default(yield(:you_are_here)) %>
      </div>
      <div class="menuRR">
        <%= yield_or_default(yield(:post_button)) %>
      </div>
    </div>
    <div class="sponsor">
      <div class="sponsorLink">
        <div class="menuRL">
          <%= yield_or_default(yield(:menu_sub)) %>
        </div>
      </div>
    </div>
    <div class="contMain">
      <%= yield %>
    </div>
    <%= render :partial => 'shared/footer' %>
    <%= render :partial => 'shared/footer_menu_out' if logged_in? %>
  </body>
  <!--Debugs-->
  <% if RAILS_ENV == 'development' %>
    <center><button onclick="show_debug_popup(); return false;">Show debug popup</button></center>
    <%= debug_popup %>
  <% end %>
  <!--Debugs-->
</html>