<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tag %>
    <link rel="shortcut icon" href="/favicon.ico" />
    <title>:: <%= configatron.site_name %> ::</title>
    <script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= gmap_key %>"></script>
    <%= raw stylesheet_link_merged :base %>
    <%= raw javascript_include_merged :base %>
    <%= javascript_include_tag 'juggernaut/juggernaut', 'juggernaut/jquerynaut', 'juggernaut/swfobject' %>
    <%= juggernaut :debug => false, :client_id => current_user.login if logged_in? %>
    <%= feedback_includes %>
    <%= feedback_tab(:position => 'right') %>
  </head>
  <body>
    <div class="top" id="top_page">
      <div class="banner">
        <div class="logo"><a href="/"><img alt="classroom" src="/images/logo.png" /></a></div>
        <%= render :partial => 'shared/login' %>
      </div>
    </div>
    <div class="menu">
      <div class="menusearch">
        <%= render :partial => 'shared/menu_main' %>
        <%= show_search_form( controller.controller_name, @query) %>
      </div>
    </div>
    <div class="abLink">
      <div class="abLinkL">
        <%= yield_or_default(yield(:you_are_here)) %>
      </div>
      <div class="menuRR">
        <%= yield_or_default(yield(:post_button)) %>
      </div>
    </div>
    <div class="sponsor">
      <div class="sponsorLink">
        <div class="menuRL">
          <%= yield_or_default(yield(:menu_sub)) %>
        </div>
      </div>
    </div>
    <div class="contMain">
      <%= yield %>
    </div>
    <%= render :partial => 'shared/footer' %>
    <%= render :partial => 'shared/footer_menu_out' if logged_in? %>
  </body>
</html>
