<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>:: <%= configatron.site_name %> ::</title>

    <%= stylesheet_link_merged :application %>
    <%= javascript_include_merged :application %>

  </head>
  <body>
    <div id="wrapper"><!-- begin wrapper -->
      <div id="header"><!-- header -->
        <div id="top-nav"><!-- top nav -->
          <%= render :partial => 'shared/global_links' %>
        </div><!-- end top nav -->
        <div id="logo"><!-- logo -->
          <%= link_to "<h3></h3>", "/" %>
        </div><!-- end logo -->
        <div id="main-nav"><!-- main nav -->
          <%= render :partial => 'shared/tabs' %>
        </div><!-- end main nav-->
        <div id="top-search">
          <%= yield_or_default(yield(:search)) %><span>&nbsp;</span>
        </div>
      </div>

      <div class="toggle-search">
        <span>&nbsp;</span>
      </div>

      <div id="content"><!-- begin content -->
        <%= render :partial => 'shared/tabs_inbox' %>

        <div id="user_front_content"><!--user_front_content-->
          <div class="message_bt_con"><!--"message_bt_con-->
            <%= yield_or_default(yield(:function_button)) %>
          </div><!--message_bt_con-->

          <div id="inbox-2cols">
            <div id="inbox_lc">
              <ul>
                <li><h3>Mail Box</h3>
                  <ul>
                    <li><%= link_to "Inbox(#{current_user.received_messages.size})", user_messages_path(current_user)%></li>
                    <li><%= link_to "Sent(#{current_user.sent_messages.size})", user_messages_path(current_user, :mailbox => :sent)%></li>
                    <li><%= link_to "Uploaded(#{current_user.posts.size})", my_post_user_url(current_user) %></li>
                    <li><%= link_to "Comments(#{current_user.comments.size})", list_comments_user_url(current_user) %></li>
                    <li><%= link_to "Invite messages(#{current_user.user_invites_in.find(:all, :conditions => "is_accepted IS NULL").size})", {:controller => "invite"} %></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div id="inbox_rc">
              <%= yield %>
            </div>
          </div>
        </div>	<!--user_front_content-->
      </div><!-- end content -->
      <div id="footer">
        <%= render :partial => 'shared/footer' %>
      </div>

    </div><!-- end wrapper -->

  </body>
</html>
