<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <title>:: <%= configatron.site_name %>::</title>
    <%= include_stylesheets :photo %>
    <%= include_javascripts :photo %>
  </head>
  <body style="background:white">
    <%= yield %>
  </body>
  <%= render :partial => "shared/post_comments/alert" %>
</html>
