<div class="popupItem">
  <%= form_tag('', :id => 'select_school_form') do %>
    <div class="popupL">
      <div class="popupNumb">1</div>
      <div class="popupCoun">Country</div>
      <div class="popupSelect">
        <input type="text" name="country" id="country" value="<%= @country.id %>" />
      </div>
    </div>
    <div class="popupR">
      <div class="popupNumb">2</div>
      <div class="popupCoun">State</div>
      <div class="popupSelect">
        <input type="text" name="state" id="state" value="<%= @state.id %>" />
      </div>
    </div>
    <div class="popupL">
      <div class="popupNumb">3</div>
      <div class="popupCoun">City</div>
      <div class="popupSelect">
        <input type="text" name="city" id="city" value="<%= @city.id %>" />
      </div>
    </div>
    <div class="popupR">
      <div class="popupNumb">4</div>
      <div class="popupCoun">School</div>
      <div class="popupSelect">
        <input type="text" name="school" id="school" value="<%= @school.id if @school %>" />
      </div>
    </div>
  <% end %>
</div>
<div class="filter">Filter your school by alphabets</div>
<div class="popupAl" id="list_alphabet">
  <%= link_to_function "All", "select_alphabet('')", :class => "#{"selected" if @alphabet == ""}" %>
  <% ('A'..'Z').each do |a| %>
    <%= link_to_function a.to_s, "select_alphabet('#{a.to_s}')", :class => "#{"selected" if @alphabet == a}" %>
  <% end %>
</div>
<div class="popupBtm"><a href="javascript:;" onclick="select_school();">Select</a></div>

<%= render :partial => "list" %>

<script>
  $(document).ready(function(){
    $("#country").click(function(){
      $('#country').append('<%= show_ajax_loader("loader_id","display: block; position: absolute; float: right; height: 19px; margin-top: -18px; margin-left: -25px;") %>');
    });
  });
</script>