<div class="popupItem">
  <% form_tag('', :id => 'select_school_form') do %>
    <div class="popupL">
      <div class="popupNumb">1</div>
      <div class="popupCoun">Country</div>
      <div class="popupSelect">
        <input type="text" name="country" id="country" value="<%= @country.id %>" />
      </div>
    </div>
    <div class="popupR">
      <div class="popupNumb">2</div>
      <div class="popupCoun">State</div>
      <div class="popupSelect">
        <input type="text" name="state" id="state" value="<%= @state.id %>" />
      </div>
    </div>
    <div class="popupL">
      <div class="popupNumb">3</div>
      <div class="popupCoun">City</div>
      <div class="popupSelect">
        <input type="text" name="city" id="city" value="<%= @city.id %>" />
      </div>
    </div>
    <div class="popupR">
      <div class="popupNumb">4</div>
      <div class="popupCoun">School</div>
      <div class="popupSelect">
        <input type="text" name="school" id="school" value="<%= @school.id if @school %>" />
      </div>
    </div>
  <% end %>
</div>
<div class="filter">Filter your school by alphabets</div>
<div class="popupAl" id="list_alphabet">
  <%= link_to_function "All", "select_alphabet('')", :class => "#{"selected" if @alphabet == ""}" %>
  <% ('A'..'Z').each do |a| %>
    <%= link_to_function a.to_a, "select_alphabet('#{a.to_a}')", :class => "#{"selected" if @alphabet == a}" %>
  <% end %>
</div>
<div class="popupBtm"><a href="javascript:;" onclick="select_school();">Select</a></div>
<ul id="country_menu" class="mcdropdown_menu">
  <% @countries.each do |c| %>
    <li rel_country="<%= c.id %>">
      <%= c.name %>
    </li>
  <% end %>
</ul>
<ul id="state_menu" class="mcdropdown_menu">
  <% @states.each do |s| %>
    <li rel_state="<%= s.id %>">
      <%= s.name %>
    </li>
  <% end %>
</ul>
<ul id="city_menu" class="mcdropdown_menu">
  <% @cities.each do |ct| %>
    <li rel_city="<%= ct.id %>">
      <%= ct.name %>
    </li>
  <% end %>
</ul>
<ul id="school_menu" class="mcdropdown_menu">
  <% if @schools.size > 0 %>
    <% @schools.each do |sc| %>
      <li rel_school="<%= sc.id %>">
        <%= sc.name %>
      </li>
    <% end %>
  <% else %>
      <li rel_school="">
        No School
      </li>
  <% end %>
</ul>