<ul id="country_menu" class="mcdropdown_menu">
  <% @countries.each do |c| %>
    <li rel_country="<%= c.id %>">
      <%= c.name %>
    </li>
  <% end %>
</ul>
<ul id="state_menu" class="mcdropdown_menu">
  <% @states.each do |s| %>
    <li rel_state="<%= s.id %>">
      <%= s.name %>
    </li>
  <% end %>
</ul>
<ul id="city_menu" class="mcdropdown_menu">
  <% @cities.each do |ct| %>
    <li rel_city="<%= ct.id %>">
      <%= ct.name %>
    </li>
  <% end %>
</ul>
<ul id="school_menu" class="mcdropdown_menu">
  <% if @schools.size > 0 %>
    <% @schools.each do |sc| %>
      <li rel_school="<%= sc.id %>">
        <%= sc.name %>
      </li>
    <% end %>
  <% else %>
    <li rel_school="">
      No School
    </li>
  <% end %>
</ul>

<script src="/javascripts/scroll-startstop..js" type="text/javascript"></script>
<script>
  $(function() {
        $(window).bind('scrollstart', function(){
        $('#country_menu,#state_menu,#city_menu,#school_menu').stop().hide();
        });
  });
  $(function() {
	$('#country_menu,#state_menu,#city_menu,#school_menu').hover(function() {
		$(this).stop().show();
	}, function() {
		$(this).stop().hide();
	});
  });
  $(function() {
	$('div.signinItem,div#contDetLin,#select_school_form,div.popupNumb').hover(function() {
	}, function() {
		$('#country_menu,#state_menu,#city_menu,#school_menu').stop().hide();
	});
  });
  $(window).scroll(function() {
        $("#country_menu,#state_menu").css({position:"fixed"});
        $("#city_menu,#school_menu").css({position:"fixed",top:'39%'});
  });
</script>