<ul id="country_menu" class="mcdropdown_menu">
  <% @countries.each do |c| %>
    <li rel_country="<%= c.id %>">
      <%= c.name %>
    </li>
  <% end %>
</ul>
<ul id="state_menu" class="mcdropdown_menu">
  <% @states.each do |s| %>
    <li rel_state="<%= s.id %>">
      <%= s.name %>
    </li>
  <% end %>
</ul>
<ul id="city_menu" class="mcdropdown_menu">
  <% @cities.each do |ct| %>
    <li rel_city="<%= ct.id %>">
      <%= ct.name %>
    </li>
  <% end %>
</ul>
<ul id="school_menu" class="mcdropdown_menu">
  <% if @schools.size > 0 %>
    <% @schools.each do |sc| %>
      <li rel_school="<%= sc.id %>">
        <%= sc.name %>
      </li>
    <% end %>
  <% else %>
    <li rel_school="">
      No School
    </li>
  <% end %>
</ul>

<script src="/javascripts/scroll-startstop..js" type="text/javascript"></script>
<script>
  $(function() {
        $(window).bind('scrollstart', function(){
        $('#country_menu,#state_menu,#city_menu,#school_menu').stop().hide();
        });
  });
  $(function() {
	$('#country_menu,#state_menu,#city_menu,#school_menu').hover(function() {
		$(this).stop().show();
	}, function() {
		$(this).stop().hide();
	});
  });
  $(function() {
	$('div.signinItem,div#contDetLin,#select_school_form,div.popupNumb').hover(function() {
	}, function() {
		$('#country_menu,#state_menu,#city_menu,#school_menu').stop().hide();
	});
  });
  $(window).scroll(function() {
        $("#country_menu,#state_menu").css({position:"fixed"});
        $("#city_menu,#school_menu").css({position:"fixed"});
  });
  
  $("TB_windowa").scroll(function() {
    var y = $("TB_windowa").scrollTop();
    $("#country_menua").css('top', y);


   
  });
  

  
  $(document).ready(function() {
    // Box to fixed at 0,0
    $('#fixed').click(function() { $('#box').css({position:'fixed',top:0,left:0}); return false; });
		
    // Box to fixed at 5,5
    $('#fixed10').click(function() { $('#box').css({position:'fixed',top:10,left:10}); return false; });
		
    // Box to static
    $('#static').click(function() { $('#box').css('position','static'); return false; });

    // Container to relative
    $('#container_relative').click(function() { $('#container').css('position','relative'); return false; });

    // Container to static
    $('#container_static').click(function() { $('#container').css('position','static'); return false; });
		
    // When clicking any link
    $('a').click(function() { 
      $(this).addClass('active').siblings().removeClass('active'); // highlight current option
			
      // Recalculate the offsets and positions after 15ms
      setTimeout(function() {
        $('#offset_top').html($('#box,#country_menu').offset().top.toString());
        $('#offset_left').html($('#box,#country_menu').offset().left.toString());
        $('#position').html($('#box').css('position'));
        $('#container_position').html($('#container').css('position'));
      },5);
    });

    // initialize
    $('#container_relative').click();
    $('#static').click();
  });
</script>