<div id="dislike_area<%= post.id %>" style="width: 428px; min-height: 25px; border: 1px solid #CECECE; overflow: auto; padding-bottom: 5px; display: none;background-color: #FFFFFF;  margin-top: 19px;  position: absolute;  z-index: 9;">
    <%= show_ajax_loader("wait_dislike#{post.id}", "background: white;  position: absolute;  width: 18px; margin-left: 5px; margin-top: 5px;") %>

<div id="dislike_inner<%= post.id %>" style="padding: 5px;">
</div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    var dislikepad_mouse_is_inside<%= post.id %> = false;
    $('#dislike_area<%= post.id %>').hover(function(){
      dislikepad_mouse_is_inside<%= post.id %>=true;
    }, function(){
      dislikepad_mouse_is_inside<%= post.id %>=false;
    });//end hover


    $("body").mouseup(function(){
      if( dislikepad_mouse_is_inside<%= post.id %> == false ){

        if ( $('#dislike_area<%= post.id %>').is(":visible") == true ){
          if (dislikeAjaxObj<%= post.id %> != undefined){
            dislikeAjaxObj<%= post.id %>.abort();
          }
          if (otherAjaxObj<%= post.id %> != undefined){
            otherAjaxObj<%= post.id %>.abort();
          }
          $('#dislike_area<%= post.id %>').hide();
          $('#wait_dislike<%= post.id %>').show();
          $('#other_area<%= post.id %>').hide();
          $('#wait_other<%= post.id %>').show();
          $('#dislike_inner<%= post.id %>').html('');
        }
      }//end if dislikepad
    });//end body mouseup
  });
</script>