<div style="margin: 0px; width: 405px; margin-top: 5px;" class="proList" id="item_<%= cmt.id %>">
	  <div class="proListPic">
	    <%= show_image_user_post(cmt.user) %>
	  </div>
	  <div class="proListR">
	    <div class="AfterClCom">
	      <%= show_user_post(cmt.user) %> - 
	      <%= cmt.content %>
	    </div>
	    <div class="proListCont">
	      <%= distance_of_time_in_words_to_now(cmt.created_at, false) + " ago." %>
	    </div>
	  </div>
	</div>
<script type="text/javascript">
$(document).ready(function(){
  $('#item_<%= cmt.id %>').find('.AfterClCom a').css('color','#0A81C4');
});
</script>