<div id="like_area<%= post.id %>" style="width: 428px; min-height: 25px; border: 1px solid #CECECE; overflow: auto; padding-bottom: 5px; display: none;background-color: #FFFFFF;  margin-top: 19px;  position: absolute;  z-index: 999999;">
    <%= show_ajax_loader("wait_like#{post.id}", "background: white;  position: absolute;  width: 18px; margin-left: 5px; margin-top: 5px;") %>

<div id="like_inner<%= post.id %>" style="padding: 5px;">
</div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    var likepad_mouse_is_inside<%= post.id %> = false;
    $('#like_area<%= post.id %>').hover(function(){
      likepad_mouse_is_inside<%= post.id %>=true;
    }, function(){
      likepad_mouse_is_inside<%= post.id %>=false;
    });//end hover
    $("body").mouseup(function(){
      if( likepad_mouse_is_inside<%= post.id %> == false ){
        if ( $('#like_area<%= post.id %>').is(":visible") == true ){
          //BEGIN reset like-panel
          if ( likeAjaxObj<%= post.id %> != undefined){
            likeAjaxObj<%= post.id %>.abort();
          }
          if ( otherAjaxObj<%= post.id %> != undefined){
            otherAjaxObj<%= post.id %>.abort();
          }
          $('#like_area<%= post.id %>').hide();
          $('#wait_like<%= post.id %>').show();
          $('#other_area<%= post.id %>').hide();
          $('#wait_other<%= post.id %>').show();
          $('#like_inner<%= post.id %>').html('');
          //END reset like-panel
        }
      }//end if likepad
    });//end body mouseup

  });
</script>